openapi: 3.1.0
info:
  description: Anything that you can achieve with PDFs, presence, and persistence in a bank branch you can do with our API. We've always wanted a fully programmatic bank so we built one. Our API faithfully exposes the data and capabilities of the Federal Reserve, Visa, The Clearing House, depository networks, and accounting tools. It's lovingly boring and exceptionally powerful. If you have any questions or want to get started, don't hesitate to ping us at sales@increase.com. We can't wait to see what you build!
  title: Increase Account Numbers Card Payments API
  version: 0.0.1
servers:
- url: https://api.increase.com
- url: https://sandbox.increase.com
security:
- bearerAuth: []
tags:
- description: Card Payments group together interactions related to a single card payment, such as an authorization and its corresponding settlement.
  name: Card Payments
paths:
  /card_payments:
    get:
      operationId: list_card_payments
      parameters:
      - in: query
        name: cursor
        required: false
        schema:
          description: Return the page of entries after this one.
          type: string
          x-documentation-priority: low
      - in: query
        name: limit
        required: false
        schema:
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          minimum: 1
          type: integer
          x-documentation-priority: low
      - example: account_in71c4amph0vgo2qllky
        in: query
        name: account_id
        required: false
        schema:
          description: Filter Card Payments to ones belonging to the specified Account.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Accounts
      - in: query
        name: card_id
        required: false
        schema:
          description: Filter Card Payments to ones belonging to the specified Card.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Cards
      - in: query
        name: created_at.after
        required: false
        schema:
          description: Return results after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: created_at.before
        required: false
        schema:
          description: Return results before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: created_at.on_or_after
        required: false
        schema:
          description: Return results on or after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: created_at.on_or_before
        required: false
        schema:
          description: Return results on or before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_payment_list'
          description: Card Payment List
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: List Card Payments
      x-sandbox-only: false
      x-tag: Card Payments
      tags:
      - Card Payments
  /card_payments/{card_payment_id}:
    get:
      operationId: retrieve_a_card_payment
      parameters:
      - example: card_payment_nd3k2kacrqjli8482ave
        in: path
        name: card_payment_id
        required: true
        schema:
          description: The identifier of the Card Payment.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Card Payments
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_payment'
          description: Card Payment
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: Retrieve a Card Payment
      x-sandbox-only: false
      x-tag: Card Payments
      tags:
      - Card Payments
components:
  schemas:
    card_authorization:
      additionalProperties: true
      description: Card Authorizations are temporary holds placed on a customer's funds with the intent to later clear a transaction.
      example:
        actioner: increase
        additional_amounts:
          clinic: null
          dental: null
          original: null
          prescription: null
          surcharge:
            amount: 10
            currency: USD
          total_cumulative: null
          total_healthcare: null
          transit: null
          unknown: null
          vision: null
        amount: 100
        card_payment_id: card_payment_nd3k2kacrqjli8482ave
        currency: USD
        digital_wallet_token_id: null
        direction: settlement
        expires_at: '2020-01-31T23:59:59Z'
        id: card_authorization_6iqxap6ivd0fo5eu3i8x
        merchant_acceptor_id: '5665270011000168'
        merchant_category_code: '5734'
        merchant_city: New York
        merchant_country: US
        merchant_descriptor: AMAZON.COM
        merchant_postal_code: '10045'
        merchant_state: NY
        network_details:
          category: visa
          pulse: null
          visa:
            electronic_commerce_indicator: secure_electronic_commerce
            point_of_service_entry_mode: manual
            stand_in_processing_reason: null
            terminal_entry_capability: magnetic_stripe
        network_identifiers:
          authorization_identification_response: null
          retrieval_reference_number: '785867080153'
          trace_number: '487941'
          transaction_id: '627199945183184'
        network_risk_score: 10
        pending_transaction_id: null
        physical_card_id: null
        presentment_amount: 100
        presentment_currency: USD
        processing_category: purchase
        real_time_decision_id: null
        scheme_fees:
        - amount: '0.137465'
          created_at: '2020-01-31T23:59:59Z'
          currency: USD
          fee_type: visa_corporate_acceptance_fee
          fixed_component: null
          variable_rate: '0.0002'
        terminal_id: RCN5VNXS
        type: card_authorization
        verification:
          card_verification_code:
            result: match
          cardholder_address:
            actual_line1: 33 Liberty Street
            actual_postal_code: '94131'
            provided_line1: 33 Liberty Street
            provided_postal_code: '94132'
            result: postal_code_no_match_address_match
          cardholder_name: null
      properties:
        actioner:
          description: Whether this authorization was approved by Increase, the card network through stand-in processing, or the user through a real-time decision.
          enum:
          - user
          - increase
          - network
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - This object was actioned by the user through a real-time decision.
          - This object was actioned by Increase without user intervention.
          - This object was actioned by the network, through stand-in processing.
        additional_amounts:
          additionalProperties: false
          description: Additional amounts associated with the card authorization, such as ATM surcharges fees. These are usually a subset of the `amount` field and are used to provide more detailed information about the transaction.
          properties:
            clinic:
              anyOf:
              - additionalProperties: false
                description: The part of this transaction amount that was for clinic-related services.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Card Authorization AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
            dental:
              anyOf:
              - additionalProperties: false
                description: The part of this transaction amount that was for dental-related services.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Card Authorization AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
            original:
              anyOf:
              - additionalProperties: false
                description: The original pre-authorized amount.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Card Authorization AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
            prescription:
              anyOf:
              - additionalProperties: false
                description: The part of this transaction amount that was for healthcare prescriptions.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Card Authorization AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
            surcharge:
              anyOf:
              - additionalProperties: false
                description: The surcharge amount charged for this transaction by the merchant.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Card Authorization AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
            total_cumulative:
              anyOf:
              - additionalProperties: false
                description: The total amount of a series of incremental authorizations, optionally provided.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Card Authorization AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
            total_healthcare:
              anyOf:
              - additionalProperties: false
                description: The total amount of healthcare-related additional amounts.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Card Authorization AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
            transit:
              anyOf:
              - additionalProperties: false
                description: The part of this transaction amount that was for transit-related services.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Card Authorization AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
            unknown:
              anyOf:
              - additionalProperties: false
                description: An unknown additional amount.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Card Authorization AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
            vision:
              anyOf:
              - additionalProperties: false
                description: The part of this transaction amount that was for vision-related services.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Card Authorization AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
          required:
          - total_healthcare
          - total_cumulative
          - surcharge
          - transit
          - vision
          - clinic
          - dental
          - prescription
          - original
          - unknown
          title: Card Authorization AdditionalAmounts
          type: object
          x-documentation-priority: default
          x-event-categories: []
          x-stainless-empty-object: false
          x-title-plural: s
        amount:
          description: The pending amount in the minor unit of the transaction's currency. For dollars, for example, this is cents.
          type: integer
          x-documentation-priority: default
        card_payment_id:
          description: The ID of the Card Payment this transaction belongs to.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Card Payments
        currency:
          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the transaction's currency.
          enum:
          - USD
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - US Dollar (USD)
        digital_wallet_token_id:
          anyOf:
          - description: If the authorization was made via a Digital Wallet Token (such as an Apple Pay purchase), the identifier of the token that was used.
            type: string
            x-documentation-priority: default
            x-id-reference-to: Digital Wallet Tokens
          - type: 'null'
        direction:
          description: The direction describes the direction the funds will move, either from the cardholder to the merchant or from the merchant to the cardholder.
          enum:
          - settlement
          - refund
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - A regular card authorization where funds are debited from the cardholder.
          - A refund card authorization, sometimes referred to as a credit voucher authorization, where funds are credited to the cardholder.
        expires_at:
          description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) when this authorization will expire and the pending transaction will be released.
          format: date-time
          type: string
          x-documentation-priority: default
        id:
          description: The Card Authorization identifier.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Card Authorizations
        merchant_acceptor_id:
          description: The merchant identifier (commonly abbreviated as MID) of the merchant the card is transacting with.
          type: string
          x-documentation-priority: default
        merchant_category_code:
          description: The Merchant Category Code (commonly abbreviated as MCC) of the merchant the card is transacting with.
          type: string
          x-documentation-priority: default
        merchant_city:
          anyOf:
          - description: The city the merchant resides in.
            type: string
            x-documentation-priority: default
          - type: 'null'
        merchant_country:
          description: The country the merchant resides in.
          type: string
          x-documentation-priority: default
        merchant_descriptor:
          description: The merchant descriptor of the merchant the card is transacting with.
          type: string
          x-documentation-priority: default
        merchant_postal_code:
          anyOf:
          - description: The merchant's postal code. For US merchants this is either a 5-digit or 9-digit ZIP code, where the first 5 and last 4 are separated by a dash.
            type: string
            x-documentation-priority: default
          - type: 'null'
        merchant_state:
          anyOf:
          - description: The state the merchant resides in.
            type: string
            x-documentation-priority: default
          - type: 'null'
        network_details:
          additionalProperties: false
          description: Fields specific to the `network`.
          properties:
            category:
              description: The payment network used to process this card authorization.
              enum:
              - visa
              - pulse
              type: string
              x-documentation-priority: default
              x-enum-descriptions:
              - Visa
              - Pulse
            pulse:
              anyOf:
              - additionalProperties: false
                description: Fields specific to the `pulse` network.
                properties: {}
                title: Card Authorization NetworkDetails Pulse
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: true
                x-title-plural: Pulses
              - type: 'null'
            visa:
              anyOf:
              - additionalProperties: false
                description: Fields specific to the `visa` network.
                properties:
                  electronic_commerce_indicator:
                    anyOf:
                    - description: For electronic commerce transactions, this identifies the level of security used in obtaining the customer's payment credential. For mail or telephone order transactions, identifies the type of mail or telephone order.
                      enum:
                      - mail_phone_order
                      - recurring
                      - installment
                      - unknown_mail_phone_order
                      - secure_electronic_commerce
                      - non_authenticated_security_transaction_at_3ds_capable_merchant
                      - non_authenticated_security_transaction
                      - non_secure_transaction
                      type: string
                      x-documentation-priority: default
                      x-enum-descriptions:
                      - 'Single transaction of a mail/phone order: Use to indicate that the transaction is a mail/phone order purchase, not a recurring transaction or installment payment. For domestic transactions in the US region, this value may also indicate one bill payment transaction in the card-present or card-absent environments.'
                      - 'Recurring transaction: Payment indicator used to indicate a recurring transaction that originates from an acquirer in the US region.'
                      - 'Installment payment: Payment indicator used to indicate one purchase of goods or services that is billed to the account in multiple charges over a period of time agreed upon by the cardholder and merchant from transactions that originate from an acquirer in the US region.'
                      - 'Unknown classification: other mail order: Use to indicate that the type of mail/telephone order is unknown.'
                      - 'Secure electronic commerce transaction: Use to indicate that the electronic commerce transaction has been authenticated using e.g., 3-D Secure'
                      - 'Non-authenticated security transaction at a 3-D Secure-capable merchant, and merchant attempted to authenticate the cardholder using 3-D Secure: Use to identify an electronic commerce transaction where the merchant attempted to authenticate the cardholder using 3-D Secure, but was unable to complete the authentication because the issuer or cardholder does not participate in the 3-D Secure program.'
                      - 'Non-authenticated security transaction: Use to identify an electronic commerce transaction that uses data encryption for security however, cardholder authentication is not performed using 3-D Secure.'
                      - 'Non-secure transaction: Use to identify an electronic commerce transaction that has no data protection.'
                    - type: 'null'
                  point_of_service_entry_mode:
                    anyOf:
                    - description: The method used to enter the cardholder's primary account number and card expiration date.
                      enum:
                      - unknown
                      - manual
                      - magnetic_stripe_no_cvv
                      - optical_code
                      - integrated_circuit_card
                      - contactless
                      - credential_on_file
                      - magnetic_stripe
                      - contactless_magnetic_stripe
                      - integrated_circuit_card_no_cvv
                      type: string
                      x-documentation-priority: default
                      x-enum-descriptions:
                      - Unknown
                      - Manual key entry
                      - Magnetic stripe read, without card verification value
                      - Optical code
                      - Contact chip card
                      - Contactless read of chip card
                      - Transaction initiated using a credential that has previously been stored on file
                      - Magnetic stripe read
                      - Contactless read of magnetic stripe data
                      - Contact chip card, without card verification value
                    - type: 'null'
                  stand_in_processing_reason:
                    anyOf:
                    - description: 'Only present when `actioner: network`. Describes why a card authorization was approved or declined by Visa through stand-in processing.'
                      enum:
                      - issuer_error
                      - invalid_physical_card
                      - invalid_cryptogram
                      - invalid_cardholder_authentication_verification_value
                      - internal_visa_error
                      - merchant_transaction_advisory_service_authentication_required
                      - payment_fraud_disruption_acquirer_block
                      - other
                      type: string
                      x-documentation-priority: default
                      x-enum-descriptions:
                      - Increase failed to process the authorization in a timely manner.
                      - The physical card read had an invalid CVV or dCVV.
                      - The card's authorization request cryptogram was invalid. The cryptogram can be from a physical card or a Digital Wallet Token purchase.
                      - The 3DS cardholder authentication verification value was invalid.
                      - An internal Visa error occurred. Visa uses this reason code for certain expected occurrences as well, such as Application Transaction Counter (ATC) replays.
                      - The merchant has enabled Visa's Transaction Advisory Service and requires further authentication to perform the transaction. In practice this is often utilized at fuel pumps to tell the cardholder to see the cashier.
                      - The transaction was blocked by Visa's Payment Fraud Disruption service due to fraudulent Acquirer behavior, such as card testing.
                      - An unspecific reason for stand-in processing.
                    - type: 'null'
                  terminal_entry_capability:
                    anyOf:
                    - description: The capability of the terminal being used to read the card. Shows whether a terminal can e.g., accept chip cards or if it only supports magnetic stripe reads. This reflects the highest capability of the terminal — for example, a terminal that supports both chip and magnetic stripe will be identified as chip-capable.
                      enum:
                      - unknown
                      - terminal_not_used
                      - magnetic_stripe
                      - barcode
                      - optical_character_recognition
                      - chip_or_contactless
                      - contactless_only
                      - no_capability
                      type: string
                      x-documentation-priority: default
                      x-enum-descriptions:
                      - Unknown
                      - No terminal was used for this transaction.
                      - The terminal can only read magnetic stripes and does not have chip or contactless reading capability.
                      - The terminal can only read barcodes.
                      - The terminal can only read cards via Optical Character Recognition.
                      - The terminal supports contact chip cards and can also read the magnetic stripe. If contact chip is supported, this value is used regardless of whether contactless is also supported.
                      - The terminal supports contactless reads but does not support contact chip. Only used when the terminal lacks contact chip capability.
                      - The terminal has no card reading capability.
                    - type: 'null'
                required:
                - electronic_commerce_indicator
                - point_of_service_entry_mode
                - stand_in_processing_reason
                - terminal_entry_capability
                title: Card Authorization NetworkDetails Visa
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: Visas
              - type: 'null'
          required:
          - category
          - visa
          - pulse
          title: Card Authorization NetworkDetails
          type: object
          x-documentation-priority: default
          x-event-categories: []
          x-stainless-empty-object: false
          x-title-plural: s
        network_identifiers:
          additionalProperties: false
          description: Network-specific identifiers for a specific request or transaction.
          example:
            authorization_identification_response: null
            retrieval_reference_number: '785867080153'
            trace_number: '487941'
            transaction_id: '627199945183184'
          properties:
            authorization_identification_response:
              anyOf:
              - description: The randomly generated 6-character Authorization Identification Response code sent back to the acquirer in an approved response.
                type: string
                x-documentation-priority: default
              - type: 'null'
            retrieval_reference_number:
              anyOf:
              - description: A life-cycle identifier used across e.g., an authorization and a reversal. Expected to be unique per acquirer within a window of time. For some card networks the retrieval reference number includes the trace counter.
                type: string
                x-documentation-priority: default
              - type: 'null'
            trace_number:
              anyOf:
              - description: A counter used to verify an individual authorization. Expected to be unique per acquirer within a window of time.
                type: string
                x-documentation-priority: default
              - type: 'null'
            transaction_id:
              anyOf:
              - description: A globally unique transaction identifier provided by the card network, used across multiple life-cycle requests.
                type: string
                x-documentation-priority: default
              - type: 'null'
          required:
          - transaction_id
          - trace_number
          - retrieval_reference_number
          - authorization_identification_response
          title: Card Authorization NetworkIdentifiers
          type: object
          x-documentation-priority: default
          x-event-categories: []
          x-stainless-empty-object: false
          x-title-plural: s
        network_risk_score:
          anyOf:
          - description: The risk score generated by the card network. For Visa this is the Visa Advanced Authorization risk score, from 0 to 99, where 99 is the riskiest. For Pulse the score is from 0 to 999, where 999 is the riskiest.
            type: integer
            x-documentation-priority: default
          - type: 'null'
        pending_transaction_id:
          anyOf:
          - description: The identifier of the Pending Transaction associated with this Transaction.
            type: string
            x-documentation-priority: default
            x-id-reference-to: Pending Transactions
          - type: 'null'
        physical_card_id:
          anyOf:
          - description: If the authorization was made in-person with a physical card, the Physical Card that was used.
            type: string
            x-documentation-priority: default
            x-id-reference-to: Physical Cards
          - type: 'null'
        presentment_amount:
          description: The pending amount in the minor unit of the transaction's presentment currency.
          type: integer
          x-documentation-priority: default
        presentment_currency:
          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the transaction's presentment currency.
          type: string
          x-documentation-priority: default
        processing_category:
          description: The processing category describes the intent behind the authorization, such as whether it was used for bill payments or an automatic fuel dispenser.
          enum:
          - account_funding
          - automatic_fuel_dispenser
          - bill_payment
          - original_credit
          - purchase
          - quasi_cash
          - refund
          - cash_disbursement
          - balance_inquiry
          - unknown
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - Account funding transactions are transactions used to e.g., fund an account or transfer funds between accounts.
          - Automatic fuel dispenser authorizations occur when a card is used at a gas pump, prior to the actual transaction amount being known. They are followed by an advice message that updates the amount of the pending transaction.
          - A transaction used to pay a bill.
          - Original credit transactions are used to send money to a cardholder.
          - A regular purchase.
          - Quasi-cash transactions represent purchases of items which may be convertible to cash.
          - A refund card authorization, sometimes referred to as a credit voucher authorization, where funds are credited to the cardholder.
          - Cash disbursement transactions are used to withdraw cash from an ATM or a point of sale.
          - A balance inquiry transaction is used to check the balance of an account associated with a card.
          - The processing category is unknown.
        real_time_decision_id:
          anyOf:
          - description: The identifier of the Real-Time Decision sent to approve or decline this transaction.
            type: string
            x-documentation-priority: default
            x-id-reference-to: Real-Time Decisions
          - type: 'null'
        scheme_fees:
          description: The scheme fees associated with this card authorization.
          items:
            additionalProperties: false
            example:
              amount: '0.137465'
              created_at: '2020-01-31T23:59:59Z'
              currency: USD
              fee_type: visa_corporate_acceptance_fee
              fixed_component: null
              variable_rate: '0.0002'
            properties:
              amount:
                description: The fee amount given as a string containing a decimal number.
                pattern: ^-?\d+(\.\d+)?$
                type: string
                x-documentation-priority: default
              created_at:
                description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) time at which the fee was created.
                format: date-time
                type: string
                x-documentation-priority: default
              currency:
                description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the fee reimbursement.
                enum:
                - USD
                type: string
                x-documentation-priority: default
                x-enum-descriptions:
                - US Dollar (USD)
              fee_type:
                description: The type of fee being assessed.
                enum:
                - visa_international_service_assessment_single_currency
                - visa_international_service_assessment_cross_currency
                - visa_authorization_domestic_point_of_sale
                - visa_authorization_international_point_of_sale
                - visa_authorization_canada_point_of_sale
                - visa_authorization_reversal_point_of_sale
                - visa_authorization_reversal_international_point_of_sale
                - visa_authorization_address_verification_service
                - visa_advanced_authorization
                - visa_message_transmission
                - visa_account_verification_domestic
                - visa_account_verification_international
                - visa_account_verification_canada
                - visa_corporate_acceptance_fee
                - visa_consumer_debit_acceptance_fee
                - visa_business_debit_acceptance_fee
                - visa_purchasing_acceptance_fee
                - visa_purchase_domestic
                - visa_purchase_international
                - visa_credit_purchase_token
                - visa_debit_purchase_token
                - visa_clearing_transmission
                - visa_direct_authorization
                - visa_direct_transaction_domestic
                - visa_service_commercial_credit
                - visa_advertising_service_commercial_credit
                - visa_community_growth_acceleration_program
                - visa_processing_guarantee_commercial_credit
                - pulse_switch_fee
                type: string
                x-documentation-priority: default
                x-enum-descriptions:
                - International Service Assessment (ISA) single-currency is a fee assessed by the card network for cross-border transactions presented and settled in the same currency.
                - International Service Assessment (ISA) cross-currency is a fee assessed by the card network for cross-border transactions presented and settled in different currencies.
                - Activity and charges for Visa Settlement System processing for POS (Point-Of-Sale) authorization transactions. Authorization is the process of approving or declining the transaction amount specified. The fee is assessed to the Issuer.
                - Activity and charges for Visa Settlement System processing for POS (Point-Of-Sale) International authorization transactions. Authorization is the process of approving or declining the transaction amount specified. The fee is assessed to the Issuer.
                - Activity and charges for Visa Settlement System processing for Canada Region POS (Point-of-Sale) authorization transactions. Authorization is the process of approving or declining the transaction amount specified.
                - Activity only for Visa Settlement System authorization processing of POS (Point-Of-Sale) reversal transactions. Authorization reversal represents a VSS message that undoes the complete or partial actions of a previous authorization request.
                - Activity only for Visa Settlement System authorization processing of POS (Point-Of-Sale) International reversal transactions. Authorization reversal represents a VSS message that undoes the complete or partial actions of a previous authorization request.
                - A per Address Verification Service (AVS) result fee. Applies to all usable AVS result codes.
                - Advanced Authorization is a fraud detection tool that monitors and risk evaluates 100 percent of US VisaNet authorizations in real-time. Activity related to Purchase (includes Signature Authenticated Visa and PIN Authenticated Visa Debit (PAVD) transactions).
                - Issuer Transactions Visa represents a charge based on total actual monthly processing (Visa transactions only) through a VisaNet Access Point (VAP). Charges are assessed to the processor for each VisaNet Access Point.
                - Activity, per inquiry, related to the domestic Issuer for Account Number Verification.
                - Activity, per inquiry, related to the international Issuer for Account Number Verification.
                - Activity, per inquiry, related to the US-Canada Issuer for Account Number Verification.
                - The Corporate Acceptance Fee is charged to issuers and is based on the monthly sales volume on Commercial and Government Debit, Prepaid, Credit, Charge, or Deferred Debit card transactions.
                - The Consumer Debit Acceptance Fee is charged to issuers and is based on the monthly sales volume of Consumer Debit or Prepaid card transactions. The cashback portion of a Debit and Prepaid card transaction is excluded from the sales volume calculation.
                - The Business Acceptance Fee is charged to issuers and is based on the monthly sales volume on Business Debit, Prepaid, Credit, Charge, or Deferred Debit card transactions. The cashback portion is included in the sales volume calculation with the exception of a Debit and Prepaid card transactions.
                - The Purchasing Card Acceptance Fee is charged to issuers and is based on the monthly sales volume on Commercial and Government Debit, Prepaid, Credit, Charge, or Deferred Debit card transactions.
                - Activity and fees for the processing of a sales draft original for a purchase transaction.
                - Activity and fees for the processing of an international sales draft original for a purchase transaction.
                - Apple Pay Credit Product Token Purchase Original Transactions. This fee is billed by Visa on behalf of Apple Inc. for Apple Pay transactions.
                - Apple Pay Debit Product Token Purchase Original Transactions. This fee is billed by Visa on behalf of Apple Inc. for Apple Pay transactions.
                - A per transaction fee assessed for Base II financial draft - Issuer.
                - Issuer charge for Non-Financial OCT/AFT Authorization 0100 and Declined Financial OCT/AFT 0200 transactions.
                - Data processing charge for Visa Direct OCTs for all business application identifiers (BAIs) other than money transfer-bank initiated (BI). BASE II transactions.
                - Issuer card service fee for Commercial Credit cards.
                - Issuer Advertising Service Fee for Commercial Credit cards.
                - Issuer Community Growth Acceleration Program Fee.
                - Issuer Processing Guarantee for Commercial Credit cards.
                - Pulse Switch Fee is a fee charged by the Pulse network for processing transactions on its network.
              fixed_component:
                anyOf:
                - description: The fixed component of the fee, if applicable, given in major units of the fee amount.
                  pattern: ^-?\d+(\.\d+)?$
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              variable_rate:
                anyOf:
                - description: The variable rate component of the fee, if applicable, given as a decimal (e.g., 0.015 for 1.5%).
                  pattern: ^-?\d+(\.\d+)?$
                  type: string
                  x-documentation-priority: default
                - type: 'null'
            required:
            - created_at
            - amount
            - currency
            - fee_type
            - variable_rate
            - fixed_component
            title: Card Authorization Card Scheme Fee
            type: object
            x-event-categories: []
            x-stainless-empty-object: false
            x-title-plural: Card Scheme Fees
          type: array
          x-documentation-priority: default
        terminal_id:
          anyOf:
          - description: The terminal identifier (commonly abbreviated as TID) of the terminal the card is transacting with.
            type: string
            x-documentation-priority: default
          - type: 'null'
        type:
          description: A constant representing the object's type. For this resource it will always be `card_authorization`.
          enum:
          - card_authorization
          type: string
          x-documentation-priority: default
        verification:
          additionalProperties: false
          description: Fields related to verification of cardholder-provided values.
          properties:
            card_verification_code:
              additionalProperties: false
              description: Fields related to verification of the Card Verification Code, a 3-digit code on the back of the card.
              properties:
                result:
                  description: The result of verifying the Card Verification Code.
                  enum:
                  - not_checked
                  - match
                  - no_match
                  type: string
                  x-documentation-priority: default
                  x-enum-descriptions:
                  - No card verification code was provided in the authorization request.
                  - The card verification code matched the one on file.
                  - The card verification code did not match the one on file.
              required:
              - result
              title: Card Authorization Verification CardVerificationCode
              type: object
              x-documentation-priority: default
              x-event-categories: []
              x-stainless-empty-object: false
              x-title-plural: CardVerificationCodes
            cardholder_address:
              additionalProperties: false
              description: Cardholder address provided in the authorization request and the address on file we verified it against.
              properties:
                actual_line1:
                  anyOf:
                  - description: Line 1 of the address on file for the cardholder.
                    type: string
                    x-documentation-priority: default
                  - type: 'null'
                actual_postal_code:
                  anyOf:
                  - description: The postal code of the address on file for the cardholder.
                    type: string
                    x-documentation-priority: default
                  - type: 'null'
                provided_line1:
                  anyOf:
                  - description: The cardholder address line 1 provided for verification in the authorization request.
                    type: string
                    x-documentation-priority: default
                  - type: 'null'
                provided_postal_code:
                  anyOf:
                  - description: The postal code provided for verification in the authorization request.
                    type: string
                    x-documentation-priority: default
                  - type: 'null'
                result:
                  description: The address verification result returned to the card network.
                  enum:
                  - not_checked
                  - postal_code_match_address_no_match
                  - postal_code_no_match_address_match
                  - match
                  - no_match
                  - postal_code_match_address_not_checked
                  type: string
                  x-documentation-priority: default
                  x-enum-descriptions:
                  - No address information was provided in the authorization request.
                  - Postal code matches, but the street address does not match or was not provided.
                  - Postal code does not match, but the street address matches or was not provided.
                  - Postal code and street address match.
                  - Postal code and street address do not match.
                  - Postal code matches, but the street address was not verified. (deprecated)
              required:
              - provided_postal_code
              - provided_line1
              - actual_postal_code
              - actual_line1
              - result
              title: Card Authorization Verification CardholderAddress
              type: object
              x-documentation-priority: default
              x-event-categories: []
              x-stainless-empty-object: false
              x-title-plural: CardholderAddresses
            cardholder_name:
              anyOf:
              - additionalProperties: false
                description: Cardholder name provided in the authorization request.
                properties:
                  provided_first_name:
                    anyOf:
                    - description: The first name provided for verification in the authorization request.
                      type: string
                      x-documentation-priority: default
                    - type: 'null'
                  provided_last_name:
                    anyOf:
                    - description: The last name provided for verification in the authorization request.
                      type: string
                      x-documentation-priority: default
                    - type: 'null'
                  provided_middle_name:
                    anyOf:
                    - description: The middle name provided for verification in the authorization request.
                      type: string
                      x-documentation-priority: default
                    - type: 'null'
                required:
                - provided_first_name
                - provided_middle_name
                - provided_last_name
                title: Card Authorization Verification CardholderName
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: CardholderNames
              - type: 'null'
          required:
          - cardholder_address
          - cardholder_name
          - card_verification_code
          title: Card Authorization Verification
          type: object
          x-documentation-priority: default
          x-event-categories: []
          x-stainless-empty-object: false
          x-title-plural: s
      required:
      - type
      - id
      - card_payment_id
      - merchant_acceptor_id
      - merchant_descriptor
      - merchant_category_code
      - terminal_id
      - merchant_city
      - merchant_state
      - merchant_postal_code
      - merchant_country
      - digital_wallet_token_id
      - physical_card_id
      - verification
      - additional_amounts
      - network_identifiers
      - network_risk_score
      - network_details
      - amount
      - presentment_amount
      - presentment_currency
      - currency
      - direction
      - actioner
      - processing_category
      - expires_at
      - real_time_decision_id
      - pending_transaction_id
      - scheme_fees
      title: Card Authorization
      type: object
      x-event-categories: []
      x-stainless-empty-object: false
      x-title-plural: Card Authorizations
    card_increment:
      additionalProperties: true
      description: Card Increments increase the pending amount of an authorized transaction.
      example:
        actioner: increase
        additional_amounts:
          clinic: null
          dental: null
          original: null
          prescription: null
          surcharge: null
          total_cumulative: null
          total_healthcare: null
          transit: null
          unknown: null
          vision: null
        amount: 20
        card_authorization_id: card_authorization_6iqxap6ivd0fo5eu3i8x
        currency: USD
        id: card_increment_6ztayc58j1od0rpebp3e
        network: visa
        network_identifiers:
          authorization_identification_response: null
          retrieval_reference_number: '785867080153'
          trace_number: '487941'
          transaction_id: '627199945183184'
        network_risk_score: 10
        pending_transaction_id: pending_transaction_k1sfetcau2qbvjbzgju4
        presentment_amount: 20
        presentment_currency: USD
        real_time_decision_id: null
        scheme_fees:
        - amount: '0.137465'
          created_at: '2020-01-31T23:59:59Z'
          currency: USD
          fee_type: visa_corporate_acceptance_fee
          fixed_component: null
          variable_rate: '0.0002'
        type: card_increment
        updated_authorization_amount: 120
      properties:
        actioner:
          description: Whether this authorization was approved by Increase, the card network through stand-in processing, or the user through a real-time decision.
          enum:
          - user
          - increase
          - network
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - This object was actioned by the user through a real-time decision.
          - This object was actioned by Increase without user intervention.
          - This object was actioned by the network, through stand-in processing.
        additional_amounts:
          additionalProperties: false
          description: Additional amounts associated with the card authorization, such as ATM surcharges fees. These are usually a subset of the `amount` field and are used to provide more detailed information about the transaction.
          properties:
            clinic:
              anyOf:
              - additionalProperties: false
                description: The part of this transaction amount that was for clinic-related services.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Card Increment AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
            dental:
              anyOf:
              - additionalProperties: false
                description: The part of this transaction amount that was for dental-related services.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Card Increment AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
            original:
              anyOf:
              - additionalProperties: false
                description: The original pre-authorized amount.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Card Increment AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
            prescription:
              anyOf:
              - additionalProperties: false
                description: The part of this transaction amount that was for healthcare prescriptions.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Card Increment AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
            surcharge:
              anyOf:
              - additionalProperties: false
                description: The surcharge amount charged for this transaction by the merchant.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Card Increment AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
            total_cumulative:
              anyOf:
              - additionalProperties: false
                description: The total amount of a series of incremental authorizations, optionally provided.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Card Increment AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
            total_healthcare:
              anyOf:
              - additionalProperties: false
                description: The total amount of healthcare-related additional amounts.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Card Increment AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
            transit:
              anyOf:
              - additionalProperties: false
                description: The part of this transaction amount that was for transit-related services.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Card Increment AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
            unknown:
              anyOf:
              - additionalProperties: false
                description: An unknown additional amount.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Card Increment AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
            vision:
              anyOf:
              - additionalProperties: false
                description: The part of this transaction amount that was for vision-related services.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Card Increment AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
          required:
          - total_healthcare
          - total_cumulative
          - surcharge
          - transit
          - vision
          - clinic
          - dental
          - prescription
          - original
          - unknown
          title: Card Increment AdditionalAmounts
          type: object
          x-documentation-priority: default
          x-event-categories: []
          x-stainless-empty-object: false
          x-title-plural: s
        amount:
          description: The amount of this increment in the minor unit of the transaction's currency. For dollars, for example, this is cents.
          type: integer
          x-documentation-priority: default
        card_authorization_id:
          description: The identifier for the Card Authorization this increments.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Card Authorizations
        currency:
          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the increment's currency.
          enum:
          - USD
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - US Dollar (USD)
        id:
          description: The Card Increment identifier.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Card Increments
        network:
          description: The card network used to process this card authorization.
          enum:
          - visa
          - pulse
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - Visa
          - Pulse
        network_identifiers:
          additionalProperties: false
          description: Network-specific identifiers for a specific request or transaction.
          example:
            authorization_identification_response: null
            retrieval_reference_number: '785867080153'
            trace_number: '487941'
            transaction_id: '627199945183184'
          properties:
            authorization_identification_response:
              anyOf:
              - description: The randomly generated 6-character Authorization Identification Response code sent back to the acquirer in an approved response.
                type: string
                x-documentation-priority: default
              - type: 'null'
            retrieval_reference_number:
              anyOf:
              - description: A life-cycle identifier used across e.g., an authorization and a reversal. Expected to be unique per acquirer within a window of time. For some card networks the retrieval reference number includes the trace counter.
                type: string
                x-documentation-priority: default
              - type: 'null'
            trace_number:
              anyOf:
              - description: A counter used to verify an individual authorization. Expected to be unique per acquirer within a window of time.
                type: string
                x-documentation-priority: default
              - type: 'null'
            transaction_id:
              anyOf:
              - description: A globally unique transaction identifier provided by the card network, used across multiple life-cycle requests.
                type: string
                x-documentation-priority: default
              - type: 'null'
          required:
          - transaction_id
          - trace_number
          - retrieval_reference_number
          - authorization_identification_response
          title: Card Increment NetworkIdentifiers
          type: object
          x-documentation-priority: default
          x-event-categories: []
          x-stainless-empty-object: false
          x-title-plural: s
        network_risk_score:
          anyOf:
          - description: The risk score generated by the card network. For Visa this is the Visa Advanced Authorization risk score, from 0 to 99, where 99 is the riskiest.
            type: integer
            x-documentation-priority: default
          - type: 'null'
        pending_transaction_id:
          anyOf:
          - description: The identifier of the Pending Transaction associated with this Card Increment.
            type: string
            x-documentation-priority: default
            x-id-reference-to: Pending Transactions
          - type: 'null'
        presentment_amount:
          description: The amount of this increment in the minor unit of the transaction's presentment currency.
          type: integer
          x-documentation-priority: default
        presentment_currency:
          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the transaction's presentment currency.
          type: string
          x-documentation-priority: default
        real_time_decision_id:
          anyOf:
          - description: The identifier of the Real-Time Decision sent to approve or decline this incremental authorization.
            type: string
            x-documentation-priority: default
            x-id-reference-to: Real-Time Decisions
          - type: 'null'
        scheme_fees:
          description: The scheme fees associated with this card increment.
          items:
            additionalProperties: false
            example:
              amount: '0.137465'
              created_at: '2020-01-31T23:59:59Z'
              currency: USD
              fee_type: visa_corporate_acceptance_fee
              fixed_component: null
              variable_rate: '0.0002'
            properties:
              amount:
                description: The fee amount given as a string containing a decimal number.
                pattern: ^-?\d+(\.\d+)?$
                type: string
                x-documentation-priority: default
              created_at:
                description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) time at which the fee was created.
                format: date-time
                type: string
                x-documentation-priority: default
              currency:
                description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the fee reimbursement.
                enum:
                - USD
                type: string
                x-documentation-priority: default
                x-enum-descriptions:
                - US Dollar (USD)
              fee_type:
                description: The type of fee being assessed.
                enum:
                - visa_international_service_assessment_single_currency
                - visa_international_service_assessment_cross_currency
                - visa_authorization_domestic_point_of_sale
                - visa_authorization_international_point_of_sale
                - visa_authorization_canada_point_of_sale
                - visa_authorization_reversal_point_of_sale
                - visa_authorization_reversal_international_point_of_sale
                - visa_authorization_address_verification_service
                - visa_advanced_authorization
                - visa_message_transmission
                - visa_account_verification_domestic
                - visa_account_verification_international
                - visa_account_verification_canada
                - visa_corporate_acceptance_fee
                - visa_consumer_debit_acceptance_fee
                - visa_business_debit_acceptance_fee
                - visa_purchasing_acceptance_fee
                - visa_purchase_domestic
                - visa_purchase_international
                - visa_credit_purchase_token
                - visa_debit_purchase_token
                - visa_clearing_transmission
                - visa_direct_authorization
                - visa_direct_transaction_domestic
                - visa_service_commercial_credit
                - visa_advertising_service_commercial_credit
                - visa_community_growth_acceleration_program
                - visa_processing_guarantee_commercial_credit
                - pulse_switch_fee
                type: string
                x-documentation-priority: default
                x-enum-descriptions:
                - International Service Assessment (ISA) single-currency is a fee assessed by the card network for cross-border transactions presented and settled in the same currency.
                - International Service Assessment (ISA) cross-currency is a fee assessed by the card network for cross-border transactions presented and settled in different currencies.
                - Activity and charges for Visa Settlement System processing for POS (Point-Of-Sale) authorization transactions. Authorization is the process of approving or declining the transaction amount specified. The fee is assessed to the Issuer.
                - Activity and charges for Visa Settlement System processing for POS (Point-Of-Sale) International authorization transactions. Authorization is the process of approving or declining the transaction amount specified. The fee is assessed to the Issuer.
                - Activity and charges for Visa Settlement System processing for Canada Region POS (Point-of-Sale) authorization transactions. Authorization is the process of approving or declining the transaction amount specified.
                - Activity only for Visa Settlement System authorization processing of POS (Point-Of-Sale) reversal transactions. Authorization reversal represents a VSS message that undoes the complete or partial actions of a previous authorization request.
                - Activity only for Visa Settlement System authorization processing of POS (Point-Of-Sale) International reversal transactions. Authorization reversal represents a VSS message that undoes the complete or partial actions of a previous authorization request.
                - A per Address Verification Service (AVS) result fee. Applies to all usable AVS result codes.
                - Advanced Authorization is a fraud detection tool that monitors and risk evaluates 100 percent of US VisaNet authorizations in real-time. Activity related to Purchase (includes Signature Authenticated Visa and PIN Authenticated Visa Debit (PAVD) transactions).
                - Issuer Transactions Visa represents a charge based on total actual monthly processing (Visa transactions only) through a VisaNet Access Point (VAP). Charges are assessed to the processor for each VisaNet Access Point.
                - Activity, per inquiry, related to the domestic Issuer for Account Number Verification.
                - Activity, per inquiry, related to the international Issuer for Account Number Verification.
                - Activity, per inquiry, related to the US-Canada Issuer for Account Number Verification.
                - The Corporate Acceptance Fee is charged to issuers and is based on the monthly sales volume on Commercial and Government Debit, Prepaid, Credit, Charge, or Deferred Debit card transactions.
                - The Consumer Debit Acceptance Fee is charged to issuers and is based on the monthly sales volume of Consumer Debit or Prepaid card transactions. The cashback portion of a Debit and Prepaid card transaction is excluded from the sales volume calculation.
                - The Business Acceptance Fee is charged to issuers and is based on the monthly sales volume on Business Debit, Prepaid, Credit, Charge, or Deferred Debit card transactions. The cashback portion is included in the sales volume calculation with the exception of a Debit and Prepaid card transactions.
                - The Purchasing Card Acceptance Fee is charged to issuers and is based on the monthly sales volume on Commercial and Government Debit, Prepaid, Credit, Charge, or Deferred Debit card transactions.
                - Activity and fees for the processing of a sales draft original for a purchase transaction.
                - Activity and fees for the processing of an international sales draft original for a purchase transaction.
                - Apple Pay Credit Product Token Purchase Original Transactions. This fee is billed by Visa on behalf of Apple Inc. for Apple Pay transactions.
                - Apple Pay Debit Product Token Purchase Original Transactions. This fee is billed by Visa on behalf of Apple Inc. for Apple Pay transactions.
                - A per transaction fee assessed for Base II financial draft - Issuer.
                - Issuer charge for Non-Financial OCT/AFT Authorization 0100 and Declined Financial OCT/AFT 0200 transactions.
                - Data processing charge for Visa Direct OCTs for all business application identifiers (BAIs) other than money transfer-bank initiated (BI). BASE II transactions.
                - Issuer card service fee for Commercial Credit cards.
                - Issuer Advertising Service Fee for Commercial Credit cards.
                - Issuer Community Growth Acceleration Program Fee.
                - Issuer Processing Guarantee for Commercial Credit cards.
                - Pulse Switch Fee is a fee charged by the Pulse network for processing transactions on its network.
              fixed_component:
                anyOf:
                - description: The fixed component of the fee, if applicable, given in major units of the fee amount.
                  pattern: ^-?\d+(\.\d+)?$
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              variable_rate:
                anyOf:
                - description: The variable rate component of the fee, if applicable, given as a decimal (e.g., 0.015 for 1.5%).
                  pattern: ^-?\d+(\.\d+)?$
                  type: string
                  x-documentation-priority: default
                - type: 'null'
            required:
            - created_at
            - amount
            - currency
            - fee_type
            - variable_rate
            - fixed_component
            title: Card Increment Card Scheme Fee
            type: object
            x-event-categories: []
            x-stainless-empty-object: false
            x-title-plural: Card Scheme Fees
          type: array
          x-documentation-priority: default
        type:
          description: A constant representing the object's type. For this resource it will always be `card_increment`.
          enum:
          - card_increment
          type: string
          x-documentation-priority: default
        updated_authorization_amount:
          description: The updated authorization amount after this increment, in the minor unit of the transaction's currency. For dollars, for example, this is cents.
          type: integer
          x-documentation-priority: default
      required:
      - type
      - id
      - amount
      - presentment_amount
      - updated_authorization_amount
      - currency
      - presentment_currency
      - card_authorization_id
      - network
      - actioner
      - real_time_decision_id
      - pending_transaction_id
      - additional_amounts
      - network_risk_score
      - network_identifiers
      - scheme_fees
      title: Card Increment
      type: object
      x-event-categories: []
      x-stainless-empty-object: false
      x-title-plural: Card Increments
    error:
      anyOf:
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 404
            type: integer
          title:
            type: string
          type:
            enum:
            - api_method_not_found_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - environment_mismatch_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          resource_id:
            description: ''
            type: string
            x-documentation-priority: default
          status:
            enum:
            - 409
            type: integer
          title:
            type: string
          type:
            enum:
            - idempotency_key_already_used_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - resource_id
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - insufficient_permissions_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 500
            type: integer
          title:
            type: string
          type:
            enum:
            - internal_server_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          reason:
            description: ''
            enum:
            - deleted_credential
            - expired_credential
            - ip_not_allowed
            - no_credential
            - no_header
            - no_api_access
            - wrong_environment
            type: string
            x-documentation-priority: default
            x-enum-descriptions:
            - deleted_credential
            - expired_credential
            - ip_not_allowed
            - no_credential
            - no_header
            - no_api_access
            - wrong_environment
          status:
            enum:
            - 401
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_api_key_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - reason
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 409
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_operation_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          errors:
            description: All errors related to parsing the request parameters.
            items:
              additionalProperties: true
              properties: {}
              title: ErrorsElement
              type: object
              x-event-categories: []
              x-stainless-empty-object: false
              x-title-plural: ErrorsElements
            type: array
            x-documentation-priority: default
          status:
            enum:
            - 400
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_parameters_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - errors
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 400
            type: integer
          title:
            type: string
          type:
            enum:
            - malformed_request_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 404
            type: integer
          title:
            type: string
          type:
            enum:
            - object_not_found_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - private_feature_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          retry_after:
            anyOf:
            - description: ''
              type: integer
              x-documentation-priority: default
            - type: 'null'
          status:
            enum:
            - 429
            type: integer
          title:
            type: string
          type:
            enum:
            - rate_limited_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
    card_fuel_confirmation:
      additionalProperties: true
      description: Card Fuel Confirmations update the amount of a Card Authorization after a fuel pump transaction is completed.
      example:
        card_authorization_id: card_authorization_6iqxap6ivd0fo5eu3i8x
        currency: USD
        id: card_fuel_confirmation_wuy91qate4judq2la80a
        network: visa
        network_identifiers:
          authorization_identification_response: null
          retrieval_reference_number: '785867080153'
          trace_number: '487941'
          transaction_id: '627199945183184'
        pending_transaction_id: pending_transaction_k1sfetcau2qbvjbzgju4
        scheme_fees:
        - amount: '0.137465'
          created_at: '2020-01-31T23:59:59Z'
          currency: USD
          fee_type: visa_corporate_acceptance_fee
          fixed_component: null
          variable_rate: '0.0002'
        type: card_fuel_confirmation
        updated_authorization_amount: 120
      properties:
        card_authorization_id:
          description: The identifier for the Card Authorization this updates.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Card Authorizations
        currency:
          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the increment's currency.
          enum:
          - USD
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - US Dollar (USD)
        id:
          description: The Card Fuel Confirmation identifier.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Card Fuel Confirmations
        network:
          description: The card network used to process this card authorization.
          enum:
          - visa
          - pulse
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - Visa
          - Pulse
        network_identifiers:
          additionalProperties: false
          description: Network-specific identifiers for a specific request or transaction.
          example:
            authorization_identification_response: null
            retrieval_reference_number: '785867080153'
            trace_number: '487941'
            transaction_id: '627199945183184'
          properties:
            authorization_identification_response:
              anyOf:
              - description: The randomly generated 6-character Authorization Identification Response code sent back to the acquirer in an approved response.
                type: string
                x-documentation-priority: default
              - type: 'null'
            retrieval_reference_number:
              anyOf:
              - description: A life-cycle identifier used across e.g., an authorization and a reversal. Expected to be unique per acquirer within a window of time. For some card networks the retrieval reference number includes the trace counter.
                type: string
                x-documentation-priority: default
              - type: 'null'
            trace_number:
              anyOf:
              - description: A counter used to verify an individual authorization. Expected to be unique per acquirer within a window of time.
                type: string
                x-documentation-priority: default
              - type: 'null'
            transaction_id:
              anyOf:
              - description: A globally unique transaction identifier provided by the card network, used across multiple life-cycle requests.
                type: string
                x-documentation-priority: default
              - type: 'null'
          required:
          - transaction_id
          - trace_number
          - retrieval_reference_number
          - authorization_identification_response
          title: Card Fuel Confirmation NetworkIdentifiers
          type: object
          x-documentation-priority: default
          x-event-categories: []
          x-stainless-empty-object: false
          x-title-plural: s
        pending_transaction_id:
          anyOf:
          - description: The identifier of the Pending Transaction associated with this Card Fuel Confirmation.
            type: string
            x-documentation-priority: default
            x-id-reference-to: Pending Transactions
          - type: 'null'
        scheme_fees:
          description: The scheme fees associated with this card fuel confirmation.
          items:
            additionalProperties: false
            example:
              amount: '0.137465'
              created_at: '2020-01-31T23:59:59Z'
              currency: USD
              fee_type: visa_corporate_acceptance_fee
              fixed_component: null
              variable_rate: '0.0002'
            properties:
              amount:
                description: The fee amount given as a string containing a decimal number.
                pattern: ^-?\d+(\.\d+)?$
                type: string
                x-documentation-priority: default
              created_at:
                description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) time at which the fee was created.
                format: date-time
                type: string
                x-documentation-priority: default
              currency:
                description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the fee reimbursement.
                enum:
                - USD
                type: string
                x-documentation-priority: default
                x-enum-descriptions:
                - US Dollar (USD)
              fee_type:
                description: The type of fee being assessed.
                enum:
                - visa_international_service_assessment_single_currency
                - visa_international_service_assessment_cross_currency
                - visa_authorization_domestic_point_of_sale
                - visa_authorization_international_point_of_sale
                - visa_authorization_canada_point_of_sale
                - visa_authorization_reversal_point_of_sale
                - visa_authorization_reversal_international_point_of_sale
                - visa_authorization_address_verification_service
                - visa_advanced_authorization
                - visa_message_transmission
                - visa_account_verification_domestic
                - visa_account_verification_international
                - visa_account_verification_canada
                - visa_corporate_acceptance_fee
                - visa_consumer_debit_acceptance_fee
                - visa_business_debit_acceptance_fee
                - visa_purchasing_acceptance_fee
                - visa_purchase_domestic
                - visa_purchase_international
                - visa_credit_purchase_token
                - visa_debit_purchase_token
                - visa_clearing_transmission
                - visa_direct_authorization
                - visa_direct_transaction_domestic
                - visa_service_commercial_credit
                - visa_advertising_service_commercial_credit
                - visa_community_growth_acceleration_program
                - visa_processing_guarantee_commercial_credit
                - pulse_switch_fee
                type: string
                x-documentation-priority: default
                x-enum-descriptions:
[...]
