openapi: 3.1.0
info:
  description: Anything that you can achieve with PDFs, presence, and persistence in a bank branch you can do with our API. We've always wanted a fully programmatic bank so we built one. Our API faithfully exposes the data and capabilities of the Federal Reserve, Visa, The Clearing House, depository networks, and accounting tools. It's lovingly boring and exceptionally powerful. If you have any questions or want to get started, don't hesitate to ping us at sales@increase.com. We can't wait to see what you build!
  title: Increase Account Numbers Inbound Real Time Payments Transfers API
  version: 0.0.1
servers:
- url: https://api.increase.com
- url: https://sandbox.increase.com
security:
- bearerAuth: []
tags:
- name: Inbound Real Time Payments Transfers
paths:
  /inbound_real_time_payments_transfers:
    get:
      operationId: list_inbound_real_time_payments_transfers
      parameters:
      - in: query
        name: cursor
        required: false
        schema:
          description: Return the page of entries after this one.
          type: string
          x-documentation-priority: low
      - in: query
        name: limit
        required: false
        schema:
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          minimum: 1
          type: integer
          x-documentation-priority: low
      - example: account_in71c4amph0vgo2qllky
        in: query
        name: account_id
        required: false
        schema:
          description: Filter Inbound Real-Time Payments Transfers to those belonging to the specified Account.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Accounts
      - in: query
        name: account_number_id
        required: false
        schema:
          description: Filter Inbound Real-Time Payments Transfers to ones belonging to the specified Account Number.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Account Numbers
      - in: query
        name: created_at.after
        required: false
        schema:
          description: Return results after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: created_at.before
        required: false
        schema:
          description: Return results before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: created_at.on_or_after
        required: false
        schema:
          description: Return results on or after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: created_at.on_or_before
        required: false
        schema:
          description: Return results on or before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inbound_real_time_payments_transfer_list'
          description: Inbound Real-Time Payments Transfer List
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: List Inbound Real-Time Payments Transfers
      x-sandbox-only: false
      x-tag: Inbound Real-Time Payments Transfers
      tags:
      - Inbound Real Time Payments Transfers
  /inbound_real_time_payments_transfers/{inbound_real_time_payments_transfer_id}:
    get:
      operationId: retrieve_an_inbound_real_time_payments_transfer
      parameters:
      - example: inbound_real_time_payments_transfer_63hlz498vcxg644hcrzr
        in: path
        name: inbound_real_time_payments_transfer_id
        required: true
        schema:
          description: The identifier of the Inbound Real-Time Payments Transfer to get details for.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Inbound Real-Time Payments Transfers
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inbound_real_time_payments_transfer'
          description: Inbound Real-Time Payments Transfer
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: Retrieve an Inbound Real-Time Payments Transfer
      x-sandbox-only: false
      x-tag: Inbound Real-Time Payments Transfers
      tags:
      - Inbound Real Time Payments Transfers
components:
  schemas:
    inbound_real_time_payments_transfer:
      additionalProperties: true
      description: An Inbound Real-Time Payments Transfer is a Real-Time Payments transfer initiated outside of Increase to your account.
      example:
        account_id: account_in71c4amph0vgo2qllky
        account_number_id: account_number_v18nkfqm6afpsrvy82b2
        amount: 100
        confirmation:
          confirmed_at: '2020-01-31T23:59:59Z'
          transaction_id: transaction_uyrp7fld2ium70oa7oi
        created_at: '2020-01-31T23:59:59Z'
        creditor_name: Ian Crease
        currency: USD
        debtor_account_number: '987654321'
        debtor_name: National Phonograph Company
        debtor_routing_number: '101050001'
        decline: null
        id: inbound_real_time_payments_transfer_63hlz498vcxg644hcrzr
        status: confirmed
        transaction_identification: 20220501234567891T1BSLZO01745013025
        type: inbound_real_time_payments_transfer
        unstructured_remittance_information: Invoice 29582
      properties:
        account_id:
          description: The Account to which the transfer was sent.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Accounts
        account_number_id:
          description: The identifier of the Account Number to which this transfer was sent.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Account Numbers
        amount:
          description: The amount in USD cents.
          type: integer
          x-documentation-priority: default
        confirmation:
          anyOf:
          - additionalProperties: false
            description: If your transfer is confirmed, this will contain details of the confirmation.
            properties:
              confirmed_at:
                description: The time at which the transfer was confirmed.
                format: date-time
                type: string
                x-documentation-priority: default
              transaction_id:
                description: The id of the transaction for the confirmed transfer.
                type: string
                x-documentation-priority: default
                x-id-reference-to: Transactions
            required:
            - confirmed_at
            - transaction_id
            title: Inbound Real-Time Payments Transfer Confirmation
            type: object
            x-documentation-priority: default
            x-event-categories: []
            x-stainless-empty-object: false
            x-title-plural: Confirmations
          - type: 'null'
        created_at:
          description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date and time at which the transfer was created.
          format: date-time
          type: string
          x-documentation-priority: default
        creditor_name:
          description: The name the sender of the transfer specified as the recipient of the transfer.
          type: string
          x-documentation-priority: default
        currency:
          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code of the transfer's currency. This will always be "USD" for a Real-Time Payments transfer.
          enum:
          - USD
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - US Dollar (USD)
        debtor_account_number:
          description: The account number of the account that sent the transfer.
          type: string
          x-documentation-priority: default
        debtor_name:
          description: The name provided by the sender of the transfer.
          type: string
          x-documentation-priority: default
        debtor_routing_number:
          description: The routing number of the account that sent the transfer.
          type: string
          x-documentation-priority: default
        decline:
          anyOf:
          - additionalProperties: false
            description: If your transfer is declined, this will contain details of the decline.
            properties:
              declined_at:
                description: The time at which the transfer was declined.
                format: date-time
                type: string
                x-documentation-priority: default
              declined_transaction_id:
                description: The id of the transaction for the declined transfer.
                type: string
                x-documentation-priority: default
                x-id-reference-to: Declined Transactions
              reason:
                description: The reason for the transfer decline.
                enum:
                - account_number_canceled
                - account_number_disabled
                - account_restricted
                - group_locked
                - entity_not_active
                - real_time_payments_not_enabled
                type: string
                x-documentation-priority: default
                x-enum-descriptions:
                - The account number is canceled.
                - The account number is disabled.
                - Your account is restricted.
                - Your account is inactive.
                - The account's entity is not active.
                - Your account is not enabled to receive Real-Time Payments transfers.
            required:
            - reason
            - declined_at
            - declined_transaction_id
            title: Inbound Real-Time Payments Transfer Decline
            type: object
            x-documentation-priority: default
            x-event-categories: []
            x-stainless-empty-object: false
            x-title-plural: Declines
          - type: 'null'
        id:
          description: The inbound Real-Time Payments transfer's identifier.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Inbound Real-Time Payments Transfers
        status:
          description: The lifecycle status of the transfer.
          enum:
          - pending_confirming
          - timed_out
          - confirmed
          - declined
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - The transfer is pending confirmation.
          - The transfer was not responded to in time.
          - The transfer has been received successfully and is confirmed.
          - The transfer has been declined.
        transaction_identification:
          description: The Real-Time Payments network identification of the transfer.
          type: string
          x-documentation-priority: default
        type:
          description: A constant representing the object's type. For this resource it will always be `inbound_real_time_payments_transfer`.
          enum:
          - inbound_real_time_payments_transfer
          type: string
          x-documentation-priority: default
        unstructured_remittance_information:
          anyOf:
          - description: Additional information included with the transfer.
            type: string
            x-documentation-priority: default
          - type: 'null'
      required:
      - type
      - id
      - amount
      - currency
      - creditor_name
      - debtor_name
      - debtor_account_number
      - debtor_routing_number
      - transaction_identification
      - unstructured_remittance_information
      - status
      - account_id
      - account_number_id
      - created_at
      - confirmation
      - decline
      title: Inbound Real-Time Payments Transfer
      type: object
      x-event-categories:
      - inbound_real_time_payments_transfer.created
      - inbound_real_time_payments_transfer.updated
      x-stainless-empty-object: false
      x-tag: Inbound Real-Time Payments Transfers
      x-title-plural: Inbound Real-Time Payments Transfers
    error:
      anyOf:
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 404
            type: integer
          title:
            type: string
          type:
            enum:
            - api_method_not_found_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - environment_mismatch_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          resource_id:
            description: ''
            type: string
            x-documentation-priority: default
          status:
            enum:
            - 409
            type: integer
          title:
            type: string
          type:
            enum:
            - idempotency_key_already_used_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - resource_id
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - insufficient_permissions_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 500
            type: integer
          title:
            type: string
          type:
            enum:
            - internal_server_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          reason:
            description: ''
            enum:
            - deleted_credential
            - expired_credential
            - ip_not_allowed
            - no_credential
            - no_header
            - no_api_access
            - wrong_environment
            type: string
            x-documentation-priority: default
            x-enum-descriptions:
            - deleted_credential
            - expired_credential
            - ip_not_allowed
            - no_credential
            - no_header
            - no_api_access
            - wrong_environment
          status:
            enum:
            - 401
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_api_key_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - reason
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 409
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_operation_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          errors:
            description: All errors related to parsing the request parameters.
            items:
              additionalProperties: true
              properties: {}
              title: ErrorsElement
              type: object
              x-event-categories: []
              x-stainless-empty-object: false
              x-title-plural: ErrorsElements
            type: array
            x-documentation-priority: default
          status:
            enum:
            - 400
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_parameters_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - errors
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 400
            type: integer
          title:
            type: string
          type:
            enum:
            - malformed_request_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 404
            type: integer
          title:
            type: string
          type:
            enum:
            - object_not_found_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - private_feature_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          retry_after:
            anyOf:
            - description: ''
              type: integer
              x-documentation-priority: default
            - type: 'null'
          status:
            enum:
            - 429
            type: integer
          title:
            type: string
          type:
            enum:
            - rate_limited_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
    inbound_real_time_payments_transfer_list:
      additionalProperties: true
      description: A list of Inbound Real-Time Payments Transfer objects.
      example:
        data:
        - account_id: account_in71c4amph0vgo2qllky
          account_number_id: account_number_v18nkfqm6afpsrvy82b2
          amount: 100
          confirmation:
            confirmed_at: '2020-01-31T23:59:59Z'
            transaction_id: transaction_uyrp7fld2ium70oa7oi
          created_at: '2020-01-31T23:59:59Z'
          creditor_name: Ian Crease
          currency: USD
          debtor_account_number: '987654321'
          debtor_name: National Phonograph Company
          debtor_routing_number: '101050001'
          decline: null
          id: inbound_real_time_payments_transfer_63hlz498vcxg644hcrzr
          status: confirmed
          transaction_identification: 20220501234567891T1BSLZO01745013025
          type: inbound_real_time_payments_transfer
          unstructured_remittance_information: Invoice 29582
        next_cursor: v57w5d
      properties:
        data:
          description: The contents of the list.
          items:
            $ref: '#/components/schemas/inbound_real_time_payments_transfer'
          type: array
          x-documentation-priority: default
        next_cursor:
          anyOf:
          - description: A pointer to a place in the list. Pass this as the `cursor` parameter to retrieve the next page of results. If there are no more results, the value will be `null`.
            type: string
            x-documentation-priority: default
          - type: 'null'
      required:
      - data
      - next_cursor
      title: Inbound Real-Time Payments Transfer List
      type: object
      x-event-categories: []
      x-stainless-empty-object: false
      x-title-plural: Inbound Real-Time Payments Transfer Lists
  responses:
    errorResponse:
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/error'
      description: Error
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
x-tagGroups:
- name: Accounts
  tags:
  - Accounts
  - Account Numbers
  - Account Transfers
- name: Transactions
  tags:
  - Transactions
  - Pending Transactions
  - Declined Transactions
- name: Ach Transfers
  tags:
  - ACH Transfers
  - Inbound ACH Transfers
  - ACH Prenotifications
- name: Check Transfers
  tags:
  - Check Transfers
  - Inbound Check Deposits
- name: Real Time Payments Transfers
  tags:
  - Real-Time Payments Transfers
  - Inbound Real-Time Payments Transfers
- name: Fednow Transfers
  tags:
  - FedNow Transfers
  - Inbound FedNow Transfers
- name: Swift Transfers
  tags:
  - Swift Transfers
- name: Wire Transfers
  tags:
  - Wire Transfers
  - Inbound Wire Transfers
  - Wire Drawdown Requests
  - Inbound Wire Drawdown Requests
- name: Card Transfers
  tags:
  - Card Tokens
  - Card Push Transfers
  - Card Validations
- name: Check Deposits
  tags:
  - Check Deposits
  - Lockbox Addresses
  - Lockbox Recipients
  - Inbound Mail Items
- name: Cards
  tags:
  - Cards
  - Card Payments
  - Card Purchase Supplements
  - Card Disputes
  - Physical Cards
  - Digital Card Profiles
  - Physical Card Profiles
  - Digital Wallet Tokens
- name: Compliance
  tags:
  - Entities
  - Beneficial Owners
  - Supplemental Documents
  - Entity Onboarding Sessions
  - Programs
- name: Events and Webhooks
  tags:
  - Events
  - Event Subscriptions
  - Real-Time Decisions
- name: External Accounts
  tags:
  - Routing Numbers
  - External Accounts
- name: Files and Exports
  tags:
  - Account Statements
  - Files
  - File Links
  - Exports
- name: OAuth
  tags:
  - Groups
  - OAuth Applications
  - OAuth Connections
  - OAuth Tokens
- name: Intrafi
  tags:
  - IntraFi Account Enrollments
  - IntraFi Balances
  - IntraFi Exclusions
