openapi: 3.1.0
info:
  description: Anything that you can achieve with PDFs, presence, and persistence in a bank branch you can do with our API. We've always wanted a fully programmatic bank so we built one. Our API faithfully exposes the data and capabilities of the Federal Reserve, Visa, The Clearing House, depository networks, and accounting tools. It's lovingly boring and exceptionally powerful. If you have any questions or want to get started, don't hesitate to ping us at sales@increase.com. We can't wait to see what you build!
  title: Increase Account Numbers Card Disputes API
  version: 0.0.1
servers:
- url: https://api.increase.com
- url: https://sandbox.increase.com
security:
- bearerAuth: []
tags:
- description: If unauthorized activity occurs on a card, you can create a Card Dispute and we'll work with the card networks to return the funds if appropriate.
  name: Card Disputes
paths:
  /card_disputes:
    get:
      operationId: list_card_disputes
      parameters:
      - in: query
        name: cursor
        required: false
        schema:
          description: Return the page of entries after this one.
          type: string
          x-documentation-priority: low
      - in: query
        name: limit
        required: false
        schema:
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          minimum: 1
          type: integer
          x-documentation-priority: low
      - in: query
        name: created_at.after
        required: false
        schema:
          description: Return results after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: created_at.before
        required: false
        schema:
          description: Return results before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: created_at.on_or_after
        required: false
        schema:
          description: Return results on or after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: created_at.on_or_before
        required: false
        schema:
          description: Return results on or before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: status.in
        required: false
        schema:
          description: Filter Card Disputes for those with the specified status or statuses. For GET requests, this should be encoded as a comma-delimited string, such as `?in=one,two,three`.
          items:
            enum:
            - user_submission_required
            - pending_user_submission_reviewing
            - pending_user_submission_submitting
            - pending_user_withdrawal_submitting
            - pending_response
            - lost
            - won
            type: string
            x-enum-descriptions:
            - A User Submission is required to continue with the Card Dispute.
            - The most recent User Submission is being reviewed.
            - The most recent User Submission is being submitted to the network.
            - The user's withdrawal of the Card Dispute is being submitted to the network.
            - The Card Dispute is pending a response from the network.
            - The Card Dispute has been lost and funds previously credited from the acceptance have been debited.
            - The Card Dispute has been won and no further action can be taken.
          type: array
          x-documentation-priority: default
        explode: false
      - in: query
        name: idempotency_key
        required: false
        schema:
          description: Filter records to the one with the specified `idempotency_key` you chose for that object. This value is unique across Increase and is used to ensure that a request is only processed once. Learn more about [idempotency](https://increase.com/documentation/idempotency-keys).
          maxLength: 200
          minLength: 1
          type: string
          x-documentation-priority: default
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_dispute_list'
          description: Card Dispute List
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: List Card Disputes
      x-sandbox-only: false
      x-tag: Card Disputes
      tags:
      - Card Disputes
    post:
      operationId: create_a_card_dispute
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_a_card_dispute_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_dispute'
          description: Card Dispute
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: Create a Card Dispute
      x-sandbox-only: false
      x-tag: Card Disputes
      tags:
      - Card Disputes
  /card_disputes/{card_dispute_id}:
    get:
      operationId: retrieve_a_card_dispute
      parameters:
      - example: card_dispute_h9sc95nbl1cgltpp7men
        in: path
        name: card_dispute_id
        required: true
        schema:
          description: The identifier of the Card Dispute.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Card Disputes
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_dispute'
          description: Card Dispute
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: Retrieve a Card Dispute
      x-sandbox-only: false
      x-tag: Card Disputes
      tags:
      - Card Disputes
  /card_disputes/{card_dispute_id}/submit_user_submission:
    post:
      operationId: submit_a_user_submission_for_a_card_dispute
      parameters:
      - example: card_dispute_h9sc95nbl1cgltpp7men
        in: path
        name: card_dispute_id
        required: true
        schema:
          description: The identifier of the Card Dispute to submit a user submission for.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Card Disputes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submit_a_user_submission_for_a_card_dispute_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_dispute'
          description: Card Dispute
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: Submit a User Submission for a Card Dispute
      x-sandbox-only: false
      x-tag: Card Disputes
      tags:
      - Card Disputes
  /card_disputes/{card_dispute_id}/withdraw:
    post:
      operationId: withdraw_a_card_dispute
      parameters:
      - example: card_dispute_h9sc95nbl1cgltpp7men
        in: path
        name: card_dispute_id
        required: true
        schema:
          description: The identifier of the Card Dispute to withdraw.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Card Disputes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/withdraw_a_card_dispute_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_dispute'
          description: Card Dispute
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: Withdraw a Card Dispute
      x-sandbox-only: false
      x-tag: Card Disputes
      tags:
      - Card Disputes
components:
  schemas:
    card_dispute_visa_user_submission:
      additionalProperties: false
      properties:
        accepted_at:
          anyOf:
          - description: The date and time at which the Visa Card Dispute User Submission was reviewed and accepted.
            format: date-time
            type: string
            x-documentation-priority: default
          - type: 'null'
        amount:
          anyOf:
          - description: The amount of the dispute if it is different from the amount of a prior user submission or the disputed transaction.
            type: integer
            x-documentation-priority: default
          - type: 'null'
        attachment_files:
          description: The files attached to the Visa Card Dispute User Submission.
          items:
            $ref: '#/components/schemas/card_dispute_file_attachment'
          type: array
          x-documentation-priority: default
        category:
          description: The category of the user submission. We may add additional possible values for this enum over time; your application should be able to handle such additions gracefully.
          enum:
          - chargeback
          - merchant_prearbitration_decline
          - user_prearbitration
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - 'Visa Card Dispute Chargeback User Submission Chargeback Details: details will be under the `chargeback` object.'
          - 'Visa Card Dispute Merchant Pre-Arbitration Decline User Submission: details will be under the `merchant_prearbitration_decline` object.'
          - 'Visa Card Dispute User-Initiated Pre-Arbitration User Submission: details will be under the `user_prearbitration` object.'
        chargeback:
          anyOf:
          - additionalProperties: false
            description: A Visa Card Dispute Chargeback User Submission Chargeback Details object. This field will be present in the JSON response if and only if `category` is equal to `chargeback`. Contains the details specific to a Visa chargeback User Submission for a Card Dispute.
            example:
              authorization: null
              category: fraud
              consumer_canceled_merchandise: null
              consumer_canceled_recurring_transaction: null
              consumer_canceled_services: null
              consumer_counterfeit_merchandise: null
              consumer_credit_not_processed: null
              consumer_damaged_or_defective_merchandise: null
              consumer_merchandise_misrepresentation: null
              consumer_merchandise_not_as_described: null
              consumer_merchandise_not_received: null
              consumer_non_receipt_of_cash: null
              consumer_original_credit_transaction_not_accepted: null
              consumer_quality_merchandise: null
              consumer_quality_services: null
              consumer_services_misrepresentation: null
              consumer_services_not_as_described: null
              consumer_services_not_received: null
              fraud:
                fraud_type: lost
              processing_error: null
            properties:
              authorization:
                anyOf:
                - additionalProperties: false
                  description: Authorization. Present if and only if `category` is `authorization`.
                  properties:
                    account_status:
                      description: Account status.
                      enum:
                      - account_closed
                      - credit_problem
                      - fraud
                      type: string
                      x-documentation-priority: default
                      x-enum-descriptions:
                      - Account closed.
                      - Credit problem.
                      - Fraud.
                  required:
                  - account_status
                  title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Authorization
                  type: object
                  x-documentation-priority: default
                  x-event-categories: []
                  x-stainless-empty-object: false
                  x-title-plural: Authorizations
                - type: 'null'
              category:
                description: Category.
                enum:
                - authorization
                - consumer_canceled_merchandise
                - consumer_canceled_recurring_transaction
                - consumer_canceled_services
                - consumer_counterfeit_merchandise
                - consumer_credit_not_processed
                - consumer_damaged_or_defective_merchandise
                - consumer_merchandise_misrepresentation
                - consumer_merchandise_not_as_described
                - consumer_merchandise_not_received
                - consumer_non_receipt_of_cash
                - consumer_original_credit_transaction_not_accepted
                - consumer_quality_merchandise
                - consumer_quality_services
                - consumer_services_misrepresentation
                - consumer_services_not_as_described
                - consumer_services_not_received
                - fraud
                - processing_error
                type: string
                x-documentation-priority: default
                x-enum-descriptions:
                - Authorization.
                - 'Consumer: canceled merchandise.'
                - 'Consumer: canceled recurring transaction.'
                - 'Consumer: canceled services.'
                - 'Consumer: counterfeit merchandise.'
                - 'Consumer: credit not processed.'
                - 'Consumer: damaged or defective merchandise.'
                - 'Consumer: merchandise misrepresentation.'
                - 'Consumer: merchandise not as described.'
                - 'Consumer: merchandise not received.'
                - 'Consumer: non-receipt of cash.'
                - 'Consumer: Original Credit Transaction (OCT) not accepted.'
                - 'Consumer: merchandise quality issue.'
                - 'Consumer: services quality issue.'
                - 'Consumer: services misrepresentation.'
                - 'Consumer: services not as described.'
                - 'Consumer: services not received.'
                - Fraud.
                - Processing error.
              consumer_canceled_merchandise:
                anyOf:
                - additionalProperties: false
                  description: Canceled merchandise. Present if and only if `category` is `consumer_canceled_merchandise`.
                  properties:
                    cardholder_cancellation:
                      anyOf:
                      - additionalProperties: false
                        description: Cardholder cancellation.
                        properties:
                          canceled_at:
                            description: Canceled at.
                            format: date
                            type: string
                            x-documentation-priority: default
                          canceled_prior_to_ship_date:
                            description: Canceled prior to ship date.
                            enum:
                            - canceled_prior_to_ship_date
                            - not_canceled_prior_to_ship_date
                            type: string
                            x-documentation-priority: default
                            x-enum-descriptions:
                            - Canceled prior to ship date.
                            - Not canceled prior to ship date.
                          cancellation_policy_provided:
                            description: Cancellation policy provided.
                            enum:
                            - not_provided
                            - provided
                            type: string
                            x-documentation-priority: default
                            x-enum-descriptions:
                            - Not provided.
                            - Provided.
                          reason:
                            description: Reason.
                            type: string
                            x-documentation-priority: default
                        required:
                        - canceled_at
                        - canceled_prior_to_ship_date
                        - cancellation_policy_provided
                        - reason
                        title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Canceled Merchandise Cardholder Cancellation
                        type: object
                        x-documentation-priority: default
                        x-event-categories: []
                        x-stainless-empty-object: false
                        x-title-plural: Cardholder Cancellations
                      - type: 'null'
                    merchant_resolution_attempted:
                      description: Merchant resolution attempted.
                      enum:
                      - attempted
                      - prohibited_by_local_law
                      type: string
                      x-documentation-priority: default
                      x-enum-descriptions:
                      - Attempted.
                      - Prohibited by local law.
                    not_returned:
                      anyOf:
                      - additionalProperties: false
                        description: Not returned. Present if and only if `return_outcome` is `not_returned`.
                        properties: {}
                        title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Canceled Merchandise Not Returned
                        type: object
                        x-documentation-priority: default
                        x-event-categories: []
                        x-stainless-empty-object: true
                        x-title-plural: Not Returneds
                      - type: 'null'
                    purchase_explanation:
                      description: Purchase explanation.
                      type: string
                      x-documentation-priority: default
                    received_or_expected_at:
                      description: Received or expected at.
                      format: date
                      type: string
                      x-documentation-priority: default
                    return_attempted:
                      anyOf:
                      - additionalProperties: false
                        description: Return attempted. Present if and only if `return_outcome` is `return_attempted`.
                        properties:
                          attempt_explanation:
                            description: Attempt explanation.
                            type: string
                            x-documentation-priority: default
                          attempt_reason:
                            description: Attempt reason.
                            enum:
                            - merchant_not_responding
                            - no_return_authorization_provided
                            - no_return_instructions
                            - requested_not_to_return
                            - return_not_accepted
                            type: string
                            x-documentation-priority: default
                            x-enum-descriptions:
                            - Merchant not responding.
                            - No return authorization provided.
                            - No return instructions.
                            - Requested not to return.
                            - Return not accepted.
                          attempted_at:
                            description: Attempted at.
                            format: date
                            type: string
                            x-documentation-priority: default
                          merchandise_disposition:
                            description: Merchandise disposition.
                            type: string
                            x-documentation-priority: default
                        required:
                        - attempt_explanation
                        - attempt_reason
                        - attempted_at
                        - merchandise_disposition
                        title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Canceled Merchandise Return Attempted
                        type: object
                        x-documentation-priority: default
                        x-event-categories: []
                        x-stainless-empty-object: false
                        x-title-plural: Return Attempteds
                      - type: 'null'
                    return_outcome:
                      description: Return outcome.
                      enum:
                      - not_returned
                      - returned
                      - return_attempted
                      type: string
                      x-documentation-priority: default
                      x-enum-descriptions:
                      - Not returned.
                      - Returned.
                      - Return attempted.
                    returned:
                      anyOf:
                      - additionalProperties: false
                        description: Returned. Present if and only if `return_outcome` is `returned`.
                        properties:
                          merchant_received_return_at:
                            anyOf:
                            - description: Merchant received return at.
                              format: date
                              type: string
                              x-documentation-priority: default
                            - type: 'null'
                          other_explanation:
                            anyOf:
                            - description: Other explanation. Required if and only if the return method is `other`.
                              type: string
                              x-documentation-priority: default
                            - type: 'null'
                          return_method:
                            description: Return method.
                            enum:
                            - dhl
                            - face_to_face
                            - fedex
                            - other
                            - postal_service
                            - ups
                            type: string
                            x-documentation-priority: default
                            x-enum-descriptions:
                            - DHL.
                            - Face-to-face.
                            - FedEx.
                            - Other.
                            - Postal service.
                            - UPS.
                          returned_at:
                            description: Returned at.
                            format: date
                            type: string
                            x-documentation-priority: default
                          tracking_number:
                            anyOf:
                            - description: Tracking number.
                              type: string
                              x-documentation-priority: default
                            - type: 'null'
                        required:
                        - merchant_received_return_at
                        - other_explanation
                        - return_method
                        - returned_at
                        - tracking_number
                        title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Canceled Merchandise Returned
                        type: object
                        x-documentation-priority: default
                        x-event-categories: []
                        x-stainless-empty-object: false
                        x-title-plural: Returneds
                      - type: 'null'
                  required:
                  - cardholder_cancellation
                  - merchant_resolution_attempted
                  - not_returned
                  - purchase_explanation
                  - received_or_expected_at
                  - return_attempted
                  - return_outcome
                  - returned
                  title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Canceled Merchandise
                  type: object
                  x-documentation-priority: default
                  x-event-categories: []
                  x-stainless-empty-object: false
                  x-title-plural: Consumer Canceled Merchandises
                - type: 'null'
              consumer_canceled_recurring_transaction:
                anyOf:
                - additionalProperties: false
                  description: Canceled recurring transaction. Present if and only if `category` is `consumer_canceled_recurring_transaction`.
                  properties:
                    cancellation_target:
                      description: Cancellation target.
                      enum:
                      - account
                      - transaction
                      type: string
                      x-documentation-priority: default
                      x-enum-descriptions:
                      - Account.
                      - Transaction.
                    merchant_contact_methods:
                      additionalProperties: false
                      description: Merchant contact methods.
                      properties:
                        application_name:
                          anyOf:
                          - description: Application name.
                            type: string
                            x-documentation-priority: default
                          - type: 'null'
                        call_center_phone_number:
                          anyOf:
                          - description: Call center phone number.
                            type: string
                            x-documentation-priority: default
                          - type: 'null'
                        email_address:
                          anyOf:
                          - description: Email address.
                            type: string
                            x-documentation-priority: default
                          - type: 'null'
                        in_person_address:
                          anyOf:
                          - description: In person address.
                            type: string
                            x-documentation-priority: default
                          - type: 'null'
                        mailing_address:
                          anyOf:
                          - description: Mailing address.
                            type: string
                            x-documentation-priority: default
                          - type: 'null'
                        text_phone_number:
                          anyOf:
                          - description: Text phone number.
                            type: string
                            x-documentation-priority: default
                          - type: 'null'
                      required:
                      - application_name
                      - call_center_phone_number
                      - email_address
                      - in_person_address
                      - mailing_address
                      - text_phone_number
                      title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Canceled Recurring Transaction Merchant Contact Methods
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: Merchant Contact Methods
                    other_form_of_payment_explanation:
                      anyOf:
                      - description: Other form of payment explanation.
                        type: string
                        x-documentation-priority: default
                      - type: 'null'
                    transaction_or_account_canceled_at:
                      description: Transaction or account canceled at.
                      format: date
                      type: string
                      x-documentation-priority: default
                  required:
                  - cancellation_target
                  - merchant_contact_methods
                  - other_form_of_payment_explanation
                  - transaction_or_account_canceled_at
                  title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Canceled Recurring Transaction
                  type: object
                  x-documentation-priority: default
                  x-event-categories: []
                  x-stainless-empty-object: false
                  x-title-plural: Consumer Canceled Recurring Transactions
                - type: 'null'
              consumer_canceled_services:
                anyOf:
                - additionalProperties: false
                  description: Canceled services. Present if and only if `category` is `consumer_canceled_services`.
                  properties:
                    cardholder_cancellation:
                      additionalProperties: false
                      description: Cardholder cancellation.
                      properties:
                        canceled_at:
                          description: Canceled at.
                          format: date
                          type: string
                          x-documentation-priority: default
                        cancellation_policy_provided:
                          description: Cancellation policy provided.
                          enum:
                          - not_provided
                          - provided
                          type: string
                          x-documentation-priority: default
                          x-enum-descriptions:
                          - Not provided.
                          - Provided.
                        reason:
                          description: Reason.
                          type: string
                          x-documentation-priority: default
                      required:
                      - canceled_at
                      - cancellation_policy_provided
                      - reason
                      title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Canceled Services Cardholder Cancellation
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: Cardholder Cancellations
                    contracted_at:
                      description: Contracted at.
                      format: date
                      type: string
                      x-documentation-priority: default
                    guaranteed_reservation:
                      anyOf:
                      - additionalProperties: false
                        description: Guaranteed reservation explanation. Present if and only if `service_type` is `guaranteed_reservation`.
                        properties:
                          explanation:
                            description: Explanation.
                            enum:
                            - cardholder_canceled_prior_to_service
                            - cardholder_cancellation_attempt_within_24_hours_of_confirmation
                            - merchant_billed_no_show
                            type: string
                            x-documentation-priority: default
                            x-enum-descriptions:
                            - Cardholder canceled prior to service.
                            - Cardholder cancellation attempt within 24 hours of confirmation.
                            - Merchant billed for no-show.
                        required:
                        - explanation
                        title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Canceled Services Guaranteed Reservation
                        type: object
                        x-documentation-priority: default
                        x-event-categories: []
                        x-stainless-empty-object: false
                        x-title-plural: Guaranteed Reservations
                      - type: 'null'
                    merchant_resolution_attempted:
                      description: Merchant resolution attempted.
                      enum:
                      - attempted
                      - prohibited_by_local_law
                      type: string
                      x-documentation-priority: default
                      x-enum-descriptions:
                      - Attempted.
                      - Prohibited by local law.
                    other:
                      anyOf:
                      - additionalProperties: false
                        description: Other service type explanation. Present if and only if `service_type` is `other`.
                        properties: {}
                        title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Canceled Services Other
                        type: object
                        x-documentation-priority: default
                        x-event-categories: []
                        x-stainless-empty-object: true
                        x-title-plural: Others
                      - type: 'null'
                    purchase_explanation:
                      description: Purchase explanation.
                      type: string
                      x-documentation-priority: default
                    service_type:
                      description: Service type.
                      enum:
                      - guaranteed_reservation
                      - other
                      - timeshare
                      type: string
                      x-documentation-priority: default
                      x-enum-descriptions:
                      - Guaranteed reservation.
                      - Other.
                      - Timeshare.
                    timeshare:
                      anyOf:
                      - additionalProperties: false
                        description: Timeshare explanation. Present if and only if `service_type` is `timeshare`.
                        properties: {}
                        title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Canceled Services Timeshare
                        type: object
                        x-documentation-priority: default
                        x-event-categories: []
                        x-stainless-empty-object: true
                        x-title-plural: Timeshares
                      - type: 'null'
                  required:
                  - cardholder_cancellation
                  - contracted_at
                  - guaranteed_reservation
                  - merchant_resolution_attempted
                  - other
                  - purchase_explanation
                  - service_type
                  - timeshare
                  title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Canceled Services
                  type: object
                  x-documentation-priority: default
                  x-event-categories: []
                  x-stainless-empty-object: false
                  x-title-plural: Consumer Canceled Services
                - type: 'null'
              consumer_counterfeit_merchandise:
                anyOf:
                - additionalProperties: false
                  description: Counterfeit merchandise. Present if and only if `category` is `consumer_counterfeit_merchandise`.
                  properties:
                    counterfeit_explanation:
                      description: Counterfeit explanation.
                      type: string
                      x-documentation-priority: default
                    disposition_explanation:
                      description: Disposition explanation.
                      type: string
                      x-documentation-priority: default
                    order_explanation:
                      description: Order explanation.
                      type: string
                      x-documentation-priority: default
                    received_at:
                      description: Received at.
                      format: date
                      type: string
                      x-documentation-priority: default
                  required:
                  - counterfeit_explanation
                  - disposition_explanation
                  - order_explanation
                  - received_at
                  title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Counterfeit Merchandise
                  type: object
                  x-documentation-priority: default
                  x-event-categories: []
                  x-stainless-empty-object: false
                  x-title-plural: Consumer Counterfeit Merchandises
                - type: 'null'
              consumer_credit_not_processed:
                anyOf:
                - additionalProperties: false
                  description: Credit not processed. Present if and only if `category` is `consumer_credit_not_processed`.
                  properties:
                    canceled_or_returned_at:
                      anyOf:
                      - description: Canceled or returned at.
                        format: date
                        type: string
                        x-documentation-priority: default
                      - type: 'null'
                    credit_expected_at:
                      anyOf:
                      - description: Credit expected at.
                        format: date
                        type: string
                        x-documentation-priority: default
                      - type: 'null'
                  required:
                  - canceled_or_returned_at
                  - credit_expected_at
                  title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Credit Not Processed
                  type: object
                  x-documentation-priority: default
                  x-event-categories: []
                  x-stainless-empty-object: false
                  x-title-plural: Consumer Credit Not Processeds
                - type: 'null'
              consumer_damaged_or_defective_merchandise:
                anyOf:
                - additionalProperties: false
                  description: Damaged or defective merchandise. Present if and only if `category` is `consumer_damaged_or_defective_merchandise`.
                  properties:
                    merchant_resolution_attempted:
                      description: Merchant resolution attempted.
                      enum:
                      - attempted
                      - prohibited_by_local_law
                      type: string
                      x-documentation-priority: default
                      x-enum-descriptions:
                      - Attempted.
                      - Prohibited by local law.
                    not_returned:
                      anyOf:
                      - additionalProperties: false
                        description: Not returned. Present if and only if `return_outcome` is `not_returned`.
                        properties: {}
                        title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Damaged Or Defective Merchandise Not Returned
                        type: object
                        x-documentation-priority: default
                        x-event-categories: []
                        x-stainless-empty-object: true
                        x-title-plural: Not Returneds
                      - type: 'null'
                    order_and_issue_explanation:
                      description: Order and issue explanation.
                      type: string
                      x-documentation-priority: default
                    received_at:
                      description: Received at.
                      format: date
                      type: string
                      x-documentation-priority: default
                    return_attempted:
                      anyOf:
                      - additionalProperties: false
                        description: Return attempted. Present if and only if `return_outcome` is `return_attempted`.
                        properties:
                          attempt_explanation:
                            description: Attempt explanation.
                            type: string
                            x-documentation-priority: default
                          attempt_reason:
                            description: Attempt reason.
                            enum:
                            - merchant_not_responding
                            - no_return_authorization_provided
                            - no_return_instructions
                            - requested_not_to_return
                            - return_not_accepted
                            type: string
                            x-documentation-priority: default
                            x-enum-descriptions:
                            - Merchant not responding.
                            - No return authorization provided.
                            - No return instructions.
                            - Requested not to return.
                            - Return not accepted.
                          attempted_at:
                            description: Attempted at.
                            format: date
                            type: string
                            x-documentation-priority: default
                          merchandise_disposition:
                            description: Merchandise disposition.
                            type: string
                            x-documentation-priority: default
                        required:
                        - attempt_explanation
                        - attempt_reason
                        - attempted_at
                        - merchandise_disposition
                        title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Damaged Or Defective Merchandise Return Attempted
                        type: object
                        x-documentation-priority: default
                        x-event-categories: []
                        x-stainless-empty-object: false
                        x-title-plural: Return Attempteds
                      - type: 'null'
                    return_outcome:
                      description: Return outcome.
                      enum:
                      - not_returned
                      - returned
                      - return_attempted
                      type: string
                      x-documentation-priority: default
                      x-enum-descriptions:
                      - Not returned.
                      - Returned.
                      - Return attempted.
                    returned:
                      anyOf:
                      - additionalProperties: false
                        description: Returned. Present if and only if `return_outcome` is `returned`.
                        properties:
                          merchant_received_return_at:
                            anyOf:
                            - description: Merchant received return at.
                              format: date
                              type: string
                              x-documentation-priority: default
                            - type: 'null'
                          other_explanation:
                            anyOf:
                            - description: Other explanation. Required if and only if the return method is `other`.
                              type: string
                              x-documentation-priority: default
                            - type: 'null'
                          return_method:
                            description: Return method.
                            enum:
                            - dhl
                            - face_to_face
                            - fedex
                            - other
                            - postal_service
                            - ups
                            type: string
                            x-documentation-priority: default
                            x-enum-descriptions:
                            - DHL.
                            - Face-to-face.
                            - FedEx.
                            - Other.
                            - Postal service.
                            - UPS.
                          returned_at:
                            description: Returned at.
                            format: date
                            type: string
                            x-documentation-priority: default
                          tracking_number:
                            anyOf:
                            - description: Tracking number.
                              type: string
                              x-documentation-priority: default
                            - type: 'null'
                        required:
                        - merchant_received_return_at
                        - other_explanation
                        - return_method
                        - returned_at
                        - tracking_number
                        title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Damaged Or Defective Merchandise Returned
                        type: object
                        x-documentation-priority: default
                        x-event-categories: []
                        x-stainless-empty-object: false
                        x-title-plural: Returneds
                      - type: 'null'
                  required:
                  - merchant_resolution_attempted
                  - not_returned
                  - order_and_issue_explanation
                  - received_at
                  - return_attempted
                  - return_outcome
                  - returned
                  title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Damaged Or Defective Merchandise
                  type: object
                  x-documentation-priority: default
                  x-event-categories: []
                  x-stainless-empty-object: false
                  x-title-plural: Consumer Damaged Or Defective Merchandises
                - type: 'null'
              consumer_merchandise_misrepresentation:
                anyOf:
                - additionalProperties: false
                  description: Merchandise misrepresentation. Present if and only if `category` is `consumer_merchandise_misrepresentation`.
                  properties:
                    merchant_resolution_attempted:
                      description: Merchant resolution attempted.
                      enum:
                      - attempted
                      - prohibited_by_local_law
                      type: string
                      x-documentation-priority: default
                      x-enum-descriptions:
                      - Attempted.
                      - Prohibited by local law.
                    misrepresentation_explanation:
                      description: Misrepresentation explanation.
                      type: string
                      x-documentation-priority: default
                    not_returned:
                      anyOf:
                      - additionalProperties: false
                        description: Not returned. Present if and only if `return_outcome` is `not_returned`.
                        properties: {}
                        title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Merchandise Misrepresentation Not Returned
                        type: object
                        x-documentation-priority: default
                        x-event-categories: []
                        x-stainless-empty-object: true
                        x-title-plural: Not Returneds
                      - type: 'null'
                    purchase_explanation:
                      description: Purchase explanation.
                      type: string
                      x-documentation-priority: default
                    received_at:
                      description: Received at.
                      format: date
                      type: string
                      x-documentation-priority: default
                    return_attempted:
                      anyOf:
                      - additionalProperties: false
                        description: Return attempted. Present if and only if `return_outcome` is `return_attempted`.
                        properties:
                          attempt_explanation:
                            description: Attempt explanation.
                            type: string
                            x-documentation-priority: default
                          attempt_reason:
                            description: Attempt reason.
                            enum:
                            - merchant_not_responding
                            - no_return_authorization_provided
                            - no_return_instructions
                            - requested_not_to_return
                            - return_not_accepted
                            type: string
                            x-documentation-priority: default
                            x-enum-descriptions:
                            - Merchant not responding.
                            - No return authorization provided.
                            - No return instructions.
                            - Requested not to return.
                            - Return not accepted.
                          attempted_at:
                            description: Attempted at.
                            format: date
                            type: string
                            x-documentation-priority: default
                          merchandise_disposition:
                            description: Merchandise disposition.
                            type: string
                            x-documentation-priority: default
                        required:
                        - attempt_explanation
                        - attempt_reason
                        - attempted_at
                        - merchandise_disposition
                        title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Merchandise Misrepresentation Return Attempted
                        type: object
                        x-documentation-priority: default
                        x-event-categories: []
                        x-stainless-empty-object: false
                        x-title-plural: Return Attempteds
                      - type: 'null'
                    return_outcome:
                      description: Return outcome.
                      enum:
                      - not_returned
                      - returned
                      - return_attempted
                      type: string
                      x-documentation-priority: default
                      x-enum-descriptions:
                      - Not returned.
                      - Returned.
                      - Return attempted.
                    returned:
                      anyOf:
                      - additionalProperties: false
                        description: Returned. Present if and only if `return_outcome` is `returned`.
                        properties:
                          merchant_received_return_at:
                            anyOf:
                            - description: Merchant received return at.
                              format: date
                              type: string
                              x-documentation-priority: default
                            - type: 'null'
                          other_explanation:
                            anyOf:
                            - description: Other explanation. Required if and only if the return method is `other`.
                              type: string
                              x-documentation-priority: default
                            - type: 'null'
                          return_method:
                            description: Return method.
                            enum:
                            - dhl
                            - face_to_face
                            - fedex
                            - other
                            - postal_service
                            - ups
                            type: string
                            x-documentation-priority: default
                            x-enum-descriptions:
                            - DHL.
                            - Face-to-face.
                            - FedEx.
                            - Other.
                            - Postal service.
                            - UPS.
                          returned_at:
                            description: Returned at.
                            format: date
                            type: string
                            x-documentation-priority: default
                          tracking_number:
                            anyOf:
                            - description: Tracking number.
                              type: string
                              x-documentation-priority: default
                            - type: 'null'
                        required:
                        - merchant_received_return_at
                        - other_explanation
                        - return_method
                        - returned_at
                        - tracking_number
                        title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Merchandise Misrepresentation Returned
                        type: object
                        x-documentation-priority: default
                        x-event-categories: []
                        x-stainless-empty-object: false
                        x-title-plural: Returneds
                      - type: 'null'
                  required:
                  - merchant_resolution_attempted
                  - misrepresentation_explanation
                  - not_returned
                  - purchase_explanation
                  - received_at
                  - return_attempted
                  - return_outcome
                  - returned
                  title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Merchandise Misrepresentation
                  type: object
                  x-documentation-priority: default
                  x-event-categories: []
                  x-stainless-empty-object: false
                  x-title-plural: Consumer Merchandise Misrepresentations
                - type: 'null'
              consumer_merchandise_not_as_described:
                anyOf:
                - additionalProperties: false
                  description: Merchandise not as described. Present if and only if `category` is `consumer_merchandise_not_as_described`.
                  properties:
                    merchant_resolution_attempted:
                      description: Merchant resolution attempted.
                      enum:
                      - attempted
                      - prohibited_by_local_law
                      type: string
                      x-documentation-priority: default
                      x-enum-descriptions:
                      - Attempted.
                      - Prohibited by local law.
                    received_at:
                      description: Received at.
                      format: date
                      type: string
                      x-documentation-priority: default
                    return_attempted:
                      anyOf:
                      - additionalProperties: false
                        description: Return attempted. Present if and only if `return_outcome` is `return_attempted`.
                        properties:
                          attempt_explanation:
                            description: Attempt explanation.
                            type: string
                            x-documentation-priority: default
                          attempt_reason:
                            description: Attempt reason.
                            enum:
                            - merchant_not_responding
                            - no_return_authorization_provided
                            - no_return_instructions
                            - requested_not_to_return
                            - return_not_accepted
                            type: string
                            x-documentation-priority: default
                            x-enum-descriptions:
                            - Merchant not responding.
                            - No return authorization provided.
                            - No return instructions.
                            - Requested not to return.
                            - Return not accepted.
                          attempted_at:
                            description: Attempted at.
                            format: date
                            type: string
                            x-documentation-priority: default
                          merchandise_disposition:
                            description: Merchandise disposition.
                            type: string
                            x-documentation-priority: default
                        required:
                        - attempt_explanation
                        - attempt_reason
                        - attempted_at
                        - merchandise_disposition
                        title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Merchandise Not As Described Return Attempted
                        type: object
                        x-documentation-priority: default
                        x-event-categories: []
                        x-stainless-empty-object: false
                        x-title-plural: Return Attempteds
                      - type: 'null'
                    return_outcome:
                      description: Return outcome.
                      enum:
                      - returned
                      - return_attempted
                      type: string
                      x-documentation-priority: default
                      x-enum-descriptions:
                      - Returned.
                      - Return attempted.
                    returned:
                      anyOf:
                      - additionalProperties: false
                        description: Returned. Present if and only if `return_outcome` is `returned`.
                        properties:
                          merchant_received_return_at:
                            anyOf:
                            - description: Merchant received return at.
                              format: date
                              type: string
                              x-documentation-priority: default
                            - type: 'null'
                          other_explanation:
                            anyOf:
                            - description: Other explanation. Required if and only if the return method is `other`.
                              type: string
                              x-documentation-priority: default
                            - type: 'null'
                          return_method:
                            description: Return method.
                            enum:
                            - dhl
                            - face_to_face
                            - fedex
                            - other
                            - postal_service
                            - ups
                            type: string
                            x-documentation-priority: default
                            x-enum-descriptions:
                            - DHL.
                            - Face-to-face.
                            - FedEx.
                            - Other.
                            - Postal service.
                            - UPS.
                          returned_at:
                            description: Returned at.
                            format: date
                            type: string
                            x-documentation-priority: default
                          tracking_number:
                            anyOf:
                            - description: Tracking number.
                              type: string
                              x-documentation-priority: default
                            - type: 'null'
                        required:
                        - merchant_received_return_at
                        - other_explanation
                        - return_method
                        - returned_at
                        - tracking_number
                        title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Merchandise Not As Described Returned
                        type: object
                        x-documentation-priority: default
                        x-event-categories: []
                        x-stainless-empty-object: false
                        x-title-plural: Returneds
                      - type: 'null'
                  required:
                  - merchant_resolution_attempted
                  - received_at
                  - return_attempted
                  - return_outcome
                  - returned
                  title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Merchandise Not As Described
                  type: object
                  x-documentation-priority: default
                  x-event-categories: []
                  x-stainless-empty-object: false
                  x-title-plural: Consumer Merchandise Not As Describeds
                - type: 'null'
              consumer_merchandise_not_received:
                anyOf:
                - additionalProperties: false
                  description: Merchandise not received. Present if and only if `category` is `consumer_merchandise_not_received`.
                  properties:
                    cancellation_outcome:
                      description: Cancellation outcome.
                      enum:
                      - cardholder_cancellation_prior_to_expected_receipt
                      - merchant_cancellation
                      - no_cancellation
                      type: string
                      x-documentation-priority: default
                      x-enum-descriptions:
                      - Cardholder cancellation prior to expected receipt.
                      - Merchant cancellation.
                      - No cancellation.
                    cardholder_cancellation_prior_to_expected_receipt:
                      anyOf:
                      - additionalProperties: false
                        description: Cardholder cancellation prior to expected receipt. Present if and only if `cancellation_outcome` is `cardholder_cancellation_prior_to_expected_receipt`.
                        properties:
                          canceled_at:
                            description: Canceled at.
                            format: date
                            type: string
                            x-documentation-priority: default
                          reason:
                            anyOf:
                            - description: Reason.
                              type: string
                              x-documentation-priority: default
                            - type: 'null'
                        required:
                        - canceled_at
                        - reason
                        title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Merchandise Not Received Cardholder Cancellation Prior To Expected Receipt
                        type: object
                        x-documentation-priority: default
                        x-event-categories: []
                        x-stainless-empty-object: false
                        x-title-plural: Cardholder Cancellation Prior To Expected Receipts
                      - type: 'null'
                    delayed:
                      anyOf:
                      - additionalProperties: false
                        description: Delayed. Present if and only if `delivery_issue` is `delayed`.
                        properties:
                          explanation:
                            description: Explanation.
                            type: string
                            x-documentation-priority: default
                          not_returned:
                            anyOf:
                            - additionalProperties: false
                              description: Not returned. Present if and only if `return_outcome` is `not_returned`.
                              properties: {}
                              title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Merchandise Not Received Delayed Not Returned
                              type: object
                              x-documentation-priority: default
                              x-event-categories: []
                              x-stainless-empty-object: true
                              x-title-plural: Not Returneds
                            - type: 'null'
                          return_attempted:
                            anyOf:
                            - additionalProperties: false
                              description: Return attempted. Present if and only if `return_outcome` is `return_attempted`.
                              properties:
                                attempted_at:
                                  description: Attempted at.
                                  format: date
                                  type: string
                                  x-documentation-priority: default
                              required:
                              - attempted_at
                              title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Merchandise Not Received Delayed Return Attempted
                              type: object
                              x-documentation-priority: default
                              x-event-categories: []
                              x-stainless-empty-object: false
                              x-title-plural: Return Attempteds
                            - type: 'null'
                          return_outcome:
                            description: Return outcome.
                            enum:
                            - not_returned
                            - returned
                            - return_attempted
                            type: string
                            x-documentation-priority: default
                            x-enum-descriptions:
                            - Not returned.
                            - Returned.
                            - Return attempted.
                          returned:
                            anyOf:
                            - additionalProperties: false
                              description: Returned. Present if and only if `return_outcome` is `returned`.
                              properties:
                                merchant_received_return_at:
                                  description: Merchant received return at.
                                  format: date
                                  type: string
                                  x-documentation-priority: default
                                returned_at:
                                  description: Returned at.
                                  format: date
                                  type: string
                                  x-documentation-priority: default
                              required:
                              - merchant_received_return_at
                              - returned_at
                              title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Merchandise Not Received Delayed Returned
                              type: object
                              x-documentation-priority: default
                              x-event-categories: []
                              x-stainless-empty-object: false
                              x-title-plural: Returneds
                            - type: 'null'
                        required:
                        - explanation
                        - not_returned
                        - return_attempted
                        - return_outcome
                        - returned
                        title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Merchandise Not Received Delayed
                        type: object
                        x-documentation-priority: default
                        x-event-categories: []
                        x-stainless-empty-object: false
                        x-title-plural: Delayeds
                      - type: 'null'
                    delivered_to_wrong_location:
                      anyOf:
                      - additionalProperties: false
                        description: Delivered to wrong location. Present if and only if `delivery_issue` is `delivered_to_wrong_location`.
                        properties:
                          agreed_location:
                            description: Agreed location.
                            type: string
                            x-documentation-priority: default
                        required:
                        - agreed_location
                        title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Merchandise Not Received Delivered To Wrong Location
                        type: object
                        x-documentation-priority: default
                        x-event-categories: []
                        x-stainless-empty-object: false
                        x-title-plural: Delivered To Wrong Locations
                      - type: 'null'
                    delivery_issue:
                      description: Delivery issue.
                      enum:
                      - delayed
                      - delivered_to_wrong_location
                      type: string
                      x-documentation-priority: default
                      x-enum-descriptions:
                      - Delayed.
                      - Delivered to wrong location.
                    last_expected_receipt_at:
                      description: Last expected receipt at.
                      format: date
                      type: string
                      x-documentation-priority: default
                    merchant_cancellation:
                      anyOf:
                      - additionalProperties: false
                        description: Merchant cancellation. Present if and only if `cancellation_outcome` is `merchant_cancellation`.
                        properties:
                          canceled_at:
                            description: Canceled at.
                            format: date
                            type: string
                            x-documentation-priority: default
                        required:
                        - canceled_at
                        title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Merchandise Not Received Merchant Cancellation
                        type: object
                        x-documentation-priority: default
                        x-event-categories: []
                        x-stainless-empty-object: false
                        x-title-plural: Merchant Cancellations
                      - type: 'null'
                    merchant_resolution_attempted:
                      description: Merchant resolution attempted.
                      enum:
                      - attempted
                      - prohibited_by_local_law
                      type: string
                      x-documentation-priority: default
                      x-enum-descriptions:
                      - Attempted.
                      - Prohibited by local law.
                    no_cancellation:
                      anyOf:
                      - additionalProperties: false
                        description: No cancellation. Present if and only if `cancellation_outcome` is `no_cancellation`.
                        properties: {}
                        title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Merchandise Not Received No Cancellation
                        type: object
                        x-documentation-priority: default
                        x-event-categories: []
                        x-stainless-empty-object: true
                        x-title-plural: No Cancellations
                      - type: 'null'
                    purchase_info_and_explanation:
                      description: Purchase information and explanation.
                      type: string
                      x-documentation-priority: default
                  required:
                  - cancellation_outcome
                  - cardholder_cancellation_prior_to_expected_receipt
                  - delayed
                  - delivered_to_wrong_location
                  - delivery_issue
                  - last_expected_receipt_at
                  - merchant_cancellation
                  - merchant_resolution_attempted
                  - no_cancellation
                  - purchase_info_and_explanation
                  title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Merchandise Not Received
                  type: object
                  x-documentation-priority: default
                  x-event-categories: []
                  x-stainless-empty-object: false
                  x-title-plural: Consumer Merchandise Not Receiveds
                - type: 'null'
              consumer_non_receipt_of_cash:
                anyOf:
                - additionalProperties: false
                  description: Non-receipt of cash. Present if and only if `category` is `consumer_non_receipt_of_cash`.
                  properties: {}
                  title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Non Receipt Of Cash
                  type: object
                  x-documentation-priority: default
                  x-event-categories: []
                  x-stainless-empty-object: true
                  x-title-plural: Consumer Non Receipt Of Cashes
                - type: 'null'
              consumer_original_credit_transaction_not_accepted:
                anyOf:
                - additionalProperties: false
                  description: Original Credit Transaction (OCT) not accepted. Present if and only if `category` is `consumer_original_credit_transaction_not_accepted`.
                  properties:
                    explanation:
                      description: Explanation.
                      type: string
                      x-documentation-priority: default
                    reason:
                      description: Reason.
                      enum:
                      - prohibited_by_local_laws_or_regulation
                      - recipient_refused
                      type: string
                      x-documentation-priority: default
                      x-enum-descriptions:
                      - Prohibited by local laws or regulation.
                      - Recipient refused.
                  required:
                  - explanation
                  - reason
                  title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Original Credit Transaction Not Accepted
                  type: object
                  x-documentation-priority: default
                  x-event-categories: []
                  x-stainless-empty-object: false
                  x-title-plural: Consumer Original Credit Transaction Not Accepteds
                - type: 'null'
              consumer_quality_merchandise:
                anyOf:
                - additionalProperties: false
                  description: Merchandise quality issue. Present if and only if `category` is `consumer_quality_merchandise`.
                  properties:
                    expected_at:
                      description: Expected at.
                      format: date
                      type: string
                      x-documentation-priority: default
                    merchant_resolution_attempted:
                      description: Merchant resolution attempted.
                      enum:
                      - attempted
                      - prohibited_by_local_law
                      type: string
                      x-documentation-priority: default
                      x-enum-descriptions:
                      - Attempted.
                      - Prohibited by local law.
                    not_returned:
                      anyOf:
                      - additionalProperties: false
                        description: Not returned. Present if and only if `return_outcome` is `not_returned`.
                        properties: {}
                        title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Quality Merchandise Not Returned
                        type: object
                        x-documentation-priority: default
                        x-event-categories: []
                        x-stainless-empty-object: true
                        x-title-plural: Not Returneds
                      - type: 'null'
                    ongoing_negotiations:
                      anyOf:
                      - additionalProperties: false
                        description: Ongoing negotiations. Exclude if there is no evidence of ongoing negotiations.
                        properties:
                          explanation:
                            description: Explanation of the previous ongoing negotiations between the cardholder and merchant.
                            type: string
                            x-documentation-priority: default
                          issuer_first_notified_at:
                            description: Date the cardholder first notified the issuer of the dispute.
                            format: date
                            type: string
                            x-documentation-priority: default
                          started_at:
                            description: Started at.
                            format: date
                            type: string
                            x-documentation-priority: default
                        required:
                        - explanation
                        - issuer_first_notified_at
                        - started_at
                        title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Quality Merchandise Ongoing Negotiations
                        type: object
                        x-documentation-priority: default
                        x-event-categories: []
                        x-stainless-empty-object: false
                        x-title-plural: Ongoing Negotiations
                      - type: 'null'
                    purchase_info_and_quality_issue:
                      description: Purchase information and quality issue.
                      type: string
                      x-documentation-priority: default
                    received_at:
                      description: Received at.
                      format: date
                      type: string
                      x-documentation-priority: default
                    return_attempted:
                      anyOf:
                      - additionalProperties: false
                        description: Return attempted. Present if and only if `return_outcome` is `return_attempted`.
                        properties:
                          attempt_explanation:
                            description: Attempt explanation.
                            type: string
                            x-documentation-priority: default
                          attempt_reason:
                            description: Attempt reason.
                            enum:
                            - merchant_not_responding
                            - no_return_authorization_provided
                            - no_return_instructions
                            - requested_not_to_return
                            - return_not_accepted
                            type: string
                            x-documentation-priority: default
                            x-enum-descriptions:
                            - Merchant not responding.
                            - No return authorization provided.
                            - No return instructions.
                            - Requested not to return.
                            - Return not accepted.
                          attempted_at:
                            description: Attempted at.
                            format: date
                            type: string
                            x-documentation-priority: default
                          merchandise_disposition:
                            description: Merchandise disposition.
                            type: string
                            x-documentation-priority: default
                        required:
                        - attempt_explanation
                        - attempt_reason
                        - attempted_at
                        - merchandise_disposition
                        title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Quality Merchandise Return Attempted
                        type: object
                        x-documentation-priority: default
                        x-event-categories: []
                        x-stainless-empty-object: false
                        x-title-plural: Return Attempteds
                      - type: 'null'
                    return_outcome:
                      description: Return outcome.
                      enum:
                      - not_returned
                      - returned
                      - return_attempted
                      type: string
                      x-documentation-priority: default
                      x-enum-descriptions:
                      - Not returned.
                      - Returned.
                      - Return attempted.
                    returned:
                      anyOf:
                      - additionalProperties: false
                        description: Returned. Present if and only if `return_outcome` is `returned`.
                        properties:
                          merchant_received_return_at:
                            anyOf:
                            - description: Merchant received return at.
                              format: date
                              type: string
                              x-documentation-priority: default
                            - type: 'null'
                          other_explanation:
                            anyOf:
                            - description: Other explanation. Required if and only if the return method is `other`.
                              type: string
                              x-documentation-priority: default
                            - type: 'null'
                          return_method:
                            description: Return method.
                            enum:
                            - dhl
                            - face_to_face
                            - fedex
                            - other
                            - postal_service
                            - ups
                            type: string
                            x-documentation-priority: default
                            x-enum-descriptions:
                            - DHL.
                            - Face-to-face.
                            - FedEx.
                            - Other.
                            - Postal service.
                            - UPS.
                          returned_at:
                            description: Returned at.
                            format: date
                            type: string
                            x-documentation-priority: default
                          tracking_number:
                            anyOf:
                            - description: Tracking number.
                              type: string
                              x-documentation-priority: default
                            - type: 'null'
                        required:
                        - merchant_received_return_at
                        - other_explanation
                        - return_method
                        - returned_at
                        - tracking_number
                        title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Quality Merchandise Returned
                        type: object
                        x-documentation-priority: default
                        x-event-categories: []
                        x-stainless-empty-object: false
                        x-title-plural: Returneds
                      - type: 'null'
                  required:
                  - expected_at
                  - merchant_resolution_attempted
                  - not_returned
                  - ongoing_negotiations
                  - purchase_info_and_quality_issue
                  - received_at
                  - return_attempted
                  - return_outcome
                  - returned
                  title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Quality Merchandise
                  type: object
                  x-documentation-priority: default
                  x-event-categories: []
                  x-stainless-empty-object: false
                  x-title-plural: Consumer Quality Merchandises
                - type: 'null'
              consumer_quality_services:
                anyOf:
                - additionalProperties: false
                  description: Services quality issue. Present if and only if `category` is `consumer_quality_services`.
                  properties:
                    cardholder_cancellation:
                      additionalProperties: false
                      description: Cardholder cancellation.
                      properties:
                        accepted_by_merchant:
                          description: Accepted by merchant.
                          enum:
                          - accepted
                          - not_accepted
                          type: string
                          x-documentation-priority: default
                          x-enum-descriptions:
                          - Accepted.
                          - Not accepted.
                        canceled_at:
                          description: Canceled at.
                          format: date
                          type: string
                          x-documentation-priority: default
                        reason:
                          description: Reason.
                          type: string
                          x-documentation-priority: default
                      required:
                      - accepted_by_merchant
                      - canceled_at
                      - reason
                      title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Quality Services Cardholder Cancellation
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: Cardholder Cancellations
                    cardholder_paid_to_have_work_redone:
                      anyOf:
                      - description: Cardholder paid to have work redone.
                        enum:
                        - did_not_pay_to_have_work_redone
                        - paid_to_have_work_redone
                        type: string
                        x-documentation-priority: default
                        x-enum-descriptions:
                        - Cardholder did not pay to have work redone.
                        - Cardholder paid to have work redone.
                      - type: 'null'
                    non_fiat_currency_or_non_fungible_token_related_and_not_matching_description:
                      description: Non-fiat currency or non-fungible token related and not matching description.
                      enum:
                      - not_related
                      - related
                      type: string
                      x-documentation-priority: default
                      x-enum-descriptions:
                      - Not related.
                      - Related.
                    ongoing_negotiations:
                      anyOf:
                      - additionalProperties: false
                        description: Ongoing negotiations. Exclude if there is no evidence of ongoing negotiations.
                        properties:
                          explanation:
                            description: Explanation of the previous ongoing negotiations between the cardholder and merchant.
                            type: string
                            x-documentation-priority: default
                          issuer_first_notified_at:
                            description: Date the cardholder first notified the issuer of the dispute.
                            format: date
                            type: string
                            x-documentation-priority: default
                          started_at:
                            description: Started at.
                            format: date
                            type: string
                            x-documentation-priority: default
                        required:
                        - explanation
                        - issuer_first_notified_at
                        - started_at
                        title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Quality Services Ongoing Negotiations
                        type: object
                        x-documentation-priority: default
                        x-event-categories: []
                        x-stainless-empty-object: false
                        x-title-plural: Ongoing Negotiations
                      - type: 'null'
                    purchase_info_and_quality_issue:
                      description: Purchase information and quality issue.
                      type: string
                      x-documentation-priority: default
                    restaurant_food_related:
                      anyOf:
                      - description: Whether the dispute is related to the quality of food from an eating place or restaurant. Must be provided when Merchant Category Code (MCC) is 5812, 5813 or 5814.
                        enum:
                        - not_related
                        - related
                        type: string
                        x-documentation-priority: default
                        x-enum-descriptions:
                        - Not related.
                        - Related.
                      - type: 'null'
                    services_received_at:
                      description: Services received at.
                      format: date
                      type: string
                      x-documentation-priority: default
                  required:
                  - cardholder_cancellation
                  - cardholder_paid_to_have_work_redone
                  - non_fiat_currency_or_non_fungible_token_related_and_not_matching_description
                  - ongoing_negotiations
                  - purchase_info_and_quality_issue
                  - restaurant_food_related
                  - services_received_at
                  title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Quality Services
                  type: object
                  x-documentation-priority: default
                  x-event-categories: []
                  x-stainless-empty-object: false
                  x-title-plural: Consumer Quality Services
                - type: 'null'
              consumer_services_misrepresentation:
                anyOf:
                - additionalProperties: false
                  description: Services misrepresentation. Present if and only if `category` is `consumer_services_misrepresentation`.
                  properties:
                    cardholder_cancellation:
                      additionalProperties: false
                      description: Cardholder cancellation.
                      properties:
                        accepted_by_merchant:
                          description: Accepted by merchant.
                          enum:
                          - accepted
                          - not_accepted
                          type: string
                          x-documentation-priority: default
                          x-enum-descriptions:
                          - Accepted.
                          - Not accepted.
                        canceled_at:
                          description: Canceled at.
                          format: date
                          type: string
                          x-documentation-priority: default
                        reason:
                          description: Reason.
                          type: string
                          x-documentation-priority: default
                      required:
                      - accepted_by_merchant
                      - canceled_at
                      - reason
                      title: Visa Card Dispute User Submission Visa Card Dispute Chargeback User Submission Chargeback Details Consumer Services Misrepresentation Cardholder Cancellation
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: Cardholder Cancellations
                    merchant_resolution_attempted:
                      description: Merchant resolution attempted.
                      enum:
                      - attempted
                      - prohibited_by_local_law
                      type: string
                      x-documentation-priority: default
                      x-enum-descriptions:
                      - Attempted.
                      - Prohibited by local law.
                    misrepresentation_explanation:
                      description: Misrepresentation explanation.
                      type: string
                      x-documentation-priority: default
                    purchase_explanation:
                      description: Purchase explanation.
                      type: string
                      x-documentation-priority: default
                    received_at:
                      description: Received at.
[...]
