openapi: 3.1.0
info:
  description: Anything that you can achieve with PDFs, presence, and persistence in a bank branch you can do with our API. We've always wanted a fully programmatic bank so we built one. Our API faithfully exposes the data and capabilities of the Federal Reserve, Visa, The Clearing House, depository networks, and accounting tools. It's lovingly boring and exceptionally powerful. If you have any questions or want to get started, don't hesitate to ping us at sales@increase.com. We can't wait to see what you build!
  title: Increase Account Numbers Files API
  version: 0.0.1
servers:
- url: https://api.increase.com
- url: https://sandbox.increase.com
security:
- bearerAuth: []
tags:
- description: Files are objects that represent a file hosted on Increase's servers. The file may have been uploaded by you (for example, when uploading a check image) or it may have been created by Increase (for example, an autogenerated statement PDF). If you need to download a File, create a File Link.
  name: Files
paths:
  /files:
    get:
      operationId: list_files
      parameters:
      - in: query
        name: cursor
        required: false
        schema:
          description: Return the page of entries after this one.
          type: string
          x-documentation-priority: low
      - in: query
        name: limit
        required: false
        schema:
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          minimum: 1
          type: integer
          x-documentation-priority: low
      - in: query
        name: created_at.after
        required: false
        schema:
          description: Return results after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: created_at.before
        required: false
        schema:
          description: Return results before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: created_at.on_or_after
        required: false
        schema:
          description: Return results on or after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: created_at.on_or_before
        required: false
        schema:
          description: Return results on or before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: purpose.in
        required: false
        schema:
          description: Filter Files for those with the specified purpose or purposes. For GET requests, this should be encoded as a comma-delimited string, such as `?in=one,two,three`.
          items:
            enum:
            - card_dispute_attachment
            - check_image_front
            - check_image_back
            - processed_check_image_front
            - processed_check_image_back
            - mailed_check_image
            - check_attachment
            - check_voucher_image
            - check_signature
            - inbound_mail_item
            - form_1099_int
            - form_1099_misc
            - form_ss_4
            - identity_document
            - increase_statement
            - loan_application_supplemental_document
            - other
            - trust_formation_document
            - digital_wallet_artwork
            - digital_wallet_app_icon
            - physical_card_front
            - physical_card_back
            - physical_card_carrier
            - document_request
            - entity_supplemental_document
            - export
            - fee_statement
            - unusual_activity_report_attachment
            - deposit_account_control_agreement
            - proof_of_authorization_request_submission
            - account_verification_letter
            - funding_instructions
            - hold_harmless_letter
            type: string
            x-enum-descriptions:
            - A file to be attached to a Card Dispute.
            - An image of the front of a check, used for check deposits.
            - An image of the back of a check, used for check deposits.
            - An image of the front of a deposited check after processing by Increase and submission to the Federal Reserve.
            - An image of the back of a deposited check after processing by Increase and submission to the Federal Reserve.
            - An image of a check that was mailed to a recipient.
            - A document to be printed on an additional page and mailed with a check that you've requested Increase print. This must be a PDF whose pages are all US letter size and all have the same orientation.
            - An image to be used as the check voucher image, which is printed in the middle of the trifold area of a check. This must be a 2550x1100 pixel PNG.
            - A signature image to be printed on a check. This must be a 1320x120 pixel PNG.
            - A scanned mail item sent to Increase.
            - IRS Form 1099-INT.
            - IRS Form 1099-MISC.
            - IRS Form SS-4.
            - An image of a government-issued ID.
            - A statement generated by Increase.
            - A supplemental document for a Loan Application.
            - A file purpose not covered by any of the other cases.
            - A legal document forming a trust.
            - A card image to be rendered inside digital wallet apps. This must be a 1536x969 pixel PNG.
            - An icon for you app to be rendered inside digital wallet apps. This must be a 100x100 pixel PNG.
            - A card image to be printed on the front of a physical card. This must be a 2100x1344 pixel PNG with no other color but black.
            - The image to be printed on the back of a physical card.
            - An image representing the entirety of the carrier used for a physical card. This must be a 2550x3300 pixel PNG with no other color but black.
            - A document requested by Increase.
            - A supplemental document associated an an Entity.
            - The results of an Export you requested via the dashboard or API.
            - A fee statement.
            - An attachment to an Unusual Activity Report.
            - A document granting another entity access to the funds into your account.
            - A file containing additional evidence for a Proof of Authorization Request Submission.
            - An account verification letter.
            - Funding instructions.
            - A Hold Harmless Letter.
          type: array
          x-documentation-priority: default
        explode: false
      - in: query
        name: idempotency_key
        required: false
        schema:
          description: Filter records to the one with the specified `idempotency_key` you chose for that object. This value is unique across Increase and is used to ensure that a request is only processed once. Learn more about [idempotency](https://increase.com/documentation/idempotency-keys).
          maxLength: 200
          minLength: 1
          type: string
          x-documentation-priority: default
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/file_list'
          description: File List
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: List Files
      x-sandbox-only: false
      x-tag: Files
      tags:
      - Files
    post:
      description: To upload a file to Increase, you'll need to send a request of Content-Type `multipart/form-data`. The request should contain the file you would like to upload, as well as the parameters for creating a file.
      operationId: create_a_file
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/create_a_file_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/file'
          description: File
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: Create a File
      x-sandbox-only: false
      x-tag: Files
      tags:
      - Files
  /files/{file_id}:
    get:
      operationId: retrieve_a_file
      parameters:
      - example: file_makxrc67oh9l6sg7w9yc
        in: path
        name: file_id
        required: true
        schema:
          description: The identifier of the File.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Files
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/file'
          description: File
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: Retrieve a File
      x-sandbox-only: false
      x-tag: Files
      tags:
      - Files
components:
  schemas:
    error:
      anyOf:
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 404
            type: integer
          title:
            type: string
          type:
            enum:
            - api_method_not_found_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - environment_mismatch_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          resource_id:
            description: ''
            type: string
            x-documentation-priority: default
          status:
            enum:
            - 409
            type: integer
          title:
            type: string
          type:
            enum:
            - idempotency_key_already_used_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - resource_id
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - insufficient_permissions_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 500
            type: integer
          title:
            type: string
          type:
            enum:
            - internal_server_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          reason:
            description: ''
            enum:
            - deleted_credential
            - expired_credential
            - ip_not_allowed
            - no_credential
            - no_header
            - no_api_access
            - wrong_environment
            type: string
            x-documentation-priority: default
            x-enum-descriptions:
            - deleted_credential
            - expired_credential
            - ip_not_allowed
            - no_credential
            - no_header
            - no_api_access
            - wrong_environment
          status:
            enum:
            - 401
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_api_key_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - reason
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 409
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_operation_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          errors:
            description: All errors related to parsing the request parameters.
            items:
              additionalProperties: true
              properties: {}
              title: ErrorsElement
              type: object
              x-event-categories: []
              x-stainless-empty-object: false
              x-title-plural: ErrorsElements
            type: array
            x-documentation-priority: default
          status:
            enum:
            - 400
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_parameters_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - errors
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 400
            type: integer
          title:
            type: string
          type:
            enum:
            - malformed_request_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 404
            type: integer
          title:
            type: string
          type:
            enum:
            - object_not_found_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - private_feature_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          retry_after:
            anyOf:
            - description: ''
              type: integer
              x-documentation-priority: default
            - type: 'null'
          status:
            enum:
            - 429
            type: integer
          title:
            type: string
          type:
            enum:
            - rate_limited_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
    file_list:
      additionalProperties: true
      description: A list of File objects.
      example:
        data:
        - created_at: '2020-01-31T23:59:59Z'
          description: 2022-05 statement for checking account
          direction: from_increase
          filename: statement.pdf
          id: file_makxrc67oh9l6sg7w9yc
          idempotency_key: null
          mime_type: application/pdf
          purpose: increase_statement
          type: file
        next_cursor: v57w5d
      properties:
        data:
          description: The contents of the list.
          items:
            $ref: '#/components/schemas/file'
          type: array
          x-documentation-priority: default
        next_cursor:
          anyOf:
          - description: A pointer to a place in the list. Pass this as the `cursor` parameter to retrieve the next page of results. If there are no more results, the value will be `null`.
            type: string
            x-documentation-priority: default
          - type: 'null'
      required:
      - data
      - next_cursor
      title: File List
      type: object
      x-event-categories: []
      x-stainless-empty-object: false
      x-title-plural: File Lists
    create_a_file_parameters:
      additionalProperties: true
      example:
        file: '"@tax_form.pdf"'
        purpose: check_image_front
      properties:
        description:
          description: The description you choose to give the File.
          maxLength: 200
          minLength: 1
          type: string
          x-documentation-priority: default
        file:
          description: The file contents. This should follow the specifications of [RFC 7578](https://datatracker.ietf.org/doc/html/rfc7578) which defines file transfers for the multipart/form-data protocol.
          format: binary
          type: string
          x-documentation-priority: default
        purpose:
          description: What the File will be used for in Increase's systems.
          enum:
          - card_dispute_attachment
          - check_image_front
          - check_image_back
          - mailed_check_image
          - check_attachment
          - check_voucher_image
          - check_signature
          - form_ss_4
          - identity_document
          - loan_application_supplemental_document
          - other
          - trust_formation_document
          - digital_wallet_artwork
          - digital_wallet_app_icon
          - physical_card_front
          - physical_card_carrier
          - document_request
          - entity_supplemental_document
          - unusual_activity_report_attachment
          - proof_of_authorization_request_submission
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - A file to be attached to a Card Dispute.
          - An image of the front of a check, used for check deposits.
          - An image of the back of a check, used for check deposits.
          - An image of a check that was mailed to a recipient.
          - A document to be printed on an additional page and mailed with a check that you've requested Increase print. This must be a PDF whose pages are all US letter size and all have the same orientation.
          - An image to be used as the check voucher image, which is printed in the middle of the trifold area of a check. This must be a 2550x1100 pixel PNG.
          - A signature image to be printed on a check. This must be a 1320x120 pixel PNG.
          - IRS Form SS-4.
          - An image of a government-issued ID.
          - A supplemental document for a Loan Application.
          - A file purpose not covered by any of the other cases.
          - A legal document forming a trust.
          - A card image to be rendered inside digital wallet apps. This must be a 1536x969 pixel PNG.
          - An icon for you app to be rendered inside digital wallet apps. This must be a 100x100 pixel PNG.
          - A card image to be printed on the front of a physical card. This must be a 2100x1344 pixel PNG with no other color but black.
          - An image representing the entirety of the carrier used for a physical card. This must be a 2550x3300 pixel PNG with no other color but black.
          - A document requested by Increase.
          - A supplemental document associated an an Entity.
          - An attachment to an Unusual Activity Report.
          - A file containing additional evidence for a Proof of Authorization Request Submission.
      required:
      - file
      - purpose
      type: object
      x-event-categories: []
      x-stainless-empty-object: false
    file:
      additionalProperties: true
      description: Files are objects that represent a file hosted on Increase's servers. The file may have been uploaded by you (for example, when uploading a check image) or it may have been created by Increase (for example, an autogenerated statement PDF). If you need to download a File, create a File Link.
      example:
        created_at: '2020-01-31T23:59:59Z'
        description: 2022-05 statement for checking account
        direction: from_increase
        filename: statement.pdf
        id: file_makxrc67oh9l6sg7w9yc
        idempotency_key: null
        mime_type: application/pdf
        purpose: increase_statement
        type: file
      properties:
        created_at:
          description: The time the File was created.
          format: date-time
          type: string
          x-documentation-priority: default
        description:
          anyOf:
          - description: A description of the File.
            type: string
            x-documentation-priority: default
          - type: 'null'
        direction:
          description: Whether the File was generated by Increase or by you and sent to Increase.
          enum:
          - to_increase
          - from_increase
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - This File was sent by you to Increase.
          - This File was generated by Increase.
        filename:
          anyOf:
          - description: The filename that was provided upon upload or generated by Increase.
            type: string
            x-documentation-priority: default
          - type: 'null'
        id:
          description: The File's identifier.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Files
        idempotency_key:
          anyOf:
          - description: The idempotency key you chose for this object. This value is unique across Increase and is used to ensure that a request is only processed once. Learn more about [idempotency](https://increase.com/documentation/idempotency-keys).
            type: string
            x-documentation-priority: default
          - type: 'null'
        mime_type:
          description: The MIME type of the file.
          type: string
          x-documentation-priority: default
        purpose:
          description: What the File will be used for. We may add additional possible values for this enum over time; your application should be able to handle such additions gracefully.
          enum:
          - card_dispute_attachment
          - check_image_front
          - check_image_back
          - processed_check_image_front
          - processed_check_image_back
          - mailed_check_image
          - check_attachment
          - check_voucher_image
          - check_signature
          - inbound_mail_item
          - form_1099_int
          - form_1099_misc
          - form_ss_4
          - identity_document
          - increase_statement
          - loan_application_supplemental_document
          - other
          - trust_formation_document
          - digital_wallet_artwork
          - digital_wallet_app_icon
          - physical_card_front
          - physical_card_back
          - physical_card_carrier
          - document_request
          - entity_supplemental_document
          - export
          - fee_statement
          - unusual_activity_report_attachment
          - deposit_account_control_agreement
          - proof_of_authorization_request_submission
          - account_verification_letter
          - funding_instructions
          - hold_harmless_letter
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - A file to be attached to a Card Dispute.
          - An image of the front of a check, used for check deposits.
          - An image of the back of a check, used for check deposits.
          - An image of the front of a deposited check after processing by Increase and submission to the Federal Reserve.
          - An image of the back of a deposited check after processing by Increase and submission to the Federal Reserve.
          - An image of a check that was mailed to a recipient.
          - A document to be printed on an additional page and mailed with a check that you've requested Increase print. This must be a PDF whose pages are all US letter size and all have the same orientation.
          - An image to be used as the check voucher image, which is printed in the middle of the trifold area of a check. This must be a 2550x1100 pixel PNG.
          - A signature image to be printed on a check. This must be a 1320x120 pixel PNG.
          - A scanned mail item sent to Increase.
          - IRS Form 1099-INT.
          - IRS Form 1099-MISC.
          - IRS Form SS-4.
          - An image of a government-issued ID.
          - A statement generated by Increase.
          - A supplemental document for a Loan Application.
          - A file purpose not covered by any of the other cases.
          - A legal document forming a trust.
          - A card image to be rendered inside digital wallet apps. This must be a 1536x969 pixel PNG.
          - An icon for you app to be rendered inside digital wallet apps. This must be a 100x100 pixel PNG.
          - A card image to be printed on the front of a physical card. This must be a 2100x1344 pixel PNG with no other color but black.
          - The image to be printed on the back of a physical card.
          - An image representing the entirety of the carrier used for a physical card. This must be a 2550x3300 pixel PNG with no other color but black.
          - A document requested by Increase.
          - A supplemental document associated an an Entity.
          - The results of an Export you requested via the dashboard or API.
          - A fee statement.
          - An attachment to an Unusual Activity Report.
          - A document granting another entity access to the funds into your account.
          - A file containing additional evidence for a Proof of Authorization Request Submission.
          - An account verification letter.
          - Funding instructions.
          - A Hold Harmless Letter.
        type:
          description: A constant representing the object's type. For this resource it will always be `file`.
          enum:
          - file
          type: string
          x-documentation-priority: default
      required:
      - type
      - created_at
      - id
      - purpose
      - description
      - direction
      - mime_type
      - filename
      - idempotency_key
      title: File
      type: object
      x-event-categories:
      - file.created
      x-stainless-empty-object: false
      x-tag: Files
      x-title-plural: Files
  responses:
    errorResponse:
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/error'
      description: Error
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
x-tagGroups:
- name: Accounts
  tags:
  - Accounts
  - Account Numbers
  - Account Transfers
- name: Transactions
  tags:
  - Transactions
  - Pending Transactions
  - Declined Transactions
- name: Ach Transfers
  tags:
  - ACH Transfers
  - Inbound ACH Transfers
  - ACH Prenotifications
- name: Check Transfers
  tags:
  - Check Transfers
  - Inbound Check Deposits
- name: Real Time Payments Transfers
  tags:
  - Real-Time Payments Transfers
  - Inbound Real-Time Payments Transfers
- name: Fednow Transfers
  tags:
  - FedNow Transfers
  - Inbound FedNow Transfers
- name: Swift Transfers
  tags:
  - Swift Transfers
- name: Wire Transfers
  tags:
  - Wire Transfers
  - Inbound Wire Transfers
  - Wire Drawdown Requests
  - Inbound Wire Drawdown Requests
- name: Card Transfers
  tags:
  - Card Tokens
  - Card Push Transfers
  - Card Validations
- name: Check Deposits
  tags:
  - Check Deposits
  - Lockbox Addresses
  - Lockbox Recipients
  - Inbound Mail Items
- name: Cards
  tags:
  - Cards
  - Card Payments
  - Card Purchase Supplements
  - Card Disputes
  - Physical Cards
  - Digital Card Profiles
  - Physical Card Profiles
  - Digital Wallet Tokens
- name: Compliance
  tags:
  - Entities
  - Beneficial Owners
  - Supplemental Documents
  - Entity Onboarding Sessions
  - Programs
- name: Events and Webhooks
  tags:
  - Events
  - Event Subscriptions
  - Real-Time Decisions
- name: External Accounts
  tags:
  - Routing Numbers
  - External Accounts
- name: Files and Exports
  tags:
  - Account Statements
  - Files
  - File Links
  - Exports
- name: OAuth
  tags:
  - Groups
  - OAuth Applications
  - OAuth Connections
  - OAuth Tokens
- name: Intrafi
  tags:
  - IntraFi Account Enrollments
  - IntraFi Balances
  - IntraFi Exclusions
