openapi: 3.1.0
info:
  description: Anything that you can achieve with PDFs, presence, and persistence in a bank branch you can do with our API. We've always wanted a fully programmatic bank so we built one. Our API faithfully exposes the data and capabilities of the Federal Reserve, Visa, The Clearing House, depository networks, and accounting tools. It's lovingly boring and exceptionally powerful. If you have any questions or want to get started, don't hesitate to ping us at sales@increase.com. We can't wait to see what you build!
  title: Increase Account Numbers Transactions API
  version: 0.0.1
servers:
- url: https://api.increase.com
- url: https://sandbox.increase.com
security:
- bearerAuth: []
tags:
- description: Transactions are the immutable additions and removals of money from your bank account. They're the equivalent of line items on your bank statement. To learn more, see [Transactions and Transfers](/documentation/transactions-transfers).
  name: Transactions
paths:
  /transactions:
    get:
      operationId: list_transactions
      parameters:
      - in: query
        name: cursor
        required: false
        schema:
          description: Return the page of entries after this one.
          type: string
          x-documentation-priority: low
      - in: query
        name: limit
        required: false
        schema:
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          minimum: 1
          type: integer
          x-documentation-priority: low
      - in: query
        name: account_id
        required: false
        schema:
          description: Filter Transactions for those belonging to the specified Account.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Accounts
      - in: query
        name: created_at.after
        required: false
        schema:
          description: Return results after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: created_at.before
        required: false
        schema:
          description: Return results before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: created_at.on_or_after
        required: false
        schema:
          description: Return results on or after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: created_at.on_or_before
        required: false
        schema:
          description: Return results on or before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: category.in
        required: false
        schema:
          description: Return results whose value is in the provided list. For GET requests, this should be encoded as a comma-delimited string, such as `?in=one,two,three`.
          items:
            enum:
            - account_transfer_intention
            - ach_transfer_intention
            - ach_transfer_rejection
            - ach_transfer_return
            - cashback_payment
            - card_dispute_acceptance
            - card_dispute_financial
            - card_dispute_loss
            - card_refund
            - card_settlement
            - card_financial
            - card_revenue_payment
            - check_deposit_acceptance
            - check_deposit_return
            - fednow_transfer_acknowledgement
            - check_transfer_deposit
            - fee_payment
            - inbound_ach_transfer
            - inbound_ach_transfer_return_intention
            - inbound_check_deposit_return_intention
            - inbound_check_adjustment
            - inbound_fednow_transfer_confirmation
            - inbound_real_time_payments_transfer_confirmation
            - inbound_wire_reversal
            - inbound_wire_transfer
            - inbound_wire_transfer_reversal
            - interest_payment
            - internal_source
            - real_time_payments_transfer_acknowledgement
            - sample_funds
            - wire_transfer_intention
            - swift_transfer_intention
            - swift_transfer_return
            - card_push_transfer_acceptance
            - account_revenue_payment
            - blockchain_onramp_transfer_intention
            - blockchain_offramp_transfer_settlement
            - other
            type: string
            x-enum-descriptions:
            - 'Account Transfer Intention: details will be under the `account_transfer_intention` object.'
            - 'ACH Transfer Intention: details will be under the `ach_transfer_intention` object.'
            - 'ACH Transfer Rejection: details will be under the `ach_transfer_rejection` object.'
            - 'ACH Transfer Return: details will be under the `ach_transfer_return` object.'
            - 'Cashback Payment: details will be under the `cashback_payment` object.'
            - 'Legacy Card Dispute Acceptance: details will be under the `card_dispute_acceptance` object.'
            - 'Card Dispute Financial: details will be under the `card_dispute_financial` object.'
            - 'Legacy Card Dispute Loss: details will be under the `card_dispute_loss` object.'
            - 'Card Refund: details will be under the `card_refund` object.'
            - 'Card Settlement: details will be under the `card_settlement` object.'
            - 'Card Financial: details will be under the `card_financial` object.'
            - 'Card Revenue Payment: details will be under the `card_revenue_payment` object.'
            - 'Check Deposit Acceptance: details will be under the `check_deposit_acceptance` object.'
            - 'Check Deposit Return: details will be under the `check_deposit_return` object.'
            - 'FedNow Transfer Acknowledgement: details will be under the `fednow_transfer_acknowledgement` object.'
            - 'Check Transfer Deposit: details will be under the `check_transfer_deposit` object.'
            - 'Fee Payment: details will be under the `fee_payment` object.'
            - 'Inbound ACH Transfer Intention: details will be under the `inbound_ach_transfer` object.'
            - 'Inbound ACH Transfer Return Intention: details will be under the `inbound_ach_transfer_return_intention` object.'
            - 'Inbound Check Deposit Return Intention: details will be under the `inbound_check_deposit_return_intention` object.'
            - 'Inbound Check Adjustment: details will be under the `inbound_check_adjustment` object.'
            - 'Inbound FedNow Transfer Confirmation: details will be under the `inbound_fednow_transfer_confirmation` object.'
            - 'Inbound Real-Time Payments Transfer Confirmation: details will be under the `inbound_real_time_payments_transfer_confirmation` object.'
            - 'Inbound Wire Reversal: details will be under the `inbound_wire_reversal` object.'
            - 'Inbound Wire Transfer Intention: details will be under the `inbound_wire_transfer` object.'
            - 'Inbound Wire Transfer Reversal Intention: details will be under the `inbound_wire_transfer_reversal` object.'
            - 'Interest Payment: details will be under the `interest_payment` object.'
            - 'Internal Source: details will be under the `internal_source` object.'
            - 'Real-Time Payments Transfer Acknowledgement: details will be under the `real_time_payments_transfer_acknowledgement` object.'
            - 'Sample Funds: details will be under the `sample_funds` object.'
            - 'Wire Transfer Intention: details will be under the `wire_transfer_intention` object.'
            - 'Swift Transfer Intention: details will be under the `swift_transfer_intention` object.'
            - 'Swift Transfer Return: details will be under the `swift_transfer_return` object.'
            - 'Card Push Transfer Acceptance: details will be under the `card_push_transfer_acceptance` object.'
            - 'Account Revenue Payment: details will be under the `account_revenue_payment` object.'
            - 'Blockchain On-Ramp Transfer Intention: details will be under the `blockchain_onramp_transfer_intention` object.'
            - 'Blockchain Off-Ramp Transfer Settlement: details will be under the `blockchain_offramp_transfer_settlement` object.'
            - The Transaction was made for an undocumented or deprecated reason.
          type: array
          x-documentation-priority: default
        explode: false
      - in: query
        name: route_id
        required: false
        schema:
          description: Filter Transactions for those belonging to the specified route. This could be a Card ID or an Account Number ID.
          type: string
          x-documentation-priority: default
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction_list'
          description: Transaction List
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: List Transactions
      x-sandbox-only: false
      x-tag: Transactions
      tags:
      - Transactions
  /transactions/{transaction_id}:
    get:
      operationId: retrieve_a_transaction
      parameters:
      - example: transaction_uyrp7fld2ium70oa7oi
        in: path
        name: transaction_id
        required: true
        schema:
          description: The identifier of the Transaction to retrieve.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Transactions
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
          description: Transaction
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: Retrieve a Transaction
      x-sandbox-only: false
      x-tag: Transactions
      tags:
      - Transactions
components:
  schemas:
    inbound_check_adjustment:
      additionalProperties: true
      description: An Inbound Check Adjustment is created when Increase receives an adjustment for a check or return deposited through Check21.
      example:
        adjusted_transaction_id: transaction_uyrp7fld2ium70oa7oi
        amount: 1750
        reason: late_return
      properties:
        adjusted_transaction_id:
          description: The ID of the transaction that was adjusted.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Transactions
        amount:
          description: The amount of the check adjustment.
          type: integer
          x-documentation-priority: default
        reason:
          description: The reason for the adjustment.
          enum:
          - late_return
          - wrong_payee_credit
          - adjusted_amount
          - non_conforming_item
          - paid
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - The return was initiated too late and the receiving institution has responded with a Late Return Claim.
          - The check was deposited to the wrong payee and the depositing institution has reimbursed the funds with a Wrong Payee Credit.
          - The check was deposited with a different amount than what was written on the check.
          - The recipient was not able to process the check. This usually happens for e.g., low quality images.
          - The check has already been deposited elsewhere and so this is a duplicate.
      required:
      - adjusted_transaction_id
      - amount
      - reason
      title: Inbound Check Adjustment
      type: object
      x-event-categories: []
      x-stainless-empty-object: false
      x-title-plural: Inbound Check Adjustments
    error:
      anyOf:
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 404
            type: integer
          title:
            type: string
          type:
            enum:
            - api_method_not_found_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - environment_mismatch_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          resource_id:
            description: ''
            type: string
            x-documentation-priority: default
          status:
            enum:
            - 409
            type: integer
          title:
            type: string
          type:
            enum:
            - idempotency_key_already_used_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - resource_id
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - insufficient_permissions_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 500
            type: integer
          title:
            type: string
          type:
            enum:
            - internal_server_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          reason:
            description: ''
            enum:
            - deleted_credential
            - expired_credential
            - ip_not_allowed
            - no_credential
            - no_header
            - no_api_access
            - wrong_environment
            type: string
            x-documentation-priority: default
            x-enum-descriptions:
            - deleted_credential
            - expired_credential
            - ip_not_allowed
            - no_credential
            - no_header
            - no_api_access
            - wrong_environment
          status:
            enum:
            - 401
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_api_key_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - reason
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 409
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_operation_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          errors:
            description: All errors related to parsing the request parameters.
            items:
              additionalProperties: true
              properties: {}
              title: ErrorsElement
              type: object
              x-event-categories: []
              x-stainless-empty-object: false
              x-title-plural: ErrorsElements
            type: array
            x-documentation-priority: default
          status:
            enum:
            - 400
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_parameters_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - errors
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 400
            type: integer
          title:
            type: string
          type:
            enum:
            - malformed_request_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 404
            type: integer
          title:
            type: string
          type:
            enum:
            - object_not_found_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - private_feature_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          retry_after:
            anyOf:
            - description: ''
              type: integer
              x-documentation-priority: default
            - type: 'null'
          status:
            enum:
            - 429
            type: integer
          title:
            type: string
          type:
            enum:
            - rate_limited_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
    transaction_list:
      additionalProperties: true
      description: A list of Transaction objects.
      example:
        data:
        - account_id: account_in71c4amph0vgo2qllky
          amount: 100
          created_at: '2020-01-31T23:59:59Z'
          currency: USD
          description: INVOICE 2468
          id: transaction_uyrp7fld2ium70oa7oi
          route_id: account_number_v18nkfqm6afpsrvy82b2
          route_type: account_number
          source:
            category: inbound_ach_transfer
            inbound_ach_transfer:
              addenda: null
              amount: 100
              originator_company_descriptive_date: null
              originator_company_discretionary_data: null
              originator_company_entry_description: RESERVE
              originator_company_id: 0987654321
              originator_company_name: BIG BANK
              receiver_id_number: '12345678900'
              receiver_name: IAN CREASE
              trace_number: 021000038461022
              transfer_id: inbound_ach_transfer_tdrwqr3fq9gnnq49odev
          type: transaction
        next_cursor: v57w5d
      properties:
        data:
          description: The contents of the list.
          items:
            $ref: '#/components/schemas/transaction'
          type: array
          x-documentation-priority: default
        next_cursor:
          anyOf:
          - description: A pointer to a place in the list. Pass this as the `cursor` parameter to retrieve the next page of results. If there are no more results, the value will be `null`.
            type: string
            x-documentation-priority: default
          - type: 'null'
      required:
      - data
      - next_cursor
      title: Transaction List
      type: object
      x-event-categories: []
      x-stainless-empty-object: false
      x-title-plural: Transaction Lists
    inbound_check_deposit_return_intention:
      additionalProperties: true
      description: An Inbound Check Deposit Return Intention is created when Increase receives an Inbound Check and the User requests that it be returned.
      example:
        inbound_check_deposit_id: inbound_check_deposit_zoshvqybq0cjjm31mra
        transfer_id: check_transfer_30b43acfu9vw8fyc4f5
      properties:
        inbound_check_deposit_id:
          description: The ID of the Inbound Check Deposit that is being returned.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Inbound Check Deposits
        transfer_id:
          anyOf:
          - description: The identifier of the Check Transfer object that was deposited.
            type: string
            x-documentation-priority: default
            x-id-reference-to: Check Transfers
          - type: 'null'
      required:
      - inbound_check_deposit_id
      - transfer_id
      title: Inbound Check Deposit Return Intention
      type: object
      x-event-categories: []
      x-stainless-empty-object: false
      x-title-plural: Inbound Check Deposit Return Intentions
    card_refund:
      additionalProperties: true
      description: Card Refunds move money back to the cardholder. While they are usually connected to a Card Settlement, an acquirer can also refund money directly to a card without relation to a transaction.
      example:
        amount: 100
        card_payment_id: card_payment_nd3k2kacrqjli8482ave
        cashback: null
        currency: USD
        id: card_refund_imgc2xwplh6t4r3gn16e
        interchange:
          amount: '0.137465'
          code: '271'
          currency: USD
        merchant_acceptor_id: '5665270011000168'
        merchant_category_code: '5734'
        merchant_city: New York
        merchant_country: US
        merchant_name: AMAZON.COM
        merchant_postal_code: '10045'
        merchant_state: NY
        network_identifiers:
          acquirer_business_id: '69650702'
          acquirer_reference_number: '83163715445437604865089'
          authorization_identification_response: ABC123
          transaction_id: '627199945183184'
        presentment_amount: 100
        presentment_currency: USD
        purchase_details:
          car_rental: null
          customer_reference_identifier: '51201'
          local_tax_amount: null
          local_tax_currency: usd
          lodging:
            check_in_date: '2023-07-20'
            daily_room_rate_amount: 1000
            daily_room_rate_currency: usd
            extra_charges: restaurant
            folio_cash_advances_amount: 0
            folio_cash_advances_currency: usd
            food_beverage_charges_amount: 0
            food_beverage_charges_currency: usd
            no_show_indicator: no_show
            prepaid_expenses_amount: 0
            prepaid_expenses_currency: usd
            room_nights: 1
            total_room_tax_amount: 100
            total_room_tax_currency: usd
            total_tax_amount: 100
            total_tax_currency: usd
          national_tax_amount: null
          national_tax_currency: usd
          purchase_identifier: '10203'
          purchase_identifier_format: order_number
          travel: null
        scheme_fees:
        - amount: '0.137465'
          created_at: '2020-01-31T23:59:59Z'
          currency: USD
          fee_type: visa_corporate_acceptance_fee
          fixed_component: null
          variable_rate: '0.0002'
        transaction_id: transaction_uyrp7fld2ium70oa7oi
        type: card_refund
      properties:
        amount:
          description: The amount in the minor unit of the transaction's settlement currency. For dollars, for example, this is cents.
          type: integer
          x-documentation-priority: default
        card_payment_id:
          description: The ID of the Card Payment this transaction belongs to.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Card Payments
        cashback:
          anyOf:
          - additionalProperties: false
            description: Cashback debited for this transaction, if eligible. Cashback is paid out in aggregate, monthly.
            example:
              amount: '0.137465'
              currency: USD
            properties:
              amount:
                description: The cashback amount given as a string containing a decimal number. The amount is a positive number if it will be credited to you (e.g., settlements) and a negative number if it will be debited (e.g., refunds).
                pattern: ^-?\d+(\.\d+)?$
                type: string
                x-documentation-priority: default
              currency:
                description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the cashback.
                enum:
                - USD
                type: string
                x-documentation-priority: default
                x-enum-descriptions:
                - US Dollar (USD)
            required:
            - amount
            - currency
            title: Card Refund Cashback
            type: object
            x-documentation-priority: default
            x-event-categories: []
            x-stainless-empty-object: false
            x-title-plural: Cashbacks
          - type: 'null'
        currency:
          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the transaction's settlement currency.
          enum:
          - USD
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - US Dollar (USD)
        id:
          description: The Card Refund identifier.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Card Refunds
        interchange:
          anyOf:
          - additionalProperties: false
            description: Interchange assessed as a part of this transaction.
            example:
              amount: '0.137465'
              code: '271'
              currency: USD
            properties:
              amount:
                description: The interchange amount given as a string containing a decimal number in major units (so e.g., "3.14" for $3.14). The amount is a positive number if it is credited to Increase (e.g., settlements) and a negative number if it is debited (e.g., refunds).
                pattern: ^-?\d+(\.\d+)?$
                type: string
                x-documentation-priority: default
              code:
                anyOf:
                - description: The card network specific interchange code.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              currency:
                description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the interchange reimbursement.
                enum:
                - USD
                type: string
                x-documentation-priority: default
                x-enum-descriptions:
                - US Dollar (USD)
            required:
            - amount
            - currency
            - code
            title: Card Refund Card Interchange
            type: object
            x-documentation-priority: default
            x-event-categories: []
            x-stainless-empty-object: false
            x-title-plural: Card Interchanges
          - type: 'null'
        merchant_acceptor_id:
          description: The merchant identifier (commonly abbreviated as MID) of the merchant the card is transacting with.
          type: string
          x-documentation-priority: default
        merchant_category_code:
          description: The 4-digit MCC describing the merchant's business.
          type: string
          x-documentation-priority: default
        merchant_city:
          description: The city the merchant resides in.
          type: string
          x-documentation-priority: default
        merchant_country:
          description: The country the merchant resides in.
          type: string
          x-documentation-priority: default
        merchant_name:
          description: The name of the merchant.
          type: string
          x-documentation-priority: default
        merchant_postal_code:
          anyOf:
          - description: The merchant's postal code. For US merchants this is always a 5-digit ZIP code.
            type: string
            x-documentation-priority: default
          - type: 'null'
        merchant_state:
          anyOf:
          - description: The state the merchant resides in.
            type: string
            x-documentation-priority: default
          - type: 'null'
        network_identifiers:
          additionalProperties: false
          description: Network-specific identifiers for this refund.
          properties:
            acquirer_business_id:
              description: A network assigned business ID that identifies the acquirer that processed this transaction.
              type: string
              x-documentation-priority: default
            acquirer_reference_number:
              description: A globally unique identifier for this settlement.
              type: string
              x-documentation-priority: default
            authorization_identification_response:
              anyOf:
              - description: The randomly generated 6-character Authorization Identification Response code sent back to the acquirer in an approved response.
                type: string
                x-documentation-priority: default
              - type: 'null'
            transaction_id:
              anyOf:
              - description: A globally unique transaction identifier provided by the card network, used across multiple life-cycle requests.
                type: string
                x-documentation-priority: default
              - type: 'null'
          required:
          - transaction_id
          - acquirer_reference_number
          - acquirer_business_id
          - authorization_identification_response
          title: Card Refund NetworkIdentifiers
          type: object
          x-documentation-priority: default
          x-event-categories: []
          x-stainless-empty-object: false
          x-title-plural: NetworkIdentifiers
        presentment_amount:
          description: The amount in the minor unit of the transaction's presentment currency.
          type: integer
          x-documentation-priority: default
        presentment_currency:
          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the transaction's presentment currency.
          type: string
          x-documentation-priority: default
        purchase_details:
          anyOf:
          - additionalProperties: false
            description: Additional details about the card purchase, such as tax and industry-specific fields.
            example:
              car_rental: null
              customer_reference_identifier: '51201'
              local_tax_amount: null
              local_tax_currency: usd
              lodging:
                check_in_date: '2023-07-20'
                daily_room_rate_amount: 1000
                daily_room_rate_currency: usd
                extra_charges: restaurant
                folio_cash_advances_amount: 0
                folio_cash_advances_currency: usd
                food_beverage_charges_amount: 0
                food_beverage_charges_currency: usd
                no_show_indicator: no_show
                prepaid_expenses_amount: 0
                prepaid_expenses_currency: usd
                room_nights: 1
                total_room_tax_amount: 100
                total_room_tax_currency: usd
                total_tax_amount: 100
                total_tax_currency: usd
              national_tax_amount: null
              national_tax_currency: usd
              purchase_identifier: '10203'
              purchase_identifier_format: order_number
              travel: null
            properties:
              car_rental:
                anyOf:
                - additionalProperties: false
                  description: Fields specific to car rentals.
                  properties:
                    car_class_code:
                      anyOf:
                      - description: Code indicating the vehicle's class.
                        type: string
                        x-documentation-priority: default
                      - type: 'null'
                    checkout_date:
                      anyOf:
                      - description: Date the customer picked up the car or, in the case of a no-show or pre-pay transaction, the scheduled pick up date.
                        format: date
                        type: string
                        x-documentation-priority: default
                      - type: 'null'
                    daily_rental_rate_amount:
                      anyOf:
                      - description: Daily rate being charged for the vehicle.
                        type: integer
                        x-documentation-priority: default
                      - type: 'null'
                    daily_rental_rate_currency:
                      anyOf:
                      - description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the daily rental rate.
                        type: string
                        x-documentation-priority: default
                      - type: 'null'
                    days_rented:
                      anyOf:
                      - description: Number of days the vehicle was rented.
                        type: integer
                        x-documentation-priority: default
                      - type: 'null'
                    extra_charges:
                      anyOf:
                      - description: Additional charges (gas, late fee, etc.) being billed.
                        enum:
                        - no_extra_charge
                        - gas
                        - extra_mileage
                        - late_return
                        - one_way_service_fee
                        - parking_violation
                        type: string
                        x-documentation-priority: default
                        x-enum-descriptions:
                        - No extra charge
                        - Gas
                        - Extra mileage
                        - Late return
                        - One way service fee
                        - Parking violation
                      - type: 'null'
                    fuel_charges_amount:
                      anyOf:
                      - description: Fuel charges for the vehicle.
                        type: integer
                        x-documentation-priority: default
                      - type: 'null'
                    fuel_charges_currency:
                      anyOf:
                      - description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the fuel charges assessed.
                        type: string
                        x-documentation-priority: default
                      - type: 'null'
                    insurance_charges_amount:
                      anyOf:
                      - description: Any insurance being charged for the vehicle.
                        type: integer
                        x-documentation-priority: default
                      - type: 'null'
                    insurance_charges_currency:
                      anyOf:
                      - description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the insurance charges assessed.
                        type: string
                        x-documentation-priority: default
                      - type: 'null'
                    no_show_indicator:
                      anyOf:
                      - description: An indicator that the cardholder is being billed for a reserved vehicle that was not actually rented (that is, a "no-show" charge).
                        enum:
                        - not_applicable
                        - no_show_for_specialized_vehicle
                        type: string
                        x-documentation-priority: default
                        x-enum-descriptions:
                        - Not applicable
                        - No show for specialized vehicle
                      - type: 'null'
                    one_way_drop_off_charges_amount:
                      anyOf:
                      - description: Charges for returning the vehicle at a different location than where it was picked up.
                        type: integer
                        x-documentation-priority: default
                      - type: 'null'
                    one_way_drop_off_charges_currency:
                      anyOf:
                      - description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the one-way drop-off charges assessed.
                        type: string
                        x-documentation-priority: default
                      - type: 'null'
                    renter_name:
                      anyOf:
                      - description: Name of the person renting the vehicle.
                        type: string
                        x-documentation-priority: default
                      - type: 'null'
                    weekly_rental_rate_amount:
                      anyOf:
                      - description: Weekly rate being charged for the vehicle.
                        type: integer
                        x-documentation-priority: default
                      - type: 'null'
                    weekly_rental_rate_currency:
                      anyOf:
                      - description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the weekly rental rate.
                        type: string
                        x-documentation-priority: default
                      - type: 'null'
                  required:
                  - extra_charges
                  - days_rented
                  - no_show_indicator
                  - checkout_date
                  - daily_rental_rate_amount
                  - daily_rental_rate_currency
                  - weekly_rental_rate_amount
                  - weekly_rental_rate_currency
                  - insurance_charges_amount
                  - insurance_charges_currency
                  - fuel_charges_amount
                  - fuel_charges_currency
                  - one_way_drop_off_charges_amount
                  - one_way_drop_off_charges_currency
                  - car_class_code
                  - renter_name
                  title: Card Refund Card Purchase Details CarRental
                  type: object
                  x-documentation-priority: default
                  x-event-categories: []
                  x-stainless-empty-object: false
                  x-title-plural: CarRentals
                - type: 'null'
              customer_reference_identifier:
                anyOf:
                - description: An identifier from the merchant for the customer or consumer.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              local_tax_amount:
                anyOf:
                - description: The state or provincial tax amount in minor units.
                  type: integer
                  x-documentation-priority: default
                - type: 'null'
              local_tax_currency:
                anyOf:
                - description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the local tax assessed.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              lodging:
                anyOf:
                - additionalProperties: false
                  description: Fields specific to lodging.
                  properties:
                    check_in_date:
                      anyOf:
                      - description: Date the customer checked in.
                        format: date
                        type: string
                        x-documentation-priority: default
                      - type: 'null'
                    daily_room_rate_amount:
                      anyOf:
                      - description: Daily rate being charged for the room.
                        type: integer
                        x-documentation-priority: default
                      - type: 'null'
                    daily_room_rate_currency:
                      anyOf:
                      - description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the daily room rate.
                        type: string
                        x-documentation-priority: default
                      - type: 'null'
                    extra_charges:
                      anyOf:
                      - description: Additional charges (phone, late check-out, etc.) being billed.
                        enum:
                        - no_extra_charge
                        - restaurant
                        - gift_shop
                        - mini_bar
                        - telephone
                        - other
                        - laundry
                        type: string
                        x-documentation-priority: default
                        x-enum-descriptions:
                        - No extra charge
                        - Restaurant
                        - Gift shop
                        - Mini bar
                        - Telephone
                        - Other
                        - Laundry
                      - type: 'null'
                    folio_cash_advances_amount:
                      anyOf:
                      - description: Folio cash advances for the room.
                        type: integer
                        x-documentation-priority: default
                      - type: 'null'
                    folio_cash_advances_currency:
                      anyOf:
                      - description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the folio cash advances.
                        type: string
                        x-documentation-priority: default
                      - type: 'null'
                    food_beverage_charges_amount:
                      anyOf:
                      - description: Food and beverage charges for the room.
                        type: integer
                        x-documentation-priority: default
                      - type: 'null'
                    food_beverage_charges_currency:
                      anyOf:
                      - description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the food and beverage charges.
                        type: string
                        x-documentation-priority: default
                      - type: 'null'
                    no_show_indicator:
                      anyOf:
                      - description: Indicator that the cardholder is being billed for a reserved room that was not actually used.
                        enum:
                        - not_applicable
                        - no_show
                        type: string
                        x-documentation-priority: default
                        x-enum-descriptions:
                        - Not applicable
                        - No show
                      - type: 'null'
                    prepaid_expenses_amount:
                      anyOf:
                      - description: Prepaid expenses being charged for the room.
                        type: integer
                        x-documentation-priority: default
                      - type: 'null'
                    prepaid_expenses_currency:
                      anyOf:
                      - description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the prepaid expenses.
                        type: string
                        x-documentation-priority: default
                      - type: 'null'
                    room_nights:
                      anyOf:
                      - description: Number of nights the room was rented.
                        type: integer
                        x-documentation-priority: default
                      - type: 'null'
                    total_room_tax_amount:
                      anyOf:
                      - description: Total room tax being charged.
                        type: integer
                        x-documentation-priority: default
                      - type: 'null'
                    total_room_tax_currency:
                      anyOf:
                      - description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the total room tax.
                        type: string
                        x-documentation-priority: default
                      - type: 'null'
                    total_tax_amount:
                      anyOf:
                      - description: Total tax being charged for the room.
                        type: integer
                        x-documentation-priority: default
                      - type: 'null'
                    total_tax_currency:
                      anyOf:
                      - description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the total tax assessed.
                        type: string
                        x-documentation-priority: default
                      - type: 'null'
                  required:
                  - no_show_indicator
                  - extra_charges
                  - check_in_date
                  - daily_room_rate_amount
                  - daily_room_rate_currency
                  - total_tax_amount
                  - total_tax_currency
                  - prepaid_expenses_amount
                  - prepaid_expenses_currency
                  - food_beverage_charges_amount
                  - food_beverage_charges_currency
                  - folio_cash_advances_amount
                  - folio_cash_advances_currency
                  - room_nights
                  - total_room_tax_amount
                  - total_room_tax_currency
                  title: Card Refund Card Purchase Details Lodging
                  type: object
                  x-documentation-priority: default
                  x-event-categories: []
                  x-stainless-empty-object: false
                  x-title-plural: Lodgings
                - type: 'null'
              national_tax_amount:
                anyOf:
                - description: The national tax amount in minor units.
                  type: integer
                  x-documentation-priority: default
                - type: 'null'
              national_tax_currency:
                anyOf:
                - description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the local tax assessed.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              purchase_identifier:
                anyOf:
                - description: An identifier from the merchant for the purchase to the issuer and cardholder.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              purchase_identifier_format:
                anyOf:
                - description: The format of the purchase identifier.
                  enum:
                  - free_text
                  - order_number
                  - rental_agreement_number
                  - hotel_folio_number
                  - invoice_number
                  type: string
                  x-documentation-priority: default
                  x-enum-descriptions:
                  - Free text
                  - Order number
                  - Rental agreement number
                  - Hotel folio number
                  - Invoice number
                - type: 'null'
              travel:
                anyOf:
                - additionalProperties: false
                  description: Fields specific to travel.
                  properties:
                    ancillary:
                      anyOf:
                      - additionalProperties: false
                        description: Ancillary purchases in addition to the airfare.
                        properties:
                          connected_ticket_document_number:
                            anyOf:
                            - description: If this purchase has a connection or relationship to another purchase, such as a baggage fee for a passenger transport ticket, this field should contain the ticket document number for the other purchase.
                              type: string
                              x-documentation-priority: default
                            - type: 'null'
                          credit_reason_indicator:
                            anyOf:
                            - description: Indicates the reason for a credit to the cardholder.
                              enum:
                              - no_credit
                              - passenger_transport_ancillary_purchase_cancellation
                              - airline_ticket_and_passenger_transport_ancillary_purchase_cancellation
                              - other
                              type: string
                              x-documentation-priority: default
                              x-enum-descriptions:
                              - No credit
                              - Passenger transport ancillary purchase cancellation
                              - Airline ticket and passenger transport ancillary purchase cancellation
                              - Other
                            - type: 'null'
                          passenger_name_or_description:
                            anyOf:
                            - description: Name of the passenger or description of the ancillary purchase.
                              type: string
                              x-documentation-priority: default
                            - type: 'null'
                          services:
                            description: Additional travel charges, such as baggage fees.
                            items:
                              additionalProperties: false
                              properties:
                                category:
                                  anyOf:
                                  - description: Category of the ancillary service.
                                    enum:
                                    - none
                                    - bundled_service
                                    - baggage_fee
                                    - change_fee
                                    - cargo
                                    - carbon_offset
                                    - frequent_flyer
                                    - gift_card
                                    - ground_transport
                                    - in_flight_entertainment
                                    - lounge
                                    - medical
                                    - meal_beverage
                                    - other
                                    - passenger_assist_fee
                                    - pets
                                    - seat_fees
                                    - standby
                                    - service_fee
                                    - store
                                    - travel_service
                                    - unaccompanied_travel
                                    - upgrades
                                    - wifi
                                    type: string
                                    x-documentation-priority: default
                                    x-enum-descriptions:
                                    - None
                                    - Bundled service
                                    - Baggage fee
                                    - Change fee
                                    - Cargo
                                    - Carbon offset
                                    - Frequent flyer
                                    - Gift card
                                    - Ground transport
                                    - In-flight entertainment
                                    - Lounge
                                    - Medical
                                    - Meal beverage
                                    - Other
                                    - Passenger assist fee
                                    - Pets
                                    - Seat fees
                                    - Standby
                                    - Service fee
                                    - Store
                                    - Travel service
                                    - Unaccompanied travel
                                    - Upgrades
                                    - Wi-fi
                                  - type: 'null'
                                sub_category:
                                  anyOf:
                                  - description: Sub-category of the ancillary service, free-form.
                                    type: string
                                    x-documentation-priority: default
                                  - type: 'null'
                              required:
                              - category
                              - sub_category
                              title: Card Refund Card Purchase Details Travel Ancillary ServicesElement
                              type: object
                              x-event-categories: []
                              x-stainless-empty-object: false
                              x-title-plural: ServicesElements
                            type: array
                            x-documentation-priority: default
                          ticket_document_number:
                            anyOf:
                            - description: Ticket document number.
                              type: string
                              x-documentation-priority: default
                            - type: 'null'
                        required:
                        - ticket_document_number
                        - passenger_name_or_description
                        - connected_ticket_document_number
                        - credit_reason_indicator
                        - services
                        title: Card Refund Card Purchase Details Travel Ancillary
                        type: object
                        x-documentation-priority: default
                        x-event-categories: []
                        x-stainless-empty-object: false
                        x-title-plural: Ancillaries
                      - type: 'null'
                    computerized_reservation_system:
                      anyOf:
                      - description: Indicates the computerized reservation system used to book the ticket.
                        type: string
                        x-documentation-priority: default
                      - type: 'null'
                    credit_reason_indicator:
                      anyOf:
                      - description: Indicates the reason for a credit to the cardholder.
                        enum:
                        - no_credit
                        - passenger_transport_ancillary_purchase_cancellation
                        - airline_ticket_and_passenger_transport_ancillary_purchase_cancellation
                        - airline_ticket_cancellation
                        - other
                        - partial_refund_of_airline_ticket
                        type: string
                        x-documentation-priority: default
                        x-enum-descriptions:
                        - No credit
                        - Passenger transport ancillary purchase cancellation
                        - Airline ticket and passenger transport ancillary purchase cancellation
                        - Airline ticket cancellation
                        - Other
                        - Partial refund of airline ticket
                      - type: 'null'
                    departure_date:
                      anyOf:
                      - description: Date of departure.
                        format: date
                        type: string
                        x-documentation-priority: default
                      - type: 'null'
                    origination_city_airport_code:
                      anyOf:
                      - description: Code for the originating city or airport.
                        type: string
                        x-documentation-priority: default
                      - type: 'null'
                    passenger_name:
                      anyOf:
                      - description: Name of the passenger.
                        type: string
                        x-documentation-priority: default
                      - type: 'null'
                    restricted_ticket_indicator:
                      anyOf:
                      - description: Indicates whether this ticket is non-refundable.
                        enum:
                        - no_restrictions
                        - restricted_non_refundable_ticket
                        type: string
                        x-documentation-priority: default
                        x-enum-descriptions:
                        - No restrictions
                        - Restricted non-refundable ticket
                      - type: 'null'
                    ticket_change_indicator:
                      anyOf:
                      - description: Indicates why a ticket was changed.
                        enum:
                        - none
                        - change_to_existing_ticket
                        - new_ticket
                        type: string
                        x-documentation-priority: default
                        x-enum-descriptions:
                        - None
                        - Change to existing ticket
                        - New ticket
                      - type: 'null'
                    ticket_number:
                      anyOf:
                      - description: Ticket number.
                        type: string
                        x-documentation-priority: default
                      - type: 'null'
                    travel_agency_code:
                      anyOf:
                      - description: Code for the travel agency if the ticket was issued by a travel agency.
                        type: string
                        x-documentation-priority: default
                      - type: 'null'
                    travel_agency_name:
                      anyOf:
                      - description: Name of the travel agency if the ticket was issued by a travel agency.
                        type: string
                        x-documentation-priority: default
                      - type: 'null'
                    trip_legs:
                      anyOf:
                      - description: Fields specific to each leg of the journey.
                        items:
                          additionalProperties: false
                          properties:
                            carrier_code:
                              anyOf:
                              - description: Carrier code (e.g., United Airlines, Jet Blue, etc.).
                                type: string
                                x-documentation-priority: default
                              - type: 'null'
                            destination_city_airport_code:
                              anyOf:
                              - description: Code for the destination city or airport.
                                type: string
                                x-documentation-priority: default
                              - type: 'null'
                            fare_basis_code:
                              anyOf:
                              - description: Fare basis code.
                                type: string
                                x-documentation-priority: default
                              - type: 'null'
                            flight_number:
                              anyOf:
                              - description: Flight number.
                                type: string
                                x-documentation-priority: default
                              - type: 'null'
                            service_class:
                              anyOf:
                              - description: Service class (e.g., first class, business class, etc.).
                                type: string
                                x-documentation-priority: default
                              - type: 'null'
                            stop_over_code:
                              anyOf:
                              - description: Indicates whether a stopover is allowed on this ticket.
                                enum:
                                - none
                                - stop_over_allowed
                                - stop_over_not_allowed
                                type: string
                                x-documentation-priority: default
                                x-enum-descriptions:
                                - None
                                - Stop over allowed
                                - Stop over not allowed
                              - type: 'null'
                          required:
                          - flight_number
                          - carrier_code
                          - fare_basis_code
                          - service_class
                          - stop_over_code
                          - destination_city_airport_code
                          title: Card Refund Card Purchase Details Travel TripLegsElement
                          type: object
                          x-event-categories: []
                          x-stainless-empty-object: false
                          x-title-plural: TripLegsElements
                        type: array
                        x-documentation-priority: default
                      - type: 'null'
                  required:
                  - ticket_number
                  - passenger_name
                  - departure_date
                  - origination_city_airport_code
                  - travel_agency_code
                  - travel_agency_name
                  - restricted_ticket_indicator
                  - computerized_reservation_system
                  - credit_reason_indicator
                  - ticket_change_indicator
                  - trip_legs
                  - ancillary
                  title: Card Refund Card Purchase Details Travel
                  type: object
                  x-documentation-priority: default
                  x-event-categories: []
                  x-stainless-empty-object: false
                  x-title-plural: Travels
                - type: 'null'
            required:
            - purchase_identifier
            - purchase_identifier_format
            - customer_reference_identifier
            - local_tax_amount
            - local_tax_currency
            - national_tax_amount
            - national_tax_currency
            - car_rental
            - lodging
            - travel
            title: Card Refund Card Purchase Details
            type: object
            x-documentation-priority: default
            x-event-categories: []
            x-stainless-empty-object: false
            x-title-plural: Card Purchase Details
          - type: 'null'
        scheme_fees:
          description: The scheme fees associated with this card refund.
          items:
            additionalProperties: false
            example:
              amount: '0.137465'
              created_at: '2020-01-31T23:59:59Z'
              currency: USD
              fee_type: visa_corporate_acceptance_fee
              fixed_component: null
              variable_rate: '0.0002'
            properties:
              amount:
                description: The fee amount given as a string containing a decimal number.
                pattern: ^-?\d+(\.\d+)?$
                type: string
                x-documentation-priority: default
              created_at:
                description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) time at which the fee was created.
                format: date-time
                type: string
                x-documentation-priority: default
              currency:
                description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the fee reimbursement.
                enum:
                - USD
                type: string
                x-documentation-priority: default
                x-enum-descriptions:
                - US Dollar (USD)
              fee_type:
                description: The type of fee being assessed.
                enum:
                - visa_international_service_assessment_single_currency
                - visa_international_service_assessment_cross_currency
                - visa_authorization_domestic_point_of_sale
                - visa_authorization_international_point_of_sale
                - visa_authorization_canada_point_of_sale
                - visa_authorization_reversal_point_of_sale
                - visa_authorization_reversal_international_point_of_sale
                - visa_authorization_address_verification_service
                - visa_advanced_authorization
                - visa_message_transmission
                - visa_account_verification_domestic
                - visa_account_verification_international
                - visa_account_verification_canada
                - visa_corporate_acceptance_fee
                - visa_consumer_debit_acceptance_fee
                - visa_business_debit_acceptance_fee
                - visa_purchasing_acceptance_fee
                - visa_purchase_domestic
                - visa_purchase_international
                - visa_credit_purchase_token
                - visa_debit_purchase_token
                - visa_clearing_transmission
                - visa_direct_authorization
                - visa_direct_transaction_domestic
                - visa_service_commercial_credit
                - visa_advertising_service_commercial_credit
                - visa_community_growth_acceleration_program
                - visa_processing_guarantee_commercial_credit
                - pulse_switch_fee
                type: string
                x-documentation-priority: default
                x-enum-descriptions:
                - International Service Assessment (ISA) single-currency is a fee assessed by the card network for cross-border transactions presented and settled in the same currency.
                - International Service Assessment (ISA) cross-currency is a fee assessed by the card network for cross-border transactions presented and settled in different currencies.
                - Activity and charges for Visa Settlement System processing for POS (Point-Of-Sale) authorization transactions. Authorization is the process of approving or declining the transaction amount specified. The fee is assessed to the Issuer.
                - Activity and charges for Visa Settlement System processing for POS (Point-Of-Sale) International authorization transactions. Authorization is the process of approving or declining the transaction amount specified. The fee is assessed to the Issuer.
                - Activity and charges for Visa Settlement System processing for Canada Region POS (Point-of-Sale) authorization transactions. Authorization is the process of approving or declining the transaction amount specified.
                - Activity only for Visa Settlement System authorization processing of POS (Point-Of-Sale) reversal transactions. Authorization reversal represents a VSS message that undoes the complete or partial actions of a previous authorization request.
                - Activity only for Visa Settlement System authorization processing of POS (Point-Of-Sale) International reversal transactions. Authorization reversal represents a VSS message that undoes the complete or partial actions of a previous authorization request.
                - A per Address Verification Service (AVS) result fee. Applies to all usable AVS result codes.
                - Advanced Authorization is a fraud detection tool that monitors and risk evaluates 100 percent of US VisaNet authorizations in real-time. Activity related to Purchase (includes Signature Authenticated Visa and PIN Authenticated Visa Debit (PAVD) transactions).
                - Issuer Transactions Visa represents a charge based on total actual monthly processing (Visa transactions only) through a VisaNet Access Point (VAP). Charges are assessed to the processor for each VisaNet Access Point.
                - Activity, per inquiry, related to the domestic Issuer for Account Number Verification.
                - Activity, per inquiry, related to the international Issuer for Account Number Verification.
                - Activity, per inquiry, related to the US-Canada Issuer for Account Number Verification.
                - The Corporate Acceptance Fee is charged to issuers and is based on the monthly sales volume on Commercial and Government Debit, Prepaid, Credit, Charge, or Deferred Debit card transactions.
                - The Consumer Debit Acceptance Fee is charged to issuers and is based on the monthly sales volume of Consumer Debit or Prepaid card transactions. The cashback portion of a Debit and Prepaid card transaction is excluded from the sales volume calculation.
                - The Business Acceptance Fee is charged to issuers and is based on the monthly sales volume on Business Debit, Prepaid, Credit, Charge, or Deferred Debit card transactions. The cashback portion is included in the sales volume calculation with the exception of a Debit and Prepaid card transactions.
                - The Purchasing Card Acceptance Fee is charged to issuers and is based on the monthly sales volume on Commercial and Government Debit, Prepaid, Credit, Charge, or Deferred Debit card transactions.
                - Activity and fees for the processing of a sales draft original for a purchase transaction.
                - Activity and fees for the processing of an international sales draft original for a purchase transaction.
                - Apple Pay Credit Product Token Purchase Original Transactions. This fee is billed by Visa on behalf of Apple Inc. for Apple Pay transactions.
                - Apple Pay Debit Product Token Purchase Original Transactions. This fee is billed by Visa on behalf of Apple Inc. for Apple Pay transactions.
                - A per transaction fee assessed for Base II financial draft - Issuer.
                - Issuer charge for Non-Financial OCT/AFT Authorization 0100 and Declined Financial OCT/AFT 0200 transactions.
                - Data processing charge for Visa Direct OCTs for all business application identifiers (BAIs) other than money transfer-bank initiated (BI). BASE II transactions.
                - Issuer card service fee for Commercial Credit cards.
                - Issuer Advertising Service Fee for Commercial Credit cards.
                - Issuer Community Growth Acceleration Program Fee.
                - Issuer Processing Guarantee for Commercial Credit cards.
                - Pulse Switch Fee is a fee charged by the Pulse network for processing transactions on its network.
              fixed_component:
                anyOf:
                - description: The fixed component of the fee, if applicable, given in major units of the fee amount.
                  pattern: ^-?\d+(\.\d+)?$
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              variable_rate:
                anyOf:
                - description: The variable rate component of the fee, if applicable, given as a decimal (e.g., 0.015 for 1.5%).
                  pattern: ^-?\d+(\.\d+)?$
                  type: string
                  x-documentation-priority: default
                - type: 'null'
            required:
            - created_at
            - amount
            - currency
            - fee_type
            - variable_rate
            - fixed_component
            title: Card Refund Card Scheme Fee
            type: object
            x-event-categories: []
            x-stainless-empty-object: false
            x-title-plural: Card Scheme Fees
          type: array
          x-documentation-priority: default
        transaction_id:
          description: The identifier of the Transaction associated with this Transaction.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Transactions
        type:
          description: A constant representing the object's type. For this resource it will always be `card_refund`.
          enum:
          - card_refund
          type: string
          x-documentation-priority: default
      required:
      - type
      - id
      - card_payment_id
      - amount
      - currency
      - presentment_amount
      - presentment_currency
      - merchant_acceptor_id
      - merchant_city
      - merchant_state
      - merchant_postal_code
      - merchant_country
      - merchant_name
      - merchant_category_code
      - interchange
      - cashback
      - purchase_details
      - scheme_fees
      - transaction_id
      - network_identifiers
      title: Card Refund
      type: object
      x-event-categories: []
      x-stainless-empty-object: false
      x-title-plural: Card Refunds
    transaction:
      additionalProperties: true
      description: Transactions are the immutable additions and removals of money from your bank account. They're the equivalent of line items on your bank statement. To learn more, see [Transactions and Transfers](/documentation/transactions-transfers).
      example:
        account_id: account_in71c4amph0vgo2qllky
        amount: 100
        created_at: '2020-01-31T23:59:59Z'
        currency: USD
        description: INVOICE 2468
        id: transaction_uyrp7fld2ium70oa7oi
        route_id: account_number_v18nkfqm6afpsrvy82b2
        route_type: account_number
        source:
          category: inbound_ach_transfer
          inbound_ach_transfer:
            addenda: null
            amount: 100
            originator_company_descriptive_date: null
            originator_company_discretionary_data: null
            originator_company_entry_description: RESERVE
            originator_company_id: 0987654321
            originator_company_name: BIG BANK
            receiver_id_number: '12345678900'
            receiver_name: IAN CREASE
            trace_number: 021000038461022
            transfer_id: inbound_ach_transfer_tdrwqr3fq9gnnq49odev
        type: transaction
      properties:
        account_id:
          description: The identifier for the Account the Transaction belongs to.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Accounts
        amount:
          description: The Transaction amount in the minor unit of its currency. For dollars, for example, this is cents.
          type: integer
          x-documentation-priority: default
        created_at:
          description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date on which the Transaction occurred.
          format: date-time
          type: string
          x-documentation-priority: default
        currency:
          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the Transaction's currency. This will match the currency on the Transaction's Account.
          enum:
          - USD
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - US Dollar (USD)
        description:
          description: An informational message describing this transaction. Use the fields in `source` to get more detailed information. This field appears as the line-item on the statement.
          type: string
          x-documentation-priority: default
        id:
          description: The Transaction identifier.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Transactions
        route_id:
          anyOf:
          - description: The identifier for the route this Transaction came through. Routes are things like cards and ACH details.
            type: string
            x-documentation-priority: default
          - type: 'null'
        route_type:
          anyOf:
          - description: The type of the route this Transaction came through.
            enum:
            - account_number
            - card
            - lockbox
            type: string
            x-documentation-priority: default
            x-enum-descriptions:
            - An Account Number.
            - A Card.
            - A Lockbox.
          - type: 'null'
        source:
          additionalProperties: true
          description: This is an object giving more details on the network-level event that caused the Transaction. Note that for backwards compatibility reasons, additional undocumented keys may appear in this object. These should be treated as deprecated and will be removed in the future.
          example:
            category: inbound_ach_transfer
            inbound_ach_transfer:
              addenda: null
              amount: 100
              originator_company_descriptive_date: null
              originator_company_discretionary_data: null
              originator_company_entry_description: RESERVE
              originator_company_id: 0987654321
              originator_company_name: BIG BANK
              receiver_id_number: '12345678900'
              receiver_name: IAN CREASE
              trace_number: 021000038461022
              transfer_id: inbound_ach_transfer_tdrwqr3fq9gnnq49odev
          properties:
            account_revenue_payment:
              anyOf:
              - additionalProperties: true
                description: An Account Revenue Payment object. This field will be present in the JSON response if and only if `category` is equal to `account_revenue_payment`. An Account Revenue Payment represents a payment made to an account from the bank. Account revenue is a type of non-interest income.
                example:
                  accrued_on_account_id: account_in71c4amph0vgo2qllky
                  period_end: '2025-06-30T23:59:59+00:00'
                  period_start: '2025-06-01T00:00:00+00:00'
                properties:
                  accrued_on_account_id:
                    description: The account on which the account revenue was accrued.
                    type: string
                    x-documentation-priority: default
                    x-id-reference-to: Accounts
                  period_end:
                    description: The end of the period for which this transaction paid account revenue.
                    format: date-time
                    type: string
                    x-documentation-priority: default
                  period_start:
                    description: The start of the period for which this transaction paid account revenue.
                    format: date-time
                    type: string
                    x-documentation-priority: default
                required:
                - period_start
                - period_end
                - accrued_on_account_id
                title: Transaction Transaction Source Account Revenue Payment
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: Account Revenue Payments
              - type: 'null'
            account_transfer_intention:
              anyOf:
              - additionalProperties: true
                description: An Account Transfer Intention object. This field will be present in the JSON response if and only if `category` is equal to `account_transfer_intention`. Two Account Transfer Intentions are created from each Account Transfer. One decrements the source account, and the other increments the destination account.
                example:
                  amount: 100
                  currency: USD
                  description: INVOICE 2468
                  destination_account_id: account_uf16sut2ct5bevmq3eh
                  source_account_id: account_in71c4amph0vgo2qllky
                  transfer_id: account_transfer_7k9qe1ysdgqztnt63l7n
                properties:
                  amount:
                    description: The pending amount in the minor unit of the transaction's currency. For dollars, for example, this is cents.
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the destination account currency.
                    enum:
                    - USD
                    type: string
                    x-documentation-priority: default
                    x-enum-descriptions:
                    - US Dollar (USD)
                  description:
                    description: The description you chose to give the transfer.
                    type: string
                    x-documentation-priority: default
                  destination_account_id:
                    description: The identifier of the Account to where the Account Transfer was sent.
                    type: string
                    x-documentation-priority: default
                    x-id-reference-to: Accounts
                  source_account_id:
                    description: The identifier of the Account from where the Account Transfer was sent.
                    type: string
                    x-documentation-priority: default
                    x-id-reference-to: Accounts
                  transfer_id:
                    description: The identifier of the Account Transfer that led to this Pending Transaction.
                    type: string
                    x-documentation-priority: default
                    x-id-reference-to: Account Transfers
                required:
                - amount
                - currency
                - description
                - destination_account_id
                - source_account_id
                - transfer_id
                title: Transaction Transaction Source Account Transfer Intention
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: Account Transfer Intentions
              - type: 'null'
            ach_transfer_intention:
              anyOf:
              - additionalProperties: true
                description: An ACH Transfer Intention object. This field will be present in the JSON response if and only if `category` is equal to `ach_transfer_intention`. An ACH Transfer Intention is created from an ACH Transfer. It reflects the intention to move money into or out of an Increase account via the ACH network.
                example:
                  account_number: '987654321'
                  amount: 100
                  routing_number: '101050001'
                  statement_descriptor: INVOICE 2468
                  transfer_id: account_transfer_7k9qe1ysdgqztnt63l7n
                properties:
                  account_number:
                    description: The account number for the destination account.
                    type: string
                    x-documentation-priority: default
                  amount:
                    description: The amount in the minor unit of the transaction's currency. For dollars, for example, this is cents.
                    type: integer
                    x-documentation-priority: default
                  routing_number:
                    description: The American Bankers' Association (ABA) Routing Transit Number (RTN) for the destination account.
                    type: string
                    x-documentation-priority: default
                  statement_descriptor:
                    description: A description set when the ACH Transfer was created.
                    type: string
                    x-documentation-priority: default
                  transfer_id:
                    description: The identifier of the ACH Transfer that led to this Transaction.
                    type: string
                    x-documentation-priority: default
                    x-id-reference-to: ACH Transfers
                required:
                - amount
                - account_number
                - routing_number
                - statement_descriptor
                - transfer_id
                title: Transaction Transaction Source ACH Transfer Intention
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: ACH Transfer Intentions
              - type: 'null'
            ach_transfer_rejection:
              anyOf:
              - additionalProperties: true
                description: An ACH Transfer Rejection object. This field will be present in the JSON response if and only if `category` is equal to `ach_transfer_rejection`. An ACH Transfer Rejection is created when an ACH Transfer is rejected by Increase. It offsets the ACH Transfer Intention. These rejections are rare.
                example:
                  transfer_id: account_transfer_7k9qe1ysdgqztnt63l7n
                properties:
                  transfer_id:
                    description: The identifier of the ACH Transfer that led to this Transaction.
                    type: string
                    x-documentation-priority: default
                    x-id-reference-to: ACH Transfers
                required:
                - transfer_id
                title: Transaction Transaction Source ACH Transfer Rejection
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: ACH Transfer Rejections
              - type: 'null'
            ach_transfer_return:
              anyOf:
              - additionalProperties: true
                description: An ACH Transfer Return object. This field will be present in the JSON response if and only if `category` is equal to `ach_transfer_return`. An ACH Transfer Return is created when an ACH Transfer is returned by the receiving bank. It offsets the ACH Transfer Intention. ACH Transfer Returns usually occur within the first two business days after the transfer is initiated, but can occur much later.
                example:
                  created_at: '2020-01-31T23:59:59Z'
                  raw_return_reason_code: R01
                  return_reason_code: insufficient_fund
                  trace_number: '111122223292834'
                  transaction_id: transaction_uyrp7fld2ium70oa7oi
                  transfer_id: ach_transfer_uoxatyh3lt5evrsdvo7q
                properties:
                  created_at:
                    description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date and time at which the transfer was created.
                    format: date-time
                    type: string
                    x-documentation-priority: default
                  raw_return_reason_code:
                    description: The three character ACH return code, in the range R01 to R85.
                    type: string
                    x-documentation-priority: default
                  return_reason_code:
                    description: Why the ACH Transfer was returned. This reason code is sent by the receiving bank back to Increase.
                    enum:
                    - insufficient_fund
                    - no_account
                    - account_closed
                    - invalid_account_number_structure
                    - account_frozen_entry_returned_per_ofac_instruction
                    - credit_entry_refused_by_receiver
                    - unauthorized_debit_to_consumer_account_using_corporate_sec_code
                    - corporate_customer_advised_not_authorized
                    - payment_stopped
                    - non_transaction_account
                    - uncollected_funds
                    - routing_number_check_digit_error
                    - customer_advised_unauthorized_improper_ineligible_or_incomplete
                    - amount_field_error
                    - authorization_revoked_by_customer
                    - invalid_ach_routing_number
                    - file_record_edit_criteria
                    - enr_invalid_individual_name
                    - returned_per_odfi_request
                    - limited_participation_dfi
                    - incorrectly_coded_outbound_international_payment
                    - account_sold_to_another_dfi
                    - addenda_error
                    - beneficiary_or_account_holder_deceased
                    - customer_advised_not_within_authorization_terms
                    - corrected_return
                    - duplicate_entry
                    - duplicate_return
                    - enr_duplicate_enrollment
                    - enr_invalid_dfi_account_number
                    - enr_invalid_individual_id_number
                    - enr_invalid_representative_payee_indicator
                    - enr_invalid_transaction_code
                    - enr_return_of_enr_entry
                    - enr_routing_number_check_digit_error
                    - entry_not_processed_by_gateway
                    - field_error
                    - foreign_receiving_dfi_unable_to_settle
                    - iat_entry_coding_error
                    - improper_effective_entry_date
                    - improper_source_document_source_document_presented
                    - invalid_company_id
                    - invalid_foreign_receiving_dfi_identification
                    - invalid_individual_id_number
                    - item_and_rck_entry_presented_for_payment
                    - item_related_to_rck_entry_is_ineligible
                    - mandatory_field_error
                    - misrouted_dishonored_return
                    - misrouted_return
                    - no_errors_found
                    - non_acceptance_of_r62_dishonored_return
                    - non_participant_in_iat_program
                    - permissible_return_entry
                    - permissible_return_entry_not_accepted
                    - rdfi_non_settlement
                    - rdfi_participant_in_check_truncation_program
                    - representative_payee_deceased_or_unable_to_continue_in_that_capacity
                    - return_not_a_duplicate
                    - return_of_erroneous_or_reversing_debit
                    - return_of_improper_credit_entry
                    - return_of_improper_debit_entry
                    - return_of_xck_entry
                    - source_document_presented_for_payment
                    - state_law_affecting_rck_acceptance
                    - stop_payment_on_item_related_to_rck_entry
                    - stop_payment_on_source_document
                    - timely_original_return
                    - trace_number_error
                    - untimely_dishonored_return
                    - untimely_return
                    type: string
                    x-documentation-priority: default
                    x-enum-descriptions:
                    - Code R01. Insufficient funds in the receiving account. Sometimes abbreviated to "NSF."
                    - Code R03. The account does not exist or the receiving bank was unable to locate it.
                    - Code R02. The account is closed at the receiving bank.
                    - Code R04. The account number is invalid at the receiving bank.
                    - Code R16. This return code has two separate meanings. (1) The receiving bank froze the account or (2) the Office of Foreign Assets Control (OFAC) instructed the receiving bank to return the entry.
                    - Code R23. The receiving bank refused the credit transfer.
                    - Code R05. The receiving bank rejected because of an incorrect Standard Entry Class code. Consumer accounts cannot be debited as `corporate_credit_or_debit` or `corporate_trade_exchange`.
                    - Code R29. The corporate customer at the receiving bank reversed the transfer.
                    - Code R08. The receiving bank stopped payment on this transfer.
                    - Code R20. The account is not eligible for ACH, such as a savings account with transaction limits.
                    - Code R09. The receiving bank account does not have enough available balance for the transfer.
                    - Code R28. The routing number is incorrect.
                    - Code R10. The customer at the receiving bank reversed the transfer.
                    - Code R19. The amount field is incorrect or too large.
                    - Code R07. The customer revoked their authorization for a previously authorized transfer.
                    - Code R13. The routing number is invalid.
                    - Code R17. The receiving bank is unable to process a field in the transfer.
                    - Code R45. A rare return reason. The individual name field was invalid.
                    - Code R06. The originating financial institution asked for this transfer to be returned. The receiving bank is complying with the request.
                    - Code R34. The receiving bank's regulatory supervisor has limited their participation in the ACH network.
                    - Code R85. The outbound international ACH transfer was incorrect.
                    - Code R12. A rare return reason. The account was sold to another bank.
                    - Code R25. The addenda record is incorrect or missing.
                    - Code R15. A rare return reason. The account holder is deceased.
                    - Code R11. A rare return reason. The customer authorized some payment to the sender, but this payment was not in error.
                    - Code R74. A rare return reason. Sent in response to a return that was returned with code `field_error`. The latest return should include the corrected field(s).
                    - Code R24. A rare return reason. The receiving bank received an exact duplicate entry with the same trace number and amount.
                    - Code R67. A rare return reason. The return this message refers to was a duplicate.
                    - Code R47. A rare return reason. Only used for US Government agency non-monetary automatic enrollment messages.
                    - Code R43. A rare return reason. Only used for US Government agency non-monetary automatic enrollment messages.
                    - Code R44. A rare return reason. Only used for US Government agency non-monetary automatic enrollment messages.
                    - Code R46. A rare return reason. Only used for US Government agency non-monetary automatic enrollment messages.
                    - Code R41. A rare return reason. Only used for US Government agency non-monetary automatic enrollment messages.
                    - Code R40. A rare return reason. Only used for US Government agency non-monetary automatic enrollment messages.
                    - Code R42. A rare return reason. Only used for US Government agency non-monetary automatic enrollment messages.
                    - Code R84. A rare return reason. The International ACH Transfer cannot be processed by the gateway.
                    - Code R69. A rare return reason. One or more of the fields in the ACH were malformed.
                    - Code R83. A rare return reason. The Foreign receiving bank was unable to settle this ACH transfer.
                    - Code R80. A rare return reason. The International ACH Transfer is malformed.
                    - Code R18. A rare return reason. The ACH has an improper effective entry date field.
                    - Code R39. A rare return reason. The source document related to this ACH, usually an ACH check conversion, was presented to the bank.
                    - Code R21. A rare return reason. The Company ID field of the ACH was invalid.
                    - Code R82. A rare return reason. The foreign receiving bank identifier for an International ACH Transfer was invalid.
                    - Code R22. A rare return reason. The Individual ID number field of the ACH was invalid.
                    - Code R53. A rare return reason. Both the Represented Check ("RCK") entry and the original check were presented to the bank.
                    - Code R51. A rare return reason. The Represented Check ("RCK") entry is ineligible.
                    - Code R26. A rare return reason. The ACH is missing a required field.
                    - Code R71. A rare return reason. The receiving bank does not recognize the routing number in a dishonored return entry.
[...]
