openapi: 3.1.0
info:
  description: Anything that you can achieve with PDFs, presence, and persistence in a bank branch you can do with our API. We've always wanted a fully programmatic bank so we built one. Our API faithfully exposes the data and capabilities of the Federal Reserve, Visa, The Clearing House, depository networks, and accounting tools. It's lovingly boring and exceptionally powerful. If you have any questions or want to get started, don't hesitate to ping us at sales@increase.com. We can't wait to see what you build!
  title: Increase Account Numbers Inbound Wire Transfers API
  version: 0.0.1
servers:
- url: https://api.increase.com
- url: https://sandbox.increase.com
security:
- bearerAuth: []
tags:
- description: An Inbound Wire Transfer is a wire transfer initiated outside of Increase to your account.
  name: Inbound Wire Transfers
paths:
  /inbound_wire_transfers:
    get:
      operationId: list_inbound_wire_transfers
      parameters:
      - in: query
        name: cursor
        required: false
        schema:
          description: Return the page of entries after this one.
          type: string
          x-documentation-priority: low
      - in: query
        name: limit
        required: false
        schema:
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          minimum: 1
          type: integer
          x-documentation-priority: low
      - example: account_in71c4amph0vgo2qllky
        in: query
        name: account_id
        required: false
        schema:
          description: Filter Inbound Wire Transfers to ones belonging to the specified Account.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Accounts
      - in: query
        name: account_number_id
        required: false
        schema:
          description: Filter Inbound Wire Transfers to ones belonging to the specified Account Number.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Account Numbers
      - in: query
        name: created_at.after
        required: false
        schema:
          description: Return results after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: created_at.before
        required: false
        schema:
          description: Return results before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: created_at.on_or_after
        required: false
        schema:
          description: Return results on or after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: created_at.on_or_before
        required: false
        schema:
          description: Return results on or before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: status.in
        required: false
        schema:
          description: Filter Inbound Wire Transfers to those with the specified status. For GET requests, this should be encoded as a comma-delimited string, such as `?in=one,two,three`.
          items:
            enum:
            - pending
            - accepted
            - declined
            - reversed
            type: string
            x-enum-descriptions:
            - The Inbound Wire Transfer is awaiting action, will transition automatically if no action is taken.
            - The Inbound Wire Transfer is accepted.
            - The Inbound Wire Transfer was declined.
            - The Inbound Wire Transfer was reversed.
          type: array
          x-documentation-priority: default
        explode: false
      - in: query
        name: wire_drawdown_request_id
        required: false
        schema:
          description: Filter Inbound Wire Transfers to ones belonging to the specified Wire Drawdown Request.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Wire Drawdown Requests
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inbound_wire_transfer_list'
          description: Inbound Wire Transfer List
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: List Inbound Wire Transfers
      x-sandbox-only: false
      x-tag: Inbound Wire Transfers
      tags:
      - Inbound Wire Transfers
  /inbound_wire_transfers/{inbound_wire_transfer_id}:
    get:
      operationId: retrieve_an_inbound_wire_transfer
      parameters:
      - example: inbound_wire_transfer_f228m6bmhtcxjco9pwp0
        in: path
        name: inbound_wire_transfer_id
        required: true
        schema:
          description: The identifier of the Inbound Wire Transfer to get details for.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Inbound Wire Transfers
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inbound_wire_transfer'
          description: Inbound Wire Transfer
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: Retrieve an Inbound Wire Transfer
      x-sandbox-only: false
      x-tag: Inbound Wire Transfers
      tags:
      - Inbound Wire Transfers
  /inbound_wire_transfers/{inbound_wire_transfer_id}/reverse:
    post:
      operationId: reverse_an_inbound_wire_transfer
      parameters:
      - example: inbound_wire_transfer_f228m6bmhtcxjco9pwp0
        in: path
        name: inbound_wire_transfer_id
        required: true
        schema:
          description: The identifier of the Inbound Wire Transfer to reverse.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Inbound Wire Transfers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reverse_an_inbound_wire_transfer_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inbound_wire_transfer'
          description: Inbound Wire Transfer
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: Reverse an Inbound Wire Transfer
      x-sandbox-only: false
      x-tag: Inbound Wire Transfers
      tags:
      - Inbound Wire Transfers
components:
  schemas:
    error:
      anyOf:
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 404
            type: integer
          title:
            type: string
          type:
            enum:
            - api_method_not_found_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - environment_mismatch_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          resource_id:
            description: ''
            type: string
            x-documentation-priority: default
          status:
            enum:
            - 409
            type: integer
          title:
            type: string
          type:
            enum:
            - idempotency_key_already_used_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - resource_id
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - insufficient_permissions_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 500
            type: integer
          title:
            type: string
          type:
            enum:
            - internal_server_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          reason:
            description: ''
            enum:
            - deleted_credential
            - expired_credential
            - ip_not_allowed
            - no_credential
            - no_header
            - no_api_access
            - wrong_environment
            type: string
            x-documentation-priority: default
            x-enum-descriptions:
            - deleted_credential
            - expired_credential
            - ip_not_allowed
            - no_credential
            - no_header
            - no_api_access
            - wrong_environment
          status:
            enum:
            - 401
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_api_key_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - reason
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 409
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_operation_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          errors:
            description: All errors related to parsing the request parameters.
            items:
              additionalProperties: true
              properties: {}
              title: ErrorsElement
              type: object
              x-event-categories: []
              x-stainless-empty-object: false
              x-title-plural: ErrorsElements
            type: array
            x-documentation-priority: default
          status:
            enum:
            - 400
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_parameters_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - errors
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 400
            type: integer
          title:
            type: string
          type:
            enum:
            - malformed_request_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 404
            type: integer
          title:
            type: string
          type:
            enum:
            - object_not_found_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - private_feature_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          retry_after:
            anyOf:
            - description: ''
              type: integer
              x-documentation-priority: default
            - type: 'null'
          status:
            enum:
            - 429
            type: integer
          title:
            type: string
          type:
            enum:
            - rate_limited_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
    inbound_wire_transfer_list:
      additionalProperties: true
      description: A list of Inbound Wire Transfer objects.
      example:
        data:
        - acceptance: null
          account_id: account_in71c4amph0vgo2qllky
          account_number_id: account_number_v18nkfqm6afpsrvy82b2
          amount: 100
          created_at: '2020-01-31T23:59:59Z'
          creditor_address_line1: null
          creditor_address_line2: null
          creditor_address_line3: null
          creditor_name: null
          debtor_address_line1: null
          debtor_address_line2: null
          debtor_address_line3: null
          debtor_name: null
          description: Inbound wire transfer
          end_to_end_identification: null
          id: inbound_wire_transfer_f228m6bmhtcxjco9pwp0
          input_message_accountability_data: null
          instructing_agent_routing_number: null
          instruction_identification: null
          reversal: null
          status: accepted
          type: inbound_wire_transfer
          unique_end_to_end_transaction_reference: null
          unstructured_remittance_information: null
          wire_drawdown_request_id: null
        next_cursor: v57w5d
      properties:
        data:
          description: The contents of the list.
          items:
            $ref: '#/components/schemas/inbound_wire_transfer'
          type: array
          x-documentation-priority: default
        next_cursor:
          anyOf:
          - description: A pointer to a place in the list. Pass this as the `cursor` parameter to retrieve the next page of results. If there are no more results, the value will be `null`.
            type: string
            x-documentation-priority: default
          - type: 'null'
      required:
      - data
      - next_cursor
      title: Inbound Wire Transfer List
      type: object
      x-event-categories: []
      x-stainless-empty-object: false
      x-title-plural: Inbound Wire Transfer Lists
    reverse_an_inbound_wire_transfer_parameters:
      additionalProperties: false
      example:
        reason: creditor_request
      properties:
        reason:
          description: Reason for the reversal.
          enum:
          - duplicate
          - creditor_request
          - transaction_forbidden
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - The inbound wire transfer was a duplicate.
          - The recipient of the wire transfer requested the funds be returned to the sender.
          - The account cannot currently receive inbound wires.
      required:
      - reason
      type: object
      x-event-categories: []
      x-stainless-empty-object: false
    inbound_wire_transfer:
      additionalProperties: true
      description: An Inbound Wire Transfer is a wire transfer initiated outside of Increase to your account.
      example:
        acceptance: null
        account_id: account_in71c4amph0vgo2qllky
        account_number_id: account_number_v18nkfqm6afpsrvy82b2
        amount: 100
        created_at: '2020-01-31T23:59:59Z'
        creditor_address_line1: null
        creditor_address_line2: null
        creditor_address_line3: null
        creditor_name: null
        debtor_address_line1: null
        debtor_address_line2: null
        debtor_address_line3: null
        debtor_name: null
        description: Inbound wire transfer
        end_to_end_identification: null
        id: inbound_wire_transfer_f228m6bmhtcxjco9pwp0
        input_message_accountability_data: null
        instructing_agent_routing_number: null
        instruction_identification: null
        reversal: null
        status: accepted
        type: inbound_wire_transfer
        unique_end_to_end_transaction_reference: null
        unstructured_remittance_information: null
        wire_drawdown_request_id: null
      properties:
        acceptance:
          anyOf:
          - additionalProperties: false
            description: If the transfer is accepted, this will contain details of the acceptance.
            properties:
              accepted_at:
                description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date and time at which the transfer was accepted.
                format: date-time
                type: string
                x-documentation-priority: default
              transaction_id:
                description: The identifier of the transaction for the accepted transfer.
                type: string
                x-documentation-priority: default
                x-id-reference-to: Transactions
            required:
            - accepted_at
            - transaction_id
            title: Inbound Wire Transfer Acceptance
            type: object
            x-documentation-priority: default
            x-event-categories: []
            x-stainless-empty-object: false
            x-title-plural: Acceptances
          - type: 'null'
        account_id:
          description: The Account to which the transfer belongs.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Accounts
        account_number_id:
          description: The identifier of the Account Number to which this transfer was sent.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Account Numbers
        amount:
          description: The amount in USD cents.
          type: integer
          x-documentation-priority: default
        created_at:
          description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date and time at which the inbound wire transfer was created.
          format: date-time
          type: string
          x-documentation-priority: default
        creditor_address_line1:
          anyOf:
          - description: A free-form address field set by the sender.
            type: string
            x-documentation-priority: default
          - type: 'null'
        creditor_address_line2:
          anyOf:
          - description: A free-form address field set by the sender.
            type: string
            x-documentation-priority: default
          - type: 'null'
        creditor_address_line3:
          anyOf:
          - description: A free-form address field set by the sender.
            type: string
            x-documentation-priority: default
          - type: 'null'
        creditor_name:
          anyOf:
          - description: A name set by the sender.
            type: string
            x-documentation-priority: default
          - type: 'null'
        debtor_address_line1:
          anyOf:
          - description: A free-form address field set by the sender.
            type: string
            x-documentation-priority: default
          - type: 'null'
        debtor_address_line2:
          anyOf:
          - description: A free-form address field set by the sender.
            type: string
            x-documentation-priority: default
          - type: 'null'
        debtor_address_line3:
          anyOf:
          - description: A free-form address field set by the sender.
            type: string
            x-documentation-priority: default
          - type: 'null'
        debtor_name:
          anyOf:
          - description: A name set by the sender.
            type: string
            x-documentation-priority: default
          - type: 'null'
        description:
          description: An Increase-constructed description of the transfer.
          type: string
          x-documentation-priority: default
        end_to_end_identification:
          anyOf:
          - description: A free-form reference string set by the sender, to help identify the transfer.
            type: string
            x-documentation-priority: default
          - type: 'null'
        id:
          description: The inbound wire transfer's identifier.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Inbound Wire Transfers
        input_message_accountability_data:
          anyOf:
          - description: A unique identifier available to the originating and receiving banks, commonly abbreviated as IMAD. It is created when the wire is submitted to the Fedwire service and is helpful when debugging wires with the originating bank.
            type: string
            x-documentation-priority: default
          - type: 'null'
        instructing_agent_routing_number:
          anyOf:
          - description: The American Banking Association (ABA) routing number of the bank that sent the wire.
            type: string
            x-documentation-priority: default
          - type: 'null'
        instruction_identification:
          anyOf:
          - description: The sending bank's identifier for the wire transfer.
            type: string
            x-documentation-priority: default
          - type: 'null'
        reversal:
          anyOf:
          - additionalProperties: false
            description: If the transfer is reversed, this will contain details of the reversal.
            properties:
              reason:
                description: The reason for the reversal.
                enum:
                - duplicate
                - creditor_request
                - transaction_forbidden
                type: string
                x-documentation-priority: default
                x-enum-descriptions:
                - The inbound wire transfer was a duplicate.
                - The recipient of the wire transfer requested the funds be returned to the sender.
                - The account cannot currently receive inbound wires.
              reversed_at:
                description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date and time at which the transfer was reversed.
                format: date-time
                type: string
                x-documentation-priority: default
            required:
            - reason
            - reversed_at
            title: Inbound Wire Transfer Reversal
            type: object
            x-documentation-priority: default
            x-event-categories: []
            x-stainless-empty-object: false
            x-title-plural: Reversals
          - type: 'null'
        status:
          description: The status of the transfer.
          enum:
          - pending
          - accepted
          - declined
          - reversed
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - The Inbound Wire Transfer is awaiting action, will transition automatically if no action is taken.
          - The Inbound Wire Transfer is accepted.
          - The Inbound Wire Transfer was declined.
          - The Inbound Wire Transfer was reversed.
        type:
          description: A constant representing the object's type. For this resource it will always be `inbound_wire_transfer`.
          enum:
          - inbound_wire_transfer
          type: string
          x-documentation-priority: default
        unique_end_to_end_transaction_reference:
          anyOf:
          - description: The Unique End-to-end Transaction Reference ([UETR](https://www.swift.com/payments/what-unique-end-end-transaction-reference-uetr)) of the transfer.
            type: string
            x-documentation-priority: default
          - type: 'null'
        unstructured_remittance_information:
          anyOf:
          - description: A free-form message set by the sender.
            type: string
            x-documentation-priority: default
          - type: 'null'
        wire_drawdown_request_id:
          anyOf:
          - description: The wire drawdown request the inbound wire transfer is fulfilling.
            type: string
            x-documentation-priority: default
            x-id-reference-to: Wire Drawdown Requests
          - type: 'null'
      required:
      - type
      - id
      - amount
      - account_id
      - account_number_id
      - status
      - created_at
      - description
      - input_message_accountability_data
      - creditor_address_line1
      - creditor_address_line2
      - creditor_address_line3
      - creditor_name
      - end_to_end_identification
      - debtor_address_line1
      - debtor_address_line2
      - debtor_address_line3
      - debtor_name
      - instructing_agent_routing_number
      - unstructured_remittance_information
      - instruction_identification
      - unique_end_to_end_transaction_reference
      - wire_drawdown_request_id
      - acceptance
      - reversal
      title: Inbound Wire Transfer
      type: object
      x-event-categories:
      - inbound_wire_transfer.created
      - inbound_wire_transfer.updated
      x-stainless-empty-object: false
      x-tag: Inbound Wire Transfers
      x-title-plural: Inbound Wire Transfers
  responses:
    errorResponse:
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/error'
      description: Error
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
x-tagGroups:
- name: Accounts
  tags:
  - Accounts
  - Account Numbers
  - Account Transfers
- name: Transactions
  tags:
  - Transactions
  - Pending Transactions
  - Declined Transactions
- name: Ach Transfers
  tags:
  - ACH Transfers
  - Inbound ACH Transfers
  - ACH Prenotifications
- name: Check Transfers
  tags:
  - Check Transfers
  - Inbound Check Deposits
- name: Real Time Payments Transfers
  tags:
  - Real-Time Payments Transfers
  - Inbound Real-Time Payments Transfers
- name: Fednow Transfers
  tags:
  - FedNow Transfers
  - Inbound FedNow Transfers
- name: Swift Transfers
  tags:
  - Swift Transfers
- name: Wire Transfers
  tags:
  - Wire Transfers
  - Inbound Wire Transfers
  - Wire Drawdown Requests
  - Inbound Wire Drawdown Requests
- name: Card Transfers
  tags:
  - Card Tokens
  - Card Push Transfers
  - Card Validations
- name: Check Deposits
  tags:
  - Check Deposits
  - Lockbox Addresses
  - Lockbox Recipients
  - Inbound Mail Items
- name: Cards
  tags:
  - Cards
  - Card Payments
  - Card Purchase Supplements
  - Card Disputes
  - Physical Cards
  - Digital Card Profiles
  - Physical Card Profiles
  - Digital Wallet Tokens
- name: Compliance
  tags:
  - Entities
  - Beneficial Owners
  - Supplemental Documents
  - Entity Onboarding Sessions
  - Programs
- name: Events and Webhooks
  tags:
  - Events
  - Event Subscriptions
  - Real-Time Decisions
- name: External Accounts
  tags:
  - Routing Numbers
  - External Accounts
- name: Files and Exports
  tags:
  - Account Statements
  - Files
  - File Links
  - Exports
- name: OAuth
  tags:
  - Groups
  - OAuth Applications
  - OAuth Connections
  - OAuth Tokens
- name: Intrafi
  tags:
  - IntraFi Account Enrollments
  - IntraFi Balances
  - IntraFi Exclusions
