openapi: 3.1.0
info:
  description: Anything that you can achieve with PDFs, presence, and persistence in a bank branch you can do with our API. We've always wanted a fully programmatic bank so we built one. Our API faithfully exposes the data and capabilities of the Federal Reserve, Visa, The Clearing House, depository networks, and accounting tools. It's lovingly boring and exceptionally powerful. If you have any questions or want to get started, don't hesitate to ping us at sales@increase.com. We can't wait to see what you build!
  title: Increase Account Numbers Real Time Decisions API
  version: 0.0.1
servers:
- url: https://api.increase.com
- url: https://sandbox.increase.com
security:
- bearerAuth: []
tags:
- name: Real Time Decisions
paths:
  /real_time_decisions/{real_time_decision_id}:
    get:
      operationId: retrieve_a_real_time_decision
      parameters:
      - example: real_time_decision_j76n2e810ezcg3zh5qtn
        in: path
        name: real_time_decision_id
        required: true
        schema:
          description: The identifier of the Real-Time Decision.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Real-Time Decisions
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/real_time_decision'
          description: Real-Time Decision
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: Retrieve a Real-Time Decision
      x-sandbox-only: false
      x-tag: Real-Time Decisions
      tags:
      - Real Time Decisions
  /real_time_decisions/{real_time_decision_id}/action:
    post:
      operationId: action_a_real_time_decision
      parameters:
      - example: real_time_decision_j76n2e810ezcg3zh5qtn
        in: path
        name: real_time_decision_id
        required: true
        schema:
          description: The identifier of the Real-Time Decision.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Real-Time Decisions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/action_a_real_time_decision_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/real_time_decision'
          description: Real-Time Decision
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: Action a Real-Time Decision
      x-sandbox-only: false
      x-tag: Real-Time Decisions
      tags:
      - Real Time Decisions
components:
  schemas:
    real_time_decision:
      additionalProperties: false
      description: Real Time Decisions are created when your application needs to take action in real-time to some event such as a card authorization. For more information, see our [Real-Time Decisions guide](https://increase.com/documentation/real-time-decisions).
      example:
        card_authentication: null
        card_authentication_challenge: null
        card_authorization:
          account_id: account_in71c4amph0vgo2qllky
          additional_amounts:
            clinic: null
            dental: null
            original: null
            prescription: null
            surcharge: null
            total_cumulative: null
            total_healthcare: null
            transit: null
            unknown: null
            vision: null
          approval: null
          card_id: card_oubs0hwk5rn6knuecxg2
          decision: approve
          decline: null
          digital_wallet_token_id: null
          direction: settlement
          merchant_acceptor_id: '5665270011000168'
          merchant_category_code: '5734'
          merchant_city: New York
          merchant_country: US
          merchant_descriptor: AMAZON.COM
          merchant_postal_code: '10045'
          merchant_state: NY
          network_details:
            category: visa
            pulse: null
            visa:
              electronic_commerce_indicator: secure_electronic_commerce
              point_of_service_entry_mode: manual
              stand_in_processing_reason: null
              terminal_entry_capability: magnetic_stripe
          network_identifiers:
            authorization_identification_response: null
            retrieval_reference_number: '785867080153'
            trace_number: '487941'
            transaction_id: '627199945183184'
          network_risk_score: 10
          partial_approval_capability: not_supported
          physical_card_id: null
          presentment_amount: 100
          presentment_currency: USD
          processing_category: purchase
          request_details:
            category: initial_authorization
            incremental_authorization: null
            initial_authorization: {}
          settlement_amount: 100
          settlement_currency: USD
          terminal_id: RCN5VNXS
          upcoming_card_payment_id: card_payment_nd3k2kacrqjli8482ave
          verification:
            card_verification_code:
              result: match
            cardholder_address:
              actual_line1: 33 Liberty Street
              actual_postal_code: '94131'
              provided_line1: 33 Liberty Street
              provided_postal_code: '94132'
              result: postal_code_no_match_address_match
            cardholder_name: null
        card_balance_inquiry: null
        category: card_authorization_requested
        created_at: '2020-01-31T23:59:59Z'
        digital_wallet_authentication: null
        digital_wallet_token: null
        id: real_time_decision_j76n2e810ezcg3zh5qtn
        status: pending
        timeout_at: '2020-01-31T23:59:59Z'
        type: real_time_decision
      properties:
        card_authentication:
          anyOf:
          - additionalProperties: false
            description: Fields related to a 3DS authentication attempt.
            properties:
              access_control_server_transaction_identifier:
                description: A unique identifier assigned by the Access Control Server (us) for this transaction.
                type: string
                x-documentation-priority: default
              account_id:
                description: The identifier of the Account the card belongs to.
                type: string
                x-documentation-priority: default
                x-id-reference-to: Accounts
              billing_address_city:
                anyOf:
                - description: The city of the cardholder billing address associated with the card used for this purchase.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              billing_address_country:
                anyOf:
                - description: The country of the cardholder billing address associated with the card used for this purchase.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              billing_address_line1:
                anyOf:
                - description: The first line of the cardholder billing address associated with the card used for this purchase.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              billing_address_line2:
                anyOf:
                - description: The second line of the cardholder billing address associated with the card used for this purchase.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              billing_address_line3:
                anyOf:
                - description: The third line of the cardholder billing address associated with the card used for this purchase.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              billing_address_postal_code:
                anyOf:
                - description: The postal code of the cardholder billing address associated with the card used for this purchase.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              billing_address_state:
                anyOf:
                - description: The US state of the cardholder billing address associated with the card used for this purchase.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              card_id:
                description: The identifier of the Card.
                type: string
                x-documentation-priority: default
                x-id-reference-to: Cards
              cardholder_email:
                anyOf:
                - description: The email address of the cardholder.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              cardholder_name:
                anyOf:
                - description: The name of the cardholder.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              decision:
                anyOf:
                - description: Whether or not the authentication attempt was approved.
                  enum:
                  - approve
                  - challenge
                  - deny
                  type: string
                  x-documentation-priority: default
                  x-enum-descriptions:
                  - Approve the authentication attempt without triggering a challenge.
                  - Request further validation before approving the authentication attempt.
                  - Deny the authentication attempt.
                - type: 'null'
              device_channel:
                additionalProperties: false
                description: The device channel of the card authentication attempt.
                properties:
                  browser:
                    anyOf:
                    - additionalProperties: false
                      description: Fields specific to the browser device channel.
                      properties:
                        accept_header:
                          anyOf:
                          - description: The accept header from the cardholder's browser.
                            type: string
                            x-documentation-priority: default
                          - type: 'null'
                        ip_address:
                          anyOf:
                          - description: The IP address of the cardholder's browser.
                            type: string
                            x-documentation-priority: default
                          - type: 'null'
                        javascript_enabled:
                          anyOf:
                          - description: Whether JavaScript is enabled in the cardholder's browser.
                            enum:
                            - enabled
                            - disabled
                            type: string
                            x-documentation-priority: default
                            x-enum-descriptions:
                            - JavaScript is enabled in the cardholder's browser.
                            - JavaScript is not enabled in the cardholder's browser.
                          - type: 'null'
                        language:
                          anyOf:
                          - description: The language of the cardholder's browser.
                            type: string
                            x-documentation-priority: default
                          - type: 'null'
                        user_agent:
                          anyOf:
                          - description: The user agent of the cardholder's browser.
                            type: string
                            x-documentation-priority: default
                          - type: 'null'
                      required:
                      - accept_header
                      - ip_address
                      - javascript_enabled
                      - language
                      - user_agent
                      title: Real-Time Decision CardAuthentication DeviceChannel Browser
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: Browsers
                    - type: 'null'
                  category:
                    description: The category of the device channel.
                    enum:
                    - app
                    - browser
                    - three_ds_requestor_initiated
                    type: string
                    x-documentation-priority: default
                    x-enum-descriptions:
                    - The authentication attempt was made from an app.
                    - The authentication attempt was made from a browser.
                    - The authentication attempt was initiated by the 3DS Requestor.
                  merchant_initiated:
                    anyOf:
                    - additionalProperties: false
                      description: Fields specific to merchant initiated transactions.
                      properties:
                        indicator:
                          description: The merchant initiated indicator for the transaction.
                          enum:
                          - recurring_transaction
                          - installment_transaction
                          - add_card
                          - maintain_card_information
                          - account_verification
                          - split_delayed_shipment
                          - top_up
                          - mail_order
                          - telephone_order
                          - whitelist_status_check
                          - other_payment
                          - billing_agreement
                          - device_binding_status_check
                          - card_security_code_status_check
                          - delayed_shipment
                          - split_payment
                          - fido_credential_deletion
                          - fido_credential_registration
                          - decoupled_authentication_fallback
                          type: string
                          x-documentation-priority: default
                          x-enum-descriptions:
                          - Recurring transaction.
                          - Installment transaction.
                          - Add card.
                          - Maintain card information.
                          - Account verification.
                          - Split or delayed shipment.
                          - Top up.
                          - Mail order.
                          - Telephone order.
                          - Whitelist status check.
                          - Other payment.
                          - Billing agreement.
                          - Device binding status check.
                          - Card security code status check.
                          - Delayed shipment.
                          - Split payment.
                          - FIDO credential deletion.
                          - FIDO credential registration.
                          - Decoupled authentication fallback.
                      required:
                      - indicator
                      title: Real-Time Decision CardAuthentication DeviceChannel MerchantInitiated
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: MerchantInitiateds
                    - type: 'null'
                required:
                - category
                - merchant_initiated
                - browser
                title: Real-Time Decision CardAuthentication DeviceChannel
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              directory_server_transaction_identifier:
                description: A unique identifier assigned by the Directory Server (the card network) for this transaction.
                type: string
                x-documentation-priority: default
              merchant_acceptor_id:
                anyOf:
                - description: The merchant identifier (commonly abbreviated as MID) of the merchant the card is transacting with.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              merchant_category_code:
                anyOf:
                - description: The Merchant Category Code (commonly abbreviated as MCC) of the merchant the card is transacting with.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              merchant_country:
                anyOf:
                - description: The country the merchant resides in.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              merchant_name:
                anyOf:
                - description: The name of the merchant.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              message_category:
                additionalProperties: false
                description: The message category of the card authentication attempt.
                properties:
                  category:
                    description: The category of the card authentication attempt.
                    enum:
                    - payment_authentication
                    - non_payment_authentication
                    type: string
                    x-documentation-priority: default
                    x-enum-descriptions:
                    - The authentication attempt is for a payment.
                    - The authentication attempt is not for a payment.
                  non_payment:
                    anyOf:
                    - additionalProperties: false
                      description: Fields specific to non-payment authentication attempts.
                      properties: {}
                      title: Real-Time Decision CardAuthentication MessageCategory NonPayment
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: true
                      x-title-plural: NonPayments
                    - type: 'null'
                  payment:
                    anyOf:
                    - additionalProperties: false
                      description: Fields specific to payment authentication attempts.
                      properties:
                        purchase_amount:
                          description: The purchase amount in minor units.
                          type: integer
                          x-documentation-priority: default
                        purchase_amount_cardholder_estimated:
                          anyOf:
                          - description: The purchase amount in the cardholder's currency (i.e., USD) estimated using daily conversion rates from the card network.
                            type: integer
                            x-documentation-priority: default
                          - type: 'null'
                        purchase_currency:
                          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the authentication attempt's purchase currency.
                          type: string
                          x-documentation-priority: default
                        transaction_type:
                          anyOf:
                          - description: The type of transaction being authenticated.
                            enum:
                            - goods_service_purchase
                            - check_acceptance
                            - account_funding
                            - quasi_cash_transaction
                            - prepaid_activation_and_load
                            type: string
                            x-documentation-priority: default
                            x-enum-descriptions:
                            - Purchase of goods or services.
                            - Check acceptance.
                            - Account funding.
                            - Quasi-cash transaction.
                            - Prepaid activation and load.
                          - type: 'null'
                      required:
                      - purchase_amount
                      - purchase_currency
                      - purchase_amount_cardholder_estimated
                      - transaction_type
                      title: Real-Time Decision CardAuthentication MessageCategory Payment
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: Payments
                    - type: 'null'
                required:
                - category
                - payment
                - non_payment
                title: Real-Time Decision CardAuthentication MessageCategory
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              prior_authenticated_card_payment_id:
                anyOf:
                - description: The ID of a prior Card Authentication that the requestor used to authenticate this cardholder for a previous transaction.
                  type: string
                  x-documentation-priority: default
                  x-id-reference-to: Card Authentications
                - type: 'null'
              requestor_authentication_indicator:
                anyOf:
                - description: The 3DS requestor authentication indicator describes why the authentication attempt is performed, such as for a recurring transaction.
                  enum:
                  - payment_transaction
                  - recurring_transaction
                  - installment_transaction
                  - add_card
                  - maintain_card
                  - emv_token_cardholder_verification
                  - billing_agreement
                  type: string
                  x-documentation-priority: default
                  x-enum-descriptions:
                  - The authentication is for a payment transaction.
                  - The authentication is for a recurring transaction.
                  - The authentication is for an installment transaction.
                  - The authentication is for adding a card.
                  - The authentication is for maintaining a card.
                  - The authentication is for EMV token cardholder verification.
                  - The authentication is for a billing agreement.
                - type: 'null'
              requestor_challenge_indicator:
                anyOf:
                - description: Indicates whether a challenge is requested for this transaction.
                  enum:
                  - no_preference
                  - no_challenge_requested
                  - challenge_requested_3ds_requestor_preference
                  - challenge_requested_mandate
                  - no_challenge_requested_transactional_risk_analysis_already_performed
                  - no_challenge_requested_data_share_only
                  - no_challenge_requested_strong_consumer_authentication_already_performed
                  - no_challenge_requested_utilize_whitelist_exemption_if_no_challenge_required
                  - challenge_requested_whitelist_prompt_requested_if_challenge_required
                  type: string
                  x-documentation-priority: default
                  x-enum-descriptions:
                  - No preference.
                  - No challenge requested.
                  - Challenge requested, 3DS Requestor preference.
                  - Challenge requested, mandate.
                  - No challenge requested, transactional risk analysis already performed.
                  - No challenge requested, data share only.
                  - No challenge requested, strong consumer authentication already performed.
                  - No challenge requested, utilize whitelist exemption if no challenge required.
                  - Challenge requested, whitelist prompt requested if challenge required.
                - type: 'null'
              requestor_name:
                description: The name of the 3DS requestor.
                type: string
                x-documentation-priority: default
              requestor_url:
                description: The URL of the 3DS requestor.
                type: string
                x-documentation-priority: default
              shipping_address_city:
                anyOf:
                - description: The city of the shipping address associated with this purchase.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              shipping_address_country:
                anyOf:
                - description: The country of the shipping address associated with this purchase.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              shipping_address_line1:
                anyOf:
                - description: The first line of the shipping address associated with this purchase.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              shipping_address_line2:
                anyOf:
                - description: The second line of the shipping address associated with this purchase.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              shipping_address_line3:
                anyOf:
                - description: The third line of the shipping address associated with this purchase.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              shipping_address_postal_code:
                anyOf:
                - description: The postal code of the shipping address associated with this purchase.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              shipping_address_state:
                anyOf:
                - description: The US state of the shipping address associated with this purchase.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              three_d_secure_server_transaction_identifier:
                description: A unique identifier assigned by the 3DS Server initiating the authentication attempt for this transaction.
                type: string
                x-documentation-priority: default
              upcoming_card_payment_id:
                description: The identifier of the Card Payment this authentication attempt will belong to. Available in the API once the card authentication has completed.
                type: string
                x-documentation-priority: default
                x-id-reference-to: Card Payments
            required:
            - card_id
            - prior_authenticated_card_payment_id
            - message_category
            - access_control_server_transaction_identifier
            - three_d_secure_server_transaction_identifier
            - directory_server_transaction_identifier
            - device_channel
            - cardholder_name
            - cardholder_email
            - requestor_authentication_indicator
            - requestor_challenge_indicator
            - requestor_name
            - requestor_url
            - merchant_category_code
            - merchant_acceptor_id
            - merchant_name
            - merchant_country
            - billing_address_line1
            - billing_address_line2
            - billing_address_line3
            - billing_address_city
            - billing_address_state
            - billing_address_postal_code
            - billing_address_country
            - shipping_address_line1
            - shipping_address_line2
            - shipping_address_line3
            - shipping_address_city
            - shipping_address_state
            - shipping_address_postal_code
            - shipping_address_country
            - account_id
            - upcoming_card_payment_id
            - decision
            title: Real-Time Decision CardAuthentication
            type: object
            x-documentation-priority: default
            x-event-categories: []
            x-stainless-empty-object: false
            x-title-plural: CardAuthentications
          - type: 'null'
        card_authentication_challenge:
          anyOf:
          - additionalProperties: false
            description: Fields related to a 3DS authentication attempt.
            properties:
              account_id:
                description: The identifier of the Account the card belongs to.
                type: string
                x-documentation-priority: default
                x-id-reference-to: Accounts
              card_id:
                description: The identifier of the Card that is being tokenized.
                type: string
                x-documentation-priority: default
                x-id-reference-to: Cards
              card_payment_id:
                description: The identifier of the Card Payment this authentication challenge attempt belongs to.
                type: string
                x-documentation-priority: default
                x-id-reference-to: Card Payments
              one_time_code:
                description: The one-time code delivered to the cardholder.
                type: string
                x-documentation-priority: default
              result:
                anyOf:
                - description: Whether or not the challenge was delivered to the cardholder.
                  enum:
                  - success
                  - failure
                  type: string
                  x-documentation-priority: default
                  x-enum-descriptions:
                  - Your application successfully delivered the one-time code to the cardholder.
                  - Your application was unable to deliver the one-time code to the cardholder.
                - type: 'null'
            required:
            - card_id
            - account_id
            - card_payment_id
            - one_time_code
            - result
            title: Real-Time Decision CardAuthenticationChallenge
            type: object
            x-documentation-priority: default
            x-event-categories: []
            x-stainless-empty-object: false
            x-title-plural: CardAuthenticationChallenges
          - type: 'null'
        card_authorization:
          anyOf:
          - additionalProperties: true
            description: Fields related to a card authorization.
            properties:
              account_id:
                description: The identifier of the Account the authorization will debit.
                type: string
                x-documentation-priority: default
                x-id-reference-to: Accounts
              additional_amounts:
                additionalProperties: false
                description: Additional amounts associated with the card authorization, such as ATM surcharges fees. These are usually a subset of the `amount` field and are used to provide more detailed information about the transaction.
                properties:
                  clinic:
                    anyOf:
                    - additionalProperties: false
                      description: The part of this transaction amount that was for clinic-related services.
                      properties:
                        amount:
                          description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                          type: integer
                          x-documentation-priority: default
                        currency:
                          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                          type: string
                          x-documentation-priority: default
                      required:
                      - amount
                      - currency
                      title: Real-Time Decision CardAuthorization AdditionalAmounts AdditionalAmount
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: s
                    - type: 'null'
                  dental:
                    anyOf:
                    - additionalProperties: false
                      description: The part of this transaction amount that was for dental-related services.
                      properties:
                        amount:
                          description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                          type: integer
                          x-documentation-priority: default
                        currency:
                          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                          type: string
                          x-documentation-priority: default
                      required:
                      - amount
                      - currency
                      title: Real-Time Decision CardAuthorization AdditionalAmounts AdditionalAmount
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: s
                    - type: 'null'
                  original:
                    anyOf:
                    - additionalProperties: false
                      description: The original pre-authorized amount.
                      properties:
                        amount:
                          description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                          type: integer
                          x-documentation-priority: default
                        currency:
                          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                          type: string
                          x-documentation-priority: default
                      required:
                      - amount
                      - currency
                      title: Real-Time Decision CardAuthorization AdditionalAmounts AdditionalAmount
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: s
                    - type: 'null'
                  prescription:
                    anyOf:
                    - additionalProperties: false
                      description: The part of this transaction amount that was for healthcare prescriptions.
                      properties:
                        amount:
                          description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                          type: integer
                          x-documentation-priority: default
                        currency:
                          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                          type: string
                          x-documentation-priority: default
                      required:
                      - amount
                      - currency
                      title: Real-Time Decision CardAuthorization AdditionalAmounts AdditionalAmount
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: s
                    - type: 'null'
                  surcharge:
                    anyOf:
                    - additionalProperties: false
                      description: The surcharge amount charged for this transaction by the merchant.
                      properties:
                        amount:
                          description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                          type: integer
                          x-documentation-priority: default
                        currency:
                          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                          type: string
                          x-documentation-priority: default
                      required:
                      - amount
                      - currency
                      title: Real-Time Decision CardAuthorization AdditionalAmounts AdditionalAmount
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: s
                    - type: 'null'
                  total_cumulative:
                    anyOf:
                    - additionalProperties: false
                      description: The total amount of a series of incremental authorizations, optionally provided.
                      properties:
                        amount:
                          description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                          type: integer
                          x-documentation-priority: default
                        currency:
                          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                          type: string
                          x-documentation-priority: default
                      required:
                      - amount
                      - currency
                      title: Real-Time Decision CardAuthorization AdditionalAmounts AdditionalAmount
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: s
                    - type: 'null'
                  total_healthcare:
                    anyOf:
                    - additionalProperties: false
                      description: The total amount of healthcare-related additional amounts.
                      properties:
                        amount:
                          description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                          type: integer
                          x-documentation-priority: default
                        currency:
                          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                          type: string
                          x-documentation-priority: default
                      required:
                      - amount
                      - currency
                      title: Real-Time Decision CardAuthorization AdditionalAmounts AdditionalAmount
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: s
                    - type: 'null'
                  transit:
                    anyOf:
                    - additionalProperties: false
                      description: The part of this transaction amount that was for transit-related services.
                      properties:
                        amount:
                          description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                          type: integer
                          x-documentation-priority: default
                        currency:
                          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                          type: string
                          x-documentation-priority: default
                      required:
                      - amount
                      - currency
                      title: Real-Time Decision CardAuthorization AdditionalAmounts AdditionalAmount
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: s
                    - type: 'null'
                  unknown:
                    anyOf:
                    - additionalProperties: false
                      description: An unknown additional amount.
                      properties:
                        amount:
                          description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                          type: integer
                          x-documentation-priority: default
                        currency:
                          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                          type: string
                          x-documentation-priority: default
                      required:
                      - amount
                      - currency
                      title: Real-Time Decision CardAuthorization AdditionalAmounts AdditionalAmount
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: s
                    - type: 'null'
                  vision:
                    anyOf:
                    - additionalProperties: false
                      description: The part of this transaction amount that was for vision-related services.
                      properties:
                        amount:
                          description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                          type: integer
                          x-documentation-priority: default
                        currency:
                          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                          type: string
                          x-documentation-priority: default
                      required:
                      - amount
                      - currency
                      title: Real-Time Decision CardAuthorization AdditionalAmounts AdditionalAmount
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: s
                    - type: 'null'
                required:
                - total_healthcare
                - total_cumulative
                - surcharge
                - transit
                - vision
                - clinic
                - dental
                - prescription
                - original
                - unknown
                title: Real-Time Decision CardAuthorization AdditionalAmounts
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              approval:
                anyOf:
                - additionalProperties: false
                  description: Present if and only if `decision` is `approve`. Contains information related to the approval of the authorization.
                  properties:
                    partial_amount:
                      anyOf:
                      - description: If the authorization was partially approved, this field contains the approved amount in the minor unit of the settlement currency.
                        type: integer
                        x-documentation-priority: default
                      - type: 'null'
                  required:
                  - partial_amount
                  title: Real-Time Decision CardAuthorization Approval
                  type: object
                  x-documentation-priority: default
                  x-event-categories: []
                  x-stainless-empty-object: false
                  x-title-plural: Approvals
                - type: 'null'
              card_id:
                description: The identifier of the Card that is being authorized.
                type: string
                x-documentation-priority: default
                x-id-reference-to: Cards
              decision:
                anyOf:
                - description: Whether or not the authorization was approved.
                  enum:
                  - approve
                  - decline
                  type: string
                  x-documentation-priority: default
                  x-enum-descriptions:
                  - Approve the authorization.
                  - Decline the authorization.
                - type: 'null'
              decline:
                anyOf:
                - additionalProperties: false
                  description: Present if and only if `decision` is `decline`. Contains information related to the reason the authorization was declined.
                  properties:
                    reason:
                      description: The reason the authorization was declined.
                      enum:
                      - insufficient_funds
                      - transaction_never_allowed
                      - exceeds_approval_limit
                      - card_temporarily_disabled
                      - suspected_fraud
                      - other
                      type: string
                      x-documentation-priority: default
                      x-enum-descriptions:
                      - The cardholder does not have sufficient funds to cover the transaction. The merchant may attempt to process the transaction again.
                      - This type of transaction is not allowed for this card. This transaction should not be retried.
                      - The transaction amount exceeds the cardholder's approval limit. The merchant may attempt to process the transaction again.
                      - The card has been temporarily disabled or not yet activated. The merchant may attempt to process the transaction again.
                      - The transaction is suspected to be fraudulent. The merchant may attempt to process the transaction again.
                      - The transaction was declined for another reason. The merchant may attempt to process the transaction again. This should be used sparingly.
                  required:
                  - reason
                  title: Real-Time Decision CardAuthorization Decline
                  type: object
                  x-documentation-priority: default
                  x-event-categories: []
                  x-stainless-empty-object: false
                  x-title-plural: Declines
                - type: 'null'
              digital_wallet_token_id:
                anyOf:
                - description: If the authorization was made via a Digital Wallet Token (such as an Apple Pay purchase), the identifier of the token that was used.
                  type: string
                  x-documentation-priority: default
                  x-id-reference-to: Digital Wallet Tokens
                - type: 'null'
              direction:
                description: The direction describes the direction the funds will move, either from the cardholder to the merchant or from the merchant to the cardholder.
                enum:
                - settlement
                - refund
                type: string
                x-documentation-priority: default
                x-enum-descriptions:
                - A regular card authorization where funds are debited from the cardholder.
                - A refund card authorization, sometimes referred to as a credit voucher authorization, where funds are credited to the cardholder.
              merchant_acceptor_id:
                description: The merchant identifier (commonly abbreviated as MID) of the merchant the card is transacting with.
                type: string
                x-documentation-priority: default
              merchant_category_code:
                description: The Merchant Category Code (commonly abbreviated as MCC) of the merchant the card is transacting with.
                type: string
                x-documentation-priority: default
              merchant_city:
                anyOf:
                - description: The city the merchant resides in.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              merchant_country:
                description: The country the merchant resides in.
                type: string
                x-documentation-priority: default
              merchant_descriptor:
                description: The merchant descriptor of the merchant the card is transacting with.
                type: string
                x-documentation-priority: default
              merchant_postal_code:
                anyOf:
                - description: The merchant's postal code. For US merchants this is either a 5-digit or 9-digit ZIP code, where the first 5 and last 4 are separated by a dash.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              merchant_state:
                anyOf:
                - description: The state the merchant resides in.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              network_details:
                additionalProperties: false
                description: Fields specific to the `network`.
                properties:
                  category:
                    description: The payment network used to process this card authorization.
                    enum:
                    - visa
                    - pulse
                    type: string
                    x-documentation-priority: default
                    x-enum-descriptions:
                    - Visa
                    - Pulse
                  pulse:
                    anyOf:
                    - additionalProperties: false
                      description: Fields specific to the `pulse` network.
                      properties: {}
                      title: Real-Time Decision CardAuthorization NetworkDetails Pulse
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: true
                      x-title-plural: Pulses
                    - type: 'null'
                  visa:
                    anyOf:
                    - additionalProperties: false
                      description: Fields specific to the `visa` network.
                      properties:
                        electronic_commerce_indicator:
                          anyOf:
                          - description: For electronic commerce transactions, this identifies the level of security used in obtaining the customer's payment credential. For mail or telephone order transactions, identifies the type of mail or telephone order.
                            enum:
                            - mail_phone_order
                            - recurring
                            - installment
                            - unknown_mail_phone_order
                            - secure_electronic_commerce
                            - non_authenticated_security_transaction_at_3ds_capable_merchant
                            - non_authenticated_security_transaction
                            - non_secure_transaction
                            type: string
                            x-documentation-priority: default
                            x-enum-descriptions:
                            - 'Single transaction of a mail/phone order: Use to indicate that the transaction is a mail/phone order purchase, not a recurring transaction or installment payment. For domestic transactions in the US region, this value may also indicate one bill payment transaction in the card-present or card-absent environments.'
                            - 'Recurring transaction: Payment indicator used to indicate a recurring transaction that originates from an acquirer in the US region.'
                            - 'Installment payment: Payment indicator used to indicate one purchase of goods or services that is billed to the account in multiple charges over a period of time agreed upon by the cardholder and merchant from transactions that originate from an acquirer in the US region.'
                            - 'Unknown classification: other mail order: Use to indicate that the type of mail/telephone order is unknown.'
                            - 'Secure electronic commerce transaction: Use to indicate that the electronic commerce transaction has been authenticated using e.g., 3-D Secure'
                            - 'Non-authenticated security transaction at a 3-D Secure-capable merchant, and merchant attempted to authenticate the cardholder using 3-D Secure: Use to identify an electronic commerce transaction where the merchant attempted to authenticate the cardholder using 3-D Secure, but was unable to complete the authentication because the issuer or cardholder does not participate in the 3-D Secure program.'
                            - 'Non-authenticated security transaction: Use to identify an electronic commerce transaction that uses data encryption for security however, cardholder authentication is not performed using 3-D Secure.'
                            - 'Non-secure transaction: Use to identify an electronic commerce transaction that has no data protection.'
                          - type: 'null'
                        point_of_service_entry_mode:
                          anyOf:
                          - description: The method used to enter the cardholder's primary account number and card expiration date.
                            enum:
                            - unknown
                            - manual
                            - magnetic_stripe_no_cvv
                            - optical_code
                            - integrated_circuit_card
                            - contactless
                            - credential_on_file
                            - magnetic_stripe
                            - contactless_magnetic_stripe
                            - integrated_circuit_card_no_cvv
                            type: string
                            x-documentation-priority: default
                            x-enum-descriptions:
                            - Unknown
                            - Manual key entry
                            - Magnetic stripe read, without card verification value
                            - Optical code
                            - Contact chip card
                            - Contactless read of chip card
                            - Transaction initiated using a credential that has previously been stored on file
                            - Magnetic stripe read
                            - Contactless read of magnetic stripe data
                            - Contact chip card, without card verification value
                          - type: 'null'
                        stand_in_processing_reason:
                          anyOf:
                          - description: 'Only present when `actioner: network`. Describes why a card authorization was approved or declined by Visa through stand-in processing.'
                            enum:
                            - issuer_error
                            - invalid_physical_card
                            - invalid_cryptogram
                            - invalid_cardholder_authentication_verification_value
                            - internal_visa_error
                            - merchant_transaction_advisory_service_authentication_required
                            - payment_fraud_disruption_acquirer_block
                            - other
                            type: string
                            x-documentation-priority: default
                            x-enum-descriptions:
                            - Increase failed to process the authorization in a timely manner.
                            - The physical card read had an invalid CVV or dCVV.
                            - The card's authorization request cryptogram was invalid. The cryptogram can be from a physical card or a Digital Wallet Token purchase.
                            - The 3DS cardholder authentication verification value was invalid.
                            - An internal Visa error occurred. Visa uses this reason code for certain expected occurrences as well, such as Application Transaction Counter (ATC) replays.
                            - The merchant has enabled Visa's Transaction Advisory Service and requires further authentication to perform the transaction. In practice this is often utilized at fuel pumps to tell the cardholder to see the cashier.
                            - The transaction was blocked by Visa's Payment Fraud Disruption service due to fraudulent Acquirer behavior, such as card testing.
                            - An unspecific reason for stand-in processing.
                          - type: 'null'
                        terminal_entry_capability:
                          anyOf:
                          - description: The capability of the terminal being used to read the card. Shows whether a terminal can e.g., accept chip cards or if it only supports magnetic stripe reads. This reflects the highest capability of the terminal — for example, a terminal that supports both chip and magnetic stripe will be identified as chip-capable.
                            enum:
                            - unknown
                            - terminal_not_used
                            - magnetic_stripe
                            - barcode
                            - optical_character_recognition
                            - chip_or_contactless
                            - contactless_only
                            - no_capability
                            type: string
                            x-documentation-priority: default
                            x-enum-descriptions:
                            - Unknown
                            - No terminal was used for this transaction.
                            - The terminal can only read magnetic stripes and does not have chip or contactless reading capability.
                            - The terminal can only read barcodes.
                            - The terminal can only read cards via Optical Character Recognition.
                            - The terminal supports contact chip cards and can also read the magnetic stripe. If contact chip is supported, this value is used regardless of whether contactless is also supported.
                            - The terminal supports contactless reads but does not support contact chip. Only used when the terminal lacks contact chip capability.
                            - The terminal has no card reading capability.
                          - type: 'null'
                      required:
                      - electronic_commerce_indicator
                      - point_of_service_entry_mode
                      - stand_in_processing_reason
                      - terminal_entry_capability
                      title: Real-Time Decision CardAuthorization NetworkDetails Visa
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: Visas
                    - type: 'null'
                required:
                - category
                - visa
                - pulse
                title: Real-Time Decision CardAuthorization NetworkDetails
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              network_identifiers:
                additionalProperties: false
                description: Network-specific identifiers for a specific request or transaction.
                example:
                  authorization_identification_response: null
                  retrieval_reference_number: '785867080153'
                  trace_number: '487941'
                  transaction_id: '627199945183184'
                properties:
                  authorization_identification_response:
                    anyOf:
                    - description: The randomly generated 6-character Authorization Identification Response code sent back to the acquirer in an approved response.
                      type: string
                      x-documentation-priority: default
                    - type: 'null'
                  retrieval_reference_number:
                    anyOf:
                    - description: A life-cycle identifier used across e.g., an authorization and a reversal. Expected to be unique per acquirer within a window of time. For some card networks the retrieval reference number includes the trace counter.
                      type: string
                      x-documentation-priority: default
                    - type: 'null'
                  trace_number:
                    anyOf:
                    - description: A counter used to verify an individual authorization. Expected to be unique per acquirer within a window of time.
                      type: string
                      x-documentation-priority: default
                    - type: 'null'
                  transaction_id:
                    anyOf:
                    - description: A globally unique transaction identifier provided by the card network, used across multiple life-cycle requests.
                      type: string
                      x-documentation-priority: default
                    - type: 'null'
                required:
                - transaction_id
                - trace_number
                - retrieval_reference_number
                - authorization_identification_response
                title: Real-Time Decision CardAuthorization NetworkIdentifiers
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              network_risk_score:
                anyOf:
                - description: The risk score generated by the card network. For Visa this is the Visa Advanced Authorization risk score, from 0 to 99, where 99 is the riskiest. For Pulse the score is from 0 to 999, where 999 is the riskiest.
                  type: integer
                  x-documentation-priority: default
                - type: 'null'
              partial_approval_capability:
                description: Whether or not the authorization supports partial approvals.
                enum:
                - supported
                - not_supported
                type: string
                x-documentation-priority: default
                x-enum-descriptions:
                - This transaction supports partial approvals.
                - This transaction does not support partial approvals.
              physical_card_id:
                anyOf:
                - description: If the authorization was made in-person with a physical card, the Physical Card that was used.
                  type: string
                  x-documentation-priority: default
                  x-id-reference-to: Physical Cards
                - type: 'null'
              presentment_amount:
                description: The amount of the attempted authorization in the currency the card user sees at the time of purchase, in the minor unit of that currency. For dollars, for example, this is cents.
                type: integer
                x-documentation-priority: default
              presentment_currency:
                description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the currency the user sees at the time of purchase.
                type: string
                x-documentation-priority: default
              processing_category:
                description: The processing category describes the intent behind the authorization, such as whether it was used for bill payments or an automatic fuel dispenser.
                enum:
                - account_funding
                - automatic_fuel_dispenser
                - bill_payment
                - original_credit
                - purchase
                - quasi_cash
                - refund
                - cash_disbursement
                - balance_inquiry
                - unknown
                type: string
                x-documentation-priority: default
                x-enum-descriptions:
                - Account funding transactions are transactions used to e.g., fund an account or transfer funds between accounts.
                - Automatic fuel dispenser authorizations occur when a card is used at a gas pump, prior to the actual transaction amount being known. They are followed by an advice message that updates the amount of the pending transaction.
                - A transaction used to pay a bill.
                - Original credit transactions are used to send money to a cardholder.
                - A regular purchase.
                - Quasi-cash transactions represent purchases of items which may be convertible to cash.
                - A refund card authorization, sometimes referred to as a credit voucher authorization, where funds are credited to the cardholder.
                - Cash disbursement transactions are used to withdraw cash from an ATM or a point of sale.
                - A balance inquiry transaction is used to check the balance of an account associated with a card.
                - The processing category is unknown.
              request_details:
                additionalProperties: false
                description: Fields specific to the type of request, such as an incremental authorization.
                properties:
                  category:
                    description: The type of this request (e.g., an initial authorization or an incremental authorization).
                    enum:
                    - initial_authorization
                    - incremental_authorization
                    type: string
                    x-documentation-priority: default
                    x-enum-descriptions:
                    - A regular, standalone authorization.
                    - An incremental request to increase the amount of an existing authorization.
                  incremental_authorization:
                    anyOf:
                    - additionalProperties: false
                      description: Fields specific to the category `incremental_authorization`.
                      properties:
                        card_payment_id:
                          description: The card payment for this authorization and increment.
                          type: string
                          x-documentation-priority: default
                          x-id-reference-to: Card Payments
                        original_card_authorization_id:
                          description: The identifier of the card authorization this request is attempting to increment.
                          type: string
                          x-documentation-priority: default
                          x-id-reference-to: Card Authorizations
                      required:
                      - card_payment_id
                      - original_card_authorization_id
                      title: Real-Time Decision CardAuthorization RequestDetails IncrementalAuthorization
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: IncrementalAuthorizations
                    - type: 'null'
                  initial_authorization:
                    anyOf:
                    - additionalProperties: false
                      description: Fields specific to the category `initial_authorization`.
                      properties: {}
                      title: Real-Time Decision CardAuthorization RequestDetails InitialAuthorization
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: true
                      x-title-plural: InitialAuthorizations
                    - type: 'null'
                required:
                - category
                - initial_authorization
                - incremental_authorization
                title: Real-Time Decision CardAuthorization RequestDetails
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: RequestDetails
              settlement_amount:
                description: The amount of the attempted authorization in the currency it will be settled in. This currency is the same as that of the Account the card belongs to.
                type: integer
                x-documentation-priority: default
              settlement_currency:
                description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the currency the transaction will be settled in.
                type: string
                x-documentation-priority: default
              terminal_id:
                anyOf:
                - description: The terminal identifier (commonly abbreviated as TID) of the terminal the card is transacting with.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              upcoming_card_payment_id:
                description: The identifier of the Card Payment this authorization will belong to. Available in the API once the card authorization has completed.
                type: string
                x-documentation-priority: default
                x-id-reference-to: Card Payments
              verification:
                additionalProperties: false
                description: Fields related to verification of cardholder-provided values.
                properties:
                  card_verification_code:
                    additionalProperties: false
                    description: Fields related to verification of the Card Verification Code, a 3-digit code on the back of the card.
                    properties:
                      result:
                        description: The result of verifying the Card Verification Code.
                        enum:
                        - not_checked
                        - match
                        - no_match
                        type: string
                        x-documentation-priority: default
                        x-enum-descriptions:
                        - No card verification code was provided in the authorization request.
                        - The card verification code matched the one on file.
                        - The card verification code did not match the one on file.
                    required:
                    - result
                    title: Real-Time Decision CardAuthorization Verification CardVerificationCode
                    type: object
                    x-documentation-priority: default
                    x-event-categories: []
                    x-stainless-empty-object: false
                    x-title-plural: CardVerificationCodes
                  cardholder_address:
                    additionalProperties: false
                    description: Cardholder address provided in the authorization request and the address on file we verified it against.
                    properties:
                      actual_line1:
                        anyOf:
                        - description: Line 1 of the address on file for the cardholder.
                          type: string
                          x-documentation-priority: default
                        - type: 'null'
                      actual_postal_code:
                        anyOf:
                        - description: The postal code of the address on file for the cardholder.
                          type: string
                          x-documentation-priority: default
                        - type: 'null'
                      provided_line1:
                        anyOf:
                        - description: The cardholder address line 1 provided for verification in the authorization request.
                          type: string
                          x-documentation-priority: default
                        - type: 'null'
                      provided_postal_code:
                        anyOf:
                        - description: The postal code provided for verification in the authorization request.
                          type: string
                          x-documentation-priority: default
                        - type: 'null'
                      result:
                        description: The address verification result returned to the card network.
                        enum:
                        - not_checked
                        - postal_code_match_address_no_match
                        - postal_code_no_match_address_match
                        - match
                        - no_match
                        - postal_code_match_address_not_checked
                        type: string
                        x-documentation-priority: default
                        x-enum-descriptions:
                        - No address information was provided in the authorization request.
                        - Postal code matches, but the street address does not match or was not provided.
                        - Postal code does not match, but the street address matches or was not provided.
                        - Postal code and street address match.
                        - Postal code and street address do not match.
                        - Postal code matches, but the street address was not verified. (deprecated)
                    required:
                    - provided_postal_code
                    - provided_line1
                    - actual_postal_code
                    - actual_line1
                    - result
                    title: Real-Time Decision CardAuthorization Verification CardholderAddress
                    type: object
                    x-documentation-priority: default
                    x-event-categories: []
                    x-stainless-empty-object: false
                    x-title-plural: CardholderAddresses
                  cardholder_name:
                    anyOf:
                    - additionalProperties: false
                      description: Cardholder name provided in the authorization request.
                      properties:
                        provided_first_name:
                          anyOf:
                          - description: The first name provided for verification in the authorization request.
                            type: string
                            x-documentation-priority: default
                          - type: 'null'
                        provided_last_name:
                          anyOf:
                          - description: The last name provided for verification in the authorization request.
                            type: string
                            x-documentation-priority: default
                          - type: 'null'
                        provided_middle_name:
                          anyOf:
                          - description: The middle name provided for verification in the authorization request.
                            type: string
                            x-documentation-priority: default
                          - type: 'null'
                      required:
                      - provided_first_name
                      - provided_middle_name
                      - provided_last_name
                      title: Real-Time Decision CardAuthorization Verification CardholderName
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: CardholderNames
                    - type: 'null'
                required:
                - cardholder_address
                - cardholder_name
                - card_verification_code
                title: Real-Time Decision CardAuthorization Verification
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
            required:
            - merchant_acceptor_id
            - merchant_descriptor
            - merchant_category_code
            - terminal_id
            - merchant_city
            - merchant_state
            - merchant_postal_code
            - merchant_country
            - digital_wallet_token_id
            - physical_card_id
            - verification
            - additional_amounts
            - network_identifiers
            - network_risk_score
            - network_details
            - decision
            - approval
            - decline
            - card_id
            - upcoming_card_payment_id
            - account_id
            - presentment_amount
            - presentment_currency
            - settlement_amount
            - settlement_currency
            - processing_category
            - direction
            - partial_approval_capability
            - request_details
            title: Real-Time Decision CardAuthorization
            type: object
            x-documentation-priority: default
            x-event-categories: []
            x-stainless-empty-object: false
            x-title-plural: CardAuthorizations
          - type: 'null'
        card_balance_inquiry:
          anyOf:
          - additionalProperties: true
            description: Fields related to a card balance inquiry.
            properties:
              account_id:
                description: The identifier of the Account the authorization will debit.
                type: string
                x-documentation-priority: default
                x-id-reference-to: Accounts
              additional_amounts:
                additionalProperties: false
                description: Additional amounts associated with the card authorization, such as ATM surcharges fees. These are usually a subset of the `amount` field and are used to provide more detailed information about the transaction.
                properties:
                  clinic:
                    anyOf:
                    - additionalProperties: false
                      description: The part of this transaction amount that was for clinic-related services.
                      properties:
                        amount:
                          description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                          type: integer
                          x-documentation-priority: default
                        currency:
                          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                          type: string
                          x-documentation-priority: default
                      required:
                      - amount
                      - currency
                      title: Real-Time Decision CardBalanceInquiry AdditionalAmounts AdditionalAmount
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: s
                    - type: 'null'
                  dental:
                    anyOf:
                    - additionalProperties: false
                      description: The part of this transaction amount that was for dental-related services.
                      properties:
                        amount:
                          description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                          type: integer
                          x-documentation-priority: default
                        currency:
                          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                          type: string
                          x-documentation-priority: default
                      required:
                      - amount
                      - currency
                      title: Real-Time Decision CardBalanceInquiry AdditionalAmounts AdditionalAmount
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: s
                    - type: 'null'
                  original:
                    anyOf:
                    - additionalProperties: false
                      description: The original pre-authorized amount.
                      properties:
                        amount:
                          description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                          type: integer
                          x-documentation-priority: default
                        currency:
                          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                          type: string
                          x-documentation-priority: default
                      required:
                      - amount
                      - currency
                      title: Real-Time Decision CardBalanceInquiry AdditionalAmounts AdditionalAmount
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: s
                    - type: 'null'
                  prescription:
                    anyOf:
                    - additionalProperties: false
                      description: The part of this transaction amount that was for healthcare prescriptions.
                      properties:
                        amount:
                          description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                          type: integer
                          x-documentation-priority: default
                        currency:
                          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                          type: string
                          x-documentation-priority: default
                      required:
                      - amount
                      - currency
                      title: Real-Time Decision CardBalanceInquiry AdditionalAmounts AdditionalAmount
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: s
                    - type: 'null'
                  surcharge:
                    anyOf:
                    - additionalProperties: false
                      description: The surcharge amount charged for this transaction by the merchant.
                      properties:
                        amount:
                          description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                          type: integer
                          x-documentation-priority: default
                        currency:
                          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                          type: string
                          x-documentation-priority: default
                      required:
                      - amount
                      - currency
                      title: Real-Time Decision CardBalanceInquiry AdditionalAmounts AdditionalAmount
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: s
                    - type: 'null'
                  total_cumulative:
                    anyOf:
                    - additionalProperties: false
                      description: The total amount of a series of incremental authorizations, optionally provided.
                      properties:
                        amount:
                          description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                          type: integer
                          x-documentation-priority: default
                        currency:
                          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                          type: string
                          x-documentation-priority: default
                      required:
                      - amount
                      - currency
                      title: Real-Time Decision CardBalanceInquiry AdditionalAmounts AdditionalAmount
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: s
                    - type: 'null'
                  total_healthcare:
                    anyOf:
                    - additionalProperties: false
                      description: The total amount of healthcare-related additional amounts.
                      properties:
                        amount:
                          description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                          type: integer
                          x-documentation-priority: default
                        currency:
                          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                          type: string
                          x-documentation-priority: default
                      required:
                      - amount
                      - currency
                      title: Real-Time Decision CardBalanceInquiry AdditionalAmounts AdditionalAmount
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: s
                    - type: 'null'
                  transit:
                    anyOf:
                    - additionalProperties: false
                      description: The part of this transaction amount that was for transit-related services.
                      properties:
                        amount:
                          description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                          type: integer
                          x-documentation-priority: default
                        currency:
                          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                          type: string
                          x-documentation-priority: default
                      required:
                      - amount
                      - currency
                      title: Real-Time Decision CardBalanceInquiry AdditionalAmounts AdditionalAmount
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: s
                    - type: 'null'
                  unknown:
                    anyOf:
                    - additionalProperties: false
                      description: An unknown additional amount.
                      properties:
                        amount:
                          description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                          type: integer
                          x-documentation-priority: default
                        currency:
                          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                          type: string
                          x-documentation-priority: default
                      required:
                      - amount
                      - currency
                      title: Real-Time Decision CardBalanceInquiry AdditionalAmounts AdditionalAmount
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: s
                    - type: 'null'
                  vision:
                    anyOf:
                    - additionalProperties: false
                      description: The part of this transaction amount that was for vision-related services.
                      properties:
                        amount:
                          description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                          type: integer
                          x-documentation-priority: default
                        currency:
                          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                          type: string
                          x-documentation-priority: default
                      required:
                      - amount
                      - currency
                      title: Real-Time Decision CardBalanceInquiry AdditionalAmounts AdditionalAmount
                      type: object
                      x-documentation-priority: default
                      x-event-categories: []
                      x-stainless-empty-object: false
                      x-title-plural: s
                    - type: 'null'
                required:
                - total_healthcare
                - total_cumulative
                - surcharge
                - transit
                - vision
                - clinic
                - dental
                - prescription
                - original
                - unknown
                title: Real-Time Decision CardBalanceInquiry AdditionalAmounts
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              approval:
                anyOf:
                - additionalProperties: false
                  description: Present if and only if `decision` is `approve`. Contains information related to the approval of the balance inquiry.
                  properties:
                    balance:
                      description: If the balance inquiry was approved, this field contains the balance in the minor unit of the settlement currency.
                      type: integer
                      x-documentation-priority: default
                  required:
                  - balance
                  title: Real-Time Decision CardBalanceInquiry Approval
                  type: object
                  x-documentation-priority: default
                  x-event-categories: []
                  x-stainless-empty-object: false
                  x-title-plural: Approvals
                - type: 'null'
              card_id:
                description: The identifier of the Card that is being authorized.
                type: string
                x-documentation-priority: default
                x-id-reference-to: Cards
              decision:
                anyOf:
                - description: Whether or not the authorization was approved.
                  enum:
                  - approve
                  - decline
                  type: string
                  x-documentation-priority: default
                  x-enum-descriptions:
                  - Approve the authorization.
                  - Decline the authorization.
                - type: 'null'
              digital_wallet_token_id:
                anyOf:
                - description: If the authorization was made via a Digital Wallet Token (such as an Apple Pay purchase), the identifier of the token that was used.
                  type: string
                  x-documentation-priority: default
                  x-id-reference-to: Digital Wallet Tokens
                - type: 'null'
              merchant_acceptor_id:
                description: The merchant identifier (commonly abbreviated as MID) of the merchant the card is transacting with.
                type: string
                x-documentation-priority: default
              merchant_category_code:
                description: The Merchant Category Code (commonly abbreviated as MCC) of the merchant the card is transacting with.
                type: string
                x-documentation-priority: default
              merchant_city:
                anyOf:
[...]
