openapi: 3.1.0
info:
  description: Anything that you can achieve with PDFs, presence, and persistence in a bank branch you can do with our API. We've always wanted a fully programmatic bank so we built one. Our API faithfully exposes the data and capabilities of the Federal Reserve, Visa, The Clearing House, depository networks, and accounting tools. It's lovingly boring and exceptionally powerful. If you have any questions or want to get started, don't hesitate to ping us at sales@increase.com. We can't wait to see what you build!
  title: Increase Account Numbers Digital Wallet Tokens API
  version: 0.0.1
servers:
- url: https://api.increase.com
- url: https://sandbox.increase.com
security:
- bearerAuth: []
tags:
- description: A Digital Wallet Token is created when a user adds a Card to their Apple Pay or Google Pay app. The Digital Wallet Token can be used for purchases just like a Card.
  name: Digital Wallet Tokens
paths:
  /digital_wallet_tokens:
    get:
      operationId: list_digital_wallet_tokens
      parameters:
      - in: query
        name: cursor
        required: false
        schema:
          description: Return the page of entries after this one.
          type: string
          x-documentation-priority: low
      - in: query
        name: limit
        required: false
        schema:
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          minimum: 1
          type: integer
          x-documentation-priority: low
      - example: card_oubs0hwk5rn6knuecxg2
        in: query
        name: card_id
        required: false
        schema:
          description: Filter Digital Wallet Tokens to ones belonging to the specified Card.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Cards
      - in: query
        name: created_at.after
        required: false
        schema:
          description: Return results after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: created_at.before
        required: false
        schema:
          description: Return results before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: created_at.on_or_after
        required: false
        schema:
          description: Return results on or after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: created_at.on_or_before
        required: false
        schema:
          description: Return results on or before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital_wallet_token_list'
          description: Digital Wallet Token List
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: List Digital Wallet Tokens
      x-sandbox-only: false
      x-tag: Digital Wallet Tokens
      tags:
      - Digital Wallet Tokens
  /digital_wallet_tokens/{digital_wallet_token_id}:
    get:
      operationId: retrieve_a_digital_wallet_token
      parameters:
      - example: digital_wallet_token_izi62go3h51p369jrie0
        in: path
        name: digital_wallet_token_id
        required: true
        schema:
          description: The identifier of the Digital Wallet Token.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Digital Wallet Tokens
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital_wallet_token'
          description: Digital Wallet Token
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: Retrieve a Digital Wallet Token
      x-sandbox-only: false
      x-tag: Digital Wallet Tokens
      tags:
      - Digital Wallet Tokens
components:
  schemas:
    error:
      anyOf:
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 404
            type: integer
          title:
            type: string
          type:
            enum:
            - api_method_not_found_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - environment_mismatch_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          resource_id:
            description: ''
            type: string
            x-documentation-priority: default
          status:
            enum:
            - 409
            type: integer
          title:
            type: string
          type:
            enum:
            - idempotency_key_already_used_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - resource_id
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - insufficient_permissions_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 500
            type: integer
          title:
            type: string
          type:
            enum:
            - internal_server_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          reason:
            description: ''
            enum:
            - deleted_credential
            - expired_credential
            - ip_not_allowed
            - no_credential
            - no_header
            - no_api_access
            - wrong_environment
            type: string
            x-documentation-priority: default
            x-enum-descriptions:
            - deleted_credential
            - expired_credential
            - ip_not_allowed
            - no_credential
            - no_header
            - no_api_access
            - wrong_environment
          status:
            enum:
            - 401
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_api_key_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - reason
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 409
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_operation_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          errors:
            description: All errors related to parsing the request parameters.
            items:
              additionalProperties: true
              properties: {}
              title: ErrorsElement
              type: object
              x-event-categories: []
              x-stainless-empty-object: false
              x-title-plural: ErrorsElements
            type: array
            x-documentation-priority: default
          status:
            enum:
            - 400
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_parameters_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - errors
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 400
            type: integer
          title:
            type: string
          type:
            enum:
            - malformed_request_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 404
            type: integer
          title:
            type: string
          type:
            enum:
            - object_not_found_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - private_feature_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          retry_after:
            anyOf:
            - description: ''
              type: integer
              x-documentation-priority: default
            - type: 'null'
          status:
            enum:
            - 429
            type: integer
          title:
            type: string
          type:
            enum:
            - rate_limited_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
    digital_wallet_token:
      additionalProperties: false
      description: A Digital Wallet Token is created when a user adds a Card to their Apple Pay or Google Pay app. The Digital Wallet Token can be used for purchases just like a Card.
      example:
        card_id: card_oubs0hwk5rn6knuecxg2
        cardholder:
          name: John Smith
        created_at: '2020-01-31T23:59:59Z'
        device:
          device_type: mobile_phone
          identifier: 04393EADF4149002225811273840459271E36516DA4875FF
          ip_address: 1.2.3.4
          name: My Work Phone
        dynamic_primary_account_number: null
        id: digital_wallet_token_izi62go3h51p369jrie0
        status: active
        token_requestor: apple_pay
        type: digital_wallet_token
        updates:
        - status: inactive
          timestamp: '2020-01-31T23:59:59Z'
      properties:
        card_id:
          description: The identifier for the Card this Digital Wallet Token belongs to.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Cards
        cardholder:
          additionalProperties: false
          description: The cardholder information given when the Digital Wallet Token was created.
          properties:
            name:
              anyOf:
              - description: Name of the cardholder, for example "John Smith".
                type: string
                x-documentation-priority: default
              - type: 'null'
          required:
          - name
          title: Digital Wallet Token Cardholder
          type: object
          x-documentation-priority: default
          x-event-categories: []
          x-stainless-empty-object: false
          x-title-plural: Cardholders
        created_at:
          description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date and time at which the Digital Wallet Token was created.
          format: date-time
          type: string
          x-documentation-priority: default
        device:
          additionalProperties: false
          description: The device that was used to create the Digital Wallet Token.
          properties:
            device_type:
              anyOf:
              - description: Device type.
                enum:
                - unknown
                - mobile_phone
                - tablet
                - watch
                - mobilephone_or_tablet
                - pc
                - household_device
                - wearable_device
                - automobile_device
                type: string
                x-documentation-priority: default
                x-enum-descriptions:
                - Unknown
                - Mobile Phone
                - Tablet
                - Watch
                - Mobile Phone or Tablet
                - PC
                - Household Device
                - Wearable Device
                - Automobile Device
              - type: 'null'
            identifier:
              anyOf:
              - description: ID assigned to the device by the digital wallet provider.
                type: string
                x-documentation-priority: default
              - type: 'null'
            ip_address:
              anyOf:
              - description: IP address of the device.
                type: string
                x-documentation-priority: default
              - type: 'null'
            name:
              anyOf:
              - description: Name of the device, for example "My Work Phone".
                type: string
                x-documentation-priority: default
              - type: 'null'
          required:
          - device_type
          - identifier
          - ip_address
          - name
          title: Digital Wallet Token Device
          type: object
          x-documentation-priority: default
          x-event-categories: []
          x-stainless-empty-object: false
          x-title-plural: Devices
        dynamic_primary_account_number:
          anyOf:
          - additionalProperties: false
            description: The redacted Dynamic Primary Account Number.
            properties:
              first6:
                description: The first 6 digits of the token's Dynamic Primary Account Number.
                type: string
                x-documentation-priority: default
              last4:
                description: The last 4 digits of the token's Dynamic Primary Account Number.
                type: string
                x-documentation-priority: default
            required:
            - first6
            - last4
            title: Digital Wallet Token DynamicPrimaryAccountNumber
            type: object
            x-documentation-priority: default
            x-event-categories: []
            x-stainless-empty-object: false
            x-title-plural: DynamicPrimaryAccountNumbers
          - type: 'null'
        id:
          description: The Digital Wallet Token identifier.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Digital Wallet Tokens
        status:
          description: This indicates if payments can be made with the Digital Wallet Token.
          enum:
          - active
          - inactive
          - suspended
          - deactivated
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - The digital wallet token is active.
          - The digital wallet token has been created but not successfully activated via two-factor authentication yet.
          - The digital wallet token has been temporarily paused.
          - The digital wallet token has been permanently canceled.
        token_requestor:
          description: The digital wallet app being used.
          enum:
          - apple_pay
          - google_pay
          - samsung_pay
          - unknown
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - Apple Pay
          - Google Pay
          - Samsung Pay
          - Unknown
        type:
          description: A constant representing the object's type. For this resource it will always be `digital_wallet_token`.
          enum:
          - digital_wallet_token
          type: string
          x-documentation-priority: default
        updates:
          description: Updates to the Digital Wallet Token.
          items:
            additionalProperties: false
            properties:
              status:
                description: The status the update changed this Digital Wallet Token to.
                enum:
                - active
                - inactive
                - suspended
                - deactivated
                type: string
                x-documentation-priority: default
                x-enum-descriptions:
                - The digital wallet token is active.
                - The digital wallet token has been created but not successfully activated via two-factor authentication yet.
                - The digital wallet token has been temporarily paused.
                - The digital wallet token has been permanently canceled.
              timestamp:
                description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date and time at which the update happened.
                format: date-time
                type: string
                x-documentation-priority: default
            required:
            - timestamp
            - status
            title: Digital Wallet Token UpdatesElement
            type: object
            x-event-categories: []
            x-stainless-empty-object: false
            x-title-plural: UpdatesElements
          type: array
          x-documentation-priority: default
      required:
      - type
      - id
      - card_id
      - created_at
      - status
      - token_requestor
      - dynamic_primary_account_number
      - cardholder
      - device
      - updates
      title: Digital Wallet Token
      type: object
      x-event-categories:
      - digital_wallet_token.created
      - digital_wallet_token.updated
      x-stainless-empty-object: false
      x-tag: Digital Wallet Tokens
      x-title-plural: Digital Wallet Tokens
    digital_wallet_token_list:
      additionalProperties: true
      description: A list of Digital Wallet Token objects.
      example:
        data:
        - card_id: card_oubs0hwk5rn6knuecxg2
          cardholder:
            name: John Smith
          created_at: '2020-01-31T23:59:59Z'
          device:
            device_type: mobile_phone
            identifier: 04393EADF4149002225811273840459271E36516DA4875FF
            ip_address: 1.2.3.4
            name: My Work Phone
          dynamic_primary_account_number: null
          id: digital_wallet_token_izi62go3h51p369jrie0
          status: active
          token_requestor: apple_pay
          type: digital_wallet_token
          updates:
          - status: inactive
            timestamp: '2020-01-31T23:59:59Z'
        next_cursor: v57w5d
      properties:
        data:
          description: The contents of the list.
          items:
            $ref: '#/components/schemas/digital_wallet_token'
          type: array
          x-documentation-priority: default
        next_cursor:
          anyOf:
          - description: A pointer to a place in the list. Pass this as the `cursor` parameter to retrieve the next page of results. If there are no more results, the value will be `null`.
            type: string
            x-documentation-priority: default
          - type: 'null'
      required:
      - data
      - next_cursor
      title: Digital Wallet Token List
      type: object
      x-event-categories: []
      x-stainless-empty-object: false
      x-title-plural: Digital Wallet Token Lists
  responses:
    errorResponse:
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/error'
      description: Error
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
x-tagGroups:
- name: Accounts
  tags:
  - Accounts
  - Account Numbers
  - Account Transfers
- name: Transactions
  tags:
  - Transactions
  - Pending Transactions
  - Declined Transactions
- name: Ach Transfers
  tags:
  - ACH Transfers
  - Inbound ACH Transfers
  - ACH Prenotifications
- name: Check Transfers
  tags:
  - Check Transfers
  - Inbound Check Deposits
- name: Real Time Payments Transfers
  tags:
  - Real-Time Payments Transfers
  - Inbound Real-Time Payments Transfers
- name: Fednow Transfers
  tags:
  - FedNow Transfers
  - Inbound FedNow Transfers
- name: Swift Transfers
  tags:
  - Swift Transfers
- name: Wire Transfers
  tags:
  - Wire Transfers
  - Inbound Wire Transfers
  - Wire Drawdown Requests
  - Inbound Wire Drawdown Requests
- name: Card Transfers
  tags:
  - Card Tokens
  - Card Push Transfers
  - Card Validations
- name: Check Deposits
  tags:
  - Check Deposits
  - Lockbox Addresses
  - Lockbox Recipients
  - Inbound Mail Items
- name: Cards
  tags:
  - Cards
  - Card Payments
  - Card Purchase Supplements
  - Card Disputes
  - Physical Cards
  - Digital Card Profiles
  - Physical Card Profiles
  - Digital Wallet Tokens
- name: Compliance
  tags:
  - Entities
  - Beneficial Owners
  - Supplemental Documents
  - Entity Onboarding Sessions
  - Programs
- name: Events and Webhooks
  tags:
  - Events
  - Event Subscriptions
  - Real-Time Decisions
- name: External Accounts
  tags:
  - Routing Numbers
  - External Accounts
- name: Files and Exports
  tags:
  - Account Statements
  - Files
  - File Links
  - Exports
- name: OAuth
  tags:
  - Groups
  - OAuth Applications
  - OAuth Connections
  - OAuth Tokens
- name: Intrafi
  tags:
  - IntraFi Account Enrollments
  - IntraFi Balances
  - IntraFi Exclusions
