openapi: 3.1.0
info:
  description: Anything that you can achieve with PDFs, presence, and persistence in a bank branch you can do with our API. We've always wanted a fully programmatic bank so we built one. Our API faithfully exposes the data and capabilities of the Federal Reserve, Visa, The Clearing House, depository networks, and accounting tools. It's lovingly boring and exceptionally powerful. If you have any questions or want to get started, don't hesitate to ping us at sales@increase.com. We can't wait to see what you build!
  title: Increase Account Numbers Lockbox Addresses API
  version: 0.0.1
servers:
- url: https://api.increase.com
- url: https://sandbox.increase.com
security:
- bearerAuth: []
tags:
- description: Lockbox Addresses are physical locations that can receive mail containing paper checks.
  name: Lockbox Addresses
paths:
  /lockbox_addresses:
    get:
      operationId: list_lockbox_addresses
      parameters:
      - in: query
        name: cursor
        required: false
        schema:
          description: Return the page of entries after this one.
          type: string
          x-documentation-priority: low
      - in: query
        name: limit
        required: false
        schema:
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          minimum: 1
          type: integer
          x-documentation-priority: low
      - in: query
        name: created_at.after
        required: false
        schema:
          description: Return results after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: created_at.before
        required: false
        schema:
          description: Return results before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: created_at.on_or_after
        required: false
        schema:
          description: Return results on or after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: created_at.on_or_before
        required: false
        schema:
          description: Return results on or before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: idempotency_key
        required: false
        schema:
          description: Filter records to the one with the specified `idempotency_key` you chose for that object. This value is unique across Increase and is used to ensure that a request is only processed once. Learn more about [idempotency](https://increase.com/documentation/idempotency-keys).
          maxLength: 200
          minLength: 1
          type: string
          x-documentation-priority: default
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lockbox_address_list'
          description: Lockbox Address List
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: List Lockbox Addresses
      x-sandbox-only: false
      x-tag: Lockbox Addresses
      tags:
      - Lockbox Addresses
    post:
      operationId: create_a_lockbox_address
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_a_lockbox_address_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lockbox_address'
          description: Lockbox Address
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: Create a Lockbox Address
      x-sandbox-only: false
      x-tag: Lockbox Addresses
      tags:
      - Lockbox Addresses
  /lockbox_addresses/{lockbox_address_id}:
    get:
      operationId: retrieve_a_lockbox_address
      parameters:
      - example: lockbox_address_lw6sbzl9ol5dfd8hdml6
        in: path
        name: lockbox_address_id
        required: true
        schema:
          description: The identifier of the Lockbox Address to retrieve.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Lockbox Addresses
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lockbox_address'
          description: Lockbox Address
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: Retrieve a Lockbox Address
      x-sandbox-only: false
      x-tag: Lockbox Addresses
      tags:
      - Lockbox Addresses
    patch:
      operationId: update_a_lockbox_address
      parameters:
      - example: lockbox_address_lw6sbzl9ol5dfd8hdml6
        in: path
        name: lockbox_address_id
        required: true
        schema:
          description: The identifier of the Lockbox Address.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Lockbox Addresses
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_a_lockbox_address_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lockbox_address'
          description: Lockbox Address
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: Update a Lockbox Address
      x-sandbox-only: false
      x-tag: Lockbox Addresses
      tags:
      - Lockbox Addresses
components:
  schemas:
    lockbox_address:
      additionalProperties: false
      description: Lockbox Addresses are physical locations that can receive mail containing paper checks.
      example:
        address:
          city: San Francisco
          line1: 1234 Market St
          line2: Ste 567
          postal_code: '94114'
          state: CA
        created_at: '2020-01-31T23:59:59Z'
        description: Lockbox Address 1
        id: lockbox_address_lw6sbzl9ol5dfd8hdml6
        idempotency_key: null
        status: active
        type: lockbox_address
      properties:
        address:
          anyOf:
          - additionalProperties: false
            description: The mailing address for the Lockbox Address. It will be present after Increase generates it.
            properties:
              city:
                description: The city of the address.
                type: string
                x-documentation-priority: default
              line1:
                description: The first line of the address.
                type: string
                x-documentation-priority: default
              line2:
                description: The second line of the address.
                type: string
                x-documentation-priority: default
              postal_code:
                description: The postal code of the address.
                type: string
                x-documentation-priority: default
              state:
                description: The two-letter United States Postal Service (USPS) abbreviation for the state of the address.
                type: string
                x-documentation-priority: default
            required:
            - line1
            - line2
            - city
            - state
            - postal_code
            title: Lockbox Address Address
            type: object
            x-documentation-priority: default
            x-event-categories: []
            x-stainless-empty-object: false
            x-title-plural: Addresses
          - type: 'null'
        created_at:
          description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) time at which the Lockbox Address was created.
          format: date-time
          type: string
          x-documentation-priority: default
        description:
          anyOf:
          - description: The description you choose for the Lockbox Address.
            type: string
            x-documentation-priority: default
          - type: 'null'
        id:
          description: The Lockbox Address identifier.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Lockbox Addresses
        idempotency_key:
          anyOf:
          - description: The idempotency key you chose for this object. This value is unique across Increase and is used to ensure that a request is only processed once. Learn more about [idempotency](https://increase.com/documentation/idempotency-keys).
            type: string
            x-documentation-priority: default
          - type: 'null'
        status:
          description: The status of the Lockbox Address.
          enum:
          - pending
          - active
          - disabled
          - canceled
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - Increase is generating this Lockbox Address.
          - This Lockbox Address is active.
          - This Lockbox Address is disabled.
          - This Lockbox Address is permanently disabled.
        type:
          description: A constant representing the object's type. For this resource it will always be `lockbox_address`.
          enum:
          - lockbox_address
          type: string
          x-documentation-priority: default
      required:
      - type
      - id
      - created_at
      - description
      - status
      - address
      - idempotency_key
      title: Lockbox Address
      type: object
      x-event-categories: []
      x-stainless-empty-object: false
      x-tag: Lockbox Addresses
      x-title-plural: Lockbox Addresses
    error:
      anyOf:
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 404
            type: integer
          title:
            type: string
          type:
            enum:
            - api_method_not_found_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - environment_mismatch_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          resource_id:
            description: ''
            type: string
            x-documentation-priority: default
          status:
            enum:
            - 409
            type: integer
          title:
            type: string
          type:
            enum:
            - idempotency_key_already_used_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - resource_id
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - insufficient_permissions_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 500
            type: integer
          title:
            type: string
          type:
            enum:
            - internal_server_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          reason:
            description: ''
            enum:
            - deleted_credential
            - expired_credential
            - ip_not_allowed
            - no_credential
            - no_header
            - no_api_access
            - wrong_environment
            type: string
            x-documentation-priority: default
            x-enum-descriptions:
            - deleted_credential
            - expired_credential
            - ip_not_allowed
            - no_credential
            - no_header
            - no_api_access
            - wrong_environment
          status:
            enum:
            - 401
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_api_key_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - reason
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 409
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_operation_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          errors:
            description: All errors related to parsing the request parameters.
            items:
              additionalProperties: true
              properties: {}
              title: ErrorsElement
              type: object
              x-event-categories: []
              x-stainless-empty-object: false
              x-title-plural: ErrorsElements
            type: array
            x-documentation-priority: default
          status:
            enum:
            - 400
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_parameters_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - errors
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 400
            type: integer
          title:
            type: string
          type:
            enum:
            - malformed_request_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 404
            type: integer
          title:
            type: string
          type:
            enum:
            - object_not_found_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - private_feature_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          retry_after:
            anyOf:
            - description: ''
              type: integer
              x-documentation-priority: default
            - type: 'null'
          status:
            enum:
            - 429
            type: integer
          title:
            type: string
          type:
            enum:
            - rate_limited_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
    update_a_lockbox_address_parameters:
      additionalProperties: false
      example:
        status: disabled
      properties:
        description:
          description: The description you choose for the Lockbox Address.
          maxLength: 200
          minLength: 1
          type: string
          x-documentation-priority: default
        status:
          description: The status of the Lockbox Address.
          enum:
          - active
          - disabled
          - canceled
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - This Lockbox Address is active.
          - This Lockbox Address is disabled.
          - This Lockbox Address is permanently disabled.
      type: object
      x-event-categories: []
      x-stainless-empty-object: false
    create_a_lockbox_address_parameters:
      additionalProperties: true
      example:
        description: Lockbox Address 1
      properties:
        description:
          description: The description you choose for the Lockbox Address.
          maxLength: 200
          minLength: 1
          type: string
          x-documentation-priority: default
      type: object
      x-event-categories: []
      x-stainless-empty-object: false
    lockbox_address_list:
      additionalProperties: true
      description: A list of Lockbox Address objects.
      example:
        data:
        - address:
            city: San Francisco
            line1: 1234 Market St
            line2: Ste 567
            postal_code: '94114'
            state: CA
          created_at: '2020-01-31T23:59:59Z'
          description: Lockbox Address 1
          id: lockbox_address_lw6sbzl9ol5dfd8hdml6
          idempotency_key: null
          status: active
          type: lockbox_address
        next_cursor: v57w5d
      properties:
        data:
          description: The contents of the list.
          items:
            $ref: '#/components/schemas/lockbox_address'
          type: array
          x-documentation-priority: default
        next_cursor:
          anyOf:
          - description: A pointer to a place in the list. Pass this as the `cursor` parameter to retrieve the next page of results. If there are no more results, the value will be `null`.
            type: string
            x-documentation-priority: default
          - type: 'null'
      required:
      - data
      - next_cursor
      title: Lockbox Address List
      type: object
      x-event-categories: []
      x-stainless-empty-object: false
      x-title-plural: Lockbox Address Lists
  responses:
    errorResponse:
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/error'
      description: Error
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
x-tagGroups:
- name: Accounts
  tags:
  - Accounts
  - Account Numbers
  - Account Transfers
- name: Transactions
  tags:
  - Transactions
  - Pending Transactions
  - Declined Transactions
- name: Ach Transfers
  tags:
  - ACH Transfers
  - Inbound ACH Transfers
  - ACH Prenotifications
- name: Check Transfers
  tags:
  - Check Transfers
  - Inbound Check Deposits
- name: Real Time Payments Transfers
  tags:
  - Real-Time Payments Transfers
  - Inbound Real-Time Payments Transfers
- name: Fednow Transfers
  tags:
  - FedNow Transfers
  - Inbound FedNow Transfers
- name: Swift Transfers
  tags:
  - Swift Transfers
- name: Wire Transfers
  tags:
  - Wire Transfers
  - Inbound Wire Transfers
  - Wire Drawdown Requests
  - Inbound Wire Drawdown Requests
- name: Card Transfers
  tags:
  - Card Tokens
  - Card Push Transfers
  - Card Validations
- name: Check Deposits
  tags:
  - Check Deposits
  - Lockbox Addresses
  - Lockbox Recipients
  - Inbound Mail Items
- name: Cards
  tags:
  - Cards
  - Card Payments
  - Card Purchase Supplements
  - Card Disputes
  - Physical Cards
  - Digital Card Profiles
  - Physical Card Profiles
  - Digital Wallet Tokens
- name: Compliance
  tags:
  - Entities
  - Beneficial Owners
  - Supplemental Documents
  - Entity Onboarding Sessions
  - Programs
- name: Events and Webhooks
  tags:
  - Events
  - Event Subscriptions
  - Real-Time Decisions
- name: External Accounts
  tags:
  - Routing Numbers
  - External Accounts
- name: Files and Exports
  tags:
  - Account Statements
  - Files
  - File Links
  - Exports
- name: OAuth
  tags:
  - Groups
  - OAuth Applications
  - OAuth Connections
  - OAuth Tokens
- name: Intrafi
  tags:
  - IntraFi Account Enrollments
  - IntraFi Balances
  - IntraFi Exclusions
