openapi: 3.1.0
info:
  description: Anything that you can achieve with PDFs, presence, and persistence in a bank branch you can do with our API. We've always wanted a fully programmatic bank so we built one. Our API faithfully exposes the data and capabilities of the Federal Reserve, Visa, The Clearing House, depository networks, and accounting tools. It's lovingly boring and exceptionally powerful. If you have any questions or want to get started, don't hesitate to ping us at sales@increase.com. We can't wait to see what you build!
  title: Increase Account Numbers Simulations API
  version: 0.0.1
servers:
- url: https://api.increase.com
- url: https://sandbox.increase.com
security:
- bearerAuth: []
tags:
- name: Simulations
paths:
  /simulations/account_revenue_payments:
    post:
      description: Simulates an account revenue payment to your account. In production, this happens automatically on the first of each month.
      operationId: sandbox_create_an_account_revenue_payment
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_create_an_account_revenue_payment_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
          description: Transaction
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Create an account revenue payment'
      x-returns-example:
        account_id: account_in71c4amph0vgo2qllky
        amount: 100
        created_at: '2020-01-31T23:59:59Z'
        currency: USD
        description: Revenue Payment for My first account! in 2025-06
        id: transaction_uyrp7fld2ium70oa7oi
        route_id: null
        route_type: null
        source:
          account_revenue_payment:
            accrued_on_account_id: account_in71c4amph0vgo2qllky
            period_end: '2025-06-30T23:59:59+00:00'
            period_start: '2025-06-01T00:00:00+00:00'
          category: account_revenue_payment
        type: transaction
      x-sandbox-only: true
      x-tag: Accounts
      tags:
      - Simulations
  /simulations/account_statements:
    post:
      description: Simulates an [Account Statement](#account-statements) being created for an account. In production, Account Statements are generated once per month.
      operationId: sandbox_create_an_account_statement
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_create_an_account_statement_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_statement'
          description: Account Statement
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Create an Account Statement'
      x-sandbox-only: true
      x-tag: Account Statements
      tags:
      - Simulations
  /simulations/ach_transfers/{ach_transfer_id}/acknowledge:
    post:
      description: Simulates the acknowledgement of an [ACH Transfer](#ach-transfers) by the Federal Reserve. This transfer must first have a `status` of `submitted`. In production, the Federal Reserve generally acknowledges submitted ACH files within 30 minutes. Since sandbox ACH Transfers are not submitted to the Federal Reserve, this endpoint allows you to skip that delay and add the acknowledgement subresource to the ACH Transfer.
      operationId: sandbox_acknowledge_an_ach_transfer
      parameters:
      - example: ach_transfer_uoxatyh3lt5evrsdvo7q
        in: path
        name: ach_transfer_id
        required: true
        schema:
          description: The identifier of the ACH Transfer you wish to become acknowledged.
          type: string
          x-documentation-priority: default
          x-id-reference-to: ACH Transfers
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ach_transfer'
          description: ACH Transfer
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Acknowledge an ACH Transfer'
      x-sandbox-only: true
      x-tag: ACH Transfers
      tags:
      - Simulations
  /simulations/ach_transfers/{ach_transfer_id}/create_notification_of_change:
    post:
      description: Simulates receiving a Notification of Change for an [ACH Transfer](#ach-transfers).
      operationId: sandbox_create_a_notification_of_change_for_an_ach_transfer
      parameters:
      - example: ach_transfer_uoxatyh3lt5evrsdvo7q
        in: path
        name: ach_transfer_id
        required: true
        schema:
          description: The identifier of the ACH Transfer you wish to create a notification of change for.
          type: string
          x-documentation-priority: default
          x-id-reference-to: ACH Transfers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_create_a_notification_of_change_for_an_ach_transfer_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ach_transfer'
          description: ACH Transfer
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Create a Notification of Change for an ACH Transfer'
      x-sandbox-only: true
      x-tag: ACH Transfers
      tags:
      - Simulations
  /simulations/ach_transfers/{ach_transfer_id}/return:
    post:
      description: Simulates the return of an [ACH Transfer](#ach-transfers) by the Federal Reserve due to an error condition. This will also create a Transaction to account for the returned funds. This transfer must first have a `status` of `submitted`.
      operationId: sandbox_return_an_ach_transfer
      parameters:
      - example: ach_transfer_uoxatyh3lt5evrsdvo7q
        in: path
        name: ach_transfer_id
        required: true
        schema:
          description: The identifier of the ACH Transfer you wish to return.
          type: string
          x-documentation-priority: default
          x-id-reference-to: ACH Transfers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_return_an_ach_transfer_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ach_transfer'
          description: ACH Transfer
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Return an ACH Transfer'
      x-sandbox-only: true
      x-tag: ACH Transfers
      tags:
      - Simulations
  /simulations/ach_transfers/{ach_transfer_id}/settle:
    post:
      description: 'Simulates the settlement of an [ACH Transfer](#ach-transfers) by the Federal Reserve. This transfer must first have a `status` of `pending_submission` or `submitted`. For convenience, if the transfer is in `status`: `pending_submission`, the simulation will also submit the transfer. Without this simulation the transfer will eventually settle on its own following the same Federal Reserve timeline as in production. Additionally, you can specify the behavior of the inbound funds hold that is created when the ACH Transfer is settled. If no behavior is specified, the inbound funds hold will be released immediately in order for the funds to be available for use.'
      operationId: sandbox_settle_an_ach_transfer
      parameters:
      - example: ach_transfer_uoxatyh3lt5evrsdvo7q
        in: path
        name: ach_transfer_id
        required: true
        schema:
          description: The identifier of the ACH Transfer you wish to become settled.
          type: string
          x-documentation-priority: default
          x-id-reference-to: ACH Transfers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_settle_an_ach_transfer_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ach_transfer'
          description: ACH Transfer
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Settle an ACH Transfer'
      x-sandbox-only: true
      x-tag: ACH Transfers
      tags:
      - Simulations
  /simulations/ach_transfers/{ach_transfer_id}/submit:
    post:
      description: Simulates the submission of an [ACH Transfer](#ach-transfers) to the Federal Reserve. This transfer must first have a `status` of `pending_approval` or `pending_submission`. In production, Increase submits ACH Transfers to the Federal Reserve three times per day on weekdays. Since sandbox ACH Transfers are not submitted to the Federal Reserve, this endpoint allows you to skip that delay and transition the ACH Transfer to a status of `submitted`.
      operationId: sandbox_submit_an_ach_transfer
      parameters:
      - example: ach_transfer_uoxatyh3lt5evrsdvo7q
        in: path
        name: ach_transfer_id
        required: true
        schema:
          description: The identifier of the ACH Transfer you wish to submit.
          type: string
          x-documentation-priority: default
          x-id-reference-to: ACH Transfers
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ach_transfer'
          description: ACH Transfer
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Submit an ACH Transfer'
      x-sandbox-only: true
      x-tag: ACH Transfers
      tags:
      - Simulations
  /simulations/card_authentications:
    post:
      description: Simulates a Card Authentication attempt on a [Card](#cards). The attempt always results in a [Card Payment](#card_payments) being created, either with a status that allows further action or a terminal failed status.
      operationId: sandbox_create_a_card_authentication_attempt
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_create_a_card_authentication_attempt_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_payment'
          description: Card Payment
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Create a Card Authentication attempt'
      x-sandbox-only: true
      x-tag: Card Payments
      tags:
      - Simulations
  /simulations/card_authentications/{card_payment_id}/challenge_attempts:
    post:
      description: Simulates an attempt at a Card Authentication Challenge. This updates the `card_authentications` object under the [Card Payment](#card_payments). You can also attempt the challenge by navigating to https://dashboard.increase.com/card_authentication_simulation/:card_payment_id.
      operationId: sandbox_create_a_card_authentication_challenge_attempt
      parameters:
      - example: card_payment_nd3k2kacrqjli8482ave
        in: path
        name: card_payment_id
        required: true
        schema:
          description: The identifier of the Card Payment to be challenged.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Card Payments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_create_a_card_authentication_challenge_attempt_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_payment'
          description: Card Payment
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Create a Card Authentication Challenge attempt'
      x-sandbox-only: true
      x-tag: Card Payments
      tags:
      - Simulations
  /simulations/card_authentications/{card_payment_id}/challenges:
    post:
      description: Simulates starting a Card Authentication Challenge for an existing Card Authentication. This updates the `card_authentications` object under the [Card Payment](#card_payments). To attempt the challenge, use the `/simulations/card_authentications/:card_payment_id/challenge_attempts` endpoint or navigate to https://dashboard.increase.com/card_authentication_simulation/:card_payment_id.
      operationId: sandbox_create_an_initial_card_authentication_challenge
      parameters:
      - example: card_payment_nd3k2kacrqjli8482ave
        in: path
        name: card_payment_id
        required: true
        schema:
          description: The identifier of the Card Payment to be challenged.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Card Payments
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_payment'
          description: Card Payment
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Create an initial Card Authentication Challenge'
      x-sandbox-only: true
      x-tag: Card Payments
      tags:
      - Simulations
  /simulations/card_authorization_expirations:
    post:
      description: Simulates expiring a Card Authorization immediately.
      operationId: sandbox_expire_a_card_authorization
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_expire_a_card_authorization_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_payment'
          description: Card Payment
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Expire a Card Authorization'
      x-sandbox-only: true
      x-tag: Card Payments
      tags:
      - Simulations
  /simulations/card_authorizations:
    post:
      description: Simulates a purchase authorization on a [Card](#cards). Depending on the balance available to the card and the `amount` submitted, the authorization activity will result in a [Pending Transaction](#pending-transactions) of type `card_authorization` or a [Declined Transaction](#declined-transactions) of type `card_decline`. You can pass either a Card id or a [Digital Wallet Token](#digital-wallet-tokens) id to simulate the two different ways purchases can be made.
      operationId: sandbox_create_a_card_authorization
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_create_a_card_authorization_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inbound_card_authorization_simulation_result'
          description: Inbound Card Authorization Simulation Result
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Create a Card Authorization'
      x-sandbox-only: true
      x-tag: Card Payments
      tags:
      - Simulations
  /simulations/card_balance_inquiries:
    post:
      description: Simulates a balance inquiry on a [Card](#cards).
      operationId: sandbox_create_a_card_balance_inquiry
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_create_a_card_balance_inquiry_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_payment'
          description: Card Payment
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Create a Card Balance Inquiry'
      x-sandbox-only: true
      x-tag: Card Payments
      tags:
      - Simulations
  /simulations/card_disputes/{card_dispute_id}/action:
    post:
      description: After a [Card Dispute](#card-disputes) is created in production, the dispute will initially be in a `pending_user_submission_reviewing` state. Since no review or further action happens in sandbox, this endpoint simulates moving a Card Dispute through its various states.
      operationId: sandbox_advance_the_state_of_a_card_dispute
      parameters:
      - example: card_dispute_h9sc95nbl1cgltpp7men
        in: path
        name: card_dispute_id
        required: true
        schema:
          description: The dispute you would like to action.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Card Disputes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_advance_the_state_of_a_card_dispute_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_dispute'
          description: Card Dispute
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Advance the state of a Card Dispute'
      x-sandbox-only: true
      x-tag: Card Disputes
      tags:
      - Simulations
  /simulations/card_fuel_confirmations:
    post:
      description: Simulates the fuel confirmation of an authorization by a card acquirer. This happens asynchronously right after a fuel pump transaction is completed. A fuel confirmation can only happen once per authorization.
      operationId: sandbox_confirm_the_fuel_pump_amount_for_a_card_authorization
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_confirm_the_fuel_pump_amount_for_a_card_authorization_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_payment'
          description: Card Payment
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Confirm the fuel pump amount for a Card Authorization'
      x-sandbox-only: true
      x-tag: Card Payments
      tags:
      - Simulations
  /simulations/card_increments:
    post:
      description: Simulates the increment of an authorization by a card acquirer. An authorization can be incremented multiple times.
      operationId: sandbox_increment_a_card_authorization
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_increment_a_card_authorization_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_payment'
          description: Card Payment
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Increment a Card Authorization'
      x-sandbox-only: true
      x-tag: Card Payments
      tags:
      - Simulations
  /simulations/card_purchase_supplements:
    post:
      description: Simulates the creation of a Card Purchase Supplement (Level 3 data) for a card settlement. This happens asynchronously in production when Visa sends enhanced transaction data about a purchase.
      operationId: sandbox_create_a_card_purchase_supplement
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_create_a_card_purchase_supplement_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_purchase_supplement'
          description: Card Purchase Supplement
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Create a Card Purchase Supplement'
      x-sandbox-only: true
      x-tag: Card Purchase Supplements
      tags:
      - Simulations
  /simulations/card_refunds:
    post:
      description: Simulates refunding a card transaction. The full value of the original sandbox transaction is refunded.
      operationId: sandbox_refund_a_card_transaction
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_refund_a_card_transaction_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
          description: Transaction
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Refund a card transaction'
      x-sandbox-only: true
      x-tag: Card Payments
      tags:
      - Simulations
  /simulations/card_reversals:
    post:
      description: Simulates the reversal of an authorization by a card acquirer. An authorization can be partially reversed multiple times, up until the total authorized amount. Marks the pending transaction as complete if the authorization is fully reversed.
      operationId: sandbox_reverse_a_card_authorization
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_reverse_a_card_authorization_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_payment'
          description: Card Payment
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Reverse a Card Authorization'
      x-sandbox-only: true
      x-tag: Card Payments
      tags:
      - Simulations
  /simulations/card_settlements:
    post:
      description: Simulates the settlement of an authorization by a card acquirer. After a card authorization is created, the merchant will eventually send a settlement. This simulates that event, which may occur many days after the purchase in production. The amount settled can be different from the amount originally authorized, for example, when adding a tip to a restaurant bill.
      operationId: sandbox_settle_a_card_authorization
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_settle_a_card_authorization_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
          description: Transaction
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Settle a Card Authorization'
      x-sandbox-only: true
      x-tag: Card Payments
      tags:
      - Simulations
  /simulations/card_tokens:
    post:
      description: Simulates tokenizing a card in the sandbox environment.
      operationId: sandbox_create_a_card_token
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_create_a_card_token_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_token'
          description: Card Token
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Create a Card Token'
      x-sandbox-only: true
      x-tag: Card Tokens
      tags:
      - Simulations
  /simulations/check_deposits/{check_deposit_id}/adjustment:
    post:
      description: Simulates the creation of a [Check Deposit Adjustment](#check-deposit-adjustments) on a [Check Deposit](#check-deposits). This Check Deposit must first have a `status` of `submitted`.
      operationId: sandbox_adjust_a_check_deposit
      parameters:
      - example: check_deposit_f06n9gpg7sxn8t19lfc1
        in: path
        name: check_deposit_id
        required: true
        schema:
          description: The identifier of the Check Deposit you wish to adjust.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Check Deposits
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_adjust_a_check_deposit_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/check_deposit'
          description: Check Deposit
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Adjust a Check Deposit'
      x-sandbox-only: true
      x-tag: Check Deposits
      tags:
      - Simulations
  /simulations/check_deposits/{check_deposit_id}/reject:
    post:
      description: Simulates the rejection of a [Check Deposit](#check-deposits) by Increase due to factors like poor image quality. This Check Deposit must first have a `status` of `pending`.
      operationId: sandbox_reject_a_check_deposit
      parameters:
      - example: check_deposit_f06n9gpg7sxn8t19lfc1
        in: path
        name: check_deposit_id
        required: true
        schema:
          description: The identifier of the Check Deposit you wish to reject.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Check Deposits
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/check_deposit'
          description: Check Deposit
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Reject a Check Deposit'
      x-sandbox-only: true
      x-tag: Check Deposits
      tags:
      - Simulations
  /simulations/check_deposits/{check_deposit_id}/return:
    post:
      description: Simulates the return of a [Check Deposit](#check-deposits). This Check Deposit must first have a `status` of `submitted`.
      operationId: sandbox_return_a_check_deposit
      parameters:
      - example: check_deposit_f06n9gpg7sxn8t19lfc1
        in: path
        name: check_deposit_id
        required: true
        schema:
          description: The identifier of the Check Deposit you wish to return.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Check Deposits
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/check_deposit'
          description: Check Deposit
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Return a Check Deposit'
      x-sandbox-only: true
      x-tag: Check Deposits
      tags:
      - Simulations
  /simulations/check_deposits/{check_deposit_id}/submit:
    post:
      description: Simulates the submission of a [Check Deposit](#check-deposits) to the Federal Reserve. This Check Deposit must first have a `status` of `pending`.
      operationId: sandbox_submit_a_check_deposit
      parameters:
      - example: check_deposit_f06n9gpg7sxn8t19lfc1
        in: path
        name: check_deposit_id
        required: true
        schema:
          description: The identifier of the Check Deposit you wish to submit.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Check Deposits
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_submit_a_check_deposit_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/check_deposit'
          description: Check Deposit
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Submit a Check Deposit'
      x-sandbox-only: true
      x-tag: Check Deposits
      tags:
      - Simulations
  /simulations/check_transfers/{check_transfer_id}/mail:
    post:
      description: Simulates the mailing of a [Check Transfer](#check-transfers), which happens periodically throughout the day in production but can be sped up in sandbox. This transfer must first have a `status` of `pending_approval` or `pending_submission`.
      operationId: sandbox_mail_a_check_transfer
      parameters:
      - example: check_transfer_30b43acfu9vw8fyc4f5
        in: path
        name: check_transfer_id
        required: true
        schema:
          description: The identifier of the Check Transfer you wish to mail.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Check Transfers
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/check_transfer'
          description: Check Transfer
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Mail a Check Transfer'
      x-sandbox-only: true
      x-tag: Check Transfers
      tags:
      - Simulations
  /simulations/digital_wallet_token_requests:
    post:
      description: Simulates a user attempting to add a [Card](#cards) to a digital wallet such as Apple Pay.
      operationId: sandbox_create_a_digital_wallet_token_request
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_create_a_digital_wallet_token_request_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inbound_digital_wallet_token_request_simulation_result'
          description: Inbound Digital Wallet Token Request Simulation Result
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Create a digital wallet token request'
      x-sandbox-only: true
      x-tag: Digital Wallet Tokens
      tags:
      - Simulations
  /simulations/entities/{entity_id}/update_validation:
    post:
      description: Simulate updates to an [Entity's validation](/documentation/api/entities#entity-object.validation). In production, Know Your Customer validations [run automatically](/documentation/entity-validation#entity-validation) for eligible programs. While developing, use this API to simulate issues with information submissions.
      operationId: sandbox_simulate_validation_of_an_entity
      parameters:
      - example: entity_n8y8tnk2p9339ti393yi
        in: path
        name: entity_id
        required: true
        schema:
          description: The identifier of the Entity whose validation status to update.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Entities
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_simulate_validation_of_an_entity_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entity'
          description: Entity
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Simulate validation of an Entity'
      x-sandbox-only: true
      x-tag: Entities
      tags:
      - Simulations
  /simulations/entity_onboarding_sessions/{entity_onboarding_session_id}/submit:
    post:
      description: Simulates the submission of an [Entity Onboarding Session](#entity-onboarding-sessions). This session must have a `status` of `active`. After submission, the session will transition to `expired` and a new Entity will be created.
      operationId: sandbox_submit_an_entity_onboarding_session
      parameters:
      - example: entity_onboarding_session_wid2ug11fsmvh3k9hymd
        in: path
        name: entity_onboarding_session_id
        required: true
        schema:
          description: The identifier of the Entity Onboarding Session you wish to submit.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Entity Onboarding Sessions
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entity_onboarding_session'
          description: Entity Onboarding Session
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Submit an Entity Onboarding Session'
      x-sandbox-only: true
      x-tag: Entity Onboarding Sessions
      tags:
      - Simulations
  /simulations/exports:
    post:
      description: Many exports are created by you via POST /exports or in the Dashboard. Some exports are created automatically by Increase. For example, tax documents are published once a year. In sandbox, you can trigger the arrival of an export that would normally only be created automatically via this simulation.
      operationId: sandbox_generate_a_tax_form_export
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_generate_a_tax_form_export_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/export'
          description: Export
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Generate a Tax Form Export'
      x-sandbox-only: true
      x-tag: Exports
      tags:
      - Simulations
  /simulations/inbound_ach_transfers:
    post:
      description: Simulates an inbound ACH transfer to your account. This imitates initiating a transfer to an Increase account from a different financial institution. The transfer may be either a credit or a debit depending on if the `amount` is positive or negative. The result of calling this API will contain the created transfer. You can pass a `resolve_at` parameter to allow for a window to [action on the Inbound ACH Transfer](https://increase.com/documentation/receiving-ach-transfers). Alternatively, if you don't pass the `resolve_at` parameter the result will contain either a [Transaction](#transactions) or a [Declined Transaction](#declined-transactions) depending on whether or not the transfer is allowed.
      operationId: sandbox_create_an_inbound_ach_transfer
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_create_an_inbound_ach_transfer_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inbound_ach_transfer'
          description: Inbound ACH Transfer
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Create an Inbound ACH Transfer'
      x-sandbox-only: true
      x-tag: Inbound ACH Transfers
      tags:
      - Simulations
  /simulations/inbound_check_deposits:
    post:
      description: Simulates an Inbound Check Deposit against your account. This imitates someone depositing a check at their bank that was issued from your account. It may or may not be associated with a Check Transfer. Increase will evaluate the Inbound Check Deposit as we would in production and either create a Transaction or a Declined Transaction as a result. You can inspect the resulting Inbound Check Deposit object to see the result.
      operationId: sandbox_create_an_inbound_check_deposit
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_create_an_inbound_check_deposit_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inbound_check_deposit'
          description: Inbound Check Deposit
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Create an Inbound Check Deposit'
      x-sandbox-only: true
      x-tag: Inbound Check Deposits
      tags:
      - Simulations
  /simulations/inbound_check_deposits/{inbound_check_deposit_id}/adjustment:
    post:
      description: Simulates an adjustment on an Inbound Check Deposit. The Inbound Check Deposit must have a `status` of `accepted`.
      operationId: sandbox_create_an_inbound_check_deposit_adjustment
      parameters:
      - example: inbound_check_deposit_zoshvqybq0cjjm31mra
        in: path
        name: inbound_check_deposit_id
        required: true
        schema:
          description: The identifier of the Inbound Check Deposit to adjust.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Inbound Check Deposits
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_create_an_inbound_check_deposit_adjustment_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inbound_check_deposit'
          description: Inbound Check Deposit
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Create an Inbound Check Deposit Adjustment'
      x-sandbox-only: true
      x-tag: Inbound Check Deposits
      tags:
      - Simulations
  /simulations/inbound_fednow_transfers:
    post:
      description: Simulates an [Inbound FedNow Transfer](#inbound-fednow-transfers) to your account.
      operationId: sandbox_create_an_inbound_fednow_transfer
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_create_an_inbound_fednow_transfer_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inbound_fednow_transfer'
          description: Inbound FedNow Transfer
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Create an Inbound FedNow Transfer'
      x-sandbox-only: true
      x-tag: Inbound FedNow Transfers
      tags:
      - Simulations
  /simulations/inbound_mail_items:
    post:
      description: Simulates an Inbound Mail Item to one of your Lockbox Addresses or Lockbox Recipients, as if someone had mailed a physical check.
      operationId: sandbox_create_an_inbound_mail_item
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_create_an_inbound_mail_item_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inbound_mail_item'
          description: Inbound Mail Item
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Create an Inbound Mail Item'
      x-sandbox-only: true
      x-tag: Inbound Mail Items
      tags:
      - Simulations
  /simulations/inbound_real_time_payments_transfers:
    post:
      description: Simulates an [Inbound Real-Time Payments Transfer](#inbound-real-time-payments-transfers) to your account. Real-Time Payments are a beta feature.
      operationId: sandbox_create_an_inbound_real_time_payments_transfer
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_create_an_inbound_real_time_payments_transfer_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inbound_real_time_payments_transfer'
          description: Inbound Real-Time Payments Transfer
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Create an Inbound Real-Time Payments Transfer'
      x-sandbox-only: true
      x-tag: Inbound Real-Time Payments Transfers
      tags:
      - Simulations
  /simulations/inbound_wire_drawdown_requests:
    post:
      description: Simulates receiving an [Inbound Wire Drawdown Request](#inbound-wire-drawdown-requests).
      operationId: sandbox_create_an_inbound_wire_drawdown_request
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_create_an_inbound_wire_drawdown_request_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inbound_wire_drawdown_request'
          description: Inbound Wire Drawdown Request
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Create an Inbound Wire Drawdown request'
      x-sandbox-only: true
      x-tag: Inbound Wire Drawdown Requests
      tags:
      - Simulations
  /simulations/inbound_wire_transfers:
    post:
      description: Simulates an [Inbound Wire Transfer](#inbound-wire-transfers) to your account.
      operationId: sandbox_create_an_inbound_wire_transfer
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_create_an_inbound_wire_transfer_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inbound_wire_transfer'
          description: Inbound Wire Transfer
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Create an Inbound Wire Transfer'
      x-sandbox-only: true
      x-tag: Inbound Wire Transfers
      tags:
      - Simulations
  /simulations/interest_payments:
    post:
      description: Simulates an interest payment to your account. In production, this happens automatically on the first of each month.
      operationId: sandbox_create_an_interest_payment
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_create_an_interest_payment_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
          description: Transaction
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Create an interest payment'
      x-returns-example:
        account_id: account_in71c4amph0vgo2qllky
        amount: 100
        created_at: '2020-01-31T23:59:59Z'
        currency: USD
        description: Interest payment for 2025-06
        id: transaction_uyrp7fld2ium70oa7oi
        route_id: null
        route_type: null
        source:
          category: interest_payment
          interest_payment:
            accrued_on_account_id: account_in71c4amph0vgo2qllky
            amount: 100
            currency: USD
            period_end: '2025-06-30T23:59:59+00:00'
            period_start: '2025-06-01T00:00:00+00:00'
        type: transaction
      x-sandbox-only: true
      x-tag: Accounts
      tags:
      - Simulations
  /simulations/pending_transactions/{pending_transaction_id}/release_inbound_funds_hold:
    post:
      description: This endpoint simulates immediately releasing an Inbound Funds Hold, which might be created as a result of, for example, an ACH debit.
      operationId: sandbox_release_an_inbound_funds_hold
      parameters:
      - example: pending_transaction_k1sfetcau2qbvjbzgju4
        in: path
        name: pending_transaction_id
        required: true
        schema:
          description: The pending transaction to release. The pending transaction must have a `inbound_funds_hold` source.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Pending Transactions
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pending_transaction'
          description: Pending Transaction
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Release an Inbound Funds Hold'
      x-sandbox-only: true
      x-tag: Pending Transactions
      tags:
      - Simulations
  /simulations/physical_cards/{physical_card_id}/advance_shipment:
    post:
      description: This endpoint allows you to simulate advancing the shipment status of a Physical Card, to simulate e.g., that a physical card was attempted shipped but then failed delivery.
      operationId: sandbox_advance_the_shipment_status_of_a_physical_card
      parameters:
      - example: physical_card_ode8duyq5v2ynhjoharl
        in: path
        name: physical_card_id
        required: true
        schema:
          description: The Physical Card you would like to action.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Physical Cards
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_advance_the_shipment_status_of_a_physical_card_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/physical_card'
          description: Physical Card
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Advance the shipment status of a Physical Card'
      x-sandbox-only: true
      x-tag: Physical Cards
      tags:
      - Simulations
  /simulations/physical_cards/{physical_card_id}/tracking_updates:
    post:
      description: This endpoint allows you to simulate receiving a tracking update for a Physical Card, to simulate the progress of a shipment.
      operationId: sandbox_create_a_physical_card_shipment_tracking_update
      parameters:
      - example: physical_card_ode8duyq5v2ynhjoharl
        in: path
        name: physical_card_id
        required: true
        schema:
          description: The Physical Card you would like to action.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Physical Cards
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_create_a_physical_card_shipment_tracking_update_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/physical_card'
          description: Physical Card
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Create a Physical Card Shipment Tracking Update'
      x-sandbox-only: true
      x-tag: Physical Cards
      tags:
      - Simulations
  /simulations/programs:
    post:
      description: Simulates a [Program](#programs) being created in your group. By default, your group has one program called Commercial Banking. Note that when your group operates more than one program, `program_id` is a required field when creating accounts.
      operationId: sandbox_create_a_program
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_create_a_program_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/program'
          description: Program
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Create a Program'
      x-sandbox-only: true
      x-tag: Programs
      tags:
      - Simulations
  /simulations/real_time_payments_transfers/{real_time_payments_transfer_id}/complete:
    post:
      description: Simulates submission of a [Real-Time Payments Transfer](#real-time-payments-transfers) and handling the response from the destination financial institution. This transfer must first have a `status` of `pending_submission`.
      operationId: sandbox_complete_a_real_time_payments_transfer
      parameters:
      - example: real_time_payments_transfer_iyuhl5kdn7ssmup83mvq
        in: path
        name: real_time_payments_transfer_id
        required: true
        schema:
          description: The identifier of the Real-Time Payments Transfer you wish to complete.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Real-Time Payments Transfers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sandbox_complete_a_real_time_payments_transfer_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/real_time_payments_transfer'
          description: Real-Time Payments Transfer
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Complete a Real-Time Payments Transfer'
      x-sandbox-only: true
      x-tag: Real-Time Payments Transfers
      tags:
      - Simulations
  /simulations/wire_drawdown_requests/{wire_drawdown_request_id}/refuse:
    post:
      description: Simulates a Wire Drawdown Request being refused by the debtor.
      operationId: sandbox_refuse_a_wire_drawdown_request
      parameters:
      - example: wire_drawdown_request_q6lmocus3glo0lr2bfv3
        in: path
        name: wire_drawdown_request_id
        required: true
        schema:
          description: The identifier of the Wire Drawdown Request you wish to refuse.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Wire Drawdown Requests
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wire_drawdown_request'
          description: Wire Drawdown Request
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Refuse a Wire Drawdown Request'
      x-sandbox-only: true
      x-tag: Wire Drawdown Requests
      tags:
      - Simulations
  /simulations/wire_drawdown_requests/{wire_drawdown_request_id}/submit:
    post:
      description: Simulates a Wire Drawdown Request being submitted to Fedwire.
      operationId: sandbox_submit_a_wire_drawdown_request
      parameters:
      - example: wire_drawdown_request_q6lmocus3glo0lr2bfv3
        in: path
        name: wire_drawdown_request_id
        required: true
        schema:
          description: The identifier of the Wire Drawdown Request you wish to submit.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Wire Drawdown Requests
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wire_drawdown_request'
          description: Wire Drawdown Request
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Submit a Wire Drawdown Request'
      x-sandbox-only: true
      x-tag: Wire Drawdown Requests
      tags:
      - Simulations
  /simulations/wire_transfers/{wire_transfer_id}/reverse:
    post:
      description: Simulates the reversal of a [Wire Transfer](#wire-transfers) by the Federal Reserve due to error conditions. This will also create a [Transaction](#transaction) to account for the returned funds. This Wire Transfer must first have a `status` of `complete`.
      operationId: sandbox_reverse_a_wire_transfer
      parameters:
      - example: wire_transfer_5akynk7dqsq25qwk9q2u
        in: path
        name: wire_transfer_id
        required: true
        schema:
          description: The identifier of the Wire Transfer you wish to reverse.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Wire Transfers
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wire_transfer'
          description: Wire Transfer
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Reverse a Wire Transfer'
      x-sandbox-only: true
      x-tag: Wire Transfers
      tags:
      - Simulations
  /simulations/wire_transfers/{wire_transfer_id}/submit:
    post:
      description: Simulates the submission of a [Wire Transfer](#wire-transfers) to the Federal Reserve. This transfer must first have a `status` of `pending_approval` or `pending_creating`.
      operationId: sandbox_submit_a_wire_transfer
      parameters:
      - example: wire_transfer_5akynk7dqsq25qwk9q2u
        in: path
        name: wire_transfer_id
        required: true
        schema:
          description: The identifier of the Wire Transfer you wish to submit.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Wire Transfers
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wire_transfer'
          description: Wire Transfer
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: 'Sandbox: Submit a Wire Transfer'
      x-sandbox-only: true
      x-tag: Wire Transfers
      tags:
      - Simulations
components:
  schemas:
    check_deposit:
      additionalProperties: true
      description: Check Deposits allow you to deposit images of paper checks into your account.
      example:
        account_id: account_in71c4amph0vgo2qllky
        amount: 1000
        back_image_file_id: file_26khfk98mzfz90a11oqx
        created_at: '2020-01-31T23:59:59Z'
        deposit_acceptance:
          account_number: '987654321'
          amount: 1000
          auxiliary_on_us: '101'
          check_deposit_id: check_deposit_f06n9gpg7sxn8t19lfc1
          currency: USD
          routing_number: '101050001'
          serial_number: null
        deposit_adjustments: []
        deposit_rejection: null
        deposit_return: null
        deposit_submission:
          back_file_id: file_frhw4s443nh7noss55kq
          front_file_id: file_j7ed9mrve741m6yui9ju
          submitted_at: '2020-02-01T00:59:59+00:00'
        description: null
        front_image_file_id: file_makxrc67oh9l6sg7w9yc
        id: check_deposit_f06n9gpg7sxn8t19lfc1
        idempotency_key: null
        inbound_funds_hold: null
        inbound_mail_item_id: null
        lockbox_recipient_id: null
        status: submitted
        transaction_id: transaction_uyrp7fld2ium70oa7oi
        type: check_deposit
      properties:
        account_id:
          description: The Account the check was deposited into.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Accounts
        amount:
          description: The deposited amount in USD cents.
          type: integer
          x-documentation-priority: default
        back_image_file_id:
          anyOf:
          - description: The ID for the File containing the image of the back of the check.
            type: string
            x-documentation-priority: default
            x-id-reference-to: Files
          - type: 'null'
        created_at:
          description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date and time at which the transfer was created.
          format: date-time
          type: string
          x-documentation-priority: default
        deposit_acceptance:
          anyOf:
          - additionalProperties: true
            description: Once your deposit is successfully parsed and accepted by Increase, this will contain details of the parsed check.
            example:
              account_number: '987654321'
              amount: 1000
              auxiliary_on_us: '101'
              check_deposit_id: check_deposit_f06n9gpg7sxn8t19lfc1
              currency: USD
              routing_number: '101050001'
              serial_number: null
            properties:
              account_number:
                description: The account number printed on the check. This is an account at the bank that issued the check.
                type: string
                x-documentation-priority: default
              amount:
                description: The amount to be deposited in the minor unit of the transaction's currency. For dollars, for example, this is cents.
                type: integer
                x-documentation-priority: default
              auxiliary_on_us:
                anyOf:
                - description: An additional line of metadata printed on the check. This typically includes the check number for business checks.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              check_deposit_id:
                description: The ID of the Check Deposit that was accepted.
                type: string
                x-documentation-priority: default
                x-id-reference-to: Check Deposits
              currency:
                description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the transaction's currency.
                enum:
                - USD
                type: string
                x-documentation-priority: default
                x-enum-descriptions:
                - US Dollar (USD)
              routing_number:
                description: The routing number printed on the check. This is a routing number for the bank that issued the check.
                type: string
                x-documentation-priority: default
              serial_number:
                anyOf:
                - description: The check serial number, if present, for consumer checks. For business checks, the serial number is usually in the `auxiliary_on_us` field.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
            required:
            - amount
            - currency
            - account_number
            - routing_number
            - auxiliary_on_us
            - serial_number
            - check_deposit_id
            title: Check Deposit Check Deposit Acceptance
            type: object
            x-documentation-priority: default
            x-event-categories: []
            x-stainless-empty-object: false
            x-title-plural: Check Deposit Acceptances
          - type: 'null'
        deposit_adjustments:
          description: If the deposit or the return was adjusted by the receiving institution, this will contain details of the adjustments.
          items:
            additionalProperties: false
            example:
              adjusted_at: '2020-01-31T23:59:59Z'
              amount: 1750
              reason: late_return
              transaction_id: transaction_uyrp7fld2ium70oa7oi
            properties:
              adjusted_at:
                description: The time at which the adjustment was received.
                format: date-time
                type: string
                x-documentation-priority: default
              amount:
                description: The amount of the adjustment.
                type: integer
                x-documentation-priority: default
              reason:
                description: The reason for the adjustment.
                enum:
                - adjusted_amount
                - non_conforming_item
                - paid
                type: string
                x-documentation-priority: default
                x-enum-descriptions:
                - The check was deposited with a different amount than what was written on the check.
                - The recipient was not able to process the check. This usually happens for e.g., low quality images.
                - The check has already been deposited elsewhere and so this is a duplicate.
              transaction_id:
                description: The id of the transaction for the adjustment.
                type: string
                x-documentation-priority: default
                x-id-reference-to: Transactions
            required:
            - adjusted_at
            - transaction_id
            - reason
            - amount
            title: Check Deposit Check Deposit Adjustment
            type: object
            x-event-categories: []
            x-stainless-empty-object: false
            x-title-plural: Check Deposit Adjustments
          type: array
          x-documentation-priority: default
        deposit_rejection:
          anyOf:
          - additionalProperties: true
            description: If your deposit is rejected by Increase, this will contain details as to why it was rejected.
            example:
              amount: 1750
              check_deposit_id: check_deposit_f06n9gpg7sxn8t19lfc1
              currency: USD
              declined_transaction_id: declined_transaction_17jbn0yyhvkt4v4ooym8
              reason: incomplete_image
              rejected_at: '2020-01-31T23:59:59Z'
            properties:
              amount:
                description: The rejected amount in the minor unit of check's currency. For dollars, for example, this is cents.
                type: integer
                x-documentation-priority: default
              check_deposit_id:
                description: The identifier of the Check Deposit that was rejected.
                type: string
                x-documentation-priority: default
                x-id-reference-to: Check Deposits
              currency:
                description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the check's currency.
                enum:
                - USD
                type: string
                x-documentation-priority: default
                x-enum-descriptions:
                - US Dollar (USD)
              declined_transaction_id:
                description: The identifier of the associated declined transaction.
                type: string
                x-documentation-priority: default
                x-id-reference-to: Declined Transactions
              reason:
                description: Why the check deposit was rejected.
                enum:
                - incomplete_image
                - duplicate
                - poor_image_quality
                - incorrect_amount
                - incorrect_recipient
                - not_eligible_for_mobile_deposit
                - missing_required_data_elements
                - suspected_fraud
                - deposit_window_expired
                - requested_by_user
                - international
                - unknown
                type: string
                x-documentation-priority: default
                x-enum-descriptions:
                - The check's image is incomplete.
                - This is a duplicate check submission.
                - This check has poor image quality.
                - The check was deposited with the incorrect amount.
                - The check is made out to someone other than the account holder.
                - This check was not eligible for mobile deposit.
                - This check is missing at least one required field.
                - This check is suspected to be fraudulent.
                - This check's deposit window has expired.
                - The check was rejected at the user's request.
                - The check is not a U.S. domestic check and cannot be processed.
                - The check was rejected for an unknown reason.
              rejected_at:
                description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date and time at which the check deposit was rejected.
                format: date-time
                type: string
                x-documentation-priority: default
            required:
            - check_deposit_id
            - declined_transaction_id
            - amount
            - currency
            - reason
            - rejected_at
            title: Check Deposit Check Deposit Rejection
            type: object
            x-documentation-priority: default
            x-event-categories: []
            x-stainless-empty-object: false
            x-title-plural: Check Deposit Rejections
          - type: 'null'
        deposit_return:
          anyOf:
          - additionalProperties: true
            description: If your deposit is returned, this will contain details as to why it was returned.
            example:
              amount: 100
              check_deposit_id: check_deposit_f06n9gpg7sxn8t19lfc1
              currency: USD
              return_reason: insufficient_funds
              returned_at: '2020-01-31T23:59:59Z'
              transaction_id: transaction_uyrp7fld2ium70oa7oi
            properties:
              amount:
                description: The returned amount in USD cents.
                type: integer
                x-documentation-priority: default
              check_deposit_id:
                description: The identifier of the Check Deposit that was returned.
                type: string
                x-documentation-priority: default
                x-id-reference-to: Check Deposits
              currency:
                description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the transaction's currency.
                enum:
                - USD
                type: string
                x-documentation-priority: default
                x-enum-descriptions:
                - US Dollar (USD)
              return_reason:
                description: Why this check was returned by the bank holding the account it was drawn against.
                enum:
                - ach_conversion_not_supported
                - closed_account
                - duplicate_submission
                - insufficient_funds
                - no_account
                - not_authorized
                - stale_dated
                - stop_payment
                - unknown_reason
                - unmatched_details
                - unreadable_image
                - endorsement_irregular
                - altered_or_fictitious_item
                - frozen_or_blocked_account
                - post_dated
                - endorsement_missing
                - signature_missing
                - stop_payment_suspect
                - unusable_image
                - image_fails_security_check
                - cannot_determine_amount
                - signature_irregular
                - non_cash_item
                - unable_to_process
                - item_exceeds_dollar_limit
                - branch_or_account_sold
                type: string
                x-documentation-priority: default
                x-enum-descriptions:
                - The check doesn't allow ACH conversion.
                - The account is closed. (Check21 return code `D`)
                - The check has already been deposited. (Check21 return code `Y`)
                - Insufficient funds (Check21 return code `A`)
                - No account was found matching the check details. (Check21 return code `E`)
                - The check was not authorized. (Check21 return code `Q`)
                - The check is too old. (Check21 return code `G`)
                - The payment has been stopped by the account holder. (Check21 return code `C`)
                - The reason for the return is unknown.
                - The image doesn't match the details submitted.
                - The image could not be read. (Check21 return code `U`)
                - The check endorsement was irregular. (Check21 return code `J`)
                - The check present was either altered or fake. (Check21 return code `N`)
                - The account this check is drawn on is frozen. (Check21 return code `F`)
                - The check is post dated. (Check21 return code `H`)
                - The endorsement was missing. (Check21 return code `I`)
                - The check signature was missing. (Check21 return code `K`)
                - The bank suspects a stop payment will be placed. (Check21 return code `T`)
                - The bank cannot read the image. (Check21 return code `U`)
                - The check image fails the bank's security check. (Check21 return code `V`)
                - The bank cannot determine the amount. (Check21 return code `W`)
                - The signature is inconsistent with prior signatures. (Check21 return code `L`)
                - The check is a non-cash item and cannot be drawn against the account. (Check21 return code `M`)
                - The bank is unable to process this check. (Check21 return code `O`)
                - The check exceeds the bank or customer's limit. (Check21 return code `P`)
                - The bank sold this account and no longer services this customer. (Check21 return code `R`)
              returned_at:
                description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date and time at which the check deposit was returned.
                format: date-time
                type: string
                x-documentation-priority: default
              transaction_id:
                description: The identifier of the transaction that reversed the original check deposit transaction.
                type: string
                x-documentation-priority: default
                x-id-reference-to: Transactions
            required:
            - amount
            - returned_at
            - currency
            - check_deposit_id
            - transaction_id
            - return_reason
            title: Check Deposit Check Deposit Return
            type: object
            x-documentation-priority: default
            x-event-categories: []
            x-stainless-empty-object: false
            x-title-plural: Check Deposit Returns
          - type: 'null'
        deposit_submission:
          anyOf:
          - additionalProperties: false
            description: After the check is parsed, it is submitted to the Check21 network for processing. This will contain details of the submission.
            example:
              back_file_id: file_frhw4s443nh7noss55kq
              front_file_id: file_j7ed9mrve741m6yui9ju
              submitted_at: '2020-02-01T00:59:59+00:00'
            properties:
              back_file_id:
                description: The ID for the File containing the check back image that was submitted to the Check21 network.
                type: string
                x-documentation-priority: default
                x-id-reference-to: Files
              front_file_id:
                description: The ID for the File containing the check front image that was submitted to the Check21 network.
                type: string
                x-documentation-priority: default
                x-id-reference-to: Files
              submitted_at:
                description: When the check deposit was submitted to the Check21 network for processing. During business days, this happens within a few hours of the check being accepted by Increase.
                format: date-time
                type: string
                x-documentation-priority: default
            required:
            - submitted_at
            - front_file_id
            - back_file_id
            title: Check Deposit Check Deposit Submission
            type: object
            x-documentation-priority: default
            x-event-categories: []
            x-stainless-empty-object: false
            x-title-plural: Check Deposit Submissions
          - type: 'null'
        description:
          anyOf:
          - description: The description of the Check Deposit, for display purposes only.
            type: string
            x-documentation-priority: default
          - type: 'null'
        front_image_file_id:
          description: The ID for the File containing the image of the front of the check.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Files
        id:
          description: The deposit's identifier.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Check Deposits
        idempotency_key:
          anyOf:
          - description: The idempotency key you chose for this object. This value is unique across Increase and is used to ensure that a request is only processed once. Learn more about [idempotency](https://increase.com/documentation/idempotency-keys).
            type: string
            x-documentation-priority: default
          - type: 'null'
        inbound_funds_hold:
          anyOf:
          - $ref: '#/components/schemas/inbound_funds_hold'
            description: Increase will sometimes hold the funds for Check Deposits. If funds are held, this sub-object will contain details of the hold.
            x-documentation-priority: default
          - type: 'null'
        inbound_mail_item_id:
          anyOf:
          - description: If the Check Deposit was the result of an Inbound Mail Item, this will contain the identifier of the Inbound Mail Item.
            type: string
            x-documentation-priority: default
            x-id-reference-to: Inbound Mail Items
          - type: 'null'
        lockbox_recipient_id:
          anyOf:
          - description: If the Check Deposit was the result of an Inbound Mail Item routed to a Lockbox Recipient, this will contain the identifier of the Lockbox Recipient that received it.
            type: string
            x-documentation-priority: default
            x-id-reference-to: Lockbox Recipients
          - type: 'null'
        status:
          description: The status of the Check Deposit.
          enum:
          - pending
          - submitted
          - rejected
          - returned
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - The Check Deposit is pending review.
          - The Check Deposit has been deposited.
          - The Check Deposit has been rejected.
          - The Check Deposit has been returned.
        transaction_id:
          anyOf:
          - description: The ID for the Transaction created by the deposit.
            type: string
            x-documentation-priority: default
            x-id-reference-to: Transactions
          - type: 'null'
        type:
          description: A constant representing the object's type. For this resource it will always be `check_deposit`.
          enum:
          - check_deposit
          type: string
          x-documentation-priority: default
      required:
      - type
      - id
      - amount
      - description
      - created_at
      - status
      - account_id
      - front_image_file_id
      - back_image_file_id
      - transaction_id
      - deposit_acceptance
      - deposit_submission
      - deposit_rejection
      - deposit_return
      - inbound_funds_hold
      - inbound_mail_item_id
      - lockbox_recipient_id
      - deposit_adjustments
      - idempotency_key
      title: Check Deposit
      type: object
      x-event-categories:
      - check_deposit.created
      - check_deposit.updated
      x-stainless-empty-object: false
      x-tag: Check Deposits
      x-title-plural: Check Deposits
    card_token:
      additionalProperties: false
      description: Card Tokens represent a tokenized card number that can be used for Card Push Transfers and Card Validations.
      example:
        created_at: '2020-01-31T23:59:59Z'
        expiration_date: '2020-01-31'
        id: outbound_card_token_zlt0ml6youq3q7vcdlg0
        last4: '1234'
        length: 16
        prefix: '46637100'
        type: card_token
      properties:
        created_at:
          description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date and time at which the card token was created.
          format: date-time
          type: string
          x-documentation-priority: default
        expiration_date:
          description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date when the card expires.
          format: date
          type: string
          x-documentation-priority: default
        id:
          description: The Card Token's identifier.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Card Tokens
        last4:
          description: The last 4 digits of the card number.
          type: string
          x-documentation-priority: default
        length:
          description: The length of the card number.
          type: integer
          x-documentation-priority: default
        prefix:
          description: The prefix of the card number, usually 8 digits.
          type: string
          x-documentation-priority: default
        type:
          description: A constant representing the object's type. For this resource it will always be `card_token`.
          enum:
          - card_token
          type: string
          x-documentation-priority: default
      required:
      - type
      - id
      - created_at
      - prefix
      - last4
      - length
      - expiration_date
      title: Card Token
      type: object
      x-event-categories: []
      x-stainless-empty-object: false
      x-tag: Card Tokens
      x-title-plural: Card Tokens
    inbound_card_validation:
      additionalProperties: true
      description: Inbound Card Validations are requests from a merchant to verify that a card number and optionally its address and/or Card Verification Value are valid.
      example:
        actioner: increase
        additional_amounts:
          clinic: null
          dental: null
          original: null
          prescription: null
          surcharge:
            amount: 10
            currency: USD
          total_cumulative: null
          total_healthcare: null
          transit: null
          unknown: null
          vision: null
        card_payment_id: card_payment_nd3k2kacrqjli8482ave
        currency: USD
        digital_wallet_token_id: null
        id: card_validation_yi4e59jiaz6n9hx8tczv
        merchant_acceptor_id: '5665270011000168'
        merchant_category_code: '5734'
        merchant_city: New York
        merchant_country: US
        merchant_descriptor: AMAZON.COM
        merchant_postal_code: '10045'
        merchant_state: NY
        network_details:
          category: visa
          pulse: null
          visa:
            electronic_commerce_indicator: secure_electronic_commerce
            point_of_service_entry_mode: manual
            stand_in_processing_reason: null
            terminal_entry_capability: magnetic_stripe
        network_identifiers:
          authorization_identification_response: null
          retrieval_reference_number: '785867080153'
          trace_number: '487941'
          transaction_id: '627199945183184'
        network_risk_score: 10
        physical_card_id: null
        real_time_decision_id: null
        scheme_fees:
        - amount: '0.137465'
          created_at: '2020-01-31T23:59:59Z'
          currency: USD
          fee_type: visa_corporate_acceptance_fee
          fixed_component: null
          variable_rate: '0.0002'
        terminal_id: RCN5VNXS
        type: inbound_card_validation
        verification:
          card_verification_code:
            result: match
          cardholder_address:
            actual_line1: 33 Liberty Street
            actual_postal_code: '94131'
            provided_line1: 33 Liberty Street
            provided_postal_code: '94132'
            result: postal_code_no_match_address_match
          cardholder_name: null
      properties:
        actioner:
          description: Whether this authorization was approved by Increase, the card network through stand-in processing, or the user through a real-time decision.
          enum:
          - user
          - increase
          - network
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - This object was actioned by the user through a real-time decision.
          - This object was actioned by Increase without user intervention.
          - This object was actioned by the network, through stand-in processing.
        additional_amounts:
          additionalProperties: false
          description: Additional amounts associated with the card authorization, such as ATM surcharges fees. These are usually a subset of the `amount` field and are used to provide more detailed information about the transaction.
          properties:
            clinic:
              anyOf:
              - additionalProperties: false
                description: The part of this transaction amount that was for clinic-related services.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Inbound Card Validation AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
            dental:
              anyOf:
              - additionalProperties: false
                description: The part of this transaction amount that was for dental-related services.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Inbound Card Validation AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
            original:
              anyOf:
              - additionalProperties: false
                description: The original pre-authorized amount.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Inbound Card Validation AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
            prescription:
              anyOf:
              - additionalProperties: false
                description: The part of this transaction amount that was for healthcare prescriptions.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Inbound Card Validation AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
            surcharge:
              anyOf:
              - additionalProperties: false
                description: The surcharge amount charged for this transaction by the merchant.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Inbound Card Validation AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
            total_cumulative:
              anyOf:
              - additionalProperties: false
                description: The total amount of a series of incremental authorizations, optionally provided.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Inbound Card Validation AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
            total_healthcare:
              anyOf:
              - additionalProperties: false
                description: The total amount of healthcare-related additional amounts.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Inbound Card Validation AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
            transit:
              anyOf:
              - additionalProperties: false
                description: The part of this transaction amount that was for transit-related services.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Inbound Card Validation AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
            unknown:
              anyOf:
              - additionalProperties: false
                description: An unknown additional amount.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Inbound Card Validation AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
            vision:
              anyOf:
              - additionalProperties: false
                description: The part of this transaction amount that was for vision-related services.
                properties:
                  amount:
                    description: The amount in minor units of the `currency` field. The amount is positive if it is added to the amount (such as an ATM surcharge fee) and negative if it is subtracted from the amount (such as a discount).
                    type: integer
                    x-documentation-priority: default
                  currency:
                    description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional amount's currency.
                    type: string
                    x-documentation-priority: default
                required:
                - amount
                - currency
                title: Inbound Card Validation AdditionalAmounts AdditionalAmount
                type: object
                x-documentation-priority: default
                x-event-categories: []
                x-stainless-empty-object: false
                x-title-plural: s
              - type: 'null'
          required:
          - total_healthcare
          - total_cumulative
          - surcharge
          - transit
          - vision
          - clinic
          - dental
          - prescription
          - original
          - unknown
          title: Inbound Card Validation AdditionalAmounts
          type: object
          x-documentation-priority: default
          x-event-categories: []
          x-stainless-empty-object: false
          x-title-plural: s
        card_payment_id:
          description: The ID of the Card Payment this transaction belongs to.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Card Payments
        currency:
          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the transaction's currency.
          enum:
          - USD
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - US Dollar (USD)
        digital_wallet_token_id:
          anyOf:
          - description: If the authorization was made via a Digital Wallet Token (such as an Apple Pay purchase), the identifier of the token that was used.
            type: string
            x-documentation-priority: default
            x-id-reference-to: Digital Wallet Tokens
          - type: 'null'
        id:
          description: The Card Validation identifier.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Inbound Card Validations
        merchant_acceptor_id:
          description: The merchant identifier (commonly abbreviated as MID) of the merchant the card is transacting with.
          type: string
          x-documentation-priority: default
        merchant_category_code:
[...]
