openapi: 3.1.0
info:
  description: Anything that you can achieve with PDFs, presence, and persistence in a bank branch you can do with our API. We've always wanted a fully programmatic bank so we built one. Our API faithfully exposes the data and capabilities of the Federal Reserve, Visa, The Clearing House, depository networks, and accounting tools. It's lovingly boring and exceptionally powerful. If you have any questions or want to get started, don't hesitate to ping us at sales@increase.com. We can't wait to see what you build!
  title: Increase Account Numbers Inbound Wire Drawdown Requests API
  version: 0.0.1
servers:
- url: https://api.increase.com
- url: https://sandbox.increase.com
security:
- bearerAuth: []
tags:
- description: Inbound wire drawdown requests are requests from someone else to send them a wire. For more information, see our [Wire Drawdown Requests documentation](/documentation/wire-drawdown-requests).
  name: Inbound Wire Drawdown Requests
paths:
  /inbound_wire_drawdown_requests:
    get:
      operationId: list_inbound_wire_drawdown_requests
      parameters:
      - in: query
        name: cursor
        required: false
        schema:
          description: Return the page of entries after this one.
          type: string
          x-documentation-priority: low
      - in: query
        name: limit
        required: false
        schema:
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          minimum: 1
          type: integer
          x-documentation-priority: low
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inbound_wire_drawdown_request_list'
          description: Inbound Wire Drawdown Request List
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: List Inbound Wire Drawdown Requests
      x-sandbox-only: false
      x-tag: Inbound Wire Drawdown Requests
      tags:
      - Inbound Wire Drawdown Requests
  /inbound_wire_drawdown_requests/{inbound_wire_drawdown_request_id}:
    get:
      operationId: retrieve_an_inbound_wire_drawdown_request
      parameters:
      - example: inbound_wire_drawdown_request_u5a92ikqhz1ytphn799e
        in: path
        name: inbound_wire_drawdown_request_id
        required: true
        schema:
          description: The identifier of the Inbound Wire Drawdown Request to retrieve.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Inbound Wire Drawdown Requests
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inbound_wire_drawdown_request'
          description: Inbound Wire Drawdown Request
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: Retrieve an Inbound Wire Drawdown Request
      x-sandbox-only: false
      x-tag: Inbound Wire Drawdown Requests
      tags:
      - Inbound Wire Drawdown Requests
components:
  schemas:
    error:
      anyOf:
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 404
            type: integer
          title:
            type: string
          type:
            enum:
            - api_method_not_found_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - environment_mismatch_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          resource_id:
            description: ''
            type: string
            x-documentation-priority: default
          status:
            enum:
            - 409
            type: integer
          title:
            type: string
          type:
            enum:
            - idempotency_key_already_used_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - resource_id
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - insufficient_permissions_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 500
            type: integer
          title:
            type: string
          type:
            enum:
            - internal_server_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          reason:
            description: ''
            enum:
            - deleted_credential
            - expired_credential
            - ip_not_allowed
            - no_credential
            - no_header
            - no_api_access
            - wrong_environment
            type: string
            x-documentation-priority: default
            x-enum-descriptions:
            - deleted_credential
            - expired_credential
            - ip_not_allowed
            - no_credential
            - no_header
            - no_api_access
            - wrong_environment
          status:
            enum:
            - 401
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_api_key_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - reason
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 409
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_operation_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          errors:
            description: All errors related to parsing the request parameters.
            items:
              additionalProperties: true
              properties: {}
              title: ErrorsElement
              type: object
              x-event-categories: []
              x-stainless-empty-object: false
              x-title-plural: ErrorsElements
            type: array
            x-documentation-priority: default
          status:
            enum:
            - 400
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_parameters_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - errors
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 400
            type: integer
          title:
            type: string
          type:
            enum:
            - malformed_request_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 404
            type: integer
          title:
            type: string
          type:
            enum:
            - object_not_found_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - private_feature_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          retry_after:
            anyOf:
            - description: ''
              type: integer
              x-documentation-priority: default
            - type: 'null'
          status:
            enum:
            - 429
            type: integer
          title:
            type: string
          type:
            enum:
            - rate_limited_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
    inbound_wire_drawdown_request_list:
      additionalProperties: true
      description: A list of Inbound Wire Drawdown Request objects.
      example:
        data:
        - amount: 10000
          created_at: '2020-01-31T23:59:59Z'
          creditor_account_number: '987654321'
          creditor_address_line1: 33 Liberty Street
          creditor_address_line2: New York, NY, 10045
          creditor_address_line3: null
          creditor_name: Ian Crease
          creditor_routing_number: '101050001'
          currency: USD
          debtor_address_line1: 33 Liberty Street
          debtor_address_line2: New York, NY, 10045
          debtor_address_line3: null
          debtor_name: Ian Crease
          end_to_end_identification: Invoice 29582
          id: inbound_wire_drawdown_request_u5a92ikqhz1ytphn799e
          input_message_accountability_data: null
          instruction_identification: null
          recipient_account_number_id: account_number_v18nkfqm6afpsrvy82b2
          type: inbound_wire_drawdown_request
          unique_end_to_end_transaction_reference: null
          unstructured_remittance_information: null
        next_cursor: v57w5d
      properties:
        data:
          description: The contents of the list.
          items:
            $ref: '#/components/schemas/inbound_wire_drawdown_request'
          type: array
          x-documentation-priority: default
        next_cursor:
          anyOf:
          - description: A pointer to a place in the list. Pass this as the `cursor` parameter to retrieve the next page of results. If there are no more results, the value will be `null`.
            type: string
            x-documentation-priority: default
          - type: 'null'
      required:
      - data
      - next_cursor
      title: Inbound Wire Drawdown Request List
      type: object
      x-event-categories: []
      x-stainless-empty-object: false
      x-title-plural: Inbound Wire Drawdown Request Lists
    inbound_wire_drawdown_request:
      additionalProperties: true
      description: Inbound wire drawdown requests are requests from someone else to send them a wire. For more information, see our [Wire Drawdown Requests documentation](/documentation/wire-drawdown-requests).
      example:
        amount: 10000
        created_at: '2020-01-31T23:59:59Z'
        creditor_account_number: '987654321'
        creditor_address_line1: 33 Liberty Street
        creditor_address_line2: New York, NY, 10045
        creditor_address_line3: null
        creditor_name: Ian Crease
        creditor_routing_number: '101050001'
        currency: USD
        debtor_address_line1: 33 Liberty Street
        debtor_address_line2: New York, NY, 10045
        debtor_address_line3: null
        debtor_name: Ian Crease
        end_to_end_identification: Invoice 29582
        id: inbound_wire_drawdown_request_u5a92ikqhz1ytphn799e
        input_message_accountability_data: null
        instruction_identification: null
        recipient_account_number_id: account_number_v18nkfqm6afpsrvy82b2
        type: inbound_wire_drawdown_request
        unique_end_to_end_transaction_reference: null
        unstructured_remittance_information: null
      properties:
        amount:
          description: The amount being requested in cents.
          type: integer
          x-documentation-priority: default
        created_at:
          description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date and time at which the inbound wire drawdown request was created.
          format: date-time
          type: string
          x-documentation-priority: default
        creditor_account_number:
          description: The creditor's account number.
          type: string
          x-documentation-priority: default
        creditor_address_line1:
          anyOf:
          - description: A free-form address field set by the sender.
            type: string
            x-documentation-priority: default
          - type: 'null'
        creditor_address_line2:
          anyOf:
          - description: A free-form address field set by the sender.
            type: string
            x-documentation-priority: default
          - type: 'null'
        creditor_address_line3:
          anyOf:
          - description: A free-form address field set by the sender.
            type: string
            x-documentation-priority: default
          - type: 'null'
        creditor_name:
          anyOf:
          - description: A name set by the sender.
            type: string
            x-documentation-priority: default
          - type: 'null'
        creditor_routing_number:
          description: The creditor's routing number.
          type: string
          x-documentation-priority: default
        currency:
          description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the amount being requested. Will always be "USD".
          type: string
          x-documentation-priority: default
        debtor_address_line1:
          anyOf:
          - description: A free-form address field set by the sender.
            type: string
            x-documentation-priority: default
          - type: 'null'
        debtor_address_line2:
          anyOf:
          - description: A free-form address field set by the sender.
            type: string
            x-documentation-priority: default
          - type: 'null'
        debtor_address_line3:
          anyOf:
          - description: A free-form address field set by the sender.
            type: string
            x-documentation-priority: default
          - type: 'null'
        debtor_name:
          anyOf:
          - description: A name set by the sender.
            type: string
            x-documentation-priority: default
          - type: 'null'
        end_to_end_identification:
          anyOf:
          - description: A free-form reference string set by the sender, to help identify the drawdown request.
            type: string
            x-documentation-priority: default
          - type: 'null'
        id:
          description: The Wire drawdown request identifier.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Inbound Wire Drawdown Requests
        input_message_accountability_data:
          anyOf:
          - description: A unique identifier available to the originating and receiving banks, commonly abbreviated as IMAD. It is created when the wire is submitted to the Fedwire service and is helpful when debugging wires with the originating bank.
            type: string
            x-documentation-priority: default
          - type: 'null'
        instruction_identification:
          anyOf:
          - description: The sending bank's identifier for the drawdown request.
            type: string
            x-documentation-priority: default
          - type: 'null'
        recipient_account_number_id:
          description: The Account Number from which the recipient of this request is being requested to send funds.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Account Numbers
        type:
          description: A constant representing the object's type. For this resource it will always be `inbound_wire_drawdown_request`.
          enum:
          - inbound_wire_drawdown_request
          type: string
          x-documentation-priority: default
        unique_end_to_end_transaction_reference:
          anyOf:
          - description: The Unique End-to-end Transaction Reference ([UETR](https://www.swift.com/payments/what-unique-end-end-transaction-reference-uetr)) of the drawdown request.
            type: string
            x-documentation-priority: default
          - type: 'null'
        unstructured_remittance_information:
          anyOf:
          - description: A free-form message set by the sender.
            type: string
            x-documentation-priority: default
          - type: 'null'
      required:
      - type
      - id
      - created_at
      - recipient_account_number_id
      - amount
      - currency
      - input_message_accountability_data
      - unique_end_to_end_transaction_reference
      - instruction_identification
      - end_to_end_identification
      - creditor_name
      - creditor_routing_number
      - creditor_account_number
      - creditor_address_line1
      - creditor_address_line2
      - creditor_address_line3
      - debtor_name
      - debtor_address_line1
      - debtor_address_line2
      - debtor_address_line3
      - unstructured_remittance_information
      title: Inbound Wire Drawdown Request
      type: object
      x-event-categories:
      - inbound_wire_drawdown_request.created
      x-stainless-empty-object: false
      x-tag: Inbound Wire Drawdown Requests
      x-title-plural: Inbound Wire Drawdown Requests
  responses:
    errorResponse:
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/error'
      description: Error
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
x-tagGroups:
- name: Accounts
  tags:
  - Accounts
  - Account Numbers
  - Account Transfers
- name: Transactions
  tags:
  - Transactions
  - Pending Transactions
  - Declined Transactions
- name: Ach Transfers
  tags:
  - ACH Transfers
  - Inbound ACH Transfers
  - ACH Prenotifications
- name: Check Transfers
  tags:
  - Check Transfers
  - Inbound Check Deposits
- name: Real Time Payments Transfers
  tags:
  - Real-Time Payments Transfers
  - Inbound Real-Time Payments Transfers
- name: Fednow Transfers
  tags:
  - FedNow Transfers
  - Inbound FedNow Transfers
- name: Swift Transfers
  tags:
  - Swift Transfers
- name: Wire Transfers
  tags:
  - Wire Transfers
  - Inbound Wire Transfers
  - Wire Drawdown Requests
  - Inbound Wire Drawdown Requests
- name: Card Transfers
  tags:
  - Card Tokens
  - Card Push Transfers
  - Card Validations
- name: Check Deposits
  tags:
  - Check Deposits
  - Lockbox Addresses
  - Lockbox Recipients
  - Inbound Mail Items
- name: Cards
  tags:
  - Cards
  - Card Payments
  - Card Purchase Supplements
  - Card Disputes
  - Physical Cards
  - Digital Card Profiles
  - Physical Card Profiles
  - Digital Wallet Tokens
- name: Compliance
  tags:
  - Entities
  - Beneficial Owners
  - Supplemental Documents
  - Entity Onboarding Sessions
  - Programs
- name: Events and Webhooks
  tags:
  - Events
  - Event Subscriptions
  - Real-Time Decisions
- name: External Accounts
  tags:
  - Routing Numbers
  - External Accounts
- name: Files and Exports
  tags:
  - Account Statements
  - Files
  - File Links
  - Exports
- name: OAuth
  tags:
  - Groups
  - OAuth Applications
  - OAuth Connections
  - OAuth Tokens
- name: Intrafi
  tags:
  - IntraFi Account Enrollments
  - IntraFi Balances
  - IntraFi Exclusions
