openapi: 3.1.0
info:
  description: Anything that you can achieve with PDFs, presence, and persistence in a bank branch you can do with our API. We've always wanted a fully programmatic bank so we built one. Our API faithfully exposes the data and capabilities of the Federal Reserve, Visa, The Clearing House, depository networks, and accounting tools. It's lovingly boring and exceptionally powerful. If you have any questions or want to get started, don't hesitate to ping us at sales@increase.com. We can't wait to see what you build!
  title: Increase Account Numbers External Accounts API
  version: 0.0.1
servers:
- url: https://api.increase.com
- url: https://sandbox.increase.com
security:
- bearerAuth: []
tags:
- description: External Accounts represent accounts at financial institutions other than Increase. You can use this API to store their details for reuse.
  name: External Accounts
paths:
  /external_accounts:
    get:
      operationId: list_external_accounts
      parameters:
      - in: query
        name: cursor
        required: false
        schema:
          description: Return the page of entries after this one.
          type: string
          x-documentation-priority: low
      - in: query
        name: limit
        required: false
        schema:
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          minimum: 1
          type: integer
          x-documentation-priority: low
      - in: query
        name: status.in
        required: false
        schema:
          description: Filter External Accounts for those with the specified status or statuses. For GET requests, this should be encoded as a comma-delimited string, such as `?in=one,two,three`.
          items:
            enum:
            - active
            - archived
            type: string
            x-enum-descriptions:
            - The External Account is active.
            - The External Account is archived and won't appear in the dashboard.
          type: array
          x-documentation-priority: default
        explode: false
      - in: query
        name: routing_number
        required: false
        schema:
          description: Filter External Accounts to those with the specified Routing Number.
          maxLength: 9
          minLength: 9
          pattern: ^[0-9]*$
          type: string
          x-documentation-priority: default
      - in: query
        name: idempotency_key
        required: false
        schema:
          description: Filter records to the one with the specified `idempotency_key` you chose for that object. This value is unique across Increase and is used to ensure that a request is only processed once. Learn more about [idempotency](https://increase.com/documentation/idempotency-keys).
          maxLength: 200
          minLength: 1
          type: string
          x-documentation-priority: default
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/external_account_list'
          description: External Account List
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: List External Accounts
      x-sandbox-only: false
      x-tag: External Accounts
      tags:
      - External Accounts
    post:
      operationId: create_an_external_account
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_an_external_account_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/external_account'
          description: External Account
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: Create an External Account
      x-sandbox-only: false
      x-tag: External Accounts
      tags:
      - External Accounts
  /external_accounts/{external_account_id}:
    get:
      operationId: retrieve_an_external_account
      parameters:
      - example: external_account_ukk55lr923a3ac0pp7iv
        in: path
        name: external_account_id
        required: true
        schema:
          description: The identifier of the External Account.
          type: string
          x-documentation-priority: default
          x-id-reference-to: External Accounts
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/external_account'
          description: External Account
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: Retrieve an External Account
      x-sandbox-only: false
      x-tag: External Accounts
      tags:
      - External Accounts
    patch:
      operationId: update_an_external_account
      parameters:
      - example: external_account_ukk55lr923a3ac0pp7iv
        in: path
        name: external_account_id
        required: true
        schema:
          description: The external account identifier.
          type: string
          x-documentation-priority: default
          x-id-reference-to: External Accounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_an_external_account_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/external_account'
          description: External Account
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: Update an External Account
      x-sandbox-only: false
      x-tag: External Accounts
      tags:
      - External Accounts
components:
  schemas:
    error:
      anyOf:
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 404
            type: integer
          title:
            type: string
          type:
            enum:
            - api_method_not_found_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - environment_mismatch_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          resource_id:
            description: ''
            type: string
            x-documentation-priority: default
          status:
            enum:
            - 409
            type: integer
          title:
            type: string
          type:
            enum:
            - idempotency_key_already_used_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - resource_id
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - insufficient_permissions_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 500
            type: integer
          title:
            type: string
          type:
            enum:
            - internal_server_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          reason:
            description: ''
            enum:
            - deleted_credential
            - expired_credential
            - ip_not_allowed
            - no_credential
            - no_header
            - no_api_access
            - wrong_environment
            type: string
            x-documentation-priority: default
            x-enum-descriptions:
            - deleted_credential
            - expired_credential
            - ip_not_allowed
            - no_credential
            - no_header
            - no_api_access
            - wrong_environment
          status:
            enum:
            - 401
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_api_key_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - reason
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 409
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_operation_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          errors:
            description: All errors related to parsing the request parameters.
            items:
              additionalProperties: true
              properties: {}
              title: ErrorsElement
              type: object
              x-event-categories: []
              x-stainless-empty-object: false
              x-title-plural: ErrorsElements
            type: array
            x-documentation-priority: default
          status:
            enum:
            - 400
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_parameters_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - errors
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 400
            type: integer
          title:
            type: string
          type:
            enum:
            - malformed_request_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 404
            type: integer
          title:
            type: string
          type:
            enum:
            - object_not_found_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - private_feature_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          retry_after:
            anyOf:
            - description: ''
              type: integer
              x-documentation-priority: default
            - type: 'null'
          status:
            enum:
            - 429
            type: integer
          title:
            type: string
          type:
            enum:
            - rate_limited_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
    external_account:
      additionalProperties: true
      description: External Accounts represent accounts at financial institutions other than Increase. You can use this API to store their details for reuse.
      example:
        account_holder: business
        account_number: '987654321'
        created_at: '2020-01-31T23:59:59Z'
        description: Landlord
        funding: checking
        id: external_account_ukk55lr923a3ac0pp7iv
        idempotency_key: null
        routing_number: '101050001'
        status: active
        type: external_account
      properties:
        account_holder:
          description: The type of entity that owns the External Account.
          enum:
          - business
          - individual
          - unknown
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - The External Account is owned by a business.
          - The External Account is owned by an individual.
          - It's unknown what kind of entity owns the External Account.
        account_number:
          description: The destination account number.
          type: string
          x-documentation-priority: default
        created_at:
          description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date and time at which the External Account was created.
          format: date-time
          type: string
          x-documentation-priority: default
        description:
          description: The External Account's description for display purposes.
          type: string
          x-documentation-priority: default
        funding:
          description: The type of the account to which the transfer will be sent.
          enum:
          - checking
          - savings
          - general_ledger
          - other
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - A checking account.
          - A savings account.
          - A general ledger account.
          - A different type of account.
        id:
          description: The External Account's identifier.
          type: string
          x-documentation-priority: default
          x-id-reference-to: External Accounts
        idempotency_key:
          anyOf:
          - description: The idempotency key you chose for this object. This value is unique across Increase and is used to ensure that a request is only processed once. Learn more about [idempotency](https://increase.com/documentation/idempotency-keys).
            type: string
            x-documentation-priority: default
          - type: 'null'
        routing_number:
          description: The American Bankers' Association (ABA) Routing Transit Number (RTN).
          type: string
          x-documentation-priority: default
        status:
          description: The External Account's status.
          enum:
          - active
          - archived
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - The External Account is active.
          - The External Account is archived and won't appear in the dashboard.
        type:
          description: A constant representing the object's type. For this resource it will always be `external_account`.
          enum:
          - external_account
          type: string
          x-documentation-priority: default
      required:
      - type
      - id
      - created_at
      - description
      - status
      - routing_number
      - account_number
      - funding
      - account_holder
      - idempotency_key
      title: External Account
      type: object
      x-event-categories:
      - external_account.created
      - external_account.updated
      x-stainless-empty-object: false
      x-tag: External Accounts
      x-title-plural: External Accounts
    update_an_external_account_parameters:
      additionalProperties: false
      example:
        description: New description
      properties:
        account_holder:
          description: The type of entity that owns the External Account.
          enum:
          - business
          - individual
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - The External Account is owned by a business.
          - The External Account is owned by an individual.
        description:
          description: The description you choose to give the external account.
          maxLength: 200
          minLength: 1
          type: string
          x-documentation-priority: default
        funding:
          description: The funding type of the External Account.
          enum:
          - checking
          - savings
          - general_ledger
          - other
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - A checking account.
          - A savings account.
          - A general ledger account.
          - A different type of account.
        status:
          description: The status of the External Account.
          enum:
          - active
          - archived
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - The External Account is active.
          - The External Account is archived and won't appear in the dashboard.
      type: object
      x-event-categories: []
      x-stainless-empty-object: false
    external_account_list:
      additionalProperties: true
      description: A list of External Account objects.
      example:
        data:
        - account_holder: business
          account_number: '987654321'
          created_at: '2020-01-31T23:59:59Z'
          description: Landlord
          funding: checking
          id: external_account_ukk55lr923a3ac0pp7iv
          idempotency_key: null
          routing_number: '101050001'
          status: active
          type: external_account
        next_cursor: v57w5d
      properties:
        data:
          description: The contents of the list.
          items:
            $ref: '#/components/schemas/external_account'
          type: array
          x-documentation-priority: default
        next_cursor:
          anyOf:
          - description: A pointer to a place in the list. Pass this as the `cursor` parameter to retrieve the next page of results. If there are no more results, the value will be `null`.
            type: string
            x-documentation-priority: default
          - type: 'null'
      required:
      - data
      - next_cursor
      title: External Account List
      type: object
      x-event-categories: []
      x-stainless-empty-object: false
      x-title-plural: External Account Lists
    create_an_external_account_parameters:
      additionalProperties: true
      example:
        account_holder: business
        account_number: '987654321'
        description: Landlord
        routing_number: '101050001'
      properties:
        account_holder:
          description: The type of entity that owns the External Account.
          enum:
          - business
          - individual
          - unknown
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - The External Account is owned by a business.
          - The External Account is owned by an individual.
          - It's unknown what kind of entity owns the External Account.
        account_number:
          description: The account number for the destination account.
          maxLength: 17
          minLength: 1
          pattern: ^[a-zA-Z0-9]*$
          type: string
          x-documentation-priority: default
        description:
          description: The name you choose for the Account.
          maxLength: 200
          minLength: 1
          type: string
          x-documentation-priority: default
        funding:
          description: The type of the destination account. Defaults to `checking`.
          enum:
          - checking
          - savings
          - general_ledger
          - other
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - A checking account.
          - A savings account.
          - A general ledger account.
          - A different type of account.
        routing_number:
          description: The American Bankers' Association (ABA) Routing Transit Number (RTN) for the destination account.
          maxLength: 9
          minLength: 9
          pattern: ^[0-9]*$
          type: string
          x-documentation-priority: default
      required:
      - routing_number
      - account_number
      - description
      type: object
      x-event-categories: []
      x-stainless-empty-object: false
  responses:
    errorResponse:
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/error'
      description: Error
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
x-tagGroups:
- name: Accounts
  tags:
  - Accounts
  - Account Numbers
  - Account Transfers
- name: Transactions
  tags:
  - Transactions
  - Pending Transactions
  - Declined Transactions
- name: Ach Transfers
  tags:
  - ACH Transfers
  - Inbound ACH Transfers
  - ACH Prenotifications
- name: Check Transfers
  tags:
  - Check Transfers
  - Inbound Check Deposits
- name: Real Time Payments Transfers
  tags:
  - Real-Time Payments Transfers
  - Inbound Real-Time Payments Transfers
- name: Fednow Transfers
  tags:
  - FedNow Transfers
  - Inbound FedNow Transfers
- name: Swift Transfers
  tags:
  - Swift Transfers
- name: Wire Transfers
  tags:
  - Wire Transfers
  - Inbound Wire Transfers
  - Wire Drawdown Requests
  - Inbound Wire Drawdown Requests
- name: Card Transfers
  tags:
  - Card Tokens
  - Card Push Transfers
  - Card Validations
- name: Check Deposits
  tags:
  - Check Deposits
  - Lockbox Addresses
  - Lockbox Recipients
  - Inbound Mail Items
- name: Cards
  tags:
  - Cards
  - Card Payments
  - Card Purchase Supplements
  - Card Disputes
  - Physical Cards
  - Digital Card Profiles
  - Physical Card Profiles
  - Digital Wallet Tokens
- name: Compliance
  tags:
  - Entities
  - Beneficial Owners
  - Supplemental Documents
  - Entity Onboarding Sessions
  - Programs
- name: Events and Webhooks
  tags:
  - Events
  - Event Subscriptions
  - Real-Time Decisions
- name: External Accounts
  tags:
  - Routing Numbers
  - External Accounts
- name: Files and Exports
  tags:
  - Account Statements
  - Files
  - File Links
  - Exports
- name: OAuth
  tags:
  - Groups
  - OAuth Applications
  - OAuth Connections
  - OAuth Tokens
- name: Intrafi
  tags:
  - IntraFi Account Enrollments
  - IntraFi Balances
  - IntraFi Exclusions
