openapi: 3.1.0
info:
  description: Anything that you can achieve with PDFs, presence, and persistence in a bank branch you can do with our API. We've always wanted a fully programmatic bank so we built one. Our API faithfully exposes the data and capabilities of the Federal Reserve, Visa, The Clearing House, depository networks, and accounting tools. It's lovingly boring and exceptionally powerful. If you have any questions or want to get started, don't hesitate to ping us at sales@increase.com. We can't wait to see what you build!
  title: Increase Account Numbers Card Push Transfers API
  version: 0.0.1
servers:
- url: https://api.increase.com
- url: https://sandbox.increase.com
security:
- bearerAuth: []
tags:
- description: Card Push Transfers send funds to a recipient's payment card in real-time.
  name: Card Push Transfers
paths:
  /card_push_transfers:
    get:
      operationId: list_card_push_transfers
      parameters:
      - in: query
        name: cursor
        required: false
        schema:
          description: Return the page of entries after this one.
          type: string
          x-documentation-priority: low
      - in: query
        name: limit
        required: false
        schema:
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          minimum: 1
          type: integer
          x-documentation-priority: low
      - example: account_in71c4amph0vgo2qllky
        in: query
        name: account_id
        required: false
        schema:
          description: Filter Card Push Transfers to ones belonging to the specified Account.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Accounts
      - in: query
        name: created_at.after
        required: false
        schema:
          description: Return results after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: created_at.before
        required: false
        schema:
          description: Return results before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: created_at.on_or_after
        required: false
        schema:
          description: Return results on or after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: created_at.on_or_before
        required: false
        schema:
          description: Return results on or before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
          format: date-time
          type: string
          x-documentation-priority: low
      - in: query
        name: status.in
        required: false
        schema:
          description: Filter Card Push Transfers by status. For GET requests, this should be encoded as a comma-delimited string, such as `?in=one,two,three`.
          items:
            enum:
            - pending_approval
            - canceled
            - pending_reviewing
            - requires_attention
            - pending_submission
            - submitted
            - complete
            - declined
            type: string
            x-enum-descriptions:
            - The transfer is pending approval.
            - The transfer has been canceled.
            - The transfer is pending review by Increase.
            - The transfer requires attention from an Increase operator.
            - The transfer is queued to be submitted to the card network.
            - The transfer has been submitted and is pending a response from the card network.
            - The transfer has been sent successfully and is complete.
            - The transfer was declined by the network or the recipient's bank.
          type: array
          x-documentation-priority: default
        explode: false
      - in: query
        name: idempotency_key
        required: false
        schema:
          description: Filter records to the one with the specified `idempotency_key` you chose for that object. This value is unique across Increase and is used to ensure that a request is only processed once. Learn more about [idempotency](https://increase.com/documentation/idempotency-keys).
          maxLength: 200
          minLength: 1
          type: string
          x-documentation-priority: default
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_push_transfer_list'
          description: Card Push Transfer List
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: List Card Push Transfers
      x-sandbox-only: false
      x-tag: Card Push Transfers
      tags:
      - Card Push Transfers
    post:
      operationId: create_a_card_push_transfer
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_a_card_push_transfer_parameters'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_push_transfer'
          description: Card Push Transfer
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: Create a Card Push Transfer
      x-sandbox-only: false
      x-tag: Card Push Transfers
      tags:
      - Card Push Transfers
  /card_push_transfers/{card_push_transfer_id}:
    get:
      operationId: retrieve_a_card_push_transfer
      parameters:
      - example: outbound_card_push_transfer_e0z9rdpamraczh4tvwye
        in: path
        name: card_push_transfer_id
        required: true
        schema:
          description: The identifier of the Card Push Transfer.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Card Push Transfers
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_push_transfer'
          description: Card Push Transfer
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: Retrieve a Card Push Transfer
      x-sandbox-only: false
      x-tag: Card Push Transfers
      tags:
      - Card Push Transfers
  /card_push_transfers/{card_push_transfer_id}/approve:
    post:
      description: Approves a Card Push Transfer in a pending_approval state.
      operationId: approve_a_card_push_transfer
      parameters:
      - example: outbound_card_push_transfer_e0z9rdpamraczh4tvwye
        in: path
        name: card_push_transfer_id
        required: true
        schema:
          description: The identifier of the Card Push Transfer to approve.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Card Push Transfers
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_push_transfer'
          description: Card Push Transfer
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: Approve a Card Push Transfer
      x-sandbox-only: false
      x-tag: Card Push Transfers
      tags:
      - Card Push Transfers
  /card_push_transfers/{card_push_transfer_id}/cancel:
    post:
      description: Cancels a Card Push Transfer in a pending_approval state.
      operationId: cancel_a_pending_card_push_transfer
      parameters:
      - example: outbound_card_push_transfer_e0z9rdpamraczh4tvwye
        in: path
        name: card_push_transfer_id
        required: true
        schema:
          description: The identifier of the pending Card Push Transfer to cancel.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Card Push Transfers
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_push_transfer'
          description: Card Push Transfer
        4XX:
          $ref: '#/components/responses/errorResponse'
        5XX:
          $ref: '#/components/responses/errorResponse'
      summary: Cancel a pending Card Push Transfer
      x-sandbox-only: false
      x-tag: Card Push Transfers
      tags:
      - Card Push Transfers
components:
  schemas:
    card_push_transfer_list:
      additionalProperties: true
      description: A list of Card Push Transfer objects.
      example:
        data:
        - acceptance: null
          account_id: account_in71c4amph0vgo2qllky
          approval: null
          business_application_identifier: funds_disbursement
          cancellation: null
          card_token_id: outbound_card_token_zlt0ml6youq3q7vcdlg0
          created_at: '2020-01-31T23:59:59Z'
          created_by:
            category: user
            user:
              email: user@example.com
          decline: null
          id: outbound_card_push_transfer_e0z9rdpamraczh4tvwye
          idempotency_key: null
          merchant_category_code: '1234'
          merchant_city_name: New York
          merchant_name: Acme Corp
          merchant_name_prefix: Acme
          merchant_postal_code: '10045'
          merchant_state: NY
          presentment_amount:
            currency: USD
            value: '12.34'
          recipient_name: Ian Crease
          route: visa
          sender_address_city: New York
          sender_address_line1: 33 Liberty Street
          sender_address_postal_code: '10045'
          sender_address_state: NY
          sender_name: Ian Crease
          source_account_number_id: account_number_v18nkfqm6afpsrvy82b2
          status: pending_submission
          submission: null
          type: card_push_transfer
        next_cursor: v57w5d
      properties:
        data:
          description: The contents of the list.
          items:
            $ref: '#/components/schemas/card_push_transfer'
          type: array
          x-documentation-priority: default
        next_cursor:
          anyOf:
          - description: A pointer to a place in the list. Pass this as the `cursor` parameter to retrieve the next page of results. If there are no more results, the value will be `null`.
            type: string
            x-documentation-priority: default
          - type: 'null'
      required:
      - data
      - next_cursor
      title: Card Push Transfer List
      type: object
      x-event-categories: []
      x-stainless-empty-object: false
      x-title-plural: Card Push Transfer Lists
    card_push_transfer:
      additionalProperties: true
      description: Card Push Transfers send funds to a recipient's payment card in real-time.
      example:
        acceptance: null
        account_id: account_in71c4amph0vgo2qllky
        approval: null
        business_application_identifier: funds_disbursement
        cancellation: null
        card_token_id: outbound_card_token_zlt0ml6youq3q7vcdlg0
        created_at: '2020-01-31T23:59:59Z'
        created_by:
          category: user
          user:
            email: user@example.com
        decline: null
        id: outbound_card_push_transfer_e0z9rdpamraczh4tvwye
        idempotency_key: null
        merchant_category_code: '1234'
        merchant_city_name: New York
        merchant_name: Acme Corp
        merchant_name_prefix: Acme
        merchant_postal_code: '10045'
        merchant_state: NY
        presentment_amount:
          currency: USD
          value: '12.34'
        recipient_name: Ian Crease
        route: visa
        sender_address_city: New York
        sender_address_line1: 33 Liberty Street
        sender_address_postal_code: '10045'
        sender_address_state: NY
        sender_name: Ian Crease
        source_account_number_id: account_number_v18nkfqm6afpsrvy82b2
        status: pending_submission
        submission: null
        type: card_push_transfer
      properties:
        acceptance:
          anyOf:
          - additionalProperties: false
            description: If the transfer is accepted by the recipient bank, this will contain supplemental details.
            example:
              accepted_at: '2020-01-31T23:59:59Z'
              authorization_identification_response: ABCDEF
              card_verification_value2_result: null
              network_transaction_identifier: '841488484271872'
              settlement_amount: 100
            properties:
              accepted_at:
                description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date and time at which the transfer was accepted by the issuing bank.
                format: date-time
                type: string
                x-documentation-priority: default
              authorization_identification_response:
                description: The authorization identification response from the issuing bank.
                type: string
                x-documentation-priority: default
              card_verification_value2_result:
                anyOf:
                - description: The result of the Card Verification Value 2 match.
                  enum:
                  - match
                  - no_match
                  type: string
                  x-documentation-priority: default
                  x-enum-descriptions:
                  - The Card Verification Value 2 (CVV2) matches the expected value.
                  - The Card Verification Value 2 (CVV2) does not match the expected value.
                - type: 'null'
              network_transaction_identifier:
                anyOf:
                - description: A unique identifier for the transaction on the card network.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              settlement_amount:
                description: The transfer amount in USD cents.
                type: integer
                x-documentation-priority: default
            required:
            - accepted_at
            - settlement_amount
            - authorization_identification_response
            - network_transaction_identifier
            - card_verification_value2_result
            title: Card Push Transfer Card Push Transfer Acceptance
            type: object
            x-documentation-priority: default
            x-event-categories: []
            x-stainless-empty-object: false
            x-title-plural: Card Push Transfer Acceptances
          - type: 'null'
        account_id:
          description: The Account from which the transfer was sent.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Accounts
        approval:
          anyOf:
          - additionalProperties: false
            description: If your account requires approvals for transfers and the transfer was approved, this will contain details of the approval.
            example:
              approved_at: '2020-01-31T23:59:59Z'
              approved_by: null
            properties:
              approved_at:
                description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date and time at which the transfer was approved.
                format: date-time
                type: string
                x-documentation-priority: default
              approved_by:
                anyOf:
                - description: If the Transfer was approved by a user in the dashboard, the email address of that user.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
            required:
            - approved_at
            - approved_by
            title: Card Push Transfer Transfer Approval
            type: object
            x-documentation-priority: default
            x-event-categories: []
            x-stainless-empty-object: false
            x-title-plural: Transfer Approvals
          - type: 'null'
        business_application_identifier:
          description: The Business Application Identifier describes the type of transaction being performed. Your program must be approved for the specified Business Application Identifier in order to use it.
          enum:
          - account_to_account
          - business_to_business
          - money_transfer_bank_initiated
          - non_card_bill_payment
          - consumer_bill_payment
          - card_bill_payment
          - funds_disbursement
          - funds_transfer
          - loyalty_and_offers
          - merchant_disbursement
          - merchant_payment
          - person_to_person
          - top_up
          - wallet_transfer
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - Account to Account
          - Business to Business
          - Money Transfer Bank Initiated
          - Non-Card Bill Payment
          - Consumer Bill Payment
          - Card Bill Payment
          - Funds Disbursement
          - Funds Transfer
          - Loyalty and Offers
          - Merchant Disbursement
          - Merchant Payment
          - Person to Person
          - Top Up
          - Wallet Transfer
        cancellation:
          anyOf:
          - additionalProperties: false
            description: If your account requires approvals for transfers and the transfer was not approved, this will contain details of the cancellation.
            example:
              canceled_at: '2020-01-31T23:59:59Z'
              canceled_by: null
            properties:
              canceled_at:
                description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date and time at which the Transfer was canceled.
                format: date-time
                type: string
                x-documentation-priority: default
              canceled_by:
                anyOf:
                - description: If the Transfer was canceled by a user in the dashboard, the email address of that user.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
            required:
            - canceled_at
            - canceled_by
            title: Card Push Transfer Transfer Cancellation
            type: object
            x-documentation-priority: default
            x-event-categories: []
            x-stainless-empty-object: false
            x-title-plural: Transfer Cancellations
          - type: 'null'
        card_token_id:
          description: The ID of the Card Token that was used to validate the card.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Card Tokens
        created_at:
          description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date and time at which the transfer was created.
          format: date-time
          type: string
          x-documentation-priority: default
        created_by:
          anyOf:
          - additionalProperties: false
            description: What object created the transfer, either via the API or the dashboard.
            example:
              category: user
              user:
                email: user@example.com
            properties:
              api_key:
                anyOf:
                - additionalProperties: false
                  description: If present, details about the API key that created the transfer.
                  properties:
                    description:
                      anyOf:
                      - description: The description set for the API key when it was created.
                        type: string
                        x-documentation-priority: default
                      - type: 'null'
                  required:
                  - description
                  title: Card Push Transfer Transfer Creator ApiKey
                  type: object
                  x-documentation-priority: default
                  x-event-categories: []
                  x-stainless-empty-object: false
                  x-title-plural: ApiKeys
                - type: 'null'
              category:
                description: The type of object that created this transfer.
                enum:
                - api_key
                - oauth_application
                - user
                type: string
                x-documentation-priority: default
                x-enum-descriptions:
                - An API key. Details will be under the `api_key` object.
                - An OAuth application you connected to Increase. Details will be under the `oauth_application` object.
                - A User in the Increase dashboard. Details will be under the `user` object.
              oauth_application:
                anyOf:
                - additionalProperties: false
                  description: If present, details about the OAuth Application that created the transfer.
                  properties:
                    name:
                      description: The name of the OAuth Application.
                      type: string
                      x-documentation-priority: default
                  required:
                  - name
                  title: Card Push Transfer Transfer Creator OAuthApplication
                  type: object
                  x-documentation-priority: default
                  x-event-categories: []
                  x-stainless-empty-object: false
                  x-title-plural: OAuthApplications
                - type: 'null'
              user:
                anyOf:
                - additionalProperties: false
                  description: If present, details about the User that created the transfer.
                  properties:
                    email:
                      description: The email address of the User.
                      type: string
                      x-documentation-priority: default
                  required:
                  - email
                  title: Card Push Transfer Transfer Creator User
                  type: object
                  x-documentation-priority: default
                  x-event-categories: []
                  x-stainless-empty-object: false
                  x-title-plural: Users
                - type: 'null'
            required:
            - category
            title: Card Push Transfer Transfer Creator
            type: object
            x-documentation-priority: default
            x-event-categories: []
            x-stainless-empty-object: false
            x-title-plural: Transfer Creators
          - type: 'null'
        decline:
          anyOf:
          - additionalProperties: false
            description: If the transfer is rejected by the card network or the destination financial institution, this will contain supplemental details.
            example:
              declined_at: '2020-01-31T23:59:59Z'
              network_transaction_identifier: '841488484271872'
              reason: transaction_not_permitted_to_cardholder
            properties:
              declined_at:
                description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date and time at which the transfer declined.
                format: date-time
                type: string
                x-documentation-priority: default
              network_transaction_identifier:
                anyOf:
                - description: A unique identifier for the transaction on the card network.
                  type: string
                  x-documentation-priority: default
                - type: 'null'
              reason:
                description: The reason why the transfer was declined.
                enum:
                - do_not_honor
                - activity_count_limit_exceeded
                - refer_to_card_issuer
                - refer_to_card_issuer_special_condition
                - invalid_merchant
                - pick_up_card
                - error
                - pick_up_card_special
                - invalid_transaction
                - invalid_amount
                - invalid_account_number
                - no_such_issuer
                - re_enter_transaction
                - no_credit_account
                - pick_up_card_lost
                - pick_up_card_stolen
                - closed_account
                - insufficient_funds
                - no_checking_account
                - no_savings_account
                - expired_card
                - transaction_not_permitted_to_cardholder
                - transaction_not_allowed_at_terminal
                - transaction_not_supported_or_blocked_by_issuer
                - suspected_fraud
                - activity_amount_limit_exceeded
                - restricted_card
                - security_violation
                - transaction_does_not_fulfill_anti_money_laundering_requirement
                - blocked_by_cardholder
                - blocked_first_use
                - credit_issuer_unavailable
                - negative_card_verification_value_results
                - issuer_unavailable
                - financial_institution_cannot_be_found
                - transaction_cannot_be_completed
                - duplicate_transaction
                - system_malfunction
                - additional_customer_authentication_required
                - surcharge_amount_not_permitted
                - decline_for_cvv2_failure
                - stop_payment_order
                - revocation_of_authorization_order
                - revocation_of_all_authorizations_order
                - unable_to_locate_record
                - file_is_temporarily_unavailable
                - incorrect_pin
                - allowable_number_of_pin_entry_tries_exceeded
                - unable_to_locate_previous_message
                - pin_error_found
                - cannot_verify_pin
                - verification_data_failed
                - surcharge_amount_not_supported_by_debit_network_issuer
                - cash_service_not_available
                - cashback_request_exceeds_issuer_limit
                - transaction_amount_exceeds_pre_authorized_approval_amount
                - transaction_does_not_qualify_for_visa_pin
                - offline_declined
                - unable_to_go_online
                - valid_account_but_amount_not_supported
                - invalid_use_of_merchant_category_code_correct_and_reattempt
                - card_authentication_failed
                type: string
                x-documentation-priority: default
                x-enum-descriptions:
                - The card issuer has declined the transaction without providing a specific reason.
                - The number of transactions for the card has exceeded the limit set by the issuer.
                - The card issuer requires the cardholder to contact them for further information regarding the transaction.
                - The card issuer requires the cardholder to contact them due to a special condition related to the transaction.
                - The merchant is not valid for this transaction.
                - The card should be retained by the terminal.
                - An error occurred during processing of the transaction.
                - The card should be retained by the terminal due to a special condition.
                - The transaction is invalid and cannot be processed.
                - The amount of the transaction is invalid.
                - The account number provided is invalid.
                - The issuer of the card could not be found.
                - The transaction should be re-entered for processing.
                - There is no credit account associated with the card.
                - The card should be retained by the terminal because it has been reported lost.
                - The card should be retained by the terminal because it has been reported stolen.
                - The account associated with the card has been closed.
                - There are insufficient funds in the account to complete the transaction.
                - There is no checking account associated with the card.
                - There is no savings account associated with the card.
                - The card has expired and cannot be used for transactions.
                - The transaction is not permitted for this cardholder.
                - The transaction is not allowed at this terminal.
                - The transaction is not supported or has been blocked by the issuer.
                - The transaction has been flagged as suspected fraud and cannot be processed.
                - The amount of activity on the card has exceeded the limit set by the issuer.
                - The card has restrictions that prevent it from being used for this transaction.
                - A security violation has occurred, preventing the transaction from being processed.
                - The transaction does not meet the anti-money laundering requirements set by the issuer.
                - The transaction was blocked by the cardholder.
                - The first use of the card has been blocked by the issuer.
                - The credit issuer is currently unavailable to process the transaction.
                - The card verification value (CVV) results were negative, indicating a potential issue with the card.
                - The issuer of the card is currently unavailable to process the transaction.
                - The financial institution associated with the card could not be found.
                - The transaction cannot be completed due to an unspecified reason.
                - The transaction is a duplicate of a previous transaction and cannot be processed again.
                - A system malfunction occurred, preventing the transaction from being processed.
                - Additional customer authentication is required to complete the transaction.
                - The surcharge amount applied to the transaction is not permitted by the issuer.
                - The transaction was declined due to a failure in verifying the CVV2 code.
                - A stop payment order has been placed on this transaction.
                - An order has been placed to revoke authorization for this transaction.
                - An order has been placed to revoke all authorizations for this cardholder.
                - The record associated with the transaction could not be located.
                - The file needed for the transaction is temporarily unavailable.
                - The PIN entered for the transaction is incorrect.
                - The allowable number of PIN entry tries has been exceeded.
                - The previous message associated with the transaction could not be located.
                - An error was found with the PIN associated with the transaction.
                - The PIN associated with the transaction could not be verified.
                - The verification data associated with the transaction has failed.
                - The surcharge amount is not supported by the debit network issuer.
                - Cash service is not available for this transaction.
                - The cashback request exceeds the issuer limit.
                - The transaction amount exceeds the pre-authorized approval amount.
                - The transaction does not qualify for Visa PIN processing.
                - The transaction was declined offline.
                - The terminal was unable to go online to process the transaction.
                - The account is valid but the transaction amount is not supported.
                - The merchant category code was used incorrectly; correct it and reattempt the transaction.
                - The card authentication process has failed.
            required:
            - declined_at
            - reason
            - network_transaction_identifier
            title: Card Push Transfer Card Push Transfer Decline
            type: object
            x-documentation-priority: default
            x-event-categories: []
            x-stainless-empty-object: false
            x-title-plural: Card Push Transfer Declines
          - type: 'null'
        id:
          description: The Card Push Transfer's identifier.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Card Push Transfers
        idempotency_key:
          anyOf:
          - description: The idempotency key you chose for this object. This value is unique across Increase and is used to ensure that a request is only processed once. Learn more about [idempotency](https://increase.com/documentation/idempotency-keys).
            type: string
            x-documentation-priority: default
          - type: 'null'
        merchant_category_code:
          description: The merchant category code (MCC) of the merchant (generally your business) sending the transfer. This is a four-digit code that describes the type of business or service provided by the merchant. Your program must be approved for the specified MCC in order to use it.
          type: string
          x-documentation-priority: default
        merchant_city_name:
          description: The city name of the merchant (generally your business) sending the transfer.
          type: string
          x-documentation-priority: default
        merchant_name:
          description: The merchant name shows up as the statement descriptor for the transfer. This is typically the name of your business or organization.
          type: string
          x-documentation-priority: default
        merchant_name_prefix:
          description: For certain Business Application Identifiers, the statement descriptor is `merchant_name_prefix*sender_name`, where the `merchant_name_prefix` is a one to four character prefix that identifies the merchant.
          type: string
          x-documentation-priority: default
        merchant_postal_code:
          description: The postal code of the merchant (generally your business) sending the transfer.
          type: string
          x-documentation-priority: default
        merchant_state:
          description: The state of the merchant (generally your business) sending the transfer.
          type: string
          x-documentation-priority: default
        presentment_amount:
          additionalProperties: false
          description: The amount that was transferred. The receiving bank will have converted this to the cardholder's currency. The amount that is applied to your Increase account matches the currency of your account.
          example:
            currency: USD
            value: '12.34'
          properties:
            currency:
              description: The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code.
              enum:
              - AFN
              - EUR
              - ALL
              - DZD
              - USD
              - AOA
              - ARS
              - AMD
              - AWG
              - AUD
              - AZN
              - BSD
              - BHD
              - BDT
              - BBD
              - BYN
              - BZD
              - BMD
              - INR
              - BTN
              - BOB
              - BOV
              - BAM
              - BWP
              - NOK
              - BRL
              - BND
              - BGN
              - BIF
              - CVE
              - KHR
              - CAD
              - KYD
              - CLP
              - CLF
              - CNY
              - COP
              - COU
              - KMF
              - CDF
              - NZD
              - CRC
              - CUP
              - CZK
              - DKK
              - DJF
              - DOP
              - EGP
              - SVC
              - ERN
              - SZL
              - ETB
              - FKP
              - FJD
              - GMD
              - GEL
              - GHS
              - GIP
              - GTQ
              - GBP
              - GNF
              - GYD
              - HTG
              - HNL
              - HKD
              - HUF
              - ISK
              - IDR
              - IRR
              - IQD
              - ILS
              - JMD
              - JPY
              - JOD
              - KZT
              - KES
              - KPW
              - KRW
              - KWD
              - KGS
              - LAK
              - LBP
              - LSL
              - ZAR
              - LRD
              - LYD
              - CHF
              - MOP
              - MKD
              - MGA
              - MWK
              - MYR
              - MVR
              - MRU
              - MUR
              - MXN
              - MXV
              - MDL
              - MNT
              - MAD
              - MZN
              - MMK
              - NAD
              - NPR
              - NIO
              - NGN
              - OMR
              - PKR
              - PAB
              - PGK
              - PYG
              - PEN
              - PHP
              - PLN
              - QAR
              - RON
              - RUB
              - RWF
              - SHP
              - WST
              - STN
              - SAR
              - RSD
              - SCR
              - SLE
              - SGD
              - SBD
              - SOS
              - SSP
              - LKR
              - SDG
              - SRD
              - SEK
              - CHE
              - CHW
              - SYP
              - TWD
              - TJS
              - TZS
              - THB
              - TOP
              - TTD
              - TND
              - TRY
              - TMT
              - UGX
              - UAH
              - AED
              - USN
              - UYU
              - UYI
              - UYW
              - UZS
              - VUV
              - VES
              - VED
              - VND
              - YER
              - ZMW
              - ZWG
              type: string
              x-documentation-priority: default
              x-enum-descriptions:
              - AFN
              - EUR
              - ALL
              - DZD
              - USD
              - AOA
              - ARS
              - AMD
              - AWG
              - AUD
              - AZN
              - BSD
              - BHD
              - BDT
              - BBD
              - BYN
              - BZD
              - BMD
              - INR
              - BTN
              - BOB
              - BOV
              - BAM
              - BWP
              - NOK
              - BRL
              - BND
              - BGN
              - BIF
              - CVE
              - KHR
              - CAD
              - KYD
              - CLP
              - CLF
              - CNY
              - COP
              - COU
              - KMF
              - CDF
              - NZD
              - CRC
              - CUP
              - CZK
              - DKK
              - DJF
              - DOP
              - EGP
              - SVC
              - ERN
              - SZL
              - ETB
              - FKP
              - FJD
              - GMD
              - GEL
              - GHS
              - GIP
              - GTQ
              - GBP
              - GNF
              - GYD
              - HTG
              - HNL
              - HKD
              - HUF
              - ISK
              - IDR
              - IRR
              - IQD
              - ILS
              - JMD
              - JPY
              - JOD
              - KZT
              - KES
              - KPW
              - KRW
              - KWD
              - KGS
              - LAK
              - LBP
              - LSL
              - ZAR
              - LRD
              - LYD
              - CHF
              - MOP
              - MKD
              - MGA
              - MWK
              - MYR
              - MVR
              - MRU
              - MUR
              - MXN
              - MXV
              - MDL
              - MNT
              - MAD
              - MZN
              - MMK
              - NAD
              - NPR
              - NIO
              - NGN
              - OMR
              - PKR
              - PAB
              - PGK
              - PYG
              - PEN
              - PHP
              - PLN
              - QAR
              - RON
              - RUB
              - RWF
              - SHP
              - WST
              - STN
              - SAR
              - RSD
              - SCR
              - SLE
              - SGD
              - SBD
              - SOS
              - SSP
              - LKR
              - SDG
              - SRD
              - SEK
              - CHE
              - CHW
              - SYP
              - TWD
              - TJS
              - TZS
              - THB
              - TOP
              - TTD
              - TND
              - TRY
              - TMT
              - UGX
              - UAH
              - AED
              - USN
              - UYU
              - UYI
              - UYW
              - UZS
              - VUV
              - VES
              - VED
              - VND
              - YER
              - ZMW
              - ZWG
            value:
              description: The amount value represented as a string containing a decimal number in major units (so e.g., "12.34" for $12.34).
              type: string
              x-documentation-priority: default
          required:
          - value
          - currency
          title: Card Push Transfer Amount
          type: object
          x-documentation-priority: default
          x-event-categories: []
          x-stainless-empty-object: false
          x-title-plural: Amounts
        recipient_name:
          description: The name of the funds recipient.
          type: string
          x-documentation-priority: default
        route:
          description: The card network route used for the transfer.
          enum:
          - visa
          - mastercard
          - pulse
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - Visa and Interlink
          - Mastercard and Maestro
          - Pulse
        sender_address_city:
          description: The city of the sender.
          type: string
          x-documentation-priority: default
        sender_address_line1:
          description: The address line 1 of the sender.
          type: string
          x-documentation-priority: default
        sender_address_postal_code:
          description: The postal code of the sender.
          type: string
          x-documentation-priority: default
        sender_address_state:
          description: The state of the sender.
          type: string
          x-documentation-priority: default
        sender_name:
          description: The name of the funds originator.
          type: string
          x-documentation-priority: default
        source_account_number_id:
          description: The Account Number the recipient will see as having sent the transfer.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Account Numbers
        status:
          description: The lifecycle status of the transfer.
          enum:
          - pending_approval
          - canceled
          - pending_reviewing
          - requires_attention
          - pending_submission
          - submitted
          - complete
          - declined
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - The transfer is pending approval.
          - The transfer has been canceled.
          - The transfer is pending review by Increase.
          - The transfer requires attention from an Increase operator.
          - The transfer is queued to be submitted to the card network.
          - The transfer has been submitted and is pending a response from the card network.
          - The transfer has been sent successfully and is complete.
          - The transfer was declined by the network or the recipient's bank.
        submission:
          anyOf:
          - additionalProperties: false
            description: After the transfer is submitted to the card network, this will contain supplemental details.
            example:
              retrieval_reference_number: '123456789012'
              sender_reference: OPQRRX3BNAKA6QLT
              submitted_at: '2020-01-31T23:59:59Z'
              trace_number: '123456'
            properties:
              retrieval_reference_number:
                description: A 12-digit retrieval reference number that identifies the transfer. Usually a combination of a timestamp and the trace number.
                type: string
                x-documentation-priority: default
              sender_reference:
                description: A unique reference for the transfer.
                type: string
                x-documentation-priority: default
              submitted_at:
                description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date and time at which the transfer was submitted to the card network.
                format: date-time
                type: string
                x-documentation-priority: default
              trace_number:
                description: A 6-digit trace number that identifies the transfer within a small window of time.
                type: string
                x-documentation-priority: default
            required:
            - submitted_at
            - trace_number
            - retrieval_reference_number
            - sender_reference
            title: Card Push Transfer Card Push Transfer Submission
            type: object
            x-documentation-priority: default
            x-event-categories: []
            x-stainless-empty-object: false
            x-title-plural: Card Push Transfer Submissions
          - type: 'null'
        type:
          description: A constant representing the object's type. For this resource it will always be `card_push_transfer`.
          enum:
          - card_push_transfer
          type: string
          x-documentation-priority: default
      required:
      - type
      - id
      - card_token_id
      - created_at
      - created_by
      - approval
      - cancellation
      - account_id
      - source_account_number_id
      - status
      - presentment_amount
      - merchant_city_name
      - merchant_state
      - merchant_postal_code
      - merchant_category_code
      - merchant_name
      - merchant_name_prefix
      - sender_name
      - sender_address_line1
      - sender_address_city
      - sender_address_state
      - sender_address_postal_code
      - recipient_name
      - business_application_identifier
      - route
      - submission
      - decline
      - acceptance
      - idempotency_key
      title: Card Push Transfer
      type: object
      x-event-categories:
      - card_push_transfer.created
      - card_push_transfer.updated
      x-stainless-empty-object: false
      x-tag: Card Push Transfers
      x-title-plural: Card Push Transfers
    error:
      anyOf:
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 404
            type: integer
          title:
            type: string
          type:
            enum:
            - api_method_not_found_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - environment_mismatch_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          resource_id:
            description: ''
            type: string
            x-documentation-priority: default
          status:
            enum:
            - 409
            type: integer
          title:
            type: string
          type:
            enum:
            - idempotency_key_already_used_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - resource_id
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - insufficient_permissions_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 500
            type: integer
          title:
            type: string
          type:
            enum:
            - internal_server_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          reason:
            description: ''
            enum:
            - deleted_credential
            - expired_credential
            - ip_not_allowed
            - no_credential
            - no_header
            - no_api_access
            - wrong_environment
            type: string
            x-documentation-priority: default
            x-enum-descriptions:
            - deleted_credential
            - expired_credential
            - ip_not_allowed
            - no_credential
            - no_header
            - no_api_access
            - wrong_environment
          status:
            enum:
            - 401
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_api_key_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - reason
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 409
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_operation_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          errors:
            description: All errors related to parsing the request parameters.
            items:
              additionalProperties: true
              properties: {}
              title: ErrorsElement
              type: object
              x-event-categories: []
              x-stainless-empty-object: false
              x-title-plural: ErrorsElements
            type: array
            x-documentation-priority: default
          status:
            enum:
            - 400
            type: integer
          title:
            type: string
          type:
            enum:
            - invalid_parameters_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        - errors
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 400
            type: integer
          title:
            type: string
          type:
            enum:
            - malformed_request_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 404
            type: integer
          title:
            type: string
          type:
            enum:
            - object_not_found_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          status:
            enum:
            - 403
            type: integer
          title:
            type: string
          type:
            enum:
            - private_feature_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
      - properties:
          detail:
            anyOf:
            - type: string
            - type: 'null'
          retry_after:
            anyOf:
            - description: ''
              type: integer
              x-documentation-priority: default
            - type: 'null'
          status:
            enum:
            - 429
            type: integer
          title:
            type: string
          type:
            enum:
            - rate_limited_error
            type: string
        required:
        - type
        - title
        - detail
        - status
        type: object
        x-event-categories: []
    create_a_card_push_transfer_parameters:
      additionalProperties: true
      example:
        business_application_identifier: funds_disbursement
        card_token_id: outbound_card_token_zlt0ml6youq3q7vcdlg0
        merchant_category_code: '5734'
        merchant_city_name: New York
        merchant_name: Acme Corp
        merchant_name_prefix: Acme
        merchant_postal_code: '10045'
        merchant_state: NY
        presentment_amount:
          currency: USD
          value: '1234.56'
        recipient_name: Ian Crease
        sender_address_city: New York
        sender_address_line1: 33 Liberty Street
        sender_address_postal_code: '10045'
        sender_address_state: NY
        sender_name: Ian Crease
        source_account_number_id: account_number_v18nkfqm6afpsrvy82b2
      properties:
        business_application_identifier:
          description: The Business Application Identifier describes the type of transaction being performed. Your program must be approved for the specified Business Application Identifier in order to use it.
          enum:
          - account_to_account
          - business_to_business
          - money_transfer_bank_initiated
          - non_card_bill_payment
          - consumer_bill_payment
          - card_bill_payment
          - funds_disbursement
          - funds_transfer
          - loyalty_and_offers
          - merchant_disbursement
          - merchant_payment
          - person_to_person
          - top_up
          - wallet_transfer
          type: string
          x-documentation-priority: default
          x-enum-descriptions:
          - Account to Account
          - Business to Business
          - Money Transfer Bank Initiated
          - Non-Card Bill Payment
          - Consumer Bill Payment
          - Card Bill Payment
          - Funds Disbursement
          - Funds Transfer
          - Loyalty and Offers
          - Merchant Disbursement
          - Merchant Payment
          - Person to Person
          - Top Up
          - Wallet Transfer
        card_token_id:
          description: The Increase identifier for the Card Token that represents the card number you're pushing funds to.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Card Tokens
        merchant_category_code:
          description: The merchant category code (MCC) of the merchant (generally your business) sending the transfer. This is a four-digit code that describes the type of business or service provided by the merchant. Your program must be approved for the specified MCC in order to use it.
          maxLength: 4
          minLength: 4
          pattern: ^[0-9]*$
          type: string
          x-documentation-priority: default
        merchant_city_name:
          description: The city name of the merchant (generally your business) sending the transfer.
          maxLength: 13
          minLength: 1
          pattern: ^[\x00-\x7F]*$
          type: string
          x-documentation-priority: default
        merchant_legal_business_name:
          description: The legal business name of the merchant (generally your business) sending the transfer. Required if the card is issued in Canada.
          maxLength: 25
          minLength: 1
          pattern: ^[\x00-\x7F]*$
          type: string
          x-documentation-priority: default
        merchant_name:
          description: The merchant name shows up as the statement descriptor for the transfer. This is typically the name of your business or organization.
          maxLength: 25
          minLength: 1
          pattern: ^[\x00-\x7F]*$
          type: string
          x-documentation-priority: default
        merchant_name_prefix:
          description: For certain Business Application Identifiers, the statement descriptor is `merchant_name_prefix*sender_name`, where the `merchant_name_prefix` is a one to four character prefix that identifies the merchant.
          maxLength: 4
          minLength: 1
          pattern: ^[\x00-\x7F]*$
          type: string
          x-documentation-priority: default
        merchant_postal_code:
          description: The postal code of the merchant (generally your business) sending the transfer.
          maxLength: 10
          minLength: 1
          pattern: ^[\x00-\x7F]*$
          type: string
          x-documentation-priority: default
        merchant_state:
          description: The state of the merchant (generally your business) sending the transfer.
          maxLength: 200
          minLength: 1
          type: string
          x-documentation-priority: default
        merchant_street_address:
          description: The street address of the merchant (generally your business) sending the transfer. Required if the card is issued in Canada.
          maxLength: 99
          minLength: 1
          pattern: ^[\x00-\x7F]*$
          type: string
          x-documentation-priority: default
        presentment_amount:
          additionalProperties: false
          description: The amount to transfer. The receiving bank will convert this to the cardholder's currency. The amount that is applied to your Increase account matches the currency of your account.
          properties:
            currency:
              description: The ISO 4217 currency code representing the currency of the amount.
              enum:
              - AFN
              - EUR
              - ALL
              - DZD
              - USD
              - AOA
              - ARS
              - AMD
              - AWG
              - AUD
              - AZN
              - BSD
              - BHD
              - BDT
              - BBD
              - BYN
              - BZD
              - BMD
              - INR
              - BTN
              - BOB
              - BOV
              - BAM
              - BWP
              - NOK
              - BRL
              - BND
              - BGN
              - BIF
              - CVE
              - KHR
              - CAD
              - KYD
              - CLP
              - CLF
              - CNY
              - COP
              - COU
              - KMF
              - CDF
              - NZD
              - CRC
              - CUP
              - CZK
              - DKK
              - DJF
              - DOP
              - EGP
              - SVC
              - ERN
              - SZL
              - ETB
              - FKP
              - FJD
              - GMD
              - GEL
              - GHS
              - GIP
              - GTQ
              - GBP
              - GNF
              - GYD
              - HTG
              - HNL
              - HKD
              - HUF
              - ISK
              - IDR
              - IRR
              - IQD
              - ILS
              - JMD
              - JPY
              - JOD
              - KZT
              - KES
              - KPW
              - KRW
              - KWD
              - KGS
              - LAK
              - LBP
              - LSL
              - ZAR
              - LRD
              - LYD
              - CHF
              - MOP
              - MKD
              - MGA
              - MWK
              - MYR
              - MVR
              - MRU
              - MUR
              - MXN
              - MXV
              - MDL
              - MNT
              - MAD
              - MZN
              - MMK
              - NAD
              - NPR
              - NIO
              - NGN
              - OMR
              - PKR
              - PAB
              - PGK
              - PYG
              - PEN
              - PHP
              - PLN
              - QAR
              - RON
              - RUB
              - RWF
              - SHP
              - WST
              - STN
              - SAR
              - RSD
              - SCR
              - SLE
              - SGD
              - SBD
              - SOS
              - SSP
              - LKR
              - SDG
              - SRD
              - SEK
              - CHE
              - CHW
              - SYP
              - TWD
              - TJS
              - TZS
              - THB
              - TOP
              - TTD
              - TND
              - TRY
              - TMT
              - UGX
              - UAH
              - AED
              - USN
              - UYU
              - UYI
              - UYW
              - UZS
              - VUV
              - VES
              - VED
              - VND
              - YER
              - ZMW
              - ZWG
              type: string
              x-documentation-priority: default
              x-enum-descriptions:
              - AFN
              - EUR
              - ALL
              - DZD
              - USD
              - AOA
              - ARS
              - AMD
              - AWG
              - AUD
              - AZN
              - BSD
              - BHD
              - BDT
              - BBD
              - BYN
              - BZD
              - BMD
              - INR
              - BTN
              - BOB
              - BOV
              - BAM
              - BWP
              - NOK
              - BRL
              - BND
              - BGN
              - BIF
              - CVE
              - KHR
              - CAD
              - KYD
              - CLP
              - CLF
              - CNY
              - COP
              - COU
              - KMF
              - CDF
              - NZD
              - CRC
              - CUP
              - CZK
              - DKK
              - DJF
              - DOP
              - EGP
              - SVC
              - ERN
              - SZL
              - ETB
              - FKP
              - FJD
              - GMD
              - GEL
              - GHS
              - GIP
              - GTQ
              - GBP
              - GNF
              - GYD
              - HTG
              - HNL
              - HKD
              - HUF
              - ISK
              - IDR
              - IRR
              - IQD
              - ILS
              - JMD
              - JPY
              - JOD
              - KZT
              - KES
              - KPW
              - KRW
              - KWD
              - KGS
              - LAK
              - LBP
              - LSL
              - ZAR
              - LRD
              - LYD
              - CHF
              - MOP
              - MKD
              - MGA
              - MWK
              - MYR
              - MVR
              - MRU
              - MUR
              - MXN
              - MXV
              - MDL
              - MNT
              - MAD
              - MZN
              - MMK
              - NAD
              - NPR
              - NIO
              - NGN
              - OMR
              - PKR
              - PAB
              - PGK
              - PYG
              - PEN
              - PHP
              - PLN
              - QAR
              - RON
              - RUB
              - RWF
              - SHP
              - WST
              - STN
              - SAR
              - RSD
              - SCR
              - SLE
              - SGD
              - SBD
              - SOS
              - SSP
              - LKR
              - SDG
              - SRD
              - SEK
              - CHE
              - CHW
              - SYP
              - TWD
              - TJS
              - TZS
              - THB
              - TOP
              - TTD
              - TND
              - TRY
              - TMT
              - UGX
              - UAH
              - AED
              - USN
              - UYU
              - UYI
              - UYW
              - UZS
              - VUV
              - VES
              - VED
              - VND
              - YER
              - ZMW
              - ZWG
            value:
              description: The amount value as a decimal string in the currency's major unit. For example, for USD, '1234.56' represents 1234 dollars and 56 cents. For JPY, '1234' represents 1234 yen. A currency with minor units requires at least one decimal place and supports up to the number of decimal places defined by the currency's minor units. A currency without minor units does not support any decimal places.
              pattern: ^-?\d+(\.\d+)?$
              type: string
              x-documentation-priority: default
          required:
          - value
          - currency
          type: object
          x-documentation-priority: default
          x-event-categories: []
          x-stainless-empty-object: false
        recipient_address_city:
          description: The city of the recipient. Required if the card is issued in Canada.
          maxLength: 25
          minLength: 1
          pattern: ^[\x00-\x7F]*$
          type: string
          x-documentation-priority: default
        recipient_address_line1:
          description: The first line of the recipient's address. Required if the card is issued in Canada.
          maxLength: 99
          minLength: 1
          pattern: ^[\x00-\x7F]*$
          type: string
          x-documentation-priority: default
        recipient_address_postal_code:
          description: The postal code of the recipient. Required if the card is issued in Canada.
          maxLength: 16
          minLength: 1
          pattern: ^[\x00-\x7F]*$
          type: string
          x-documentation-priority: default
        recipient_address_state:
          description: The state or province of the recipient. Required if the card is issued in Canada.
          maxLength: 3
          minLength: 1
          pattern: ^[\x00-\x7F]*$
          type: string
          x-documentation-priority: default
        recipient_name:
          description: The name of the funds recipient.
          maxLength: 30
          minLength: 2
          pattern: ^[\x00-\x7F]*$
          type: string
          x-documentation-priority: default
        require_approval:
          description: Whether the transfer requires explicit approval via the dashboard or API.
          type: boolean
          x-documentation-priority: default
        sender_address_city:
          description: The city of the sender.
          maxLength: 25
          minLength: 1
          pattern: ^[\x00-\x7F]*$
          type: string
          x-documentation-priority: default
        sender_address_line1:
          description: The address line 1 of the sender.
          maxLength: 35
          minLength: 1
          pattern: ^[\x00-\x7F]*$
          type: string
          x-documentation-priority: default
        sender_address_postal_code:
          description: The postal code of the sender.
          maxLength: 10
          minLength: 1
          pattern: ^[\x00-\x7F]*$
          type: string
          x-documentation-priority: default
        sender_address_state:
          description: The state of the sender.
          maxLength: 200
          minLength: 1
          type: string
          x-documentation-priority: default
        sender_name:
          description: The name of the funds originator.
          maxLength: 30
          minLength: 1
          pattern: ^[\x00-\x7F]*$
          type: string
          x-documentation-priority: default
        source_account_number_id:
          description: The identifier of the Account Number from which to send the transfer.
          type: string
          x-documentation-priority: default
          x-id-reference-to: Account Numbers
      required:
      - source_account_number_id
      - card_token_id
      - presentment_amount
      - merchant_city_name
      - merchant_state
      - merchant_postal_code
      - merchant_category_code
      - merchant_name
      - merchant_name_prefix
      - sender_name
      - sender_address_line1
      - sender_address_city
      - sender_address_state
      - sender_address_postal_code
      - recipient_name
      - business_application_identifier
      type: object
      x-event-categories: []
      x-stainless-empty-object: false
  responses:
    errorResponse:
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/error'
      description: Error
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
x-tagGroups:
- name: Accounts
  tags:
  - Accounts
  - Account Numbers
  - Account Transfers
- name: Transactions
  tags:
  - Transactions
  - Pending Transactions
  - Declined Transactions
- name: Ach Transfers
  tags:
  - ACH Transfers
  - Inbound ACH Transfers
  - ACH Prenotifications
- name: Check Transfers
  tags:
  - Check Transfers
  - Inbound Check Deposits
- name: Real Time Payments Transfers
  tags:
  - Real-Time Payments Transfers
  - Inbound Real-Time Payments Transfers
- name: Fednow Transfers
  tags:
  - FedNow Transfers
  - Inbound FedNow Transfers
- name: Swift Transfers
  tags:
  - Swift Transfers
- name: Wire Transfers
  tags:
  - Wire Transfers
  - Inbound Wire Transfers
  - Wire Drawdown Requests
  - Inbound Wire Drawdown Requests
- name: Card Transfers
  tags:
  - Card Tokens
  - Card Push Transfers
  - Card Validations
- name: Check Deposits
  tags:
  - Check Deposits
  - Lockbox Addresses
  - Lockbox Recipients
  - Inbound Mail Items
- name: Cards
  tags:
  - Cards
  - Card Payments
  - Card Purchase Supplements
  - Card Disputes
  - Physical Cards
  - Digital Card Profiles
  - Physical Card Profiles
  - Digital Wallet Tokens
- name: Compliance
  tags:
  - Entities
  - Beneficial Owners
  - Supplemental Documents
  - Entity Onboarding Sessions
  - Programs
- name: Events and Webhooks
  tags:
  - Events
  - Event Subscriptions
  - Real-Time Decisions
- name: External Accounts
  tags:
  - Routing Numbers
  - External Accounts
- name: Files and Exports
  tags:
  - Account Statements
  - Files
  - File Links
  - Exports
- name: OAuth
  tags:
  - Groups
  - OAuth Applications
  - OAuth Connections
  - OAuth Tokens
- name: Intrafi
  tags:
  - IntraFi Account Enrollments
  - IntraFi Balances
  - IntraFi Exclusions
